branches/3.0.0_rc2/schemas/geotime/3.0/gssp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:gml="http://www.opengis.net/gml/3.2"  
	xmlns:sams="http://www.opengis.net/samplingSpatial/2.0"  
	xmlns:gt="http://geosciml.org/xmlns/GeologicTime/3.0" 
	targetNamespace="http://geosciml.org/xmlns/GeologicTime/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	
	<!-- Removed unecessary xmlns  -  OLR 23-11-10
	xmlns:sa="http://www.opengis.net/sampling/1.0/gml32" 
	-->
	
	<annotation>
		<documentation>The GSSP model describes "Global Boundary Stratotype Sections and Points" as defined by the International Stratigraphy Commission.</documentation>
	</annotation>

	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
<!--	<import namespace="http://www.opengis.net/sampling/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-129/sampling/1.0.0_gml32/sampling.xsd"/>   Remove unecessary import  -  OLR 23-11-10 -->
	<import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19156_xsd/schemas/OM/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
	
	<element name="StratigraphicPoint" type="gt:StratigraphicPointType" substitutionGroup="sams:SF_SpatialSamplingFeature">
		<annotation>
			<documentation>A point in the stratigraphic record used to define a geochronologic boundary or point in geologic time</documentation>
		</annotation>
	</element>
	<complexType name="StratigraphicPointType">
		<complexContent>
			<extension base="sams:SF_SpatialSamplingFeatureType">
				<sequence>
					<element name="primaryGuidingCriterion" nillable="true">
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="additionalCorrelationProperty" nillable="true" minOccurs="1" maxOccurs="unbounded">	<!-- Fixed minOccurs - OLR 24-11-10 -->
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="status" nillable="true">
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="StratigraphicPointPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:StratigraphicPoint"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GlobalStratotypeSection" type="gt:GlobalStratotypeSectionType" substitutionGroup="gt:StratigraphicSection">
		<annotation>
			<documentation>A type of stratigraphic section used to define a globally agreed standard period of geologic time</documentation>
		</annotation>
	</element>
	<complexType name="GlobalStratotypeSectionType">
		<complexContent>
			<extension base="gt:StratigraphicSectionType"/>
		</complexContent>
	</complexType>
	<complexType name="GlobalStratotypeSectionPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:GlobalStratotypeSection"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GlobalStratotypePoint" type="gt:GlobalStratotypePointType" substitutionGroup="gt:StratigraphicPoint">
		<annotation>
			<documentation>A type of stratigraphic point used to define a globally agreed point in geologic time</documentation>
		</annotation>
	</element>
	<complexType name="GlobalStratotypePointType">
		<complexContent>
			<extension base="gt:StratigraphicPointType"/>
		</complexContent>
	</complexType>
	<complexType name="GlobalStratotypePointPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:GlobalStratotypePoint"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="StratigraphicSection" type="gt:StratigraphicSectionType" substitutionGroup="sams:SF_SpatialSamplingFeature">
		<annotation>
			<documentation>A sampled section of the stratigraphic record used to define a period in geologic time</documentation>
		</annotation>
	</element>
	<complexType name="StratigraphicSectionType">
		<complexContent>
			<extension base="sams:SF_SpatialSamplingFeatureType">
				<sequence>
					<element name="geologicSetting" nillable="true">
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="geologicDescription" nillable="true">
						<annotation>
							<documentation>Lithology, Sedimentology, Paleobathymetry</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="accessibility" nillable="true">
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="conservation" nillable="true">
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="StratigraphicSectionPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:StratigraphicSection"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
