tags/3.0.0_rc2/schemas/laboratoryanalysis-specimen/3.0/dating.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:gml="http://www.opengis.net/gml/3.2" 
	xmlns:gmd="http://www.isotc211.org/2005/gmd" 
	xmlns:sam="http://www.opengis.net/sampling/2.0" 
	xmlns:om="http://www.opengis.net/om/1.0/gml32" 
	xmlns:gsml="http://xmlns.geosciml.org/GeoSciML-Core/3.0" 
	xmlns:glab="http://xmlns.geosciml.org/LaboratoryAnalysis-Specimen/3.0" 
	targetNamespace="http://xmlns.geosciml.org/LaboratoryAnalysis-Specimen/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>The Dating package allows the delivery of interpretation of geochronological anaylytical data</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/sampling/2.0" schemaLocation="http://schemas.opengis.net/sampling/2.0/samplingFeature.xsd"/>
	<import namespace="http://xmlns.geosciml.org/GeoSciML-Core/3.0" schemaLocation="http://schemas.geosciml.org/geosciml-core/3.0/geosciml-core.xsd"/>
	<include schemaLocation="http://schemas.geosciml.org/laboratoryanalysis-specimen/3.0/laboratoryAnalysis-Specimen.xsd"/>
	<element name="GeochronologicInterpretation" type="glab:GeochronologicInterpretationType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>An interpretation made by a geologist of the age of a specimen made by statistical analysis of a single collection of observations.  A specimen may have multiple geochronological interpretations made on it, each related to a different observation collection.</documentation>
		</annotation>
	</element>
	<complexType name="GeochronologicInterpretationType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="interpretedBy"  nillable="true">
						<annotation>
							<documentation>Party responsible for this interpretation</documentation>
						</annotation>
						<complexType>		
							<complexContent>
								<extension base="gmd:CI_ResponsibleParty_PropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="isotopicSystem" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:targetElement>glab:IsotopicSystemName</gml:targetElement>
							</appinfo>
							<documentation>Describes the isotopic system used to calculate geochronological age. StatisticalAgeTypes vocabulary would contain values like:
Ar-Ar, K-Ar, Nd-Sm, Pb-Pb, Rb-Sr, Re-Os, U-Pb, etc</documentation>
						</annotation>
					</element>
					<element name="interpretedAge" type="gsml:GeologicEventPropertyType">
						<annotation>
							<documentation>Use GeoSciML GeologicEvent to describe event age, process and environment.  e.g, Event age = 350 Ma +/- 3 Ma.  Event process = intrusion, extrusion, metamorphism. Event environment = plutonic, marine.</documentation>
						</annotation>
					</element>
					<element name="isotopicEvent" type="gml:ReferenceType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<gml:targetElement>glab:IsotopicEventType</gml:targetElement>
							</appinfo>
							<documentation>Describes any isotopic events that are relevant to the interpretation. eg; closure, isotopic mixing, Pb loss, etc</documentation>
						</annotation>
					</element>
					<element name="statisticalMethod" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:targetElement>glab:StatisticalMethodTerm</gml:targetElement>
							</appinfo>
							<documentation>The statistical method used to interpret the results</documentation>
						</annotation>
					</element>
					<element name="preferredInterpretation" nillable="true">
						<annotation>
							<documentation>Indicates whether this interpretation is the preferred interpretation (ie; the analytical data may be reinterpreted)</documentation>
						</annotation>
						<complexType>		
							<simpleContent>
								<extension base="boolean">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="citation" nillable="true">
						<annotation>
							<documentation>Use ISO metadata citation element to describe author and other reference information.  Can be used to describe reference for new or legacy data</documentation>
						</annotation>
						<complexType>		
							<complexContent>
								<extension base="gmd:CI_Citation_PropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="sourceCollection" type="sam:SF_SamplingFeatureCollectionPropertyType" nillable="true">
					<annotation>
							<documentation>Each geochronological interpretation has a mandatory association to a collection of sampling features (eg; a collection of burn spots or craters from SHRIMP analytical session).  
								
								Legacy published data for which the SamplingFeatureCollection is unknown may be delivered with SamplingFeatureCollection = 'unknown'.
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeochronologicInterpretationPropertyType">
		<sequence minOccurs="0">
			<element ref="glab:GeochronologicInterpretation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
