tags/3.0.0_rc2/schemas/laboratoryanalysis-specimen/3.0/geologicSpecimen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:gml="http://www.opengis.net/gml/3.2" 
	xmlns:gmd="http://www.isotc211.org/2005/gmd" 
	xmlns:sam="http://www.opengis.net/sampling/2.0" 
	xmlns:spec="http://www.opengis.net/samplingSpecimen/2.0" 
	xmlns:glab="http://xmlns.geosciml.org/LaboratoryAnalysis-Specimen/3.0" 
	targetNamespace="http://xmlns.geosciml.org/LaboratoryAnalysis-Specimen/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>The GeologicSpecimen package extends the ISO19156 O&amp;amp;M schema, and describes processes relevant to the sampling, preparation and analysis of geologic specimens.</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/sampling/2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19156_xsd/schemas/OM/sampling/2.0/samplingFeature.xsd"/>
	<import namespace="http://www.opengis.net/samplingSpecimen/2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19156_xsd/schemas/OM/samplingSpecimen/2.0/specimen.xsd"/>
	<include schemaLocation="http://schemas.geosciml.org/laboratoryanalysis-specimen/3.0/laboratoryAnalysis-Specimen.xsd"/>
	<element name="GeologicSpecimenPreparation" type="glab:GeologicSpecimenPreparationType">
		<annotation>
			<documentation>Implementation of SF_Process to describe sample preparation applied to geologic specimens, typically in preparation for analytical processes like geochemistry or microscopy.</documentation>
		</annotation>
	</element>
	<complexType name="GeologicSpecimenPreparationType">
		<complexContent>
			<extension base="sam:SF_ProcessType">
				<sequence>
					<element name="preparationProcess" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>glab:GeologicSpecimenPreparationTerm</gml:targetElement>
							</appinfo>
							<documentation>Name of a method used in the preparation of a geologic specimen after sampling, but prior to analysis (eg, crushing, melting, acid digestion, mineral separation, thin sectioning)</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicSpecimenPreparationPropertyType">
		<sequence minOccurs="0">
			<element ref="glab:GeologicSpecimenPreparation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeologicSamplingMethod" type="glab:GeologicSamplingMethodType">
		<annotation>
			<documentation>Implementation of SF_Process to describe the method used to obtain a geologic specimen
eg:
diamond drilling
percussion drilling
piston core drilling
vibro core drilling
channel sampling
sea floor dredging
geological hammer</documentation>
		</annotation>
	</element>
	<complexType name="GeologicSamplingMethodType">
		<complexContent>
			<extension base="sam:SF_ProcessType">
				<sequence>
					<element name="method" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>glab:GeologicSamplingMethodTerm</gml:targetElement>
							</appinfo>
							<documentation>Name of the process used to obtain or create a geologic specimen. eg: 
diamond drilling
percussion drilling
piston core drilling
vibro core drilling
channel sampling
sea floor dredging
crushing
mineral separation
melting
geological hammer</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicSamplingMethodPropertyType">
		<sequence minOccurs="0">
			<element ref="glab:GeologicSamplingMethod"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ReferenceSpecimen" type="glab:ReferenceSpecimenType" substitutionGroup="spec:SF_Specimen">
		<annotation>
			<documentation>A reference specimen is a specimen with known or accepted values of some property. The mandatory citation property describes the location of a published description of these values.  Reference specimens include analytical blanks.

Analytical results from a reference specimen analysed during an AnalyticalSession are delivered the same as the results of other specimens in that session.</documentation>
		</annotation>
	</element>
	<complexType name="ReferenceSpecimenType">
		<complexContent>
			<extension base="spec:SF_SpecimenType">
				<sequence>
					<element name="referenceDescription" type="gmd:CI_Citation_PropertyType" nillable="true">
						<annotation>
							<documentation>Citation of published analytical results for this standard reference specimen</documentation>
						</annotation>
					</element>
					<element name="usedIn" type="glab:AnalyticalSessionPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ReferenceSpecimenPropertyType">
		<sequence minOccurs="0">
			<element ref="glab:ReferenceSpecimen"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
