tags/3.0.0_rc3/schemas/cgiutilities/3.0/cgiUtilities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gsmlu="http://xmlns.geosciml.org/Utilities/3.0" xmlns:swe="http://www.opengis.net/swe/2.0" targetNamespace="http://xmlns.geosciml.org/Utilities/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>A package of utility elements, including definitions of text and numeric value types, and specialist value types for geological structural measurements and geologic age values.

The GeoSciML "CGI_Value" model provides a generic way of encoding "literal" values, both textual and numeric, which have uncertainty and may be a range. These structures are designed to be able to capture value descriptions as conventionally recorded by geologists.  

The Value structures are for when you need 
1. a qualifier, 
2. to be able to use either single values or ranges, or 
3. to express uncertainty on numeric values 
4. use numbers or words as alternatives for a single value or in a mixed range

e.g. "usually X", "greater than Y" where X and Y are either a quatity (number with a scale) or a term (word from a vocabulary) or a range constructed from measures and terms.

"CGI_GeometricDescriptions" allow describing the planar or linear orientation of a geologic feature. Allows specifying direction by DirectionVector (eg Dip/Dip Direction), compass point (NE), description ("toward fold hinge", "below')

These values are usually obtained as the result of an observation. The description of the associated observation event will provide more detail about the observation method, result quality, etc

"CGI_NumericAgeRange" allows the description of geological ages expressed as numbers of years before 1950</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.opengis.net/swe/2.0" schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>
    <element name="CGI_PlanarOrientation" substitutionGroup="gsmlu:CGI_GeometricDescriptionValue" type="gsmlu:CGI_PlanarOrientationType">
        <annotation>
            <documentation>Description of the geometry of a plane.</documentation>
        </annotation>
    </element>
    <complexType name="CGI_PlanarOrientationType">
        <complexContent>
            <extension base="gsmlu:CGI_GeometricDescriptionValueType">
                <sequence>
                    <element name="convention" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>gsmlu:ConventionCodeType</gml:targetElement>
                            </appinfo>
                            <documentation>The convention used for the measurement</documentation>
                        </annotation>
                    </element>
                    <element name="azimuth" nillable="true">
                        <annotation>
                            <documentation>The azimuth (compass point, bearing etc) value of the orientation. Convention reports how azimuth is interpreted; if is quadrant. Allowance of different convention makes querying more difficult.</documentation>
                        </annotation>
                        <complexType>  <!-- Added nilReason - OLR 18-AUG-2011 -->
                            <complexContent>
                                <extension base="swe:QuantityRangePropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element name="dip" nillable="true">
                        <annotation>
                            <documentation>Dip is the angle that the structural surface (eg bedding, fault plane) makes with the horizontal measured perpindicular to the strike of the structure and in the vertical plane as a numeric or term</documentation>
                        </annotation>
                        <complexType>  <!-- Added nilReason - OLR 18-AUG-2011 -->
                            <complexContent>
                                <extension base="swe:QuantityRangePropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element name="polarity" nillable="true" type="gml:ReferenceType">
                        <annotation>
                            <documentation>Indicates whether the planar orientation is associated with a directed feature that is overturned, upright, vertical etc.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CGI_PlanarOrientationPropertyType">
        <sequence>
            <element ref="gsmlu:CGI_PlanarOrientation"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="CGI_Vector" substitutionGroup="gsmlu:CGI_LinearOrientation" type="gsmlu:CGI_VectorType">
        <annotation>
            <documentation>data type for linear orientation with magnitude. Cardinality on magnitude is 1, if magnitude is unknown use CGI_LinearOrientation</documentation>
        </annotation>
    </element>
    <complexType name="CGI_VectorType">
        <complexContent>
            <extension base="gsmlu:CGI_LinearOrientationType">
                <sequence>
                    <element name="magnitude" type="swe:QuantityRangePropertyType">
                        <annotation>
                            <documentation>The numerical length of a linear vector</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CGI_VectorPropertyType">
        <sequence>
            <element ref="gsmlu:CGI_Vector"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="CGI_LinearOrientation" substitutionGroup="gsmlu:CGI_GeometricDescriptionValue" type="gsmlu:CGI_LinearOrientationType">
        <annotation>
            <documentation>Description of the measured orientation of a line.  At least one of plunge or trend should not be nil.</documentation>
        </annotation>
    </element>
    <complexType name="CGI_LinearOrientationType">
        <complexContent>
            <extension base="gsmlu:CGI_GeometricDescriptionValueType">
                <sequence>
                    <element name="directed" nillable="true" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>gsmlu:LinearDirectedCodeType</gml:targetElement>
                            </appinfo>
                            <documentation>To indicate if orientation represents linear feature that is directed, e.g. clast imbrication, mylonitic lineation with sense of shear, slickenlines with displacement direction, rather than undirected.  A code list to indicate which is the directed end of the linear orientation</documentation>
                        </annotation>
                    </element>
                    <element name="plunge" nillable="true">
                        <annotation>
                            <documentation>Magnitude of the plunge.</documentation>
                        </annotation>
                        <complexType>  <!-- Added nilReason - OLR 18-AUG-2011 -->
                            <complexContent>
                                <extension base="swe:QuantityRangePropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element name="trend" nillable="true">
                        <annotation>
                            <documentation>The azimuth (compass bearing) value of the linear orientation.</documentation>
                        </annotation>
                        <complexType>  <!-- Added nilReason - OLR 18-AUG-2011 -->
                            <complexContent>
                                <extension base="swe:QuantityRangePropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CGI_LinearOrientationPropertyType">
        <sequence>
            <element ref="gsmlu:CGI_LinearOrientation"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element abstract="true" name="CGI_GeometricDescriptionValue" substitutionGroup="gml:AbstractObject" type="gsmlu:CGI_GeometricDescriptionValueType">
        <annotation>
            <documentation>Description of the planar or linear orientation of a geologic feature.   
Allows specifying direction by DirectionVector (eg Dip/Dip Direction), compass point (NE),  description ("toward fold hinge", "below')</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="CGI_GeometricDescriptionValueType">
        <sequence>
            <element name="determinationMethod" nillable="true" type="gml:ReferenceType">
                <annotation>
                    <appinfo>
                        <gml:targetElement>gsmlu:DeterminationMethodTermType</gml:targetElement>
                    </appinfo>
                    <documentation>Describes the way the orientation value was determined (eg measured, inferred from dip slope, etc)</documentation>
                </annotation>
            </element>
            <element name="descriptiveOrientation" nillable="true">
                <annotation>
                    <documentation>Textual specification of orientation, possibly referencing some local geography</documentation>
                </annotation>
                <complexType>  <!-- Added nilreason - OLR 25-AUG-2011 -->
                    <simpleContent>
                        <extension base="string">
                            <attribute name="nilReason" type="gml:NilReasonType"/>
                        </extension>
                    </simpleContent>
                </complexType>
            </element>
        </sequence>
    </complexType>
    <complexType name="CGI_GeometricDescriptionValuePropertyType">
        <sequence>
            <element ref="gsmlu:CGI_GeometricDescriptionValue"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>