trunk/XMML/0.9/FEM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.opengis.net/xmml" xmlns:xmml="http://www.opengis.net/xmml" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<annotation>
		<documentation>
XMML for FEM
 
A GML conformant schema for describing models used in FE and FD simulations

2004-02-23 

Copyright (c) 2004 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice
</documentation>
	</annotation>
	<!-- ===================================================== -->
	<include schemaLocation="./commonFeatures.xsd"/>
	<include schemaLocation="./coverage.xsd"/>
	<!-- ===================================================== -->
	<element name="SimulationModel" type="xmml:SimulationModelType" substitutionGroup="xmml:Feature">
		<annotation>
			<documentation>This declares a global element called SimulationModel which has a content model as described in SimulationModelType and is substitutable for xmml:Feature in any context where the latter is valid.  </documentation>
		</annotation>
	</element>
	<!-- ===================================================== -->
	<complexType name="SimulationModelType">
		<annotation>
			<documentation>A content model suitable for recording information about a SimulationModel, primarily for FEM.        
  This XML Schema Type extends xmml:NoLocationFeatureType, and thus inherits the following properties  
  - gml:metaDataProperty?
  - gml:description?
  - gml:name*
  - gml:boundedBy
  The following new properties are added  
  - gaussPoints
  - elements
  - sampledValues
  - interpolations
  - fields
   </documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:BoundedFeatureType">
				<sequence>
					<element ref="xmml:nodes"/>
					<element name="gaussPoints" type="gml:PointArrayPropertyType"/>
					<element name="elements" type="xmml:FEArrayPropertyType"/>
					<element name="sampledValues" type="xmml:CoveragePropertyType" maxOccurs="unbounded"/>
					<element name="interpolations" type="xmml:IRuleArrayPropertyType"/>
					<element name="fields" type="xmml:FemFieldArrayPropertyType" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ===================================================== -->
	<complexType name="FEArrayPropertyType">
		<sequence minOccurs="0" maxOccurs="unbounded">
			<choice>
				<element ref="xmml:HexahedralElement"/>
				<element ref="xmml:WedgeElement"/>
				<element ref="xmml:PyramidalElement"/>
				<element ref="xmml:TetrahedralElement"/>
			</choice>
		</sequence>
	</complexType>
	<!-- ===================================================== -->
	<element name="HexahedralElement" type="xmml:HexahedralElementType"/>
	<!-- ===================================================== -->
	<complexType name="HexahedralElementType">
		<complexContent>
			<extension base="xmml:HexahedronType">
				<sequence>
					<element name="gaussPoint" type="gml:PointPropertyType" maxOccurs="unbounded"/>
					<element name="boundaryFaces" minOccurs="0">
						<complexType>
							<sequence/>
							<attribute name="f0" type="boolean" use="optional" default="false"/>
							<attribute name="f1" type="boolean" use="optional" default="false"/>
							<attribute name="f2" type="boolean" use="optional" default="false"/>
							<attribute name="f3" type="boolean" use="optional" default="false"/>
							<attribute name="f4" type="boolean" use="optional" default="false"/>
							<attribute name="f5" type="boolean" use="optional" default="false"/>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ===================================================== -->
	<element name="WedgeElement" type="xmml:WedgeElementType"/>
	<!-- ===================================================== -->
	<complexType name="WedgeElementType">
		<complexContent>
			<extension base="xmml:WedgeType">
				<sequence>
					<element name="gaussPoint" type="gml:PointPropertyType" maxOccurs="unbounded"/>
					<element name="boundaryFaces" minOccurs="0">
						<complexType>
							<sequence/>
							<attribute name="f0" type="boolean" use="optional" default="false"/>
							<attribute name="f1" type="boolean" use="optional" default="false"/>
							<attribute name="f2" type="boolean" use="optional" default="false"/>
							<attribute name="f3" type="boolean" use="optional" default="false"/>
							<attribute name="f4" type="boolean" use="optional" default="false"/>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ===================================================== -->
	<element name="PyramidalElement" type="xmml:PyramidalElementType"/>
	<!-- ===================================================== -->
	<complexType name="PyramidalElementType">
		<complexContent>
			<extension base="xmml:PyramidType">
				<sequence>
					<element name="gaussPoint" type="gml:PointPropertyType" maxOccurs="unbounded"/>
					<element name="boundaryFaces" minOccurs="0">
						<complexType>
							<sequence/>
							<attribute name="f0" type="boolean" use="optional" default="false"/>
							<attribute name="f1" type="boolean" use="optional" default="false"/>
							<attribute name="f2" type="boolean" use="optional" default="false"/>
							<attribute name="f3" type="boolean" use="optional" default="false"/>
							<attribute name="f4" type="boolean" use="optional" default="false"/>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ===================================================== -->
	<element name="TetrahedralElement" type="xmml:TetrahedralElementType"/>
	<!-- ===================================================== -->
	<complexType name="TetrahedralElementType">
		<complexContent>
			<extension base="xmml:TetrahedronType">
				<sequence>
					<element name="gaussPoint" type="gml:PointPropertyType" maxOccurs="unbounded"/>
					<element name="boundaryFaces" minOccurs="0">
						<complexType>
							<sequence/>
							<attribute name="f0" type="boolean" use="optional" default="false"/>
							<attribute name="f1" type="boolean" use="optional" default="false"/>
							<attribute name="f2" type="boolean" use="optional" default="false"/>
							<attribute name="f3" type="boolean" use="optional" default="false"/>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ===================================================== -->
	<complexType name="IRuleArrayPropertyType">
		<sequence maxOccurs="unbounded">
			<element ref="xmml:IRule"/>
		</sequence>
	</complexType>
	<!-- ===================================================== -->
	<element name="IRule" type="xmml:IRuleType"/>
	<!-- ===================================================== -->
	<complexType name="IRuleType">
		<simpleContent>
			<extension base="xmml:InterpolationRules">
				<attribute ref="gml:id" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="InterpolationRules">
		<annotation>
			<documentation>Explanations needed here</documentation>
		</annotation>
		<restriction base="token">
			<enumeration value="hexahedral"/>
			<enumeration value="tetrahedral"/>
			<enumeration value="pyramidal"/>
			<enumeration value="wedge"/>
			<enumeration value="constant"/>
		</restriction>
	</simpleType>
	<!-- ===================================================== -->
	<complexType name="FemFieldArrayPropertyType">
		<sequence maxOccurs="unbounded">
			<element ref="xmml:FemField"/>
		</sequence>
	</complexType>
	<!-- ===================================================== -->
	<element name="FemField" type="xmml:FemFieldType"/>
	<!-- ===================================================== -->
	<complexType name="FemFieldBaseType">
		<annotation>
			<documentation>Suppress coverageFunction</documentation>
		</annotation>
		<complexContent>
			<restriction base="xmml:CoverageType">
				<sequence>
					<group ref="gml:StandardObjectProperties"/>
					<element ref="xmml:domain"/>
					<element ref="xmml:range"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="FemFieldType">
		<complexContent>
			<extension base="xmml:FemFieldBaseType">
				<sequence>
					<element name="sampledValues" type="xmml:CoveragePropertyType"/>
					<element name="interpolator" type="xmml:IRulePropertyType"/>
					<element name="valueFunc" type="gml:ReferenceType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ===================================================== -->
	<complexType name="IRulePropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:IRule"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ===================================================== -->
	<element name="CoordinateTransformation" type="xmml:CoordinateTransformationType" substitutionGroup="gml:Definition"/>
	<!-- ===================================================== -->
	<complexType name="CoordinateTransformationType">
		<complexContent>
			<extension base="gml:DefinitionType">
				<sequence>
					<element ref="gml:description" minOccurs="0"/>
					<element name="transformation">
						<complexType>
							<sequence/>
							<attribute name="from" type="token"/>
							<attribute name="to" type="token"/>
						</complexType>
					</element>
					<element name="matrix">
						<complexType>
							<simpleContent>
								<extension base="gml:doubleList">
									<attribute name="dimensions">
										<simpleType>
											<restriction base="gml:integerList">
												<length value="2"/>
											</restriction>
										</simpleType>
									</attribute>
								</extension>
							</simpleContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ===================================================== -->
	<element name="FlacOptimisation" substitutionGroup="gml:_MetaData">
		<complexType>
			<complexContent>
				<extension base="xmml:ElementOnlyMetaDataType">
					<sequence>
						<element name="meshExtent" type="gml:integerList"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<!-- ===================================================== -->
</schema>
