trunk/schema/CGI_Value.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Eric Boisvert (Ressources naturelles Canada) -->
<!-- IUGS/CGI GeoSciML schema, ver. 2 - draft 2007-05-16 -->
<!-- Contains the concepts (classes), their inheritance, and relations from the CGI_Value package of the GeoSciML2 model -->
<schema xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gsml="http://www.cgi-iugs.org/xml/GeoSciML/2" targetNamespace="http://www.cgi-iugs.org/xml/GeoSciML/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1.0">
	<annotation>
		<documentation>Encoded by Eric Boisvert (May 2007) Geological Survey of Canada</documentation>
	</annotation>
	<annotation>
		<documentation>2007-07-12 : Minor fixes and changes to fit new version of model - Eric Boisvert</documentation>
	</annotation>
	<annotation>
		<documentation>2007-07-31 : Added documentation - Eric Boisvert</documentation>
	</annotation>
	<annotation>
		<documentation>CGI_Value.xsd
	Components for recording "simple" property-values comprising numbers/measures and words
	allowing for qualification, uncertainty, ranges, and a choice of number or word 
	as required for transporting values commonly recorded by field geologists</documentation>
	</annotation>
	<!--=======================-->
	<!--=======================-->
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<include schemaLocation="geosciml.xsd"/>
	<annotation>
		<documentation>stupid XML Spy does not validate even if geosciml already included CGI_BasicType</documentation>
	</annotation>
	<include schemaLocation="CGI_basicTypes.xsd"/>
	<!--=======================-->
	<attribute name="attributeProperty" type="anyURI">
		<annotation>
			<documentation>A very general name. Should this be "observationalBasis" or similar?</documentation>
		</annotation>
	</attribute>
	<!-- ..................... -->
	<attributeGroup name="EstimatedPropertyAttributeGroup">
		<annotation>
			<documentation>A subtype of AssociationAttribute that supports supplemental attribute to point to an Observation group</documentation>
		</annotation>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attribute ref="gsml:attributeProperty" use="optional"/>
	</attributeGroup>
	<!--=======================-->
	<simpleType name="ValueQualifierCodeType">
		<annotation>
			<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:25 
 Enumeration list for valueQualifierCode attribute on CGI_Value</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="never">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:25 
 Enumeration list for valueQualifierCode attribute on CGI_Value</documentation>
				</annotation>
			</enumeration>
			<enumeration value="rare">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:25 
 Enumeration list for valueQualifierCode attribute on CGI_Value</documentation>
				</annotation>
			</enumeration>
			<enumeration value="sometimes">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:25 
 Enumeration list for valueQualifierCode attribute on CGI_Value</documentation>
				</annotation>
			</enumeration>
			<enumeration value="common">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:25 
 Enumeration list for valueQualifierCode attribute on CGI_Value</documentation>
				</annotation>
			</enumeration>
			<enumeration value="always">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:25 
 Enumeration list for valueQualifierCode attribute on CGI_Value</documentation>
				</annotation>
			</enumeration>
			<enumeration value="greaterThan">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:25 
 Enumeration list for valueQualifierCode attribute on CGI_Value</documentation>
				</annotation>
			</enumeration>
			<enumeration value="lessThan">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:25 
 Enumeration list for valueQualifierCode attribute on CGI_Value</documentation>
				</annotation>
			</enumeration>
			<enumeration value="equalTo">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:25 
 Enumeration list for valueQualifierCode attribute on CGI_Value</documentation>
				</annotation>
			</enumeration>
			<enumeration value="approximate">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:25 
 Enumeration list for valueQualifierCode attribute on CGI_Value</documentation>
				</annotation>
			</enumeration>
			<enumeration value="nil:inapplicable">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:25 
 Enumeration list for valueQualifierCode attribute on CGI_Value</documentation>
				</annotation>
			</enumeration>
			<enumeration value="nil:missing">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:25 
 Enumeration list for valueQualifierCode attribute on CGI_Value</documentation>
				</annotation>
			</enumeration>
			<enumeration value="nil:unknown">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:25 
 Enumeration list for valueQualifierCode attribute on CGI_Value</documentation>
				</annotation>
			</enumeration>
			<enumeration value="nil:withheld">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:25 
 Enumeration list for valueQualifierCode attribute on CGI_Value</documentation>
				</annotation>
			</enumeration>
			<enumeration value="arithmetic mean">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:25 
 Enumeration list for valueQualifierCode attribute on CGI_Value</documentation>
				</annotation>
			</enumeration>
			<enumeration value="median">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:25 
 Enumeration list for valueQualifierCode attribute on CGI_Value</documentation>
				</annotation>
			</enumeration>
			<enumeration value="mode">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:25 
 Enumeration list for valueQualifierCode attribute on CGI_Value</documentation>
				</annotation>
			</enumeration>
			<enumeration value="geometric mean">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:25 
 Enumeration list for valueQualifierCode attribute on CGI_Value</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<!--=======================-->
	<complexType name="CGI_ValueType" abstract="true">
		<annotation>
			<documentation>Package : CGI_Value ; Date 2007-05-12 15:32:34 
 The Value structures are for when you need 
1. a qualifier, 
2. to be able to use either single values or ranges, or 
3. to express uncertainty on numeric values
4. use numbers or words as alternatives for a single value or in a mixed range

e.g. "usually X", "greater than Y" where X and Y are either a Measure (number with a scale) or Term (word from a vocabulary) or a range constructed from measures and terms</documentation>
		</annotation>
		<sequence>
			<element name="qualifier" type="gsml:ValueQualifierCodeType" default="equalTo" minOccurs="0">
				<annotation>
					<documentation>(attribute): term that qualifies the specified value. Examples include (greaterThan (&gt;), lessThan, equalTo, approximate) commonly used with numeric values, and (never sometimes, common, always) used with term values.
Arithmetic terms (arithmetic mean, geometric mean, mode, median) added for GeoSciML2.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<!-- ..................... -->
	<element name="CGI_Value" type="gsml:CGI_ValueType"/>
	<!-- ..................... -->
	<complexType name="CGI_ValuePropertyType">
		<sequence>
			<element ref="gsml:CGI_Value"/>
		</sequence>
		<attribute ref="gsml:attributeProperty" use="optional"/>
	</complexType>
	<!--=======================-->
	<complexType name="CGI_PrimitiveValueType" abstract="true">
		<annotation>
			<documentation>Package : CGI_Value ; Date 2007-05-29 11:34:43 
 Abstract class to capture CGI data types</documentation>
		</annotation>
		<complexContent>
			<extension base="gsml:CGI_ValueType"/>
		</complexContent>
	</complexType>
	<!-- ..................... -->
	<element name="CGI_PrimitiveValue" type="gsml:CGI_PrimitiveValueType" substitutionGroup="gsml:CGI_Value"/>
	<!-- ..................... -->
	<complexType name="CGI_PrimitiveValuePropertyType">
		<sequence>
			<element ref="gsml:CGI_PrimitiveValue"/>
		</sequence>
		<attribute ref="gsml:attributeProperty" use="optional"/>
	</complexType>
	<!--=======================-->
	<complexType name="CGI_NumericValueType">
		<annotation>
			<documentation>Package : CGI_Value ; Date 2007-05-29 11:31:16 
 Numerical data type</documentation>
		</annotation>
		<complexContent>
			<extension base="gsml:CGI_PrimitiveValueType">
				<sequence>
					<element name="principalValue" type="gml:MeasureType">
						<annotation>
							<documentation>(attribute): Numeric value (measure data type uses a numeric value plus unit of measure)</documentation>
						</annotation>
					</element>
					<element name="plusDelta" type="gml:MeasureType" minOccurs="0">
						<annotation>
							<documentation>(attribute): Plus error value (measure data type uses a numeric value plus unit of measure)</documentation>
						</annotation>
					</element>
					<element name="minusDelta" type="gml:MeasureType" minOccurs="0">
						<annotation>
							<documentation>(attribute): Minus error value (measure data type uses a numeric value plus unit of measure)</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ..................... -->
	<element name="CGI_NumericValue" type="gsml:CGI_NumericValueType" substitutionGroup="gsml:CGI_PrimitiveValue"/>
	<!-- ..................... -->
	<complexType name="CGI_NumericValuePropertyType">
		<sequence>
			<element ref="gsml:CGI_NumericValue"/>
		</sequence>
		<attribute ref="gsml:attributeProperty" use="optional"/>
	</complexType>
	<!--=======================-->
	<complexType name="CGI_TermValueType">
		<annotation>
			<documentation>Package : CGI_Value ; Date 2007-05-12 15:32:34 
 Where the value is from a ControlledVocabulary, the string shall be the value of the preferredName on the ControlledConcept; the codeSpace shall indicate the ControlledVocabulary; where the value is from an informal vocabulary, the codeSpace shall indicate the identity of that vocabulary and the string shall be a term from the vocabulary ... somehow</documentation>
		</annotation>
		<complexContent>
			<extension base="gsml:CGI_PrimitiveValueType">
				<sequence>
					<element name="value" type="gsml:ScopedNameType">
						<annotation>
							<documentation>(attribute): </documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ..................... -->
	<element name="CGI_TermValue" type="gsml:CGI_TermValueType" substitutionGroup="gsml:CGI_PrimitiveValue"/>
	<!-- ..................... -->
	<complexType name="CGI_TermValuePropertyType">
		<sequence>
			<element ref="gsml:CGI_TermValue"/>
		</sequence>
		<attribute ref="gsml:attributeProperty" use="optional"/>
	</complexType>
	<!--=======================-->
	<complexType name="CGI_RangeType">
		<annotation>
			<documentation>Package : CGI_Value ; Date 2007-05-29 11:33:40 
 Allows specifying a range consisting of both terms and numeric values (eg Silurian to 359.2+-2.5Ma) by specifying an upper and lower CGI_TermValue or CGI_NumericValue</documentation>
		</annotation>
		<complexContent>
			<extension base="gsml:CGI_ValueType">
				<sequence>
					<element name="lower" type="gsml:CGI_PrimitiveValuePropertyType">
						<annotation>
							<documentation>(association): Provides the lower term or numeric value in a range</documentation>
						</annotation>
					</element>
					<element name="upper" type="gsml:CGI_PrimitiveValuePropertyType">
						<annotation>
							<documentation>(association): Provides the upper term or numeric value in a range</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ..................... -->
	<element name="CGI_Range" type="gsml:CGI_RangeType" substitutionGroup="gsml:CGI_Value"/>
	<!-- ..................... -->
	<complexType name="CGI_RangePropertyType">
		<sequence>
			<element ref="gsml:CGI_Range"/>
		</sequence>
		<attribute ref="gsml:attributeProperty" use="optional"/>
	</complexType>
	<!--=======================-->
	<complexType name="CGI_NumericRangeType">
		<annotation>
			<documentation>Package : CGI_Value ; Date 2007-05-29 11:29:30 
 Allows specifying a range of numeric values (eg 443.7+-1.5 to 359+-2.5) by specifying an upper and lower  CGI_NumericValue</documentation>
		</annotation>
		<complexContent>
			<extension base="gsml:CGI_ValueType">
				<sequence>
					<element name="lower" type="gsml:CGI_NumericValuePropertyType">
						<annotation>
							<documentation>(association): Provides the lower numeric value in a range</documentation>
						</annotation>
					</element>
					<element name="upper" type="gsml:CGI_NumericValuePropertyType">
						<annotation>
							<documentation>(association): Provides the upper numeric value in a range</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ..................... -->
	<element name="CGI_NumericRange" type="gsml:CGI_NumericRangeType" substitutionGroup="gsml:CGI_Value"/>
	<!-- ..................... -->
	<complexType name="CGI_NumericRangePropertyType">
		<sequence>
			<element ref="gsml:CGI_NumericRange"/>
		</sequence>
		<attribute ref="gsml:attributeProperty" use="optional"/>
	</complexType>
	<!--=======================-->
	<complexType name="CGI_TermRangeType">
		<annotation>
			<documentation>Package : CGI_Value ; Date 2007-05-29 11:25:26 
 Allows specifying a range of terms (eg Silurian - Devonian) by specifying an upper (Devonian) and lower (Silurian) CGI_TermValue</documentation>
		</annotation>
		<complexContent>
			<extension base="gsml:CGI_ValueType">
				<sequence>
					<element name="lower" type="gsml:CGI_TermValuePropertyType">
						<annotation>
							<documentation>(association): Provides the lower value in a range of CGI values</documentation>
						</annotation>
					</element>
					<element name="upper" type="gsml:CGI_TermValuePropertyType">
						<annotation>
							<documentation>(association): Provides the upper value in a range of CGI values</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ..................... -->
	<element name="CGI_TermRange" type="gsml:CGI_TermRangeType" substitutionGroup="gsml:CGI_Value"/>
	<!-- ..................... -->
	<complexType name="CGI_TermRangePropertyType">
		<sequence>
			<element ref="gsml:CGI_TermRange"/>
		</sequence>
		<attribute ref="gsml:attributeProperty" use="optional"/>
	</complexType>
	<!--=======================-->
	<complexType name="CGI_TermPropertyType">
		<annotation>
			<documentation>Package : CGI_Value ; Date 2007-05-29 11:37:02 
 A union class that allows the value to either be a CGI_TermValue or a CGI_TermRange</documentation>
		</annotation>
		<choice>
			<element ref="gsml:CGI_TermValue"/>
			<element ref="gsml:CGI_TermRange"/>
		</choice>
		<attribute name="unionSemantics">
			<simpleType>
				<restriction base="string">
					<enumeration value="value"/>
					<enumeration value="range"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute ref="gsml:attributeProperty" use="optional"/>
	</complexType>
	<!--=======================-->
	<complexType name="CGI_NumericPropertyType">
		<annotation>
			<documentation>Package : CGI_Value ; Date 2007-05-29 11:36:56 
 A union class that allows the value to either be a CGI_NumericValue or a CGI_NumericRange</documentation>
		</annotation>
		<choice>
			<element ref="gsml:CGI_NumericValue"/>
			<element ref="gsml:CGI_NumericRange"/>
		</choice>
		<attribute name="unionSemantics">
			<simpleType>
				<restriction base="string">
					<enumeration value="value"/>
					<enumeration value="range"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute ref="gsml:attributeProperty" use="optional"/>
	</complexType>
	<!--=======================-->
	<complexType name="CGI_PhysicalDescriptionType">
		<annotation>
			<documentation>Package : CGI_Value ; Date 2007-05-12 15:32:34 
 Numbers and word values with a pointer to the semantics</documentation>
		</annotation>
		<sequence>
			<element name="property" type="gsml:ScopedNameType">
				<annotation>
					<documentation>(attribute): Specifies the property that the value is applied to</documentation>
				</annotation>
			</element>
			<element name="value" type="gsml:CGI_ValuePropertyType">
				<annotation>
					<documentation>(attribute): The value of the specified property</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<!-- ..................... -->
	<element name="CGI_PhysicalDescription" type="gsml:CGI_PhysicalDescriptionType"/>
	<!-- ..................... -->
	<complexType name="CGI_PhysicalDescriptionPropertyType">
		<sequence>
			<element ref="gsml:CGI_PhysicalDescription"/>
		</sequence>
		<attribute ref="gsml:attributeProperty" use="optional"/>
	</complexType>
	<!--=======================-->
	<simpleType name="ConventionCodeType">
		<annotation>
			<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:47 
 Code list to specify the convention used for the orientation measurement</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="dip dip direction">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:47 
 Code list to specify the convention used for the orientation measurement</documentation>
				</annotation>
			</enumeration>
			<enumeration value="strike dip right hand rule">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:47 
 Code list to specify the convention used for the orientation measurement</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<!--=======================-->
	<simpleType name="PlanarPolarityCodeType">
		<annotation>
			<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:32 
 values to use for expressing overturned property on planar orientation measurements. </documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="upright">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:32 
 values to use for expressing overturned property on planar orientation measurements. </documentation>
				</annotation>
			</enumeration>
			<enumeration value="overturned">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:32 
 values to use for expressing overturned property on planar orientation measurements. </documentation>
				</annotation>
			</enumeration>
			<enumeration value="vertical">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:32 
 values to use for expressing overturned property on planar orientation measurements. </documentation>
				</annotation>
			</enumeration>
			<enumeration value="not available"/>
			<enumeration value="unknown">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:32 
 values to use for expressing overturned property on planar orientation measurements. </documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<!--=======================-->
	<simpleType name="LinearDirectedCodeType">
		<annotation>
			<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:40 
 Code list to capture terms related to directedness of linear orientations</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="directed">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:40 
 Code list to capture terms related to directedness of linear orientations</documentation>
				</annotation>
			</enumeration>
			<enumeration value="directed down">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:40 
 Code list to capture terms related to directedness of linear orientations</documentation>
				</annotation>
			</enumeration>
			<enumeration value="directed up">
				<annotation>
					<documentation>Package : CGI_Value ; Date 2007-07-18 09:10:40 
 Code list to capture terms related to directedness of linear orientations</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<!--=======================-->
	<complexType name="CGI_GeometricDescriptionValueType">
		<annotation>
			<documentation>Package : CGI_Value ; Date 2007-05-29 11:45:01 
 Description of the planar or linear orientation of a geologic feature.   
Allows specifying direction by DirectionVector (eg Dip/Dip Direction), compass point (NE),  description ("toward fold hinge", "below')</documentation>
		</annotation>
		<sequence>
			<element name="descriptiveOrientation" type="gsml:CGI_TermPropertyType" minOccurs="0">
				<annotation>
					<documentation>(attribute): terminologic specification of orientation, referencing to some local geography</documentation>
				</annotation>
			</element>
			<element name="determinationMethod" type="gsml:CGI_TermValuePropertyType" minOccurs="0">
				<annotation>
					<documentation>(attribute): Describes the way the dip value was determined eg measured, inferred from dip slope etc </documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<!-- ..................... -->
	<element name="CGI_GeometricDescriptionValue" type="gsml:CGI_GeometricDescriptionValueType"/>
	<!-- ..................... -->
	<complexType name="CGI_GeometricDescriptionValuePropertyType">
		<sequence>
			<element ref="gsml:CGI_GeometricDescriptionValue"/>
		</sequence>
		<attribute ref="gsml:attributeProperty" use="optional"/>
	</complexType>
	<!--=======================-->
	<complexType name="CGI_PlanarOrientationType">
		<annotation>
			<documentation>Package : CGI_Value ; Date 2007-05-13 10:27:31 
 Description of the geometry of a plane.</documentation>
		</annotation>
		<complexContent>
			<extension base="gsml:CGI_GeometricDescriptionValueType">
				<sequence>
					<element name="azimuth" type="gsml:CGI_ValuePropertyType" minOccurs="0">
						<annotation>
							<documentation>(attribute): The azimuth (compass point, bearing etc) value of the orientation.</documentation>
						</annotation>
					</element>
					<element name="convention" type="gsml:ConventionCodeType">
						<annotation>
							<documentation>(attribute): The convention used for the measurement</documentation>
						</annotation>
					</element>
					<element name="dip" type="gsml:CGI_ValuePropertyType" minOccurs="0">
						<annotation>
							<documentation>(attribute): Dip is the angle that the structural surface (eg bedding, fault plane) makes with the horizontal measured perpindicular to the strike of the structure and in the vertical plane as a numeric or term</documentation>
						</annotation>
					</element>
					<element name="polarity" type="gsml:PlanarPolarityCodeType">
						<annotation>
							<documentation>(attribute): Indicates whether the planar orientation is associated with a directed feature that is overturned, upright, vertical etc.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ..................... -->
	<element name="CGI_PlanarOrientation" type="gsml:CGI_PlanarOrientationType" substitutionGroup="gsml:CGI_GeometricDescriptionValue"/>
	<!-- ..................... -->
	<complexType name="CGI_PlanarOrientationPropertyType">
		<sequence>
			<element ref="gsml:CGI_PlanarOrientation"/>
		</sequence>
		<attribute ref="gsml:attributeProperty" use="optional"/>
	</complexType>
	<!--=======================-->
	<complexType name="CGI_LinearOrientationType">
		<annotation>
			<documentation>Package : CGI_Value ; Date 2007-05-29 11:40:07 
 Description of the geometry of a line.</documentation>
		</annotation>
		<complexContent>
			<extension base="gsml:CGI_GeometricDescriptionValueType">
				<sequence>
					<element name="directed" type="gsml:LinearDirectedCodeType" minOccurs="0">
						<annotation>
							<documentation>(attribute): To indicate if orientation represents linear feature that is directed, e.g. clast imbrication, mylonitic lineation with sense of shear, slickenlines with displacement direction, rather than undirected.  A code list to indicate which is the directed end of the linear orientation</documentation>
						</annotation>
					</element>
					<element name="plunge" type="gsml:CGI_ValuePropertyType" minOccurs="0">
						<annotation>
							<documentation>(attribute): Magnitudeof the plunge.  May be a term (eg steeply) or numeric (eg 75 degrees) or range.</documentation>
						</annotation>
					</element>
					<element name="trend" type="gsml:CGI_ValuePropertyType" minOccurs="0">
						<annotation>
							<documentation>(attribute): The azimuth (compass point, bearing etc) value of the linear orientation.  </documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ..................... -->
	<element name="CGI_LinearOrientation" type="gsml:CGI_LinearOrientationType" substitutionGroup="gsml:CGI_GeometricDescriptionValue"/>
	<!-- ..................... -->
	<complexType name="CGI_LinearOrientationPropertyType">
		<sequence>
			<element ref="gsml:CGI_LinearOrientation"/>
		</sequence>
		<attribute ref="gsml:attributeProperty" use="optional"/>
	</complexType>
	<!--=======================-->
	<complexType name="CGI_VectorType">
		<annotation>
			<documentation>Package : CGI_Value ; Date 2007-05-13 09:01:43 
 data type for linear orientation with magnitude. Cardinality on magnitude is 1, if magnitude is unknown use CGI_LinearOrientation</documentation>
		</annotation>
		<complexContent>
			<extension base="gsml:CGI_LinearOrientationType">
				<sequence>
					<element name="magnitude" type="gsml:CGI_ValuePropertyType" minOccurs="0">
						<annotation>
							<documentation>(attribute): The numerical length of a linear vector </documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ..................... -->
	<element name="CGI_Vector" type="gsml:CGI_VectorType" substitutionGroup="gsml:CGI_LinearOrientation"/>
	<!-- ..................... -->
	<complexType name="CGI_VectorPropertyType">
		<sequence>
			<element ref="gsml:CGI_Vector"/>
		</sequence>
		<attribute ref="gsml:attributeProperty" use="optional"/>
	</complexType>
</schema>
