trunk/schema/geologicStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Eric Boisvert (Ressources naturelles Canada) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gsml="http://www.cgi-iugs.org/xml/GeoSciML/2" xmlns:gml="http://www.opengis.net/gml" targetNamespace="http://www.cgi-iugs.org/xml/GeoSciML/2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>Encoded by Eric Boisvert (May 2007) Geological Survey of Canada</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2007-07-12 : Minor fixes and changes to fit new version of model - Eric Boisvert</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2007-07-31 : Added documentation - Eric Boisvert</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<xs:include schemaLocation="Gsml.xsd"/>
	<xs:include schemaLocation="geologicUnit.xsd"/>
	<xs:include schemaLocation="CGI_Value.xsd"/>
	<xs:include schemaLocation="vocabulary.xsd"/>
	<xs:include schemaLocation="earthMaterial.xsd"/>
	<xs:complexType name="GeologicStructureType">
		<xs:annotation>
			<xs:documentation>Package : GeologicStructure ; Date 2007-06-04 10:05:32 
 A configuration of matter in the Earth based on describable inhomogeneity, pattern, or fracture in an EarthMaterial The identity of a GeologicStructure is independent of the material that is the substrate for the structure. GeologicStructures are more likely to be found in, and are more persistent in, consolidated materials than in unconsolidated materials. Properties like ‘clast-supported’,  matrix-supported’, and ‘graded bed’ that do not involve orientation are considered kinds of GeologicStructure because they depend on the configuration of parts of a rock body. Includes: sedimentary structures.

In GeoSciML 2.0 Fabric is treated as a class that describes an EarthMaterial (FabricDescription). The general GeologicRelation is used to associate penetrative GeologicStructures with GeologicUnits.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:GeologicFeatureType">
				<xs:sequence>
					<xs:element name="definedUnit" type="gsml:DeformationUnitPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(association): cardinality is 1 because defining structure could be compound.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="GeologicStructure" type="gsml:GeologicStructureType" substitutionGroup="gsml:GeologicFeature"/>
	<!-- ..................... -->
	<xs:complexType name="GeologicStructurePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:GeologicStructure"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="DisplacementEventType">
		<xs:annotation>
			<xs:documentation>Package : GeologicStructure ; Date 2007-05-14 12:25:03 
 </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:GeologicEventType">
				<xs:sequence>
					<xs:element name="incrementalDisplacement" type="gsml:DisplacementValuePropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(association): </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="DisplacementEvent" type="gsml:DisplacementEventType" substitutionGroup="gsml:GeologicEvent"/>
	<!-- ..................... -->
	<xs:complexType name="DisplacementEventPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:DisplacementEvent"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="DisplacementValueType">
		<xs:annotation>
			<xs:documentation>Package : GeologicStructure ; Date 2007-05-12 16:02:37 
 Trying to express the displacement on a fault with respect to a planar approximation of its shape</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hangingWallDirection" type="gsml:CGI_LinearOrientationPropertyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>(attribute): Normally the compass quadrant indicating the hangingwall side of the fault-system for faults that are steep enough to define a hanging-wall on the map trace</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="movementSense" type="gsml:CGI_TermValuePropertyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>(attribute): Direction of movement of the plates for sub-vertical faults (typically 'sinistral', 'dextral', 'left-lateral', 'dip-slip', 'unknown')</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="movementType" type="gsml:CGI_TermValuePropertyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>(attribute): Defines the type of movement  (eg dip-slip, strike-slip)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="DisplacementValue" type="gsml:DisplacementValueType"/>
	<!-- ..................... -->
	<xs:complexType name="DisplacementValuePropertyType">
		<xs:sequence>
			<xs:element ref="gsml:DisplacementValue"/>
		</xs:sequence>
		<xs:attribute ref="gsml:attributeProperty"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="SeparationValueType">
		<xs:annotation>
			<xs:documentation>Package : GeologicStructure ; Date 2007-05-12 15:32:34 
 </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:DisplacementValueType">
				<xs:sequence>
					<xs:element name="separation" type="gsml:CGI_VectorPropertyType">
						<xs:annotation>
							<xs:documentation>(attribute): reported apparent offset of planar feature, report as vector. </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="SeparationValue" type="gsml:SeparationValueType" substitutionGroup="gsml:DisplacementValue"/>
	<!-- ..................... -->
	<xs:complexType name="SeparationValuePropertyType">
		<xs:sequence>
			<xs:element ref="gsml:SeparationValue"/>
		</xs:sequence>
		<xs:attribute ref="gsml:attributeProperty"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="SlipComponentType">
		<xs:complexContent>
			<xs:extension base="gsml:DisplacementValueType">
				<xs:sequence>
					<xs:element name="horizontalSlip" type="gsml:CGI_VectorPropertyType" minOccurs="0"/>
					<xs:element name="heave" type="gsml:CGI_VectorPropertyType" minOccurs="0"/>
					<xs:element name="throw" type="gsml:CGI_VectorPropertyType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="SlipComponent" type="gsml:SlipComponentType" substitutionGroup="gsml:DisplacementValue"/>
	<!-- ..................... -->
	<xs:complexType name="SlipComponentPropertyType">
		<xs:sequence>
			<xs:element ref="gsml:SlipComponent"/>
		</xs:sequence>
		<xs:attribute ref="gsml:attributeProperty"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="NetSlipValueType">
		<xs:annotation>
			<xs:documentation>Package : GeologicStructure ; Date 2007-05-12 15:32:34 
 </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:DisplacementValueType">
				<xs:sequence>
					<xs:element name="netSlip" type="gsml:CGI_VectorPropertyType">
						<xs:annotation>
							<xs:documentation>(attribute): </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="slipComponent" type="gsml:SlipComponentPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(association): </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="NetSlipValue" type="gsml:NetSlipValueType" substitutionGroup="gsml:DisplacementValue"/>
	<!-- ..................... -->
	<xs:complexType name="NetSlipValuePropertyType">
		<xs:sequence>
			<xs:element ref="gsml:NetSlipValue"/>
		</xs:sequence>
		<xs:attribute ref="gsml:attributeProperty"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="FractureType">
		<xs:annotation>
			<xs:documentation>Package : GeologicStructure ; Date 2007-05-12 15:32:34 
 covers both Joint (no movement) and FaultSurface (movement). 
</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:GeologicStructureType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="Fracture" type="gsml:FractureType" substitutionGroup="gsml:GeologicStructure"/>
	<!-- ..................... -->
	<xs:complexType name="FracturePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:Fracture"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="JointType">
		<xs:annotation>
			<xs:documentation>Package : GeologicStructure ; Date 2007-05-12 15:32:34 
 a Fracture across which there is no displacement at the scale of interest. 
</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:FractureType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="Joint" type="gsml:JointType" substitutionGroup="gsml:Fracture"/>
	<!-- ..................... -->
	<xs:complexType name="JointPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:Joint"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="ShearDisplacementStructureType">
		<xs:annotation>
			<xs:documentation>Package : GeologicStructure ; Date 2007-05-12 15:32:34 
 A generalized shear displacement structure without any commitment to the internal nature of the structure (anything from a simple, single 'planar' brittle or ductile surface to a fault system with 10's of strands of both brittle and ductile nature). This surface may have some significant thickness (a deformation zone) and have an associated body of deformed rock that may be considered a DeformationUnit </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:GeologicStructureType">
				<xs:sequence>
					<xs:element name="totalDisplacement" type="gsml:DisplacementValuePropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(association): </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="physicalProperty" type="gsml:PhysicalDescriptionPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(association): </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="ShearDisplacementStructure" type="gsml:ShearDisplacementStructureType" substitutionGroup="gsml:GeologicStructure"/>
	<!-- ..................... -->
	<xs:complexType name="ShearDisplacementStructurePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:ShearDisplacementStructure"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="FaultType">
		<xs:annotation>
			<xs:documentation>Package : GeologicStructure ; Date 2007-05-12 15:32:34 
 It is a discrete surface, or zone of discrete surfaces, with some thickness, separating two rock masses across which one mass has slid past the other and characterized by brittle deformation. Fault is a map-scale feature. When observed in outcrop, some faults are just big breccia/gouge zones with no discrete surfaces, sometimes they are breccia/gouge zones bounded by discrete fault surfaces, sometimes a discrete surface in relatively unbroken rock (at the scale of description).
</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:ShearDisplacementStructureType">
				<xs:sequence>
					<xs:element name="segment" type="gsml:FaultPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="Fault" type="gsml:FaultType" substitutionGroup="gsml:ShearDisplacementStructure"/>
	<!-- ..................... -->
	<xs:complexType name="FaultPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:Fault"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="DuctileShearStructureType">
		<xs:annotation>
			<xs:documentation>Package : GeologicStructure ; Date 2007-05-12 15:32:34 
 a parallel-sided zone of localised shearing displacement; may contain sigmoidal mineral-filled veins, locally well-developed cleavage or foliation, wholesale grain size reduction or mylonitisation, or a combination of these features
a discrete tabular zone (very thin compared to its along-strike and down dip dimensions) of plastic deformation across which there has been shear displacement. DuctileShearStructure is a map-scale feature. 
</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:ShearDisplacementStructureType">
				<xs:sequence>
					<xs:element name="segment" type="gsml:DuctileShearStructurePropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="DuctileShearStructure" type="gsml:DuctileShearStructureType" substitutionGroup="gsml:ShearDisplacementStructure"/>
	<!-- ..................... -->
	<xs:complexType name="DuctileShearStructurePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:DuctileShearStructure"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="FaultSystemType">
		<xs:annotation>
			<xs:documentation>Package : GeologicStructure ; Date 2007-05-12 15:32:34 
 A composite structure that is an aggregation of genetically related instances of Faults and/or DuctileShearStructures. A FaultSystem is composed of individually identified and mapped Faults and/or DuctileShearStructures that are considered distinct ShearDisplacementStructures, that generally form overlapping, anastomosing patterns in which, at any point along the fault system, multiple fault strands are identified and each considered important at the scale of description. Displacement and other descriptive data may be assigned at the 'fault segment', 'fault', or 'fault system level'. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:ShearDisplacementStructureType">
				<xs:sequence>
					<xs:element name="faultSystemMember" type="gsml:ShearDisplacementStructurePropertyType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(association): </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="FaultSystem" type="gsml:FaultSystemType" substitutionGroup="gsml:ShearDisplacementStructure"/>
	<!-- ..................... -->
	<xs:complexType name="FaultSystemPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:FaultSystem"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="ContactType">
		<xs:annotation>
			<xs:documentation>Package : GeologicStructure ; Date 2007-06-04 10:06:28 
 Very general concept representing any kind of surface separating two geologic units including primary boundaries such as depositional contacts, all kinds of unconformities, intrusive contacts, and gradational contacts, as well as faults that separate geologic units.

Permeability of contacts still needs to be modeled; considered out of scope for GeoSciML2.

</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:GeologicStructureType">
				<xs:sequence>
					<xs:element name="contactCharacter" type="gsml:CGI_TermValuePropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(attribute): The character of the boundary, as opposed to its type. e.g.  abrupt, gradational </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="contactType" type="gsml:ControlledConceptPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(attribute): Classifies the contact (eg intrusive, unconformity, bedding surface, lithologic boundary, phase boundary); if a vocabulary of named contacts exists that might be used to classify as well.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orientation" type="gsml:CGI_PlanarOrientationPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(attribute): orientation of the contact surface</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="Contact" type="gsml:ContactType" substitutionGroup="gsml:GeologicStructure"/>
	<!-- ..................... -->
	<xs:complexType name="ContactPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:Contact"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="FoldSystemType">
		<xs:annotation>
			<xs:documentation>Package : GeologicStructure ; Date 2007-05-12 17:25:25 
 A collection of congruent folds  (axis and axial surface are parallel) produced by the same tectonic event</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:GeologicStructureType">
				<xs:sequence>
					<xs:element name="periodic" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>(attribute): True if fold hinges in train are regularly spaced.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="wavelength" type="gsml:CGI_NumericPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(attribute): Quantitative specification of length between adjacent antiforms (or synforms) in a fold train.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="foldSystemMember" type="gsml:FoldPropertyType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(association): </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="FoldSystem" type="gsml:FoldSystemType" substitutionGroup="gsml:GeologicStructure"/>
	<!-- ..................... -->
	<xs:complexType name="FoldSystemPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:FoldSystem"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="FoldType">
		<xs:annotation>
			<xs:documentation>Package : GeologicStructure ; Date 2007-05-12 15:32:34 
 One or more systematically curved layers, surfaces, or lines in a rock body. Fold denotes a structure formed by the deformation of a GeologicStructure to form a structure that may be described by the translation of an abstract line (the fold axis) parallel to itself along some curvilinear path (the fold profile).  Folds have a hinge zone (zone of maximum curvature along the surface) and limbs (parts of the deformed surface not in the hinge zone).  Folds are described by an axial surface, hinge line , profile geometry, the solid angle between the limbs, and the relationships between adjacent folded surfaces if the folded structure is a Layering fabric (similar, parallel).  </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:GeologicStructureType">
				<xs:sequence>
					<xs:element name="profileType" type="gsml:CGI_TermValuePropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(attribute): Terminology specifying concave/convex geometry of fold relative to earth surface, and relationship to younging direction in folded strata if known. antiform, synform, neutral, anticline, syncline, monocline, ptygmatic</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="axialSurfaceOrientation" type="gsml:CGI_PlanarOrientationPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(attribute): This is used to characterize the geometry of a fold. The axial surface of a particular fold may be located based on observations of the folded geologic structure, but in general it has no direct physical manifestions. As a geologic surface, it has geometric properties, including orientation, which may be specified by observations at one or more locations, or generalized using terminology (upright, inclined, reclined, recumbent, overturned). Dip and Dip Direction are one approach to specifying the value.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hingeLineOrientation" type="gsml:CGI_LinearOrientationPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(attribute): Specification of hinge line orientation for fold.  CGI_LinearOrientation allows for a term value specification or a numeric specification of either or both the trend and plunge of hinge line. kHinge plunge term examples: sub-vertical, steeply plunging, ... sub-horizontal, reclined and vertical for special cases in which hinge plunge is close to axial surface dip. 0..* cardinality allows for both a numeric specification a term specification.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="geneticModel" type="gsml:CGI_TermValuePropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(attribute): Specification of genetic model for fold, e.g. flexural slip, parallel</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="amplitude" type="gsml:CGI_NumericPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(attribute): length from line segment connecting inflection points on adjacent fold limbs to the intervening fold hinge </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hingeLineCurvature" type="gsml:CGI_TermValuePropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(attribute): variation in orientation of fold hinge along trend of fold, distinguish sheath from cylindrical folds. Specify with terminology eg sheath, dome, basin, cylindrical.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hingeShape" type="gsml:CGI_TermValuePropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(attribute): rounded vs. angular hinge zones; has to do with proprotion of wavelength that is considered part of hinge</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hingeLimbAngle" type="gsml:CGI_TermPropertyType" minOccurs="0"/>
					<xs:element name="limbShape" type="gsml:CGI_TermValuePropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(attribute): straight vs curved limbs, eg kink, chevron, sinusoidal, box</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="span" type="gsml:CGI_NumericPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(attribute): linear distance between inflection points in a single fold </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="symmetry" type="gsml:CGI_TermValuePropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(attribute): concordance or discordance of bisecting surface and axial surface, or ratio of length of limbs. Folded surface may have asymmetry defined by limb length ratio if inflection points are defined. Defintion based on bisecting surface/axial surface angle depends on having multiple surfaces defined such that the axial surface may be identified. (symmetric, assymetric)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="higherOrderFoldPart" type="gsml:FoldPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="Fold" type="gsml:FoldType" substitutionGroup="gsml:GeologicStructure"/>
	<!-- ..................... -->
	<xs:complexType name="FoldPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:Fold"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="FoliationType">
		<xs:annotation>
			<xs:documentation>Package : GeologicStructure ; Date 2007-06-04 10:17:48 
 A planar arrangement of textural or structural features in any type of rock.  Includes any of a wide variety of penetrative planar geological structures that may be present in a rock.  Examples include schistosity, mylonitic foliation, penetrative bedding structure (lamination), and cleavage.  Following the proposed definition of gneiss by the NADM Science Language Technical Team, penetrative planar foliation defined by layers &gt; 5 mm thick is considered Layering. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:GeologicStructureType">
				<xs:sequence>
					<xs:element name="foliationType" type="gsml:ControlledConceptPropertyType">
						<xs:annotation>
							<xs:documentation>(attribute): </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="definingElement" type="gsml:CGI_TermPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute): </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="spacing" type="gsml:CGI_NumericPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(attribute): linear dimension representing the thickness of foliation domains. Also use for thickness of layers of a given composition</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="mineralElement" type="gsml:MineralPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute): </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="continuity" type="gsml:CGI_TermPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute): terms to distinguish continuous vs. disjunct cleavages</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orientation" type="gsml:CGI_PlanarOrientationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute): </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="intensity" type="gsml:CGI_TermPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(attribute): </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="Foliation" type="gsml:FoliationType" substitutionGroup="gsml:GeologicStructure"/>
	<!-- ..................... -->
	<xs:element name="FoliationPropertyType">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="gsml:Foliation"/>
			</xs:sequence>
			<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<!--=======================-->
	<xs:complexType name="LayeringType">
		<xs:annotation>
			<xs:documentation>Package : GeologicStructure ; Date 2007-05-12 15:32:34 
 Planar foliation defined by a tabular succession of layers &gt; 5 mm thick. This definition is based on the proposed definition of gneiss by the NADM Science Language Technical Team, so that the GeologicStructure characteristic of gneiss is layering. The committee discussed the possibility that layering should be considered a kind of foliation, but the majority opinion was that it is a different kind of structure.

keep so instance documents have layering tag</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:FoliationType">
				<xs:sequence>
					<xs:element name="layerComposition" type="gsml:RockPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(association): </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="Layering" type="gsml:LayeringType" substitutionGroup="gsml:Foliation"/>
	<!-- ..................... -->
	<xs:complexType name="LayeringPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:Layering"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="LineationType">
		<xs:annotation>
			<xs:documentation>Package : GeologicStructure ; Date 2007-05-12 17:34:09 
 GeologicStructure defined by aligned elongate elements. Lineation connotes a pervasive linear structure. Includes: flow lines, scratches, striae, slickenlines, linear arrangements of
elongate components in sediments, fold hinges (when abundant and closely spaced), elongate minerals, crinkles, and lines of intersection between penetrative planar structures.

Class also includes discrete linear structures like boudin, channel axis, tool marks.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:GeologicStructureType">
				<xs:sequence>
					<xs:element name="lineationType" type="gsml:ControlledConceptPropertyType">
						<xs:annotation>
							<xs:documentation>(attribute): </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="definingElement" type="gsml:CGI_TermPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute): </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orientation" type="gsml:CGI_LinearOrientationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute): </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="mineralElement" type="gsml:MineralPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute): </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="intensity" type="gsml:CGI_TermPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(attribute): </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="Lineation" type="gsml:LineationType" substitutionGroup="gsml:GeologicStructure"/>
	<!-- ..................... -->
	<xs:complexType name="LineationPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:Lineation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="NonDirectionalStructureType">
		<xs:annotation>
			<xs:documentation>Package : GeologicStructure ; Date 2007-06-01 16:36:29 
 class to represent structures present in geologic that do not have a preferred orientation
Terms specifying the kinds of small-scale structures that are characteristic of the geolgoic unit, e.g. herringbone crossbedding, mudcracks, graded bedding, planar lamination, miarolitic cavities, nebulitic structure</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:GeologicStructureType">
				<xs:sequence>
					<xs:element name="structureType" type="gsml:ControlledConceptPropertyType">
						<xs:annotation>
							<xs:documentation>(attribute): </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="NonDirectionalStructure" type="gsml:NonDirectionalStructureType" substitutionGroup="gsml:GeologicStructure"/>
	<!-- ..................... -->
	<xs:complexType name="NonDirectionalStructurePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:NonDirectionalStructure"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
</xs:schema>
