trunk/schema/geologicUnit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Eric Boisvert (Ressources naturelles Canada) -->
<xs:schema xmlns:gsml="http://www.cgi-iugs.org/xml/GeoSciML/2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" targetNamespace="http://www.cgi-iugs.org/xml/GeoSciML/2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>Encoded by Eric Boisvert (May 2007) Geological Survey of Canada</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2007-07-12 : Minor fixes and changes to fit new version of model - Eric Boisvert</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>2007-07-31 : Added documentation - Eric Boisvert</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<xs:include schemaLocation="geosciml.xsd"/>
	<xs:complexType name="GeologicUnitType">
		<xs:annotation>
			<xs:documentation>Package : GeologicUnit ; Date 2007-07-20 20:20:19 
 Operationally, the GeologicUnit element is a container used to associate geologic properties with some mapped occurrence (through GeologicFeature.occurrence -&gt; MappedFeature link), or with a geologic unit ControlledConcept in a vocabulary (through the GeologicUnit.classifier -&gt;ControlledConcept link).

Conceptually, may represent a body of material in the Earth whose complete and precise extent is inferred to exist (NADM GeologicUnit, Stratigraphic unit in sense of NACSN or Intnl Stratigraphic Code), or a classifier used to characterize parts of the Earth (e.g. lithologic map unit like 'granitic rock' or 'alluvial deposit', surficial units like 'till' or 'old alluvium').

Spatial properties are only available through association with a MappedFeature. Includes both formal units (i.e. formally adopted and named in the official lexicon) and informal units (i.e. named but not promoted to the lexicon) and unnamed units (i.e. recognisable and described and delineable in the field but not otherwise formalised). 

Will be made Abstract when a complete (enough) set of specialized subtypes is defined.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:GeologicFeatureType">
				<xs:sequence>
					<xs:element name="bodyMorphology" type="gsml:CGI_TermValuePropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute): The geometry or form of a GeologicUnit.  Examples include: dike, cone, fan, sheet, etc. Morphology is independent of the substance (EarthMaterial) that composes the GeologicUnit.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="exposureColor" type="gsml:CGI_TermValuePropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute):  the color of typical outcrops of a geologic unit. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="rank" type="gsml:ScopedNameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(attribute): term classifies unit in generalization hierarchy from most local/smallest volume to most regional. Scoped name because classification is asserted, not based on observational data.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="compositionCategory" type="gsml:CGI_TermValuePropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute): Term to specify the gross chemical character of geologic unit. Examples include silicate, carbonate, ferromagnesian, oxide.  Chemical classification terms for igneous rocks also go here, e.g. alkalic, subaluminous, peraluminous, mafic, felsic, intermediate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="outcropCharacter" type="gsml:CGI_TermValuePropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute): Describes the nature of outcrops formed by a geologic unit.   Examples: bouldery, cliff-forming, ledge-forming, slope-forming, poorly exposed</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="part" type="gsml:GeologicUnitPartPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(association): association represents containment of a part GeologicUnit within another GeologicUnit.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="classifier" type="gsml:ControlledConceptPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(association): The classifier indicates the kind of thing a GeologicUnit instance is meant to represent.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="composition" type="gsml:CompositionPartPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(association): detailed, instance specific, lithologic description for a GeologicUnit</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weatheringCharacter" type="gsml:WeatheringDescriptionPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(association): </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="physicalProperty" type="gsml:PhysicalDescriptionPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(association): </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="metamorphicCharacter" type="gsml:MetamorphicDescriptionPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>(association): </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="GeologicUnit" type="gsml:GeologicUnitType" substitutionGroup="gsml:GeologicFeature"/>
	<!-- ..................... -->
	<xs:complexType name="GeologicUnitPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:GeologicUnit"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="GeologicUnitPartType">
		<xs:annotation>
			<xs:documentation>Package : GeologicUnit ; Date 2007-07-20 20:06:57 
 GeologicUnitPart associates a GeologicUnit with another GeologicUnit that is a proper part of that unit. Parts may be formal or notional . Formal parts refer to a specific body of rock, as in formal stratigraphic members. Notional parts refer to assemblages of particular EarthMaterials with particular internal structure, which may be repeated in various places within a unit (e.g. 'turbidite sequence', 'point bar assemblage', 'leucosome veins')</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="proportion" type="gsml:CGI_ValuePropertyType">
				<xs:annotation>
					<xs:documentation>(attribute): Quantity that specifies the fraction of the geologic unit formed by the part.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="role" type="gsml:ScopedNameType">
				<xs:annotation>
					<xs:documentation>(attribute): Nature of the parts, e.g. facies, stratigraphic, interbeds, geographic, eastern facies, </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="whole" type="gsml:GeologicUnitPropertyType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="GeologicUnitPart" type="gsml:GeologicUnitPartType"/>
	<!-- ..................... -->
	<xs:complexType name="GeologicUnitPartPropertyType">
		<xs:sequence>
			<xs:element ref="gsml:GeologicUnitPart"/>
		</xs:sequence>
		<xs:attribute ref="gsml:attributeProperty"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="CompositionPartType">
		<xs:annotation>
			<xs:documentation>Package : GeologicUnit ; Date 2007-07-20 21:06:11 
 Element to represent composition of a geologic unit in terms of earth material constituents. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="lithology" type="gsml:ControlledConceptPropertyType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>(attribute): 1..* so that it is possible to give a material names from several different vocabularies, e.g. chemical and genetic classifications (common in volcanic rocks) or to use multiple terms from a single vocabulary with implication that classification is a conjonction of terms.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="material" type="gsml:CompoundMaterialPropertyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>(attribute): 0..1 because this is where the "description" of the material is (optionally) held</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="proportion" type="gsml:CGI_ValuePropertyType">
				<xs:annotation>
					<xs:documentation>(attribute): Quantity that specifies the fraction of the geologic unit composed of the compound material.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="role" type="gsml:ScopedNameType">
				<xs:annotation>
					<xs:documentation>(attribute): Defines the relationship of the earth material constituent in the geologic unit, e.g. vein, interbedded constituent, layers, dominant constituent. Scoped name because role is asserted by the geologist building the description.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="CompositionPart" type="gsml:CompositionPartType"/>
	<!-- ..................... -->
	<xs:complexType name="CompositionPartPropertyType">
		<xs:sequence>
			<xs:element ref="gsml:CompositionPart"/>
		</xs:sequence>
		<xs:attribute ref="gsml:attributeProperty"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="WeatheringDescriptionType">
		<xs:annotation>
			<xs:documentation>Package : GeologicUnit ; Date 2007-07-19 22:12:14 
 Data type is a container for properties describing the nature of a GeologicUnit at its interface with the atmosphere.  Soil profile description would have to be constructed as a GeologicUnit with parts representing the various horizons in the profile.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="weatheringDegree" type="gsml:CGI_TermPropertyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>(attribute): term to specify degree of modification from original material, e.g. slightly weathered, strongly weathered, weathered rock grade III</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="weatheringProduct" type="gsml:EarthMaterialPropertyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>(attribute): material result of weathering processes, e.g. saprolite, ferricrete, clay, calcrete. Materials observed in a soil profile could be identified using this property, but EarthMaterial content model does not allow representation of relationships between materials in a soil profile. A full soil profile description would have to use GeologicUnitParts and Composition part?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="weatheringProcess" type="gsml:CGI_TermPropertyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>(attribute): weatheirng process, e.g. leaching, accumulation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="environment" type="gsml:CGI_TermPropertyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>(attribute): Terms to specify the environmental context of the weathering description. Typically would be specified by terms for climate (tropical, arid, termperate, humid, polar..)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="WeatheringDescription" type="gsml:WeatheringDescriptionType"/>
	<!-- ..................... -->
	<xs:complexType name="WeatheringDescriptionPropertyType">
		<xs:sequence>
			<xs:element ref="gsml:WeatheringDescription"/>
		</xs:sequence>
		<xs:attribute ref="gsml:attributeProperty"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="PhysicalDescriptionType">
		<xs:annotation>
			<xs:documentation>Package : GeologicUnit ; Date 2007-06-26 12:31:31 
 PhysicalDescription describes a limited but commonly used set of physical properties of Rocks and UnconsolidatedMaterials.  The Working Group recognizes that this set is an incomplete subset of potential physical properties that could be used to describe Rocks and UnconsolidatedMaterials, but it will likely cover most use cases for GeoSciML version 2.  Revision/extension of this list is antcipated in future versions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="density" type="gsml:CGI_NumericPropertyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>(attribute): Material mass per unit volume</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="magneticSusceptibility" type="gsml:CGI_ValuePropertyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>(attribute): Material magnetic susceptibility, customarily measured in SI units.  The ratio of induced magnetization to the strength of the magnetic field causing the magnetization.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="porosity" type="gsml:CGI_ValuePropertyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>(attribute): The percentage of the bulk volume of a material that is occupied by interstices, whether isolated or connected.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="permeability" type="gsml:CGI_ValuePropertyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>(attribute): The measure of the capacity of a porous material to transmit a fluid under unequal pressure.  Customary unit of measure: millidarcy</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="PhysicalDescription" type="gsml:PhysicalDescriptionType"/>
	<!-- ..................... -->
	<xs:complexType name="PhysicalDescriptionPropertyType">
		<xs:sequence>
			<xs:element ref="gsml:PhysicalDescription"/>
		</xs:sequence>
		<xs:attribute ref="gsml:attributeProperty"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="MetamorphicDescriptionType">
		<xs:annotation>
			<xs:documentation>Package : GeologicUnit ; Date 2007-07-20 20:08:55 
 MetamorphicDescription describes the character of metamorphism applied to a CompoundMaterial or GeologicUnit using one or more properties including estimated intensity (grade; eg high grade, low grade), characteristic metamorphic mineral assemblages (facies; eg, greenschist, amphibolite), peak P-T estimates, and protolith material if known.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="metamorphicFacies" type="gsml:CGI_TermValuePropertyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>(attribute): A description of characteristic mineral assemblages indicative of certain metamorphic P-T conditions.  Examples include Barrovian metasedimentary zones (eg: biotite facies, kyanite facies) or assemblages developed in rocks of more mafic composition (eg: greenschist facies, amphibolite facies).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="metamorphicGrade" type="gsml:CGI_TermValuePropertyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>(attribute): A term to indicate the intensity or rank of metamorphism applied to an EarthMaterial (eg: high metamorphic grade, low metamorphic grade)
Indicates in a general way the P-T environment in which the metamorphism took place. Determination of metamorphic grade is based on mineral assemblages (ie, facies) present in a rock that are interpreted to have crystallized in equilibrium during a particular metamorphic event.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="peakPressureValue" type="gsml:CGI_NumericPropertyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>(attribute): A numerical value to indicate the estimated pressure at peak metamorphic conditions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="peakTemperatureValue" type="gsml:CGI_NumericPropertyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>(attribute): A numerical value to indicate the estimated temperature at peak metamorphic conditions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="protolithLithology" type="gsml:EarthMaterialPropertyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>(attribute): An interpretation of the EarthMaterial that constituted the pre-metamorphic lithology for this metamorphosed CompoundMaterial.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="MetamorphicDescription" type="gsml:MetamorphicDescriptionType"/>
	<!-- ..................... -->
	<xs:complexType name="MetamorphicDescriptionPropertyType">
		<xs:sequence>
			<xs:element ref="gsml:MetamorphicDescription"/>
		</xs:sequence>
		<xs:attribute ref="gsml:attributeProperty"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="ChronostratigraphicUnitType">
		<xs:annotation>
			<xs:documentation>Package : GeologicUnit ; Date 2007-07-20 20:10:58 
 A Geologic Unit defined by its age. The by convention, the definingAge is the age of formation (deposition of sedimentary rock, crystallization of igneous rock).
A chronostratigraphic unit may have properties characteristic of a LithostratigraphicUnit, thus the unitThickness and bedding properties are included in this element.
</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:GeologicUnitType">
				<xs:sequence>
					<xs:element name="definingAge" type="gsml:CGI_ValuePropertyType">
						<xs:annotation>
							<xs:documentation>(attribute): A CGI_Value that specifies the age that characterizes the chronostratigraphic unit. This age is identical with the eventAge of the preferredAge associated with ChronostratigraphicUnit (inherited from GeologicFeature), but is given special treatment for a Chronostratigraphic unit because it defines the unit.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="beddingPattern" type="gsml:CGI_TermValuePropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute): Term(s) specifying patterns of bedding thickness or relationships between bedding packages, e.g. thinning upward, thickening upward</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="beddingStyle" type="gsml:CGI_TermValuePropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute): Term(s) specifying the style of bedding in a stratified geologic unit, e.g. lenticular, irregular, planar, vague, massive</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="beddingThickness" type="gsml:CGI_ValuePropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute): Term(s) or numeric values characterizing the thickness of bedding in the unit.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="unitThickness" type="gsml:CGI_NumericPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute): Thickness typical of geologic unit.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="ChronostratigraphicUnit" type="gsml:ChronostratigraphicUnitType" substitutionGroup="gsml:GeologicUnit"/>
	<!-- ..................... -->
	<xs:complexType name="ChronostratigraphicUnitPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:ChronostratigraphicUnit"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="DeformationUnitType">
		<xs:annotation>
			<xs:documentation>Package : GeologicUnit ; Date 2007-07-20 20:34:16 
 GeologicUnit defined by containment of or association with some geologic structure. DeformationUnits may be predominantly brittle, discontinuous deformation, ductile/plastic deformation or a combination of these.  

Includes fault zone, which is a body of rock characterized by deformation associated with some ShearDisplacementStructure feature, and mapped as such. If there are many faults contained in the DeformationUnit then these form a FaultSystem, so there is a zero to one association between DeformationUnit and ShearDisplacementStructure, with the ShearDisplacementStructure being either a FaultSystem, DuctileShearStructure or a Fault. The faults are not the geologic unit, the deformed rock is the geologic unit.

A ShearDisplacementStructure may be associated with 0 to one DeformationUnit. Such a DeformationUnit may have 1 or more parts distinguished by different kinds of fault rocks. Zero represents the case in which the DeformationUnit is not mapped or described. 

DeformationUnits may also be defined by presence of cleavage, jointing, structures with a particular orientation (e.g. 'southeast-dipping bedding domain').</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:GeologicUnitType">
				<xs:sequence>
					<xs:element name="definingStructure" type="gsml:GeologicStructurePropertyType">
						<xs:annotation>
							<xs:documentation>(association): cardinality is 1 because defining structure could be compound.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="DeformationUnit" type="gsml:DeformationUnitType" substitutionGroup="gsml:GeologicUnit"/>
	<!-- ..................... -->
	<xs:complexType name="DeformationUnitPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:DeformationUnit"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="LithologicUnitType">
		<xs:annotation>
			<xs:documentation>Package : GeologicUnit ; Date 2007-07-20 20:13:20 
 Element representing a GeologicUnit defined by lithology independent of subdividing external and internal boundaries. May be stratified or non-stratified. 
May represent a particular body of rock (a NADM geologic unit), or may represent a 'kind' of rock body characterized by some internal sequence of rock types and the presence of various geologic (typically sedimentary) structures.
This element will be made Abstract when a complete (enough) set of specialized structure types is defined
</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:GeologicUnitType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="LithologicUnit" type="gsml:LithologicUnitType" substitutionGroup="gsml:GeologicUnit"/>
	<!-- ..................... -->
	<xs:complexType name="LithologicUnitPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:LithologicUnit"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="LithodemicUnitType">
		<xs:annotation>
			<xs:documentation>Package : GeologicUnit ; Date 2007-07-20 20:21:11 
 A geologicUnit that lacks stratification, and is defined by lithology
Generally represents predominantly intrusive, highly deformed and/or metamorphosed rock

</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:LithologicUnitType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="LithodemicUnit" type="gsml:LithodemicUnitType" substitutionGroup="gsml:LithologicUnit"/>
	<!-- ..................... -->
	<xs:complexType name="LithodemicPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:LithodemicUnit"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
	<!--=======================-->
	<xs:complexType name="LithostratigraphicUnitType">
		<xs:annotation>
			<xs:documentation>Package : GeologicUnit ; Date 2007-07-20 20:22:03 
 Geologic unit consisting of stratified material, and defined by its lithologic characteristics or stratigraphic position.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gsml:LithologicUnitType">
				<xs:sequence>
					<xs:element name="beddingPattern" type="gsml:CGI_TermValuePropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute): Term(s) specifying patterns of bedding thickness or relationships between bedding packages, e.g. thinning upward, thickening upward</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="beddingStyle" type="gsml:CGI_TermValuePropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute): Term(s) specifying the style of bedding in a stratified geologic unit, e.g. lenticular, irregular, planar, vague, massive</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="beddingThickness" type="gsml:CGI_ValuePropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute): Term(s) or numeric values characterizing the thickness of bedding in the unit.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="unitThickness" type="gsml:CGI_NumericPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>(attribute): Thickness typical of geologic unit.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ..................... -->
	<xs:element name="LithostratigraphicUnit" type="gsml:LithostratigraphicUnitType" substitutionGroup="gsml:LithologicUnit"/>
	<!-- ..................... -->
	<xs:complexType name="LithostratigraphicUnitPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsml:LithostratigraphicUnit"/>
		</xs:sequence>
		<xs:attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</xs:complexType>
</xs:schema>
