trunk/schema/mineralOccurrence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gsml="http://www.cgi-iugs.org/xml/GeoSciML/2" xmlns:mo="http://www.ggipac.gov.au/xml/MineralOccurrence/1" targetNamespace="http://www.ggipac.gov.au/xml/MineralOccurrence/1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- Schema auto-generated by xmi-processor, applying rule suite xmi11ea -->
	<annotation>
		<documentation>TODO - add package description to UML model</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="http://www.cgi-iugs.org/xml/GeoSciML/2" schemaLocation="http://www.cgi-iugs.org/xml/GeoSciML/2/geosciml.xsd"/>
	<element name="MiningActivity" type="mo:MiningActivityType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>The process of extracting metallic or non-metallic mineral deposits from the Earth. The term
                may also include preliminary treatment eg. cleaning or sizing.</documentation>
		</annotation>
	</element>
	<complexType name="MiningActivityType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<!-- TODO - order via sequenceNumber tagged value if used -->
					<element name="activityType" type="mo:MiningActivityTypeCodeType">
						<annotation>
							<documentation>The type of mining activity (eg Open Cut, Underground Mine, multiple,
                                unspecified) or processing activity (eg Ore Processing) or production. Using activity to
                                distinguish between the extraction, processing and production activities allows
                                distinguishing between ore mined/grade/recovery, ore treated/grade/recovery and produced
                                payable/plant recovery.</documentation>
						</annotation>
					</element>
					<element name="duration" type="gml:TimePeriodPropertyType" minOccurs="0">
						<annotation>
							<documentation>Time during which the activity took place.</documentation>
						</annotation>
					</element>
					<element name="oreProcessed" type="gsml:CGI_NumericPropertyType" minOccurs="0">
						<annotation>
							<documentation>The amount of ore processed by the activity</documentation>
						</annotation>
					</element>
					<element name="associatedMine" type="mo:MinePropertyType"/>
					<element name="composition" type="mo:RawMaterialPropertyType"/>
					<element name="producedMaterial" type="mo:ProductPropertyType"/>
					<element name="deposit" type="mo:EarthResourcePropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MiningActivityPropertyType">
		<sequence minOccurs="0">
			<element ref="mo:MiningActivity"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<element name="EarthResource" type="mo:EarthResourceType" abstract="true" substitutionGroup="gsml:GeologicFeature">
		<annotation>
			<documentation>Identifes the kinds of observable or inferred phenomena required to classify economic and
                sub-economic earth resources</documentation>
		</annotation>
	</element>
	<complexType name="EarthResourceType" abstract="true">
		<complexContent>
			<extension base="gsml:GeologicFeatureType">
				<sequence>
					<!-- TODO - order via sequenceNumber tagged value if used -->
					<element name="dimension" type="mo:EarthResourceDimensionPropertyType" minOccurs="0">
						<annotation>
							<documentation>Describes the size/volume of the earth resource</documentation>
						</annotation>
					</element>
					<element name="expression" type="gsml:CGI_TermValuePropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Whether an EarthResource has a surface expression or has been detected under
                                cover rocks. </documentation>
						</annotation>
					</element>
					<element name="form" type="gsml:CGI_TermValuePropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>The orebodies typical physical and structural relationship to wallrocks and
                                associated rocks (e.g. strataform, stratabound, cross-cutting, vein, intrusive contact
                                etc)</documentation>
						</annotation>
					</element>
					<element name="linearOrientation" type="gsml:CGI_LinearOrientationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Captures linear orientation of the Earth Resource (Plunge
                            etc)</documentation>
						</annotation>
					</element>
					<element name="planarOrientation" type="gsml:CGI_PlanarOrientationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Captures planar orientation of the Earth Resource (Dip/Dip Direction
                            etc)</documentation>
						</annotation>
					</element>
					<element name="shape" type="gsml:CGI_TermValuePropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>The typical geometrical shape of the Earth Resource (e.g. lenticular,
                                pipelike, irregular etc)</documentation>
						</annotation>
					</element>
					<element name="source" type="gsml:MetadataPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>The source or reference for the Earth Resource</documentation>
						</annotation>
					</element>
					<element name="resourceExtraction" type="mo:MiningActivityPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="classification" type="mo:MineralDepositModelPropertyType" minOccurs="0"/>
					<element name="supergeneModification" type="mo:SupergeneProcessesPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="commodityDescription" type="mo:CommodityPropertyType" maxOccurs="unbounded"/>
					<element name="parent" type="mo:EarthResourcePropertyType" minOccurs="0"/>
					<element name="geneticDescription" type="mo:MineralSystemPropertyType" minOccurs="0"/>
					<element name="oreAmount" type="mo:OreMeasurePropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="composition" type="mo:EarthResourceMaterialPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EarthResourcePropertyType" abstract="false">
		<sequence minOccurs="0">
			<element ref="mo:EarthResource"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<element name="Commodity" type="mo:CommodityType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>The material of economic interest in the EarthResource</documentation>
		</annotation>
	</element>
	<complexType name="CommodityType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<!-- TODO - order via sequenceNumber tagged value if used -->
					<element name="commodityGroup" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>The group the commodity belongs to (eg base metal, precious metal, industrial
                                mineral, energy). </documentation>
						</annotation>
					</element>
					<element name="commodityImportance" type="mo:ImportanceCodeType" minOccurs="0">
						<annotation>
							<documentation>The importance of the commodity to the earth resource. A subjective
                                classification (eg minor, major)</documentation>
						</annotation>
					</element>
					<element name="commodityName" type="gml:CodeType">
						<annotation>
							<documentation>The earth resource commodity (eg Cu, Au, Dimension Stone)</documentation>
						</annotation>
					</element>
					<element name="commodityRank" type="integer" minOccurs="0">
						<annotation>
							<documentation>The rank the commodity has in the order of commodities that are part of the
                                earth reource (eg 1, 2, 3)</documentation>
						</annotation>
					</element>
					<element name="source" type="mo:EarthResourcePropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CommodityPropertyType">
		<sequence minOccurs="0">
			<element ref="mo:Commodity"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<element name="Mine" type="mo:MineType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>(A) An underground excavation for the extraction of mineral deposits, in contrast to
                surficial excavations such as quarries. The term is also applied to various types of open-pit workings.
                (B) The area or property of a mineral deposit that is being excavated; a mining claim.</documentation>
		</annotation>
	</element>
	<complexType name="MineType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<!-- TODO - order via sequenceNumber tagged value if used -->
					<element name="duration" type="gml:TimePeriodPropertyType">
						<annotation>
							<documentation>Time during which the mine was active.</documentation>
						</annotation>
					</element>
					<element name="mineName" type="mo:MineNamePreferencePropertyType" maxOccurs="unbounded"/>
					<element name="source" type="gsml:MetadataPropertyType">
						<annotation>
							<documentation>Allows citing mine plans etc</documentation>
						</annotation>
					</element>
					<element name="status" type="mo:MineStatusCodeType">
						<annotation>
							<documentation>Operational status (eg Care &amp; Maintenance, Pending Approval,
                                operating continually)</documentation>
						</annotation>
					</element>
					<element name="relatedActivity" type="mo:MiningActivityPropertyType"/>
					<element name="relatedMine" type="mo:MinePropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MinePropertyType">
		<sequence minOccurs="0">
			<element ref="mo:Mine"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<element name="Product" type="mo:ProductType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>Identifes the type and amount of products associated with production</documentation>
		</annotation>
	</element>
	<complexType name="ProductType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<!-- TODO - order via sequenceNumber tagged value if used -->
					<element name="grade" type="gsml:CGI_NumericPropertyType" minOccurs="0">
						<annotation>
							<documentation>he relative quantity or percentage of ore mineral content in an orebody.
                                (Could be Feed Grade, ore grade)</documentation>
						</annotation>
					</element>
					<element name="production" type="gsml:CGI_NumericPropertyType" minOccurs="0">
						<annotation>
							<documentation>Quantity of product produced during the activity</documentation>
						</annotation>
					</element>
					<element name="productName" type="gsml:CGI_TermValuePropertyType">
						<annotation>
							<documentation>Commodity that has been processed to create a value-added product. In some
                                cases the commodity and the product may be the same (e.g. gold).</documentation>
						</annotation>
					</element>
					<element name="recovery" type="gsml:CGI_NumericPropertyType" minOccurs="0">
						<annotation>
							<documentation>The percentage of valuable constituent derived from an ore, or of coal from a
                                coal seam; a measure of mining or extraction efficency. (Recovery rate is usually
                                expressed as a percent).</documentation>
						</annotation>
					</element>
					<element name="source" type="gsml:MetadataPropertyType" maxOccurs="unbounded">
						<annotation>
							<documentation>The reference(s) for the product information</documentation>
						</annotation>
					</element>
					<element name="sourceCommodity" type="mo:CommodityPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ProductPropertyType">
		<sequence minOccurs="0">
			<element ref="mo:Product"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<element name="MineralOccurrence" type="mo:MineralOccurrenceType" substitutionGroup="mo:EarthResource"/>
	<complexType name="MineralOccurrenceType">
		<complexContent>
			<extension base="mo:EarthResourceType">
				<sequence>
					<!-- TODO - order via sequenceNumber tagged value if used -->
					<element name="type" type="mo:MineralOccurrenceTypeCodeType">
						<annotation>
							<documentation>Captures the type of mineral occurrence. Examples are prospect, occurrence,
                                mineral deposit, ore deposit, field, district, lode, mineralized
                            zone(?).</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MineralOccurrencePropertyType">
		<sequence minOccurs="0">
			<element ref="mo:MineralOccurrence"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<element name="MineralDepositModel" type="mo:MineralDepositModelType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>Systematically arranged information describing the essential attributes of a class of mineral
                deposits. May be empirical (descriptive) or theoretical (genetic).</documentation>
		</annotation>
	</element>
	<complexType name="MineralDepositModelType">
		<sequence>
			<!-- TODO - order via sequenceNumber tagged value if used -->
			<element name="mineralDepositGroup" type="gml:CodeType" maxOccurs="unbounded">
				<annotation>
					<documentation>A grouping of mineral deposits defined by generic characteristics e.g. host rock,
                        host structure, commodity, association with similar mineral processes e.g. porphyry. Regional,
                        national and more universal lists e.g. Cox and Singer 1986 (modified by GA)</documentation>
				</annotation>
			</element>
			<element name="mineralDepositType" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Style of mineral occurrence or deposit. Generally a local or regional term. Should be
                        referenced for definitions and descriptions. Single deposit terms may form member of a Mineral
                        Deposit Group in local and regional schemas.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="MineralDepositModelPropertyType">
		<sequence>
			<element ref="mo:MineralDepositModel"/>
		</sequence>
	</complexType>
	<element name="CommodityMeasure" type="mo:CommodityMeasureType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>A measure of the amount of the commodity based on a Reserve, Resource or Endowment
                calculation.</documentation>
		</annotation>
	</element>
	<complexType name="CommodityMeasureType">
		<sequence>
			<!-- TODO - order via sequenceNumber tagged value if used -->
			<element name="commodityAmount" type="gsml:CGI_NumericPropertyType" minOccurs="0">
				<annotation>
					<documentation>Amount of commodity</documentation>
				</annotation>
			</element>
			<element name="cutOffGrade" type="gsml:CGI_NumericPropertyType" minOccurs="0">
				<annotation>
					<documentation>Cut off grade used for calculation</documentation>
				</annotation>
			</element>
			<element name="grade" type="gsml:CGI_NumericPropertyType" minOccurs="0">
				<annotation>
					<documentation>grade of commodity Where OreMeasure is Resource or Reserve CommodityMeasure::grade is
                        mandatory</documentation>
				</annotation>
			</element>
			<element name="commodityOfInterest" type="mo:CommodityPropertyType"/>
		</sequence>
	</complexType>
	<complexType name="CommodityMeasurePropertyType">
		<sequence>
			<element ref="mo:CommodityMeasure"/>
		</sequence>
	</complexType>
	<element name="Endowment" type="mo:EndowmentType" substitutionGroup="mo:OreMeasure">
		<annotation>
			<documentation>Endowment refers to that quantity of a mineral in accumulations (deposits) meeting specified
                physical characteristics such as quality, size and depth. Usually includes Resources, as unlike the
                latter, it does not have to have prospects for "eventual economic extraction". It often includes the
                total amount of a commodity originally introduced to a particular location during the deposit forming
                processes - and thus can include resources, reserves, past production and mining and metallurgical
                losses.</documentation>
		</annotation>
	</element>
	<complexType name="EndowmentType">
		<complexContent>
			<extension base="mo:OreMeasureType">
				<sequence>
					<!-- TODO - order via sequenceNumber tagged value if used -->
					<element name="includesReserves" type="boolean">
						<annotation>
							<documentation>Does the estimate include the reserves value (Y/N)</documentation>
						</annotation>
					</element>
					<element name="includesResources" type="boolean">
						<annotation>
							<documentation>Does the estimate include the resources value (Y/N)</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EndowmentPropertyType">
		<sequence>
			<element ref="mo:Endowment"/>
		</sequence>
	</complexType>
	<element name="SupergeneProcesses" type="mo:SupergeneProcessesType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>Metal enrichment produced by the chemical remobilisation of metals in an oxidised or
                transitional environment. Does a supergene process exist (Y/N)</documentation>
		</annotation>
	</element>
	<complexType name="SupergeneProcessesType">
		<sequence>
			<!-- TODO - order via sequenceNumber tagged value if used -->
			<element name="depth" type="gsml:CGI_NumericPropertyType" minOccurs="0"/>
			<element name="material" type="gsml:EarthMaterialPropertyType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The description of the material (rock, soil) that constitutes the supergene
                    process</documentation>
				</annotation>
			</element>
			<element name="type" type="gsml:CGI_TermValuePropertyType" minOccurs="0">
				<annotation>
					<documentation>Type of supergene process. Examples are oxidation, leaching, enrichment
                    etc</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="SupergeneProcessesPropertyType">
		<sequence>
			<element ref="mo:SupergeneProcesses"/>
		</sequence>
	</complexType>
	<element name="Reserve" type="mo:ReserveType" substitutionGroup="mo:OreMeasure">
		<annotation>
			<documentation>The economically mineable part of a Measured and/or Indicated Mineral Resource. It includes
                diluting materials and allowances for losses, which may occur when the material is mined. ?Marketable
                Coal Reserves? maybe reported in conjunction with, but not instead of, reports of Ore (Coal) Reserves.
                ?Saleable product? (e.g. for industrial minerals) can be reported in conjunction with ore reserve.
                Synonyms: Ore Reserve; Coal Reserve (s); Diamond (or gemstone) Ore Reserve; Mineral Reserves (not
                preferred, should be stated that used to mean the same as JORC?s Ore Reserve); Mineable production
                estimates</documentation>
		</annotation>
	</element>
	<complexType name="ReserveType">
		<complexContent>
			<extension base="mo:OreMeasureType">
				<sequence>
					<!-- TODO - order via sequenceNumber tagged value if used -->
					<element name="category" type="mo:ReserveCategoryCodeType">
						<annotation>
							<documentation>Defines the level of confidence of the estimate</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ReservePropertyType">
		<sequence>
			<element ref="mo:Reserve"/>
		</sequence>
	</complexType>
	<element name="Resource" type="mo:ResourceType" substitutionGroup="mo:OreMeasure">
		<annotation>
			<documentation>A concentration or occurrence of material of intrinsic economic interest in or on the Earth?s
                crust in such form, quality and quantity that there are reasonable prospects for eventual economic
                extraction. Synonyms: Mineral Resource; Coal Resource (s); Diamond (Gemstone) Resource; Potentially
                Mineable Mineralisation</documentation>
		</annotation>
	</element>
	<complexType name="ResourceType">
		<complexContent>
			<extension base="mo:OreMeasureType">
				<sequence>
					<!-- TODO - order via sequenceNumber tagged value if used -->
					<element name="category" type="mo:ResourceCategoryCodeType">
						<annotation>
							<documentation>Measured, indicated, proved, probable, inferred.</documentation>
						</annotation>
					</element>
					<element name="includesReserves" type="boolean">
						<annotation>
							<documentation>Whether estimate of resources uses reserve values (Y/N)</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ResourcePropertyType">
		<sequence>
			<element ref="mo:Resource"/>
		</sequence>
	</complexType>
	<element name="RawMaterial" type="mo:RawMaterialType" substitutionGroup="gml:_Object"/>
	<complexType name="RawMaterialType">
		<sequence>
			<!-- TODO - order via sequenceNumber tagged value if used -->
			<element name="material" type="gsml:EarthMaterialPropertyType">
				<annotation>
					<documentation>Uses EarthMaterial to describe the RawMaterial material</documentation>
				</annotation>
			</element>
			<element name="rawMaterialRole" type="mo:RawMaterialRoleCodeType">
				<annotation>
					<documentation>Role the EarthMaterial plays in the MiningActivity (eg gangue, ore)</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="RawMaterialPropertyType">
		<sequence>
			<element ref="mo:RawMaterial"/>
		</sequence>
	</complexType>
	<element name="MineNamePreference" type="mo:MineNamePreferenceType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>Data type to indicate whether the Mine Name is the preferred name</documentation>
		</annotation>
	</element>
	<complexType name="MineNamePreferenceType">
		<sequence>
			<!-- TODO - order via sequenceNumber tagged value if used -->
			<element name="isPreferred" type="boolean"/>
			<element name="mineName" type="string"/>
		</sequence>
	</complexType>
	<complexType name="MineNamePreferencePropertyType">
		<sequence>
			<element ref="mo:MineNamePreference"/>
		</sequence>
	</complexType>
	<element name="EarthResourceDimension" type="mo:EarthResourceDimensionType" substitutionGroup="gml:_Object"/>
	<complexType name="EarthResourceDimensionType">
		<sequence>
			<!-- TODO - order via sequenceNumber tagged value if used -->
			<element name="area" type="gsml:CGI_NumericPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="depth" type="gsml:CGI_NumericPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="length" type="gsml:CGI_NumericPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="width" type="gsml:CGI_NumericPropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="EarthResourceDimensionPropertyType">
		<sequence>
			<element ref="mo:EarthResourceDimension"/>
		</sequence>
	</complexType>
	<element name="EarthResourceMaterial" type="mo:EarthResourceMaterialType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>Identifies the material found in the earth or produced from earth material that is of
                economic interest</documentation>
		</annotation>
	</element>
	<complexType name="EarthResourceMaterialType">
		<sequence>
			<!-- TODO - order via sequenceNumber tagged value if used -->
			<element name="earthResourceMaterialRole" type="mo:ERMaterialRoleCodeType">
				<annotation>
					<documentation>The role the EarthMaterial plays in the EarthResourceDescription (eg host rock,
                        alteration product, primary, secondary)</documentation>
				</annotation>
			</element>
			<element name="material" type="gsml:EarthMaterialPropertyType">
				<annotation>
					<documentation>Uses EarthMaterial to describe the EarthResourceMaterial material</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="EarthResourceMaterialPropertyType">
		<sequence>
			<element ref="mo:EarthResourceMaterial"/>
		</sequence>
	</complexType>
	<element name="MineralSystem" type="mo:MineralSystemType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>All geological features that control the generation and preservation of mineral
            deposits.</documentation>
		</annotation>
	</element>
	<complexType name="MineralSystemType">
		<sequence>
			<!-- TODO - order via sequenceNumber tagged value if used -->
			<element name="associationType" type="gsml:CGI_TermValuePropertyType">
				<annotation>
					<documentation>High level term describing the characteristics of a mineral system, indicative of the
                        processes involved and resulting deposits</documentation>
				</annotation>
			</element>
			<element name="fluidDescription" type="gsml:InorganicFluidPropertyType"/>
		</sequence>
	</complexType>
	<complexType name="MineralSystemPropertyType">
		<sequence>
			<element ref="mo:MineralSystem"/>
		</sequence>
	</complexType>
	<element name="OreMeasure" type="mo:OreMeasureType" abstract="true" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>The estimate of the Reserve, Resource or Endowment ore amount</documentation>
		</annotation>
	</element>
	<complexType name="OreMeasureType" abstract="true">
		<sequence>
			<!-- TODO - order via sequenceNumber tagged value if used -->
			<element name="calculationMethod" type="string">
				<annotation>
					<documentation>Means of calculating the measurement. Examples include JORC, Unspecified,
                        UNESCO/World Bank and the Canadian CIM.</documentation>
				</annotation>
			</element>
			<element name="date" type="date">
				<annotation>
					<documentation>Date of calculated/estimated value (single date or range)</documentation>
				</annotation>
			</element>
			<element name="dimension" type="mo:EarthResourceDimensionPropertyType" minOccurs="0">
				<annotation>
					<documentation>Size of the body used in the calculation</documentation>
				</annotation>
			</element>
			<element name="ore" type="gsml:CGI_NumericPropertyType">
				<annotation>
					<documentation>Amount of ore</documentation>
				</annotation>
			</element>
			<element name="proposedExtractionMethod" type="gsml:CGI_TermValuePropertyType" minOccurs="0">
				<annotation>
					<documentation>The method proposed to extract the commodity</documentation>
				</annotation>
			</element>
			<element name="source" type="gsml:MetadataPropertyType" maxOccurs="unbounded">
				<annotation>
					<documentation>reference for the values</documentation>
				</annotation>
			</element>
			<element name="measureDetails" type="mo:CommodityMeasurePropertyType"/>
		</sequence>
	</complexType>
	<complexType name="OreMeasurePropertyType" abstract="false">
		<sequence>
			<element ref="mo:OreMeasure"/>
		</sequence>
	</complexType>
	<element name="NonMetallicOccurrence" type="mo:NonMetallicOccurrenceType" substitutionGroup="gml:_Object"/>
	<complexType name="NonMetallicOccurrenceType"/>
	<complexType name="NonMetallicOccurrencePropertyType">
		<sequence>
			<element ref="mo:NonMetallicOccurrence"/>
		</sequence>
	</complexType>
	<simpleType name="RawMaterialRoleCodeType">
		<union memberTypes="mo:RawMaterialRoleCodeEnumerationType mo:RawMaterialRoleCodeOtherType"/>
	</simpleType>
	<simpleType name="RawMaterialRoleCodeEnumerationType">
		<restriction base="string">
			<enumeration value="gangue"/>
			<enumeration value="ore"/>
		</restriction>
	</simpleType>
	<simpleType name="RawMaterialRoleCodeOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="ImportanceCodeType">
		<union memberTypes="mo:ImportanceCodeEnumerationType mo:ImportanceCodeOtherType"/>
	</simpleType>
	<simpleType name="ImportanceCodeEnumerationType">
		<restriction base="string">
			<enumeration value="major"/>
			<enumeration value="minor"/>
		</restriction>
	</simpleType>
	<simpleType name="ImportanceCodeOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="ResourceCategoryCodeType">
		<union memberTypes="mo:ResourceCategoryCodeEnumerationType mo:ResourceCategoryCodeOtherType"/>
	</simpleType>
	<simpleType name="ResourceCategoryCodeEnumerationType">
		<restriction base="string">
			<enumeration value="indicated mineral resource">
				<annotation>
					<documentation>That part of a Mineral Resource for which tonnage, densities, shape, physical
                        characteristics, grade and mineral content can be estimated with a reasonable level of
                        confidence. It is based on exploration, sampling and testing information. The locations are too
                        widely spaced to confirm geological and/or grade continuity but are spaced closely enough for
                        continuity to be assumed. Synonyms: Indicated Coal Resource; Indicated Diamond (Gemstone)
                        Resource</documentation>
				</annotation>
			</enumeration>
			<enumeration value="inferred mineral resource">
				<annotation>
					<documentation>That part of a Mineral Resource for which tonnage, grade and mineral content can be
                        estimated with a low level of confidence. It is inferred from geological evidence and assumed
                        but not verified geological and/or grade continuity. Synonyms: Inferred Coal Resource; Inferred
                        Diamond (Gemstone) Resource</documentation>
				</annotation>
			</enumeration>
			<enumeration value="measured and indicated mineral resource">
				<annotation>
					<documentation>To provide the combined "Measured and Indicated Mineral Resource" figure, individual
                        ?Measured? and ?Indicated? Mineral Resource figures must have been specified.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="measured mineral resource">
				<annotation>
					<documentation>That part of Mineral Resource for which tonnage, densities, shape, physical
                        characteristics, grade and mineral content can be estimated with a high level of confidence. It
                        is based on detailed and reliable exploration, sampling and testing. The locations are spaced
                        closely enough to confirm geological and grade continuity. Synonyms: Measured Coal Resource;
                        Measured Diamond (Gemstone) Resource</documentation>
				</annotation>
			</enumeration>
			<enumeration value="measured, indicated and inferred mineral resource [JORC]">
				<annotation>
					<documentation>To provide the combined "Measured, Indicated and Inferred Mineral Resource" figure,
                        individual ?Measured?, ?Indicated? and ?Inferred? Mineral Resource figures must have been
                        specified.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="measured, indicated and inferred mineral resource [non-JORC]">
				<annotation>
					<documentation>This combined mineral resource figure is used where no individual splits are
                        available for mineral resource estimation. This is usually the case for historical
                    data.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="ResourceCategoryCodeOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="MineralOccurrenceTypeCodeType">
		<union memberTypes="mo:MineralOccurrenceTypeCodeEnumerationType mo:MineralOccurrenceTypeCodeOtherType"/>
	</simpleType>
	<simpleType name="MineralOccurrenceTypeCodeEnumerationType">
		<restriction base="string">
			<enumeration value="district">
				<annotation>
					<documentation>District scale area of mining/prospecting for a particular commodity or set of
                        commodities.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="field">
				<annotation>
					<documentation>Local scale area of mining/prospecting for a particular commodity or set of
                        commodities. Equivalent to the North American term "camp". </documentation>
				</annotation>
			</enumeration>
			<enumeration value="lode">
				<annotation>
					<documentation>- a mineral deposit consisting of a zone of veins, veinlets, disseminations, or
                        planar breccias; or - a mineral deposit in consolidated rock (as opposed to placer deposits). A
                        synonym for a load is a lead.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="mineral deposit">
				<annotation>
					<documentation>A mineral occurrence of sufficient size and grade that it might, under favourable
                        circumstances, be considered to have economic potential.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="occurrence">
				<annotation>
					<documentation> A locality at which a concentration of mineral(s) of economic interest is
                    known.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ore deposit">
				<annotation>
					<documentation>A mineral deposit that has been tested and is known to be of sufficient size, grade
                        and accessibility to be produced to yield a profit (an ore deposit, by definition, must have an
                        ore reserve and additional resources).</documentation>
				</annotation>
			</enumeration>
			<enumeration value="prospect">
				<annotation>
					<documentation>A locality at which recorded mineral exploration, including sampling and testing, has
                        taken place.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="province">
				<annotation>
					<documentation> A geological province bounded in space and time and characterised by a particular
                        assemblage of mineral occurrences. A mineral province may include the mineralised parts of one
                        or more mineral system.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="MineralOccurrenceTypeCodeOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="ERMaterialRoleCodeType">
		<union memberTypes="mo:ERMaterialRoleCodeEnumerationType mo:ERMaterialRoleCodeOtherType"/>
	</simpleType>
	<simpleType name="ERMaterialRoleCodeEnumerationType">
		<restriction base="string">
			<enumeration value="alteration product"/>
			<enumeration value="host rock"/>
			<enumeration value="primary"/>
			<enumeration value="secondary"/>
		</restriction>
	</simpleType>
	<simpleType name="ERMaterialRoleCodeOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="MiningActivityTypeCodeType">
		<union memberTypes="mo:MiningActivityTypeCodeEnumerationType mo:MiningActivityTypeCodeOtherType"/>
	</simpleType>
	<simpleType name="MiningActivityTypeCodeEnumerationType">
		<restriction base="string">
			<enumeration value="adit">
				<annotation>
					<documentation>Adits are horizontal excavations into the side of a hill or mountain.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="decline">
				<annotation>
					<documentation>a spiral ramp which allows access to the deposit.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="diggings">
				<annotation>
					<documentation>Local area of small scale mining where individual operations cannot be identified.
                        Generally applicable to historic operations. scratchings, scrapings</documentation>
				</annotation>
			</enumeration>
			<enumeration value="dredging">
				<annotation>
					<documentation>Removing of unconsolidated matter from the bottom of an area covered by
                    water</documentation>
				</annotation>
			</enumeration>
			<enumeration value="multiple">
				<annotation>
					<documentation>Combination of activities </documentation>
				</annotation>
			</enumeration>
			<enumeration value="open cut mining">
				<annotation>
					<documentation>Operation to commercially extract any mineral from the ground from an excavation open
                        at surface. Synonyms: pit, quarry</documentation>
				</annotation>
			</enumeration>
			<enumeration value="reworking">
				<annotation>
					<documentation>Reworking of material previously extracted.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="shaft">
				<annotation>
					<documentation>Shafts are vertical excavations sunk adjacent to an ore body.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="sluicing">
				<annotation>
					<documentation>Hydraulic washing of unconsolidated or semi-consolidated material.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="solution mining">
				<annotation>
					<documentation>Extraction of material from a closed underground system by solvents. </documentation>
				</annotation>
			</enumeration>
			<enumeration value="underground mining">
				<annotation>
					<documentation>Operation to commercially extract any mineral from the ground from an underground
                        excavation. Synonyms: shaft, adit, decline, winze, drive, stope</documentation>
				</annotation>
			</enumeration>
			<enumeration value="unspecified">
				<annotation>
					<documentation>Information not available. </documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="MiningActivityTypeCodeOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="MineStatusCodeType">
		<union memberTypes="mo:MineStatusCodeEnumerationType mo:MineStatusCodeOtherType"/>
	</simpleType>
	<simpleType name="MineStatusCodeEnumerationType">
		<restriction base="string">
			<enumeration value="abandoned">
				<annotation>
					<documentation>Not currently operating, not maintained.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="care and maintenance">
				<annotation>
					<documentation>Not currently operating but maintained in such state as to be capable of
                    re-opening.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="feasibility">
				<annotation>
					<documentation>Undergoing feasibility study as prerequisite to possible operation.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="not operating">
				<annotation>
					<documentation>Not currently operating, maintenance status unspecified or unknown.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="operating continuously">
				<annotation>
					<documentation>Operating on what is regarded as full time status by the jurisdiction concerned.
                    </documentation>
				</annotation>
			</enumeration>
			<enumeration value="operating intermittently">
				<annotation>
					<documentation>Operating part time on a campaign basis. </documentation>
				</annotation>
			</enumeration>
			<enumeration value="pending approval">
				<annotation>
					<documentation>Awaiting due process before commencing operation.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="retention">
				<annotation>
					<documentation>Defined but not yet operated.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="unknown">
				<annotation>
					<documentation>The status of the Mine is unknown</documentation>
				</annotation>
			</enumeration>
			<enumeration value="unspecified">
				<annotation>
					<documentation>The status of the Mine is unspecified</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="MineStatusCodeOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="ReserveCategoryCodeType">
		<union memberTypes="mo:ReserveCategoryCodeEnumerationType mo:ReserveCategoryCodeOtherType"/>
	</simpleType>
	<simpleType name="ReserveCategoryCodeEnumerationType">
		<restriction base="string">
			<enumeration value="probable ore reserves">
				<annotation>
					<documentation>The economically mineable part of an Indicated, and in some circumstances, a Measured
                        Mineral Resource. May include ?Probable Marketable Coal Reserves?. Synonyms: Probable Coal
                        Reserve; Probable Diamond (Gemstone) Reserve; Probable Mineral Reserve</documentation>
				</annotation>
			</enumeration>
			<enumeration value="proved and probable ore reserves [JORC]">
				<annotation>
					<documentation>To provide the combined "Proved and Probable Ore Reserves" figure, individual
                        ?Proved? and ?Probable? Ore Reserve figures must have been specified.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="proved and probable ore reserves [non-JORC]">
				<annotation>
					<documentation>This combined ore reserve figure is used where no individual splits are available for
                        reserve estimation. This is usually the case for historical data.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="proved ore reserves">
				<annotation>
					<documentation>The economically mineable part of a Measured Mineral Resource. May include "Proved
                        Marketable Coal Reserves".</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="ReserveCategoryCodeOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
</schema>
