trunk/schema/vocabulary.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Eric Boisvert (Ressources naturelles Canada) -->
<!-- IUGS/CGI GeoSciML schema, ver. 1 - draft 2005-10-19 -->
<!-- Contains the concepts (classes), their inheritance, and relations from the CGI_Vocabulary package of the GeoSciML model -->
<!-- GeoSciML Testbed-2 Model -->
<schema xmlns:gsml="http://www.cgi-iugs.org/xml/GeoSciML/2" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" targetNamespace="http://www.cgi-iugs.org/xml/GeoSciML/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1.0">
	<annotation>
		<documentation>Encoded by Eric Boisvert (May 2007) Geological Survey of Canada</documentation>
	</annotation>
	<annotation>
		<documentation>2007-07-12 : Minor fixes and changes to fit new version of model - Eric Boisvert</documentation>
	</annotation>
	<annotation>
		<documentation>2007-07-31 : Added documentation - Eric Boisvert</documentation>
	</annotation>
	<annotation>
		<documentation>2007-08-02 :Fixed VocabItemPropertyType - Eric Boisvert</documentation>
	</annotation>
	<annotation>
		<documentation>vocabulary.xsd
Basic vocabulary components for GeoSciML
covering concepts, vocabularies and relations</documentation>
	</annotation>
	<!--=======================-->
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<include schemaLocation="geosciml.xsd"/>
	<!--=======================-->
	<complexType name="GeologicVocabularyType">
		<annotation>
			<documentation>Package : CGI_Vocabulary ; Date 2007-07-18 09:10:09 
 A collection of terms (ControlledConcepts) and their associated definitions and relationships between the terms, usually organized in some logical fashion such as in a hierarchy (geologic time, rocks, unconsolidated deposits...).   An instance of a GeologicConcept may occur only once in a particular GeologicVocabulary.</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="metadata" type="gsml:MetadataPropertyType" minOccurs="0">
						<annotation>
							<documentation>(association): </documentation>
						</annotation>
					</element>
					<element name="member" type="gsml:VocabItemPropertyType" maxOccurs="unbounded">
						<annotation>
							<documentation>(association): a vocabulary is a collection of one or more VocabItems (controlled concepts or vocabulary relationships) through the member role.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ..................... -->
	<element name="GeologicVocabulary" type="gsml:GeologicVocabularyType" substitutionGroup="gml:_GML"/>
	<!-- ..................... -->
	<complexType name="GeologicVocabularyPropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:GeologicVocabulary"/>
		</sequence>
		<attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</complexType>
	<!--=======================-->
	<complexType name="ControlledConceptType">
		<annotation>
			<documentation>Package : CGI_Vocabulary ; Date 2007-07-20 19:55:32 
 Element to represent a defined concept.
A concept in the context of a GeologicVocabulary.   A relationship class representing inclusion of an instance of a concept in a GeologicVocabulary. The GeologicConcept instance must have an associated definition (prototype 0..1), which may be text for human interpretation, or a formal description in the form of a GeologicEntity instance. A ControlledConcept has exactly one preferred Name. 

    * items in the classification framework
    * every GeologicUnit may be classified as being representative of a Controlled Concept. This may be a formal stratigraphic unit from a stratigraphic lexicon, or some generic mappable concept like 'alluvial fan deposit' or 'basaltic rock'.
    * a Controlled Concept instance mayt be associated with one special feature or object, which is the prototype or normative description meant to specify what the concept represents.</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="preferredName" type="string">
						<annotation>
							<documentation>(attribute): preferred name used to identify the concept in language of choice in a particular vocabulary.  </documentation>
						</annotation>
					</element>
					<element name="prototype" type="gsml:GeologicEntityPropertyType" minOccurs="0">
						<annotation>
							<documentation>(association): A ControlledConcept may have a link (prototype role) to one special GeologicEntity (GeologicFeature or EarthMaterial or OM_Specimen) that  defines the ControlledConcept. Model does not currently attempt to distinguish various possible functions of definition (identify, provide typical properties...).</documentation>
						</annotation>
					</element>
					<element name="vocabulary" type="gsml:GeologicVocabularyPropertyType">
						<annotation>
							<documentation>(association): a VocabRelation is owned by some GeologicVocabulary. Link must be by reference to avoid circularity from 
GeologicVocabulary.member to VocabItem.vocabulary to GeologicVocabulary.</documentation>
						</annotation>
					</element>
					<element name="metadata" type="gsml:MetadataPropertyType" minOccurs="0">
						<annotation>
							<documentation>(association): </documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ..................... -->
	<element name="ControlledConcept" type="gsml:ControlledConceptType" substitutionGroup="gml:_GML"/>
	<!-- ..................... -->
	<complexType name="ControlledConceptPropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:ControlledConcept"/>
		</sequence>
		<attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</complexType>
	<!--=======================-->
	<complexType name="VocabRelationType">
		<annotation>
			<documentation>Package : CGI_Vocabulary ; Date 2007-07-18 09:10:02 
 Relationships between ControlledConcepts. Use to implement thesaurus type relationships like 'broader than', 'narrower than', 'related term', 'synonym' etc. role attribute specifies relationship from source to target, read 'source' 'role' 'target'. 

VocabRelation and some other components may be replaced by another mechanism (OWL, SKOS, RDF, etc) at some future date, according to maturity and adoption level of standard technologies</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:DefinitionType">
				<sequence>
					<element name="role" type="gsml:ScopedNameType">
						<annotation>
							<documentation>(attribute): Term that specifies the relationship between source and target vocabulary terms. Terms should be constructed so the source to target reading of the relationship is clear, for example SourceIsBroaderTerm, SourceIsChildOfTarget.</documentation>
						</annotation>
					</element>
					<element name="target" type="gsml:ControlledConceptPropertyType">
						<annotation>
							<documentation>(association): Link to ControlledConcept that is the 'object' of the relationship.</documentation>
						</annotation>
					</element>
					<element name="source" type="gsml:ControlledConceptPropertyType">
						<annotation>
							<documentation>(association): LInk to ControlledConcept that is the subject of the relationship.</documentation>
						</annotation>
					</element>
					<element name="vocabulary" type="gsml:GeologicVocabularyPropertyType">
						<annotation>
							<documentation>(association): a VocabRelation is owned by some GeologicVocabulary. Link must be by reference to avoid circularity from 
GeologicVocabulary.member to VocabItem.vocabulary to GeologicVocabulary.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ..................... -->
	<element name="VocabRelation" type="gsml:VocabRelationType" substitutionGroup="gml:Definition"/>
	<!-- ..................... -->
	<complexType name="VocabRelationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:VocabRelation"/>
		</sequence>
		<attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</complexType>
	<!--=======================-->
	<complexType name="VocabItemPropertyType">
		<annotation>
			<documentation>Package : CGI_Vocabulary ; Date 2007-06-02 10:48:10 
 Union class to represent that a GeologicVocabulary is a collection of ControlledConcepts and VocabRelations.</documentation>
		</annotation>
		<choice minOccurs="0">
			<element ref="gsml:VocabRelation"/>
			<element ref="gsml:ControlledConcept"/>
		</choice>
		<attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
		<attribute name="unionSemantics">
			<simpleType>
				<restriction base="string">
					<enumeration value="conceptMember"/>
					<enumeration value="relationMember"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<!--=======================-->
	<complexType name="StratigraphicLexiconType">
		<annotation>
			<documentation>Package : CGI_Vocabulary ; Date 2007-07-18 09:10:05 
 Geologic vocabulary that is a collection of ControlledConcepts that have (or could have...) GeologicFeature.GeologicUnit prototoype instances.</documentation>
		</annotation>
		<complexContent>
			<extension base="gsml:GeologicVocabularyType"/>
		</complexContent>
	</complexType>
	<!-- ..................... -->
	<element name="StratigraphicLexicon" type="gsml:StratigraphicLexiconType" substitutionGroup="gsml:GeologicVocabulary"/>
	<!-- ..................... -->
	<complexType name="StratigraphicLexiconPropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:StratigraphicLexicon"/>
		</sequence>
		<attributeGroup ref="gsml:EstimatedPropertyAttributeGroup"/>
	</complexType>
	<!--=======================-->
	<complexType name="GeologicEntityPropertyType">
		<annotation>
			<documentation>Package : CGI_Vocabulary ; Date 2007-06-19 22:24:39 
 Union class to allow prototype descriptions for ControlledConcepts to be GeologicFeature (e.g. geologic unit or geologic structure), EarthMaterial, or Specimen.</documentation>
		</annotation>
		<choice minOccurs="0">
			<element ref="gsml:GeologicFeature"/>
			<element ref="gsml:EarthMaterial"/>
			<element name="GeologicSpecimen"/>
		</choice>
		<attribute name="unionSemantic">
			<simpleType>
				<restriction base="string">
					<enumeration value="featureEntity"/>
					<enumeration value="materialEntity"/>
					<enumeration value="specimenEntity"/>
				</restriction>
			</simpleType>
		</attribute>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
</schema>
