branches/3.0.0_rc2/schemas/cgiutilities/3.0/primitiveTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:gml="http://www.opengis.net/gml/3.2" 
	xmlns:cgu="http://geosciml.org/xmlns/Utilities/3.0" 
	targetNamespace="http://geosciml.org/xmlns/Utilities/3.0" 
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	
	<annotation>
		<documentation>This package contains classes that have a canonical encoding so must be packaged separately from the packages from which the XML encoding will be generated automatically.</documentation>
	</annotation>
	
	<!--<include schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc1_gml3.1/cgiUtilities/3.0.0/xsd/cgiUtilities.xsd"/>  Removed, not needed?  OLR 23-11-10 -->
	
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://schemas.opengis.net/gml/3.1.1/smil/xml-mod.xsd"/>
	
	<simpleType name="IETF-RFC3066-CodeType">
		<restriction base="string"/>
	</simpleType>
	<element name="LocalizedScopedName" type="cgu:LocalizedScopedNameType" substitutionGroup="gml:name"/>
	<complexType name="LocalizedScopedNameType">
		<annotation>
			<documentation>add required xml:lang attribute</documentation>
		</annotation>
		<simpleContent>
			<extension base="gml:CodeWithAuthorityType">
<!--			<extension base="cgu:CodeWithAuthorityType">  -->	<!-- Replaced old cgu version of CodeWithAuthorityType with GML3.2 version.  OLR 24-11-10  -->
				<attribute ref="xml:lang" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<element name="LocalizedGenericName" type="cgu:LocalizedGenericNameType" substitutionGroup="gml:name"/>
	<complexType name="LocalizedGenericNameType">
		<annotation>
			<documentation>add required xml:lang attribute</documentation>
		</annotation>
		<simpleContent>
			<extension base="gml:CodeType">
				<attribute ref="xml:lang" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<element name="LocalizableScopedName" type="cgu:LocalizableScopedNameType" substitutionGroup="gml:name"/>
	<complexType name="LocalizableScopedNameType">
		<annotation>
			<documentation>add optional xml:lang attribute</documentation>
		</annotation>
		<simpleContent>
			<extension base="gml:CodeWithAuthorityType">
<!--			<extension base="cgu:CodeWithAuthorityType">-->		<!-- Replaced old cgu version of CodeWithAuthorityType with GML3.2 version.  OLR 24-11-10  -->
				<attribute ref="xml:lang"/>
			</extension>
		</simpleContent>
	</complexType>
	<element name="LocalizableGenericName" type="cgu:LocalizableGenericNameType" substitutionGroup="gml:name"/>
	<complexType name="LocalizableGenericNameType">
		<annotation>
			<documentation>add optional xml:lang attribute</documentation>
		</annotation>
		<simpleContent>
			<extension base="gml:CodeType">
				<attribute ref="xml:lang"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         NOTE: "CodeWithAuthorityType" is a GML component that was temporarily
         defined in this namespace for GeoSciML v2.x. It is defined in GML 3.2 and is now
         removed after CGI GeoSciML schemas were migrated from GML 3.1 to GML 3.2.   -  OLR 24-11-10  
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<!--	<complexType name="CodeWithAuthorityType">
		<annotation>
			<documentation> gml:CodeWithAuthorityType requires that the codeSpace attribute is provided in an instance.</documentation>
		</annotation>
		<simpleContent>
			<restriction base="gml:CodeType">
				<attribute name="codeSpace" type="anyURI" use="required"/>
			</restriction>
		</simpleContent>
	</complexType>-->
</schema>
