branches/3.0.0_rc2/schemas/cgiutilities/3.0/value.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:gml="http://www.opengis.net/gml/3.2" 
	xmlns:gmd="http://www.isotc211.org/2005/gmd" 
	xmlns:om="http://www.opengis.net/om/2.0" 
	xmlns:cgu="http://geosciml.org/xmlns/Utilities/3.0" 
	xmlns:swe="http://www.opengis.net/swe/1.0/gml32" 
	targetNamespace="http://geosciml.org/xmlns/Utilities/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>The GeoSciML "CGI_Value" model provides a generic way of encoding "literal" values, both textual and numeric, which have uncertainty and may be a range. 
			These structures are designed to be able to capture value descriptions as conventionally recorded by geologists.  

The Value structures are for when you need 
1. a qualifier, 
2. to be able to use either single values or ranges, or 
3. to express uncertainty on numeric values 
4. use numbers or words as alternatives for a single value or in a mixed range

e.g. "usually X", "greater than Y" where X and Y are either a Measure (number with a scale) or Term (word from a vocabulary) or a range constructed from measures and terms

"CGI_GeometricDescriptions" allow describing the planar or linear orientation of a geologic feature. Allows specifying direction by DirectionVector (eg Dip/Dip Direction), compass point (NE), description ("toward fold hinge", "below')

These values are usually obtained as the result of an observation. The description of the associated observation event will provide more detail about the observation method, result quality, etc.</documentation>
	</annotation>
	
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/om/2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19156_xsd/schemas/OM/om/2.0/observation.xsd"/>
	<import namespace="http://www.opengis.net/swe/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-127/sweCommon/1.0.1_gml32/swe.xsd"/>
	
	<element name="CGI_NumericAgeRange" type="cgu:CGI_NumericAgeRangeType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Class to represent general age assignment using numeric measurement results. All attributes have cardinality 1; report with nilReason="missing" if a value is absent.</documentation>
		</annotation>
	</element>
	<complexType name="CGI_NumericAgeRangeType">
		<sequence>
			<element name="reportingDate" type="cgu:StratigraphicDateEstimatePropertyType">
				<annotation>
					<documentation>Single time coordinate value to report as representative for this NumericAge assignment</documentation>
				</annotation>
			</element>
			<element name="olderBoundDate" nillable="true">
				<annotation>
					<documentation>The older bounding time coordinate in an age range</documentation>
				</annotation>
				<complexType>		<!-- Added nillable and nilReason complexType  -  OLR 24-11-10   -->
					<complexContent>
						<extension base="cgu:StratigraphicDateEstimatePropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>	
			</element>
			<element name="youngerBoundDate" nillable="true">	<!-- Added nillable and nilReason complexType  -  OLR 24-11-10   -->
				<annotation>
					<documentation>The younger bounding time coordinate in an age range</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="cgu:StratigraphicDateEstimatePropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>	
			</element>
		</sequence>
	</complexType>
	<complexType name="CGI_NumericAgeRangePropertyType">
		<sequence>
			<element ref="cgu:CGI_NumericAgeRange"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="CGI_NumericRange" type="cgu:CGI_NumericRangeType" substitutionGroup="cgu:CGI_Value">
		<annotation>
			<documentation>&lt;font color="#0f0f0f"&gt;1. Allows specifying a range of numeric values (eg 443.7+-1.5 to 359+-2.5) and a single representative or estimated value.  (eg: upper = 443.7+-1.5,lower = 359+-2.5, estimatedValue [mean] = 400).  &lt;/font&gt;

2. Use the swe:definition attribute (URI in SWE1, ScopedName in SWE2) to describe the statistical type of the quoted measurement (eg, mean, minimum, maximum, median, mode, single measurement).  Recommended vocabulary for statistical terms is at http://dictionary.uncertml.org/statistics.
&lt;font color="#0f0f0f"&gt;
&lt;/font&gt;&lt;font color="#0f0f0f"&gt;3. Where CGI_NumericRange is used to deliver a single numeric value, it should be repeated in both the upper and lower quantity values.&lt;/font&gt;

4. Use UCUM where possible for units of measure.</documentation>
		</annotation>
	</element>
	<complexType name="CGI_NumericRangeType">
		<complexContent>
			<extension base="cgu:CGI_ValueType">
				<sequence>
					<element name="estimatedValue" type="swe:QuantityPropertyType">		<!-- Added swe:QuantityPropertyType  -  OLR 24-11-10 -->
						<annotation>
							<documentation>A single measured value chosen on some basis (eg; mean, mode, median, best guess) that is representative for the measurement.  
								Best practice to consider the value and uom attributes of swe:Quantity to be mandatory.</documentation>
						</annotation>
					</element>
					<element name="lower" type="swe:QuantityPropertyType"/>	<!-- Added swe:QuantityPropertyType  -  OLR 24-11-10 -->
					<element name="upper" type="swe:QuantityPropertyType"/>	<!-- Added swe:QuantityPropertyType  -  OLR 24-11-10 -->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CGI_NumericRangePropertyType">
		<sequence>
			<element ref="cgu:CGI_NumericRange"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="CGI_PlanarOrientation" type="cgu:CGI_PlanarOrientationType" substitutionGroup="cgu:CGI_GeometricDescriptionValue">
		<annotation>
			<documentation>Description of the geometry of a plane.</documentation>
		</annotation>
	</element>
	<complexType name="CGI_PlanarOrientationType">
		<complexContent>
			<extension base="cgu:CGI_GeometricDescriptionValueType">
				<sequence>
					<element name="convention" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>ConventionCode</gml:targetElement>
							</appinfo>
							<documentation>The convention used for the measurement</documentation>
						</annotation>
					</element>
					<element name="azimuth" nillable="true">
						<annotation>
							<documentation>The azimuth (compass point, bearing etc) value of the orientation. Convention reports how azimuth is interpreted; if is quadrant. Allowance of different convention makes querying more difficult.</documentation>
						</annotation>
						<complexType>		<!-- Added nillable and nilReason complexType  -  OLR 24-11-10   -->
							<complexContent>
								<extension base="cgu:CGI_NumericRangePropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>	
					</element>
					<element name="dip" nillable="true">
						<annotation>
							<documentation>Dip is the angle that the structural surface (eg bedding, fault plane) makes with the horizontal measured perpindicular to the strike of the structure and in the vertical plane as a numeric or term</documentation>
						</annotation>
						<complexType>		<!-- Added nillable and nilReason complexType  -  OLR 24-11-10   -->
							<complexContent>
								<extension base="cgu:CGI_NumericRangePropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>	
					</element>
					<element name="polarity" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>PlanarPolarityCode</gml:targetElement>
							</appinfo>
							<documentation>Indicates whether the planar orientation is associated with a directed feature that is overturned, upright, vertical etc.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CGI_PlanarOrientationPropertyType">
		<sequence>
			<element ref="cgu:CGI_PlanarOrientation"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="StratigraphicDateEstimate" type="cgu:StratigraphicDateEstimateType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>an estimate of a point in geologic time and a link to its observational basis</documentation>
		</annotation>
	</element>
	<complexType name="StratigraphicDateEstimateType">
		<sequence>
			<element name="position" type="gml:TimeInstantPropertyType"/>
			<element name="quality" nillable="true">
				<complexType>		<!-- Added nillable and nilReason complexType  -  OLR 24-11-10   -->
					<complexContent>
						<extension base="gmd:DQ_QuantitativeAttributeAccuracy_PropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>	
			</element>
			<element name="observationalBasis" type="om:OM_ObservationPropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="StratigraphicDateEstimatePropertyType">
		<sequence>
			<element ref="cgu:StratigraphicDateEstimate"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="CGI_TermRange" type="cgu:CGI_TermRangeType" substitutionGroup="cgu:CGI_Value">
		<annotation>
			<documentation>Allows specifying a range of terms (eg: thick to thin) by specifying an upper (eg: thick) and lower (eg: thin) CGI_TermValue</documentation>
		</annotation>
	</element>
	<complexType name="CGI_TermRangeType">
		<complexContent>
			<extension base="cgu:CGI_ValueType">
				<sequence>
					<element name="lower" type="cgu:CGI_TermPropertyType"/>
					<element name="upper" type="cgu:CGI_TermPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CGI_TermRangePropertyType">
		<sequence>
			<element ref="cgu:CGI_TermRange"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="CGI_Vector" type="cgu:CGI_VectorType" substitutionGroup="cgu:CGI_LinearOrientation">
		<annotation>
			<documentation>data type for linear orientation with magnitude. Cardinality on magnitude is 1, if magnitude is unknown use CGI_LinearOrientation</documentation>
		</annotation>
	</element>
	<complexType name="CGI_VectorType">
		<complexContent>
			<extension base="cgu:CGI_LinearOrientationType">
				<sequence>
					<element name="magnitude" type="cgu:CGI_NumericRangePropertyType">
						<annotation>
							<documentation>The numerical length of a linear vector</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CGI_VectorPropertyType">
		<sequence>
			<element ref="cgu:CGI_Vector"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="CGI_LinearOrientation" type="cgu:CGI_LinearOrientationType" substitutionGroup="cgu:CGI_GeometricDescriptionValue">
		<annotation>
			<documentation>Description of the measured orientation of a line.  At least one of plunge or trend should not be nil.</documentation>
		</annotation>
	</element>
	<complexType name="CGI_LinearOrientationType">
		<complexContent>
			<extension base="cgu:CGI_GeometricDescriptionValueType">
				<sequence>
					<element name="directed" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>LinearDirectedCode</gml:targetElement>
							</appinfo>
							<documentation>To indicate if orientation represents linear feature that is directed, e.g. clast imbrication, mylonitic lineation with sense of shear, slickenlines with displacement direction, rather than undirected.  A code list to indicate which is the directed end of the linear orientation</documentation>
						</annotation>
					</element>
					<element name="plunge" nillable="true">
						<annotation>
							<documentation>Magnitudeof the plunge.  May be a term (eg steeply) or numeric (eg 75 degrees) or range.</documentation>
						</annotation>
						<complexType>		<!-- Added nillable and nilReason complexType  -  OLR 24-11-10   -->
							<complexContent>
								<extension base="cgu:CGI_NumericRangePropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>	
					</element>
					<element name="trend" nillable="true">
						<annotation>
							<documentation>The azimuth (compass point, bearing etc) value of the linear orientation.</documentation>
						</annotation>
						<complexType>		<!-- Added nillable and nilReason complexType  -  OLR 24-11-10   -->
							<complexContent>
								<extension base="cgu:CGI_NumericRangePropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>	
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CGI_LinearOrientationPropertyType">
		<sequence>
			<element ref="cgu:CGI_LinearOrientation"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="CGI_Term" type="cgu:CGI_TermType" substitutionGroup="cgu:CGI_Value"/>
	<complexType name="CGI_TermType">
		<complexContent>
			<extension base="cgu:CGI_ValueType">
				<sequence>
					<element name="qualifier" type="gml:ReferenceType" nillable="true">		<!-- Added nillable  -  OLR 24-11-10   -->
						<annotation>
							<appinfo>
								<gml:targetElement>ValueQualifierCode</gml:targetElement>
							</appinfo>
							<documentation>A qualifying term (eg; sometimes, common, always) used with term values.</documentation>
						</annotation>
					</element>
					<element name="value" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>CodeListValue</gml:targetElement>
							</appinfo>
							<documentation>A byReference attribute, referring to a vocabulary of terms suitable to describe a GeoSciML element.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CGI_TermPropertyType">
		<sequence>
			<element ref="cgu:CGI_Term"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="CGI_GeometricDescriptionValue" type="cgu:CGI_GeometricDescriptionValueType" abstract="true" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Description of the planar or linear orientation of a geologic feature.   
Allows specifying direction by DirectionVector (eg Dip/Dip Direction), compass point (NE),  description ("toward fold hinge", "below')</documentation>
		</annotation>
	</element>
	<complexType name="CGI_GeometricDescriptionValueType" abstract="true">
		<sequence>
			<element name="determinationMethod" type="gml:ReferenceType" nillable="true">
				<annotation>
					<appinfo>
						<gml:targetElement>DeterminationMethodTerm</gml:targetElement>
					</appinfo>
					<documentation>Describes the way the orientation value was determined (eg measured, inferred from dip slope, etc)</documentation>
				</annotation>
			</element>
			<element name="descriptiveOrientation" nillable="true">
				<annotation>
					<documentation>terminologic specification of orientation, referencing to some local geography</documentation>
				</annotation>
				<complexType>		<!-- Added nillable and nilReason complexType  -  OLR 24-11-10   -->
					<complexContent>
						<extension base="cgu:CGI_TermPropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>	
			</element>
		</sequence>
	</complexType>
	<complexType name="CGI_GeometricDescriptionValuePropertyType">
		<sequence>
			<element ref="cgu:CGI_GeometricDescriptionValue"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="CGI_Value" type="cgu:CGI_ValueType" abstract="true" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>The Value structures are for when you need 
1. a qualifier, 
2. to be able to use either single values or ranges, or 
3. to express uncertainty on numeric values
4. use numbers or words as alternatives for a single value or in a mixed range

e.g. "usually X", "greater than Y" where X and Y are either a Measure (number with a scale) or Term (word from a vocabulary) or a range constructed from measures and terms</documentation>
		</annotation>
	</element>
	<complexType name="CGI_ValueType" abstract="true"/>
	<complexType name="CGI_ValuePropertyType">
		<sequence>
			<element ref="cgu:CGI_Value"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="DescriptionPurposeType">
		<union memberTypes="cgu:DescriptionPurposeEnumerationType cgu:DescriptionPurposeOtherType"/>
	</simpleType>
	<simpleType name="DescriptionPurposeEnumerationType">
		<restriction base="string">
			<enumeration value="instance">
				<annotation>
					<documentation>Instance -- a description that is specific to a particular observed occurrence. This is 'raw data', and its classification may start out as very general. There are kinds of narrowly defined ControlledConcepts that might not allow 'instances' that are different from the DefiningNorm. It might be worth considering a different relationship between MappedFeature and an Instance GeologicEntity, with the GeologicEntity role being 'description'.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="definingNorm">
				<annotation>
					<documentation>DefiningNorm -- a description that specifies properties sufficient to identify a new occurrence as belonging to the class represented by the description. Basically these are the 'sufficient conditions' for class membership. Used when presented with a query 'I have an outcrop with these properties; which geologic unit should I assign to the outcrop?' DefiningNorm has to do with the intension of a ControlledConcept.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="typicalNorm">
				<annotation>
					<documentation>TypicalNorm -- a description that specifies properties to be expected of some occurrence associated with the GeologicEntity. This description may include many properties that are not part of the DefiningNorm. For example, the fact that granite is typically light-colored is not a defining property, but is certainly a useful typical property. These kinds of descriptions would be used to address queries like 'This area is within a polygon classified as Podunk Formation; what sort of lithology am I most likely to encounter when I start digging?' The Podunk Formation may be defined by the presence of a certain ammonite... TypicalNorm description would be constructed as a summary over many Instance descriptions.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="DescriptionPurposeOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
</schema>
