tags/3.0.0_rc2/schemas/temporalreferencesystem/3.0/trs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:gml="http://www.opengis.net/gml/3.2" 
	xmlns:cgu="http://xmlns.geosciml.org/Utilities/3.0" 
	xmlns:trs="http://xmlns.geosciml.org/TemporalReferenceSystem/3.0" 
	targetNamespace="http://xmlns.geosciml.org/TemporalReferenceSystem/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>This package is an extension of ISO19108 Temporal Schema</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://xmlns.geosciml.org/Utilities/3.0" schemaLocation="http://schemas.geosciml.org/cgiutilities/3.0/cgiUtilities.xsd"/>
	<element name="TimeOrdinalEraBoundary" type="trs:TimeOrdinalEraBoundaryType" substitutionGroup="gml:AbstractGML"/>
	<complexType name="TimeOrdinalEraBoundaryType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="position" type="gml:TimeInstantPropertyType"/>
					<element name="nextEra" type="trs:TimeOrdinalEraPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="previousEra" type="trs:TimeOrdinalEraPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TimeOrdinalEraBoundaryPropertyType">
		<sequence minOccurs="0">
			<element ref="trs:TimeOrdinalEraBoundary"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="TimeOrdinalEra" type="trs:TimeOrdinalEraType" substitutionGroup="gml:AbstractGML">
		<annotation>
			<documentation>The association of an era with a stratotype is optional. 
In the GSSP approach recommended by ICS for the Global Geologic Timescale, Unit Stratotypes are not used. 
Rather, the association of an Era with geologic units and sections is indirect, via the association of an era with Boundaries, which are in turn tied to Stratotype Points, which occur within host Stratotype Sections. 
Note that the "German School" defines stratigraphic eras conceptually, without reference to stratotypes.</documentation>
		</annotation>
	</element>
	<complexType name="TimeOrdinalEraType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="name" type="cgu:LocalizedGenericNameType" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>A localized term that acts as a human-readable label for the concept. 
This is not the concept identifier.</documentation>
						</annotation>
					</element>
					<element name="start" type="trs:TimeOrdinalEraBoundaryPropertyType"/>
					<element name="end" type="trs:TimeOrdinalEraBoundaryPropertyType"/>
					<element name="member" type="trs:TimeOrdinalEraPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TimeOrdinalEraPropertyType">
		<sequence minOccurs="0">
			<element ref="trs:TimeOrdinalEra"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="TimeOrdinalReferenceSystem" type="trs:TimeOrdinalReferenceSystemType" substitutionGroup="gml:TimeReferenceSystem"/>
	<complexType name="TimeOrdinalReferenceSystemType">
		<complexContent>
			<extension base="gml:TimeReferenceSystemType">
				<sequence>
					<element name="component" type="trs:TimeOrdinalEraPropertyType" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TimeOrdinalReferenceSystemPropertyType">
		<sequence minOccurs="0">
			<element ref="trs:TimeOrdinalReferenceSystem"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
