branches/3.0.0_rc1_gml3.1/vocabulary/3.0.0/xsd/vocabulary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gvoc="urn:cgi:xmlns:CGI:Vocabulary:3.0.0" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:3.0.0" xmlns:isp="urn:cgi:xmlns:CGI:ISO19115_Proxy:3.0.0" targetNamespace="urn:cgi:xmlns:CGI:Vocabulary:3.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>The GeoSciML Vocabulary package contains classes to support definitions and classifications. 

This package is viewed as interim until suitable ontology models and systems are identified.</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="urn:cgi:xmlns:CGI:Utilities:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc1_gml3.1/cgiUtilities/3.0.0/xsd/cgiUtilities.xsd"/>
	<import namespace="urn:cgi:xmlns:CGI:ISO19115_Proxy:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19115_Proxy/xsd/iso19115proxy.xsd"/>
	<element name="ControlledConcept" type="gvoc:ControlledConceptType" substitutionGroup="gml:Definition">
		<annotation>
			<documentation>Element to represent a defined concept.
A concept in the context of a GeologicVocabulary.   A relationship class representing inclusion of an instance of a concept in a GeologicVocabulary. The GeologicConcept instance must have an associated definition (prototype 0..1), which may be text for human interpretation, or a formal description in the form of a geologic entity. 

    * items in the classification framework
    * every GeologicUnit may be classified as being representative of a Controlled Concept. This may be a formal stratigraphic unit from a stratigraphic lexicon, or some generic mappable concept like 'alluvial fan deposit' or 'basaltic rock'.
    * a Controlled Concept instance mayt be associated with one special feature or object, which is the prototype or normative description meant to specify what the concept represents.</documentation>
		</annotation>
	</element>
	<complexType name="ControlledConceptType">
		<complexContent>
			<extension base="gml:DefinitionType">
				<sequence>
					<element name="name" type="cgu:LocalizedGenericNameType" maxOccurs="unbounded">
						<annotation>
							<documentation>A localized term that acts as a human-readable label for the concept. 
This is not the concept identifier.</documentation>
						</annotation>
					</element>
					<element name="vocabulary" type="gvoc:GeologicVocabularyPropertyType"/>
					<element name="linkToTarget" type="gvoc:VocabRelationPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="prototype" type="gml:AssociationType" minOccurs="0"/>
					<!--FL not in 3.1<element name="prototype" type="gml:AssociationRoleType" minOccurs="0"/>-->
					<element name="metadata" type="isp:MD_MetadataPropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ControlledConceptPropertyType">
		<sequence minOccurs="0">
			<element ref="gvoc:ControlledConcept"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="GeologicVocabulary" type="gvoc:GeologicVocabularyType" substitutionGroup="gml:Dictionary">
		<annotation>
			<documentation>A collection of terms (ControlledConcepts) and their associated definitions and relationships between the terms, usually organized in some logical fashion such as in a hierarchy (geologic time, rocks, unconsolidated deposits...).   An instance of a GeologicConcept may occur only once in a particular GeologicVocabulary.

In GeoSciML this is normally identified using a URN in the "classifierScheme" branch of the CGI URN scheme, with the @codesSpace attribute set to "urn:ieft:rfc:2141".</documentation>
		</annotation>
	</element>
	<complexType name="GeologicVocabularyType">
		<complexContent>
			<extension base="gml:DictionaryType">
				<sequence>
					<element name="metadata" type="isp:MD_MetadataPropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicVocabularyPropertyType">
		<sequence minOccurs="0">
			<element ref="gvoc:GeologicVocabulary"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="StratigraphicLexicon" type="gvoc:StratigraphicLexiconType" substitutionGroup="gvoc:GeologicVocabulary">
		<annotation>
			<documentation>Geologic vocabulary that is a collection of ControlledConcepts that have (or could have...) GeologicFeature.GeologicUnit prototoype instances.</documentation>
		</annotation>
	</element>
	<complexType name="StratigraphicLexiconType">
		<complexContent>
			<extension base="gvoc:GeologicVocabularyType"/>
		</complexContent>
	</complexType>
	<complexType name="StratigraphicLexiconPropertyType">
		<sequence minOccurs="0">
			<element ref="gvoc:StratigraphicLexicon"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="VocabRelation" type="gvoc:VocabRelationType" substitutionGroup="gml:Definition">
		<annotation>
			<documentation>Relationships between ControlledConcepts. Use to implement thesaurus type relationships like 'broader than', 'narrower than', 'related term', 'synonym' etc. role attribute specifies relationship from source to target, read 'source' 'role' 'target'. 

VocabRelation and some other components may be replaced by another mechanism (OWL, SKOS, RDF, etc) at some future date, according to maturity and adoption level of standard technologies</documentation>
		</annotation>
	</element>
	<complexType name="VocabRelationType">
		<complexContent>
			<extension base="gml:DefinitionType">
				<sequence>
					<!--<element name="role" type="gml:ScopedNamePropertyType">-->
					<element name="role" type="cgu:CodeWithAuthorityType">
						<annotation>
							<documentation>Term that specifies the relationship between source and target vocabulary terms. Terms should be constructed so the source to target reading of the relationship is clear, for example SourceIsBroaderTerm, SourceIsChildOfTarget.</documentation>
						</annotation>
					</element>
					<element name="target" type="gvoc:ControlledConceptPropertyType"/>
					<element name="source" type="gvoc:ControlledConceptPropertyType"/>
					<element name="vocabulary" type="gvoc:GeologicVocabularyPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VocabRelationPropertyType">
		<sequence minOccurs="0">
			<element ref="gvoc:VocabRelation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
</schema>
