tags/2.0_20080115/schema/GeoTime/stratEnums.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gt="urn:cgi:xmlns:CGI:GeoTime:2.0"
    targetNamespace="urn:cgi:xmlns:CGI:GeoTime:2.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <include schemaLocation="geologicTime.xsd"/>
    <simpleType name="GeochronEraRankType">
        <restriction base="string">
            <enumeration value="Chron"/>
            <enumeration value="Sub-Age"/>
            <enumeration value="Age"/>
            <enumeration value="Sub-Epoch"/>
            <enumeration value="Epoch"/>
            <enumeration value="Sub-Period"/>
            <enumeration value="Period"/>
            <enumeration value="Sub-Era"/>
            <enumeration value="Era"/>
            <enumeration value="Eon"/>
            <enumeration value="Sub-Eon"/>
        </restriction>
    </simpleType>
    <simpleType name="geochronologyProcedureCodeType">
        <restriction base="string"/>
    </simpleType>
    <simpleType name="StratUnitRankType">
        <restriction base="string">
            <enumeration value="Zone"/>
            <enumeration value="Sub-Stage"/>
            <enumeration value="Stage"/>
            <enumeration value="Sub-Series"/>
            <enumeration value="Series"/>
            <enumeration value="Sub-System"/>
            <enumeration value="System"/>
            <enumeration value="Sub-Erathem"/>
            <enumeration value="Erathem"/>
            <enumeration value="Eonothem"/>
            <enumeration value="Sub-Eonothem"/>
        </restriction>
    </simpleType>
</schema>
