trunk/schema/GeoTime/basicTypes.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml"
    xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" xmlns:gmd="http://www.isotc211.org/2005/gmd"
    xmlns:sa="http://www.opengis.net/sampling/1.0" xmlns:om="http://www.opengis.net/om/1.0"
    xmlns:gt="urn:cgi:xmlns:CGI:GeoTime:2.0" targetNamespace="urn:cgi:xmlns:CGI:GeoTime:2.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="http://www.opengis.net/om/1.0"
        schemaLocation="http://schemas.opengis.net/om/1.0.0/extensions/om_extended.xsd"/>
    <import namespace="http://www.opengis.net/sampling/1.0"
        schemaLocation="http://schemas.opengis.net/sampling/1.0.0/sampling.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:GeoSciML:2.0"
        schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/trunk/schema/GeoSciML/geosciml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd"
        schemaLocation="http://www.isotc211.org/2005/gmd/dataQuality.xsd"/>
    <include schemaLocation="geologicTime.xsd"/>
    <element name="DateMeasurement" substitutionGroup="om:Observation" type="gt:DateMeasurementType"/>
    <complexType name="DateMeasurementType">
        <complexContent>
            <extension base="om:ObservationType"/>
        </complexContent>
    </complexType>
    <complexType name="DateMeasurementPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:DateMeasurement"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="ChronostratigraphicBoundary" substitutionGroup="gt:StratigraphicBoundary"
        type="gt:ChronostratigraphicBoundaryType"/>
    <complexType name="ChronostratigraphicBoundaryType">
        <complexContent>
            <extension base="gt:StratigraphicBoundaryType">
                <sequence>
                    <element name="unitAbove" type="gt:ChronostratigraphicUnitPropertyType"/>
                    <element name="event" type="gt:StratigraphicEventPropertyType"/>
                    <element name="correlatesWith" type="gt:GeochronologicBoundaryPropertyType"/>
                    <element name="unitBeneath" type="gt:ChronostratigraphicUnitPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ChronostratigraphicBoundaryPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:ChronostratigraphicBoundary"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="StratigraphicBoundary" substitutionGroup="gsml:Contact" type="gt:StratigraphicBoundaryType"/>
    <complexType name="StratigraphicBoundaryType">
        <complexContent>
            <extension base="gsml:ContactType"/>
        </complexContent>
    </complexType>
    <complexType name="StratigraphicBoundaryPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:StratigraphicBoundary"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="BiostratigraphicUnit" substitutionGroup="gml:_Feature" type="gt:BiostratigraphicUnitType"/>
    <complexType name="BiostratigraphicUnitType">
        <complexContent>
            <extension base="gml:AbstractFeatureType"/>
        </complexContent>
    </complexType>
    <complexType name="BiostratigraphicUnitPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:BiostratigraphicUnit"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="GeochronSpecimen" substitutionGroup="sa:Specimen" type="gt:GeochronSpecimenType"/>
    <complexType name="GeochronSpecimenType">
        <complexContent>
            <extension base="sa:SpecimenType"/>
        </complexContent>
    </complexType>
    <complexType name="GeochronSpecimenPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:GeochronSpecimen"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="StratigraphicEvent" substitutionGroup="gsml:GeologicEvent" type="gt:StratigraphicEventType">
        <annotation>
            <documentation>Event is most often biostratigraphic, e.g. "First appearance of conodont X", but sometimes a
                paleomagnetic reversal, a chemostratigraphic, cyclostratigraphic or astrochronological event. It is a
                description of an event hypothsized to be demonstrated at the GSSP Point (Golden Spike). Note that since
                the Point is the ultimate reference object, the *Event*, rather than the *Point*, must be changed if
                evidence related to the original "event" is found on the wrong side of the Point. This constrast with
                an"event-chronologic" approach, by which the event would be defined first, so the position of the Point
                would have to be adjusted as a consequence of new evidence. </documentation>
        </annotation>
    </element>
    <complexType name="StratigraphicEventType">
        <complexContent>
            <extension base="gsml:GeologicEventType">
                <sequence>
                    <element name="prototype" type="gt:StratigraphicPointPropertyType"/>
                    <element name="manifestedBy" type="gt:ChronostratigraphicBoundaryPropertyType"/>
                    <element name="correlatesWith" type="gt:GeochronologicBoundaryPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="StratigraphicEventPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:StratigraphicEvent"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="ChronostratigraphicUnit" substitutionGroup="gsml:GeologicUnit" type="gt:ChronostratigraphicUnitType">
        <annotation>
            <documentation>The set of all strata on earth that were formed during the related Era</documentation>
        </annotation>
    </element>
    <complexType name="ChronostratigraphicUnitType">
        <complexContent>
            <extension base="gsml:GeologicUnitType">
                <sequence>
                    <element name="rank" type="gt:StratUnitRankType"/>
                    <element name="formedDuring" type="gt:GeochronologicEraPropertyType"/>
                    <element name="upperBound" type="gt:ChronostratigraphicBoundaryPropertyType"/>
                    <element name="lowerBound" type="gt:ChronostratigraphicBoundaryPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ChronostratigraphicUnitPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:ChronostratigraphicUnit"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="StratigraphicPoint" substitutionGroup="sa:SamplingPoint" type="gt:StratigraphicPointType"/>
    <complexType name="StratigraphicPointType">
        <complexContent>
            <extension base="sa:SamplingPointType">
                <sequence>
                    <element name="status" type="string"/>
                    <element name="primaryGuidingCriterion" type="string"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="additionalCorrelationProperty" type="string"/>
                    <element name="boundary" type="gt:GeochronologicBoundaryPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="1" name="event" type="gt:StratigraphicEventPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="StratigraphicPointPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:StratigraphicPoint"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="GlobalStratotypeSection" substitutionGroup="gt:StratigraphicSection"
        type="gt:GlobalStratotypeSectionType"/>
    <complexType name="GlobalStratotypeSectionType">
        <complexContent>
            <extension base="gt:StratigraphicSectionType"/>
        </complexContent>
    </complexType>
    <complexType name="GlobalStratotypeSectionPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:GlobalStratotypeSection"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="DatingProcedure" substitutionGroup="om:ObservationProcess" type="gt:DatingProcedureType"/>
    <complexType name="DatingProcedureType">
        <complexContent>
            <extension base="om:ObservationProcessType"/>
        </complexContent>
    </complexType>
    <complexType name="DatingProcedurePropertyType">
        <sequence minOccurs="0">
            <element ref="gt:DatingProcedure"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="GlobalStratotypePoint" substitutionGroup="gt:StratigraphicPoint" type="gt:GlobalStratotypePointType"/>
    <complexType name="GlobalStratotypePointType">
        <complexContent>
            <extension base="gt:StratigraphicPointType"/>
        </complexContent>
    </complexType>
    <complexType name="GlobalStratotypePointPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:GlobalStratotypePoint"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="StratigraphicSection" substitutionGroup="sa:SamplingCurve" type="gt:StratigraphicSectionType"/>
    <complexType name="StratigraphicSectionType">
        <complexContent>
            <extension base="sa:SamplingCurveType">
                <sequence>
                    <element name="conservation" type="string"/>
                    <element name="accessibility" type="string"/>
                    <element name="geologicSetting" type="string"/>
                    <element name="geologicDescription" type="string">
                        <annotation>
                            <documentation>Lithology, Sedimentology, Paleobathymetry</documentation>
                        </annotation>
                    </element>
                    <element name="era" type="gt:GeochronologicEraPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="StratigraphicSectionPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:StratigraphicSection"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="ChemostratigraphicUnit" substitutionGroup="gml:_Feature" type="gt:ChemostratigraphicUnitType">
        <annotation>
            <documentation>Usually involving isotopes</documentation>
        </annotation>
    </element>
    <complexType name="ChemostratigraphicUnitType">
        <complexContent>
            <extension base="gml:AbstractFeatureType"/>
        </complexContent>
    </complexType>
    <complexType name="ChemostratigraphicUnitPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:ChemostratigraphicUnit"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="LithostratigraphicBoundary" substitutionGroup="gt:StratigraphicBoundary"
        type="gt:LithostratigraphicBoundaryType"/>
    <complexType name="LithostratigraphicBoundaryType">
        <complexContent>
            <extension base="gt:StratigraphicBoundaryType"/>
        </complexContent>
    </complexType>
    <complexType name="LithostratigraphicBoundaryPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:LithostratigraphicBoundary"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="StandardGlobalNumericalAge" substitutionGroup="gt:NumericEraBoundary"
        type="gt:StandardGlobalNumericalAgeType"/>
    <complexType name="StandardGlobalNumericalAgeType">
        <complexContent>
            <extension base="gt:NumericEraBoundaryType"/>
        </complexContent>
    </complexType>
    <complexType name="StandardGlobalNumericalAgePropertyType">
        <sequence minOccurs="0">
            <element ref="gt:StandardGlobalNumericalAge"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="TimeOrdinalEraBoundary" substitutionGroup="gml:_GML" type="gt:TimeOrdinalEraBoundaryType"/>
    <complexType name="TimeOrdinalEraBoundaryType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="nextEra" type="gt:TimeOrdinalEraPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="previousEra" type="gt:TimeOrdinalEraPropertyType"/>
                    <element name="position" type="gml:TimeInstantPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TimeOrdinalEraBoundaryPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:TimeOrdinalEraBoundary"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="StratigraphicDateEstimate" substitutionGroup="gml:TimeInstant"
        type="gt:StratigraphicDateEstimateType"/>
    <complexType name="StratigraphicDateEstimateType">
        <complexContent>
            <extension base="gml:TimeInstantType">
                <sequence>
                    <element name="quality" type="gmd:DQ_ThematicAccuracy_PropertyType"/>
                    <element name="status" type="string"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="observationalBasis"
                        type="om:ObservationPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="StratigraphicDateEstimatePropertyType">
        <sequence minOccurs="0">
            <element ref="gt:StratigraphicDateEstimate"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="GeochronologicBoundary" substitutionGroup="gt:TimeOrdinalEraBoundary"
        type="gt:GeochronologicBoundaryType"/>
    <complexType name="GeochronologicBoundaryType">
        <complexContent>
            <extension base="gt:TimeOrdinalEraBoundaryType">
                <sequence>
                    <element name="event" type="gt:StratigraphicEventPropertyType"/>
                    <element name="manifestedBy" type="gt:ChronostratigraphicBoundaryPropertyType"/>
                    <element name="stratotype" type="gt:StratigraphicPointPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeochronologicBoundaryPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:GeochronologicBoundary"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="GeologicTimescale" substitutionGroup="gt:TimeOrdinalReferenceSystem" type="gt:GeologicTimescaleType">
        <annotation>
            <documentation>The classic "Geologic Timescale" comprising an ordered, hierarchical set of named "eras" is
                an example of an Ordinal Temporal Reference System. It may be calibrated with reference to a numeric
                Temporal Coordinate System, but is in principle defined independently. </documentation>
        </annotation>
    </element>
    <complexType name="GeologicTimescaleType">
        <complexContent>
            <extension base="gt:TimeOrdinalReferenceSystemType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="2" name="referencePoint"
                        type="gt:TimeOrdinalEraBoundaryPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeologicTimescalePropertyType">
        <sequence minOccurs="0">
            <element ref="gt:GeologicTimescale"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="NumericEraBoundary" substitutionGroup="gt:TimeOrdinalEraBoundary" type="gt:NumericEraBoundaryType">
        <annotation>
            <documentation>Used for pre-Ediacaran and Pleistocene / Holocene boundaries in the standard
            timescale</documentation>
        </annotation>
    </element>
    <complexType name="NumericEraBoundaryType">
        <complexContent>
            <extension base="gt:TimeOrdinalEraBoundaryType">
                <sequence>
                    <element name="status" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="NumericEraBoundaryPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:NumericEraBoundary"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="TimeOrdinalEra" substitutionGroup="gml:_GML" type="gt:TimeOrdinalEraType">
        <annotation>
            <documentation>The association of an era with a stratotype is optional. In the GSSP approach recommended by
                ICS for the Global Geologic Timescale, Unit Stratotypes are not used. Rather, the association of an Era
                with geologic units and sections is indirect, via the association of an era with Boundaries, which are
                in turn tied to Stratotype Points, which occur within host Stratotype Sections. Note that the "German
                School" defines stratigraphic eras conceptually, without reference to stratotypes.</documentation>
        </annotation>
    </element>
    <complexType name="TimeOrdinalEraType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="member" type="gt:TimeOrdinalEraPropertyType"/>
                    <element name="end" type="gt:TimeOrdinalEraBoundaryPropertyType"/>
                    <element name="start" type="gt:TimeOrdinalEraBoundaryPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TimeOrdinalEraPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:TimeOrdinalEra"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="GeochronologicEra" substitutionGroup="gt:TimeOrdinalEra" type="gt:GeochronologicEraType">
        <annotation>
            <documentation>The association of an era with a stratotype is optional. In the GSSP approach recommended by
                ICS for the Global Geologic Timescale, Unit Stratotypes are not used. Rather, the association of an Era
                with geologic units and sections is indirect, via the association of an era with Boundaries, which are
                in turn tied to Stratotype Points, which occur within host Stratotype Sections. Note that the "German
                School" defines stratigraphic eras conceptually, without reference to stratotypes.</documentation>
        </annotation>
    </element>
    <complexType name="GeochronologicEraType">
        <complexContent>
            <extension base="gt:TimeOrdinalEraType">
                <sequence>
                    <element name="rank" type="gt:GeochronEraRankType"/>
                    <element name="manifestedBy" type="gt:ChronostratigraphicUnitPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="stratotype" type="gt:StratigraphicSectionPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeochronologicEraPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:GeochronologicEra"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="TimeOrdinalReferenceSystem" substitutionGroup="gml:_TimeReferenceSystem"
        type="gt:TimeOrdinalReferenceSystemType"/>
    <complexType name="TimeOrdinalReferenceSystemType">
        <complexContent>
            <extension base="gml:AbstractTimeReferenceSystemType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="component" type="gt:TimeOrdinalEraPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TimeOrdinalReferenceSystemPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:TimeOrdinalReferenceSystem"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="MagnetostratigraphicEra" substitutionGroup="gt:GeochronologicEra"
        type="gt:MagnetostratigraphicEraType"/>
    <complexType name="MagnetostratigraphicEraType">
        <complexContent>
            <extension base="gt:GeochronologicEraType"/>
        </complexContent>
    </complexType>
    <complexType name="MagnetostratigraphicEraPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:MagnetostratigraphicEra"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <simpleType name="relativePosition_childType">
        <restriction base="string"/>
    </simpleType>
</schema>
