trunk/schema/GeoTime/trs.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gt="urn:cgi:xmlns:CGI:GeoTime:2.0" targetNamespace="urn:cgi:xmlns:CGI:GeoTime:2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" gt:dummy="" gml:dummy=""><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <include schemaLocation="geologicTime.xsd"/>
    <element name="StandardGlobalNumericalAge" substitutionGroup="gt:NumericEraBoundary" type="gt:StandardGlobalNumericalAgeType"/>
    <complexType name="StandardGlobalNumericalAgeType">
        <complexContent>
            <extension base="gt:NumericEraBoundaryType"/>
        </complexContent>
    </complexType>
    <complexType name="StandardGlobalNumericalAgePropertyType">
        <sequence minOccurs="0">
            <element ref="gt:StandardGlobalNumericalAge"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="TimeOrdinalEraBoundary" substitutionGroup="gml:_GML" type="gt:TimeOrdinalEraBoundaryType"/>
    <complexType name="TimeOrdinalEraBoundaryType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="position" type="gml:TimeInstantPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="previousEra" type="gt:TimeOrdinalEraPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="nextEra" type="gt:TimeOrdinalEraPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TimeOrdinalEraBoundaryPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:TimeOrdinalEraBoundary"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="TimeOrdinalEra" substitutionGroup="gml:_GML" type="gt:TimeOrdinalEraType">
        <annotation>
            <documentation>The association of an era with a stratotype is optional. 
In the GSSP approach recommended by ICS for the Global Geologic Timescale, Unit Stratotypes are not used. 
Rather, the association of an Era with geologic units and sections is indirect, via the association of an era with Boundaries, which are in turn tied to Stratotype Points, which occur within host Stratotype Sections. 
Note that the "German School" defines stratigraphic eras conceptually, without reference to stratotypes.</documentation>
        </annotation>
    </element>
    <complexType name="TimeOrdinalEraType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="start" type="gt:TimeOrdinalEraBoundaryPropertyType"/>
                    <element name="end" type="gt:TimeOrdinalEraBoundaryPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="member" type="gt:TimeOrdinalEraPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TimeOrdinalEraPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:TimeOrdinalEra"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="TimeOrdinalReferenceSystem" substitutionGroup="gml:_TimeReferenceSystem" type="gt:TimeOrdinalReferenceSystemType"/>
    <complexType name="TimeOrdinalReferenceSystemType">
        <complexContent>
            <extension base="gml:AbstractTimeReferenceSystemType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="component" type="gt:TimeOrdinalEraPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TimeOrdinalReferenceSystemPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:TimeOrdinalReferenceSystem"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
</schema>