trunk/XMML/base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.opengis.net/xmml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release" xmlns:gml="http://www.opengis.net/gml" xmlns:cil="urn:oasis:names:tc:ciq:xsdschema:xCIL:2.0" xmlns:nal="urn:oasis:names:tc:ciq:xsdschema:xNAL:2.0" xmlns:al="urn:oasis:names:tc:ciq:xsdschema:xAL:2.0" xmlns:nl="urn:oasis:names:tc:ciq:xsdschema:xNL:2.0" xmlns:smXML="http://www.isotc211.org/smXML" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xmml="http://www.opengis.net/xmml">
	<annotation>
		<documentation>
base.xsd

Some base components required in various places in XMML

2004-07-05

Copyright © 2004 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice
</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/base/feature.xsd"/>
	<import namespace="http://www.isotc211.org/smXML" schemaLocation="./smXML4xmml.xsd">
		<annotation>
			<documentation>ISO/TC 211 metadata schema</documentation>
		</annotation>
	</import>
	<import namespace="urn:oasis:names:tc:ciq:xsdschema:xCIL:2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/xmml/trunk/oasis/OASIS-CIQ/xCIL.xsd">
		<annotation>
			<documentation>Names, addresses, organisations, contacts</documentation>
		</annotation>
	</import>
	<import namespace="urn:oasis:names:tc:ciq:xsdschema:xNAL:2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/xmml/trunk/oasis/OASIS-CIQ/xNAL.xsd">
		<annotation>
			<documentation>Names, addresses, organisations</documentation>
		</annotation>
	</import>
	<import namespace="urn:oasis:names:tc:ciq:xsdschema:xNL:2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/xmml/trunk/oasis/OASIS-CIQ/xNL.xsd">
		<annotation>
			<documentation>Names</documentation>
		</annotation>
	</import>
	<import namespace="urn:oasis:names:tc:ciq:xsdschema:xAL:2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/xmml/trunk/oasis/OASIS-CIQ/xAL.xsd">
		<annotation>
			<documentation>addresses</documentation>
		</annotation>
	</import>
	<include schemaLocation="./basicTypes.xsd"/>
	<include schemaLocation="../enumerations/LUTmaintenance.xsd"/>
	<!-- ====================================================================== -->
	<!-- =========================================================== -->
	<!-- ================================================================== -->
	<!-- ===== Some useful property components ====== -->
	<!-- ====================================================================== -->
	<element name="support" type="gml:AssociationType">
		<annotation>
			<documentation>A place to attach components that are required to be listed someplace in order that they can be "used" by-reference elsewhere in (usually) the same instance document. </documentation>
		</annotation>
	</element>
	<!-- ===================================================== -->
	<element name="comment" type="gml:StringOrRefType">
		<annotation>
			<documentation>Container for commentary that may not be strictly part of a "description". </documentation>
		</annotation>
	</element>
	<!-- ===================================================== -->
	<group name="StandardSupportProperties">
		<sequence>
			<element ref="xmml:support" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="xmml:comment" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="xmml:reference" minOccurs="0"/>
		</sequence>
	</group>
	<!-- ===================================================== -->
	<group name="StandardDefinitionProperties">
		<sequence>
			<element ref="gml:metaDataProperty" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="gml:description" minOccurs="0"/>
			<element ref="gml:name" maxOccurs="unbounded"/>
		</sequence>
	</group>
	<!-- ===================================================== -->
	<element name="Event" type="xmml:EventType" substitutionGroup="gml:_GML"/>
	<!-- ====================================================================== -->
	<complexType name="EventType">
		<annotation>
			<documentation>Description of an event, particularly that causes transformation, creation or destruction of a feature.  
      The event may be transport or administrative.  
      Use gml:description to describe the nature of the event or action, or to point to a description of it.  
      Use xmml:reference (substitutable for gml:metaDataProperty) to provide a pointer to a citation for the event.
      Specialised event types may be derived from this type. </documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<group ref="xmml:StandardSupportProperties"/>
					<group ref="xmml:EventProperties"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<group name="EventProperties">
		<sequence>
			<element name="eventTime" type="gml:TimeGeometricPrimitivePropertyType">
				<annotation>
					<documentation>The Time when the event occurred.  This may be given 
              * in absolute terms as a TimeInstant or TimePeriod
              * in approximate terms or relative to an absolute position using the indeterminatePosition attribute
              * or using a TimeTopology element (TimeEdge or TimeNode), which provides the option of giving a time relative to other edges or nodes, either directly (gml) or indirectly (xmml) </documentation>
				</annotation>
			</element>
			<element name="responsible" type="xmml:PartyPropertyType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Person or organisation responsible for the event, if applicable. 
					The nature of the responsibility (i.e. the role of the party with respect to the event) may be indicated using the xlink:href attribute. 
					Examples of roles are operator, sponsor, requestor, provider, processor, etc.</documentation>
				</annotation>
			</element>
			<element name="precedingEvent" type="gml:StringOrRefType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Description of, or pointer to, preceding event(s)</documentation>
				</annotation>
			</element>
			<element name="followingEvent" type="gml:StringOrRefType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Description of, or pointer to, following event(s)</documentation>
				</annotation>
			</element>
		</sequence>
	</group>
	<!-- ====================================================================== -->
	<!-- === Objects and properties associated with people, organisations, etc ======== -->
	<!-- ====================================================================== -->
	<element name="actor" type="xmml:PartyPropertyType">
		<annotation>
			<documentation>A generic property whose value is the description of a party, company, person, etc.</documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<element name="responsible" type="xmml:PartyPropertyType">
		<annotation>
			<documentation>Party responsible for action, event, etc.</documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<complexType name="PartyPropertyType">
		<sequence minOccurs="0">
			<group ref="xmml:Party"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ==================================================== -->
	<group name="Party">
		<choice>
			<!--		-->
			<element ref="nl:xNL">
				<annotation>
					<documentation>Contains one or more names (xNL syntax)</documentation>
				</annotation>
			</element>
			<element ref="nal:xNAL">
				<annotation>
					<documentation>Contains one or more Records, each of which contains one or more names (xNL syntax) followed by one or more addresses (xAL syntax)</documentation>
				</annotation>
			</element>
			<element ref="cil:xCIL">
				<annotation>
					<documentation>Contains one or more sets of CustomerDetails, each of which contains a customer ID, one name (xNL syntax), zero or more addresses (xAL syntax), followed by optional organisation or personal information (hobbies, religion, etc)</documentation>
				</annotation>
			</element>
			<element ref="xmml:Party"/>
			<element ref="xmml:Company"/>
			<element ref="xmml:Person"/>
			<element ref="smXML:CI_ResponsibleParty"/>
			<element name="SimpleParty" type="gml:StringOrRefType"/>
		</choice>
	</group>
	<!-- ====================================================================== -->
	<element name="Party" type="xmml:PartyType"/>
	<!-- ====================================================================== -->
	<complexType name="PartyType">
		<complexContent>
			<extension base="cil:Record">
				<attribute name="id" type="ID" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="Company" type="xmml:CompanyType"/>
	<!-- ====================================================================== -->
	<complexType name="CompanyType">
		<sequence>
			<element name="companyName" type="nl:OrganisationNameDetails"/>
			<element name="location" type="al:AddressDetails"/>
		</sequence>
		<attribute name="id" type="ID" use="required"/>
	</complexType>
	<!-- ==================================================== -->
	<element name="Person" type="xmml:PersonType"/>
	<!-- ====================================================================== -->
	<complexType name="PersonType">
		<sequence>
			<element name="personName" type="nl:PersonName"/>
			<element name="location" type="al:AddressDetails"/>
		</sequence>
		<attribute name="id" type="ID" use="required"/>
	</complexType>
	<!-- ==================================================== -->
	<!-- ==== Common metadata components ==== -->
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- ==== Concrete metadata elements ==== -->
	<!-- ====================================================================== -->
	<!-- use ISO 19139 components smXML:MD_Constraints for use and access restrictions, etc -->
	<!-- ====================================================================== -->
	<element name="RecordEvent" type="xmml:RecordEventType">
		<annotation>
			<documentation>An event in the life of a database record. </documentation>
		</annotation>
	</element>
	<!-- ====== -->
	<complexType name="RecordEventType">
		<annotation>
			<documentation>An event in the life of a database record.
			Follows xmml:Event pattern, but derivation designed to fit into Metadata substitution groups</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:EventType">
				<sequence>
					<element name="action" type="xmml:recordActionCodeType">
						<annotation>
							<documentation>created, updated, etc</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====== -->
	<complexType name="RecordEventPropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:RecordEvent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attribute name="about" type="anyURI" use="optional"/>
	</complexType>
	<!-- ====================================================================== -->
	<element name="SimpleCitation" type="string">
		<annotation>
			<documentation>This element is used to record the details of an external source of information, such as a scholarly paper, technical report, or other publication, where the details are encoded as a text description.  It is substitutable for gml:_MetaData, so may appear as the value of a gml:metaDataProperty on most objects and features.
			
			Was type="xmml:TextMetaDataType" substitutionGroup="gml:_MetaData" </documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<element name="reference" type="xmml:CitationPropertyType">
		<annotation>
			<documentation>Holds or points to a Citation.  
      If a URN for the cited work is known then this should appear as the value of a href attribute on the reference element.  
      There are several systems available for assigning URN's to bibliographic resources - see review here: 
          http://www.nla.gov.au/initiatives/persistence/PIcontents.html
      Probably the best developed is DOI, described here: http://www.doi.org/
      also see http://www.crossref.org/01company/15doi_info.html
      Note that the DOI/crossref service is free to users, but not to publishers.       
      
      xmml:reference is substitutable for gml:metaDataProperty, so may appear as a property of most objects and features
    </documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<complexType name="CitationPropertyType">
		<annotation>
			<documentation>Holds or points to a Citation.  
			Additional versions of "Citation" will be added to choice group in due course.     </documentation>
		</annotation>
		<sequence minOccurs="0">
			<choice>
				<element ref="smXML:CI_Citation">
					<annotation>
						<documentation>ISO 19139 component for Citations</documentation>
					</annotation>
				</element>
				<element ref="xmml:SimpleCitation"/>
			</choice>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ===== Some generic elements and datatypes ====== -->
	<!-- ====================================================================== -->
	<simpleType name="Flag">
		<restriction base="boolean">
			<enumeration value="true"/>
		</restriction>
	</simpleType>
	<!-- ====================================================================== -->
	<element name="quality" type="xmml:QualityPropertyType">
		<annotation>
			<documentation>
    Intended to store information concerning the quality of the value.  
    An attribute "method" allows the user to indicate what kind of quality indicator this is: absolute limits, SD, 95% confidence, qualitative code, etc.  </documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<complexType name="QualityPropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:AbstractQuality"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<element name="AbstractQuality" abstract="true">
		<annotation>
			<documentation>Substitution group head</documentation>
		</annotation>
	</element>
	<!-- ... -->
	<element name="ConformanceAssessment" substitutionGroup="xmml:AbstractQuality">
		<annotation>
			<documentation>Descriptive assessment of data conformance</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="specification" type="xmml:CitationPropertyType"/>
				<element name="explanation" type="string"/>
				<element name="pass" type="boolean"/>
			</sequence>
		</complexType>
	</element>
	<element name="QualitativeAssessment" substitutionGroup="xmml:AbstractQuality">
		<annotation>
			<documentation>Descriptive assessment of data quality</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="specification" type="xmml:CitationPropertyType"/>
				<element name="explanation" type="string"/>
				<element name="value" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="QuantitativeAssessment" substitutionGroup="xmml:AbstractQuality">
		<annotation>
			<documentation>Quantitative assessment of data quality</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="specification" type="xmml:CitationPropertyType"/>
				<element name="explanation" type="string"/>
				<element name="values" type="gml:MeasureListType"/>
			</sequence>
		</complexType>
	</element>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- ==== Generic metadata types ==== -->
	<!-- ====================================================================== -->
	<complexType name="ElementOnlyMetaDataType" abstract="true" mixed="false">
		<annotation>
			<documentation>mixed="false", so this can serve as the basis for element-only MetaData elements</documentation>
		</annotation>
		<complexContent mixed="false">
			<restriction base="gml:AbstractMetaDataType"/>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<complexType name="TextMetaDataType" abstract="false">
		<annotation>
			<documentation>Vacuous extension of a mixed type, resulting in just a text element.  For unstructured metadata.</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractMetaDataType"/>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
</schema>
