trunk/XMML/commonFeatures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.opengis.net/xmml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xmml="http://www.opengis.net/xmml">
	<annotation>
		<documentation>
commonFeatures.xsd

Some common feature types for XMML

2004-06-30

Copyright (c) 2004 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice
</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.0/base/feature.xsd"/>
	<include schemaLocation="./observation.xsd"/>
	<include schemaLocation="../enumerations/LUTgeography.xsd"/>
	<!-- ====================================================================== -->
	<!-- ===== Feature types ====== -->
	<!-- ====================================================================== -->
	<element name="Project" type="xmml:ProjectType" substitutionGroup="xmml:Feature"/>
	<!-- ====== -->
	<complexType name="ProjectType">
		<annotation>
			<documentation>Description of unit of activity</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:PositionedFeatureType">
				<sequence>
					<element ref="xmml:mapsheet" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>map sheet designators if needed</documentation>
						</annotation>
					</element>
					<element name="operator" type="xmml:PartyPropertyType" maxOccurs="unbounded">
						<annotation>
							<documentation>The party with primary responsibility for work undertaken in the course of the project</documentation>
						</annotation>
					</element>
					<element name="purpose" type="gml:StringOrRefType" minOccurs="0">
						<annotation>
							<documentation>Description of purpose or goal of project</documentation>
						</annotation>
					</element>
					<element name="active" type="gml:TimePeriodPropertyType">
						<annotation>
							<documentation>Period of activity of project</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="Specimen" type="xmml:SpecimenType" substitutionGroup="xmml:Feature"/>
	<!-- -->
	<complexType name="SpecimenType">
		<annotation>
			<documentation>A located object on which measurements may be made.
			
			A basic material classification is provided using the "material" property. 
			Its value may be relatively generic (rock, pulp) or may reflect a detailed classification (calcrete, adamellite, biotite-schist). 
			In the latter case it is wise to use the codeSpace attribute to provide a link to the classification scheme/vocabulary used. 
			
			Note that if this specimen is a "processed" version of another (e.g. by grinding, seiving, etc) then 
			the predecessor (if known) may be recorded as a relatedFeature
			
			If this specimen has been processed from an "original" specimen, 
			as collected in the field or as supplied to the lab, 
			but results should be reported regarding the original, 
			then the original may be indicated using the reportingSpecimen property.
			
			Related observations may also be recorded using the relatedFeature property. </documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:PositionedFeatureType">
				<sequence>
					<element name="material" type="gml:CodeType">
						<annotation>
							<documentation>Material type, usually taken from a controlled vocabulary
					Specialised domains may choose to fix the vocabulary to be used</documentation>
						</annotation>
					</element>
					<element name="reportingSpecimen" type="gml:ReferenceType" minOccurs="0"/>
					<element ref="xmml:processingStep" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>One or more procedures may have been applied to a specimen.  
            May contain collection, sampling and preparation procedures</documentation>
						</annotation>
					</element>
					<element name="relatedObservation" type="xmml:ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>An observation on the specimen</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<element name="Station" type="xmml:StationType" substitutionGroup="xmml:Feature"/>
	<!-- ====== -->
	<complexType name="StationType">
		<annotation>
			<documentation>A "Station" is an identified position. 
		It may be revisited for various purposes, in particular to retrieve multiple specimens or make repeated or complementary observations. 
		The position property of the station provides the value of the position property of observations an specimens associated with the station. 
		By using the Station feature, this position information and any metadata associated with it may be encoded in one place, i.e. normalised, and then re-used _by reference_ on other feature instances associated with it. 
		 </documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:PositionedFeatureType">
				<sequence>
					<element name="elevation" type="gml:DirectPositionType" minOccurs="0">
						<annotation>
							<documentation>Use the srsName attribute to record the elevation datum</documentation>
						</annotation>
					</element>
					<element name="country" type="xmml:ISOCountry3Char" minOccurs="0"/>
					<element name="surveyDetails" type="xmml:SurveyProcedurePropertyType" minOccurs="0">
						<annotation>
							<documentation>Description of, or link to, the procedure used in determining the position of the station.  
              For complex procedures, such as when elevation and position are determined separately, may be disaggregated. </documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<element name="Tenement" type="xmml:TenementType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>Mining or exploration lease, known as a license area in some jurisdictions.</documentation>
		</annotation>
	</element>
	<!-- ====== -->
	<complexType name="TenementType">
		<complexContent>
			<extension base="xmml:BoundedFeatureType">
				<sequence>
					<element name="shape" type="gml:SurfacePropertyType" nillable="true">
						<annotation>
							<documentation>Outline of tenement</documentation>
						</annotation>
					</element>
					<element name="identifier" type="gml:CodeType">
						<annotation>
							<documentation>The identifier for the tenement, assigned by the appropriate statutory authority.  
              The gml:name element could be used to record this, but this is more explicit and mandatory.  
              gml:name may be used to store alternative names, such as those assigned by the operator or lease holder. </documentation>
						</annotation>
					</element>
					<element name="adminstrator" type="xmml:PartyPropertyType">
						<annotation>
							<documentation>The statutory agency that grants the mining or exploration lease.</documentation>
						</annotation>
					</element>
					<element name="owner" type="xmml:PartyPropertyType">
						<annotation>
							<documentation>The legal entity that holds the mining or exploration lease.</documentation>
						</annotation>
					</element>
					<element name="dateOfApplication" type="date"/>
					<element name="dateGranted" type="date"/>
					<element name="dateExpires" type="date"/>
					<element name="leaseStatus" type="token"/>
					<element name="recordStatus" type="xmml:RecordEventPropertyType"/>
					<element name="tenementType" type="token">
						<annotation>
							<documentation>The type of lease or tenement: e.g. mineral-exploration, oil-exploration, mining, oil-production</documentation>
						</annotation>
					</element>
					<element name="rights" type="gml:StringOrRefType" minOccurs="0">
						<annotation>
							<documentation>A description of or link to the rights associated with this lease or tenement.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="relatedTenement" type="xmml:TenementPropertyType"/>
	<element name="tenementDetails" type="xmml:TenementPropertyType"/>
	<!-- ====== -->
	<complexType name="TenementPropertyType">
		<sequence>
			<element ref="xmml:Tenement" minOccurs="0"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- ===== Properties used by specialised feature types ======= -->
	<!-- ====================================================================== -->
	<element name="parentProject" type="xmml:ProjectPropertyType"/>
	<element name="projectDetails" type="xmml:ProjectPropertyType"/>
	<element name="relatedProject" type="xmml:ProjectPropertyType"/>
	<!-- ====== -->
	<complexType name="ProjectPropertyType">
		<sequence>
			<element ref="xmml:Project" minOccurs="0"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<element name="referenceSpecimen" type="xmml:SpecimenPropertyType"/>
	<element name="relatedSpecimen" type="xmml:SpecimenPropertyType"/>
	<element name="sourceSpecimen" type="xmml:SpecimenPropertyType"/>
	<!-- ====== -->
	<complexType name="SpecimenPropertyType">
		<sequence>
			<element ref="xmml:Specimen" minOccurs="0"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<element name="referenceStation" type="xmml:StationPropertyType"/>
	<element name="relatedStation" type="xmml:StationPropertyType"/>
	<!-- ====== -->
	<complexType name="StationPropertyType">
		<sequence>
			<element ref="xmml:Station" minOccurs="0"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ====== Specialised MetaData ======== -->
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<element name="ReportingMetaData" type="xmml:ReportingMetaDataType"/>
	<!-- ====== -->
	<complexType name="ReportingMetaDataType">
		<complexContent>
			<extension base="xmml:ElementOnlyMetaDataType">
				<sequence>
					<element ref="xmml:projectDetails"/>
					<element ref="xmml:tenementDetails" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
</schema>
