trunk/XMML/coverage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Marcus Sen (british Geological Survey) -->
<schema targetNamespace="http://www.opengis.net/xmml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xmml="http://www.opengis.net/xmml" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema">
	<annotation>
		<documentation source="xw:CoveragesInXmml">
coverage.xsd

A GML conformant schema 
for coverages - modified from GML coverages

2004-07-05

Copyright (c) 2004 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice
</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="./gml4coverage.xsd"/>
	<include schemaLocation="./geometry.xsd"/>
	<include schemaLocation="./temporal.xsd"/>
	<include schemaLocation="./referenceSystems.xsd"/>
	<include schemaLocation="./observation.xsd"/>
	<!-- ====================================================================== -->
	<complexType name="CoveragePropertyType">
		<sequence>
			<element ref="xmml:Coverage" minOccurs="0"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- =========================================================== -->
	<element name="Coverage" type="xmml:CoverageType" abstract="false" substitutionGroup="gml:_Feature"/>
	<!-- =========================================================== -->
	<complexType name="CoverageType" abstract="false">
		<annotation>
			<documentation>A coverage is a set of attribute values (its range) associated to position within a bounded space (its domain). This coverage uses a single coverage function to associate an element from the domain with an element from its range.  This definition conforms to ISO 19123.  Note that coverage is a GML feature.</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:FeatureType">
				<sequence>
					<element ref="xmml:domain"/>
					<element ref="xmml:range"/>
					<element ref="xmml:coverageFunction" minOccurs="0"/>
				</sequence>
				<attribute name="dimension" type="positiveInteger" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="domain" type="xmml:DomainType"/>
	<!-- =========================================================== -->
	<complexType name="DomainType">
		<annotation>
			<documentation>The spatiotemporal domain of a coverage.  
  Typically 
  * a geometry collection, 
  * an implicit geometry (e.g. a grid), 
  * an explicit or implicit collection of time instances or periods

N.B. Temporal domains still to be implemented.</documentation>
		</annotation>
		<sequence minOccurs="0">
			<choice>
				<element ref="gml:_Geometry"/>
				<element ref="gml:_TimeObject"/>
			</choice>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- =========================================================== -->
	<element name="range" type="xmml:RangeType"/>
	<!-- =========================================================== -->
	<complexType name="RangeType">
		<annotation>
			<documentation>Choice of representations of values in the coverage range. In general, the range will describe a composite property. The components of the composite values at sample locations may be described one component or band at a time over the whole domain (BandList or TableByBand), composite value or record for each sample location at a time (RecordList or TableByRecord) or in an external file (File) or as a list of Objects (ObjectList). Text values including whitespace require "special treatment" in </documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="ListOfBands" type="xmml:ListOfBandsType">
					<annotation>
						<documentation>Values in the range represented as vectors in property- component- or band-sequential order - i.e. values for all samples in domain for one component of range, followed by values for all samples in domain for next component, etc</documentation>
					</annotation>
				</element>
				<element name="TableByBand" type="xmml:TableByBandType">
					<annotation>
						<documentation>Values in the range represented as a table in property- component or band-sequential order - i.e. values for all samples in domain for one component of range, followed by values for all samples in domain for next component, etc</documentation>
					</annotation>
				</element>
				<element name="ListOfRecords" type="xmml:ListOfRecordsType">
					<annotation>
						<documentation>Values in the range represented as tuples in band-interleaved (property- or component-interleaved) order - i.e. values for all components of range for one sample in domain, followed by values for all components of range for next sample in domain, etc</documentation>
					</annotation>
				</element>
				<element name="TableByRecord" type="xmml:TableByRecordType">
					<annotation>
						<documentation>Values in the range represented as a table in band-interleaved (property- or component-interleaved) order - i.e. values for all components of range for one sample in domain, followed by values for all components of range for next sample in domain, etc</documentation>
					</annotation>
				</element>
				<element name="ListOfObjects" type="xmml:ListOfObjectsType">
					<annotation>
						<documentation>Values in the range represented as Objects or structured values - following the standard GML Property pattern, the "member" property may carry a link to an out-of-line object. </documentation>
					</annotation>
				</element>
				<element name="ListOfDescriptions" type="xmml:ListOfDescriptionsType">
					<annotation>
						<documentation>Values in the range represented as text.</documentation>
					</annotation>
				</element>
				<element name="File" type="xmml:FileType">
					<annotation>
						<documentation>A reference to an external source for the data, together with a description of how that external source is structured
</documentation>
					</annotation>
				</element>
			</choice>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
	<!-- === Types used in range content choices === -->
	<!-- =========================================================== -->
	<element name="rangeParameters" type="xmml:RSDefinitionPropertyType">
		<annotation>
			<documentation>Container for description of component axes</documentation>
		</annotation>
	</element>
	<!-- =========================================================== -->
	<complexType name="ListOfBandsType">
		<annotation>
			<documentation>A set of lists, each representing a single component of the range.  
          The complete set is the range in "band-sequential" order.  </documentation>
		</annotation>
		<sequence>
			<element ref="xmml:rangeParameters" minOccurs="0"/>
			<choice maxOccurs="unbounded">
				<element name="booleanList" type="xmml:SoftTypedBooleanOrNullListType">
					<annotation>
						<documentation>A list of text values representing a single property, being the set of values in one component of the range.  </documentation>
					</annotation>
				</element>
				<element name="categoryList" type="xmml:SoftTypedCategoryListType">
					<annotation>
						<documentation>A list of text values representing a single property, being the set of values in one component of the range.  
						
						HTML character entities may be used to escape embedded whitespace within a list item to prevent interpretation as a list item separator. 
						See http://www.w3.org/TR/REC-html40/sgml/entities.html. 
						For example &#160; represents a non-breaking space. 
						
						Alternatively, use the "descriptionList" structure provided below. 
						</documentation>
					</annotation>
				</element>
				<element name="countList" type="xmml:SoftTypedCountOrNullListType">
					<annotation>
						<documentation>A list of text values representing a single property, being the set of values in one component of the range.  </documentation>
					</annotation>
				</element>
				<element name="descriptionList" type="xmml:ListOfDescriptionsType">
					<annotation>
						<documentation>A list of text values representing a single property, being the set of values in one component of the range.  
						The values may include embedded whitespace. </documentation>
					</annotation>
				</element>
				<element name="measureList" type="xmml:SoftTypedMeasureOrNullListType">
					<annotation>
						<documentation>A list of numeric values representing a single property, being the set of values in one component of the range.  </documentation>
					</annotation>
				</element>
				<element name="referenceList" type="xmml:refListType">
					<annotation>
						<documentation>A list of URI's, being the a set of references to (possibly complex) values in one component of the range.  </documentation>
					</annotation>
				</element>
			</choice>
		</sequence>
		<attribute name="dimension" type="positiveInteger" use="optional">
			<annotation>
				<documentation>The band count</documentation>
			</annotation>
		</attribute>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="TableByBandType">
		<sequence>
			<element ref="xmml:rangeParameters"/>
			<choice>
				<element name="table" type="xmml:TupleListType">
					<annotation>
						<documentation>A list of general values, being the set of multi-component range values in "band-sequential " order. </documentation>
					</annotation>
				</element>
				<element name="nTable" type="xmml:NumericOrNullTupleListType">
					<annotation>
						<documentation>A list of numeric values, being the set of multi-component range values in "band-sequential " order. </documentation>
					</annotation>
				</element>
			</choice>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="ListOfRecordsType">
		<sequence>
			<element ref="xmml:rangeParameters"/>
			<choice>
				<element name="record" type="xmml:TupleType" maxOccurs="unbounded">
					<annotation>
						<documentation>A list of general tuples, each being one multi-component range value in "band-interleaved" order. </documentation>
					</annotation>
				</element>
				<element name="tuple" type="xmml:TupleType" maxOccurs="unbounded">
					<annotation>
						<documentation>Element name preserved for backward compatibility</documentation>
					</annotation>
				</element>
				<element name="nRecord" type="xmml:NumericOrNullTupleType" maxOccurs="unbounded">
					<annotation>
						<documentation>A list of numeric tuples, each being one multi-component range value in "band-interleaved" order. </documentation>
					</annotation>
				</element>
				<element name="nTuple" type="xmml:NumericOrNullTupleType" maxOccurs="unbounded">
					<annotation>
						<documentation>Element name preserved for backward compatibility </documentation>
					</annotation>
				</element>
			</choice>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="TableByRecordType">
		<sequence>
			<element ref="xmml:rangeParameters"/>
			<choice>
				<element name="table" type="xmml:TupleListType">
					<annotation>
						<documentation>A list of general values, being the set of multi-component range values in "band-interleaved" order. </documentation>
					</annotation>
				</element>
				<element name="nTable" type="xmml:NumericOrNullTupleListType">
					<annotation>
						<documentation>A list of numeric values, being the set of multi-component range values in "band-interleaved" order. </documentation>
					</annotation>
				</element>
			</choice>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="ListOfObjectsType">
		<sequence>
			<element name="member" maxOccurs="unbounded">
				<complexType>
					<sequence minOccurs="0">
						<element ref="gml:_GML"/>
					</sequence>
					<attributeGroup ref="gml:AssociationAttributeGroup"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="ListOfDescriptionsType">
		<sequence>
			<element ref="gml:description" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="property" type="anyURI">
			<annotation>
				<documentation>This attribute holds a reference to or label for the property being described. </documentation>
			</annotation>
		</attribute>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="FileType">
		<sequence>
			<element ref="xmml:rangeParameters"/>
			<element name="fileName" type="anyURI"/>
			<element name="fileStructure" type="xmml:FileValueModelType"/>
			<element name="mimeType" type="anyURI" minOccurs="0"/>
			<element name="compression" type="anyURI" minOccurs="0"/>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
	<simpleType name="FileValueModelType">
		<annotation>
			<documentation>List of codes that identifies the file structure model for records stored in files.</documentation>
		</annotation>
		<restriction base="token">
			<enumeration value="Record Interleaved"/>
			<enumeration value="Band Sequential"/>
		</restriction>
	</simpleType>
	<!-- =========================================================== -->
	<!-- =========================================================== -->
	<element name="coverageFunction" type="xmml:CoverageFunctionType"/>
	<!-- =========================================================== -->
	<complexType name="CoverageFunctionType">
		<annotation>
			<documentation>
      The function or rule which defines the map from members of the domainSet to the range.  
      More functions will be added to this list
    </documentation>
		</annotation>
		<choice>
			<element ref="xmml:MappingRule"/>
			<element ref="xmml:GridFunction"/>
		</choice>
	</complexType>
	<!-- =========================================================== -->
	<!-- ============= Components for coverageFunctions ================ -->
	<!-- =========================================================== -->
	<element name="MappingRule" type="gml:StringOrRefType">
		<annotation>
			<documentation>Description of a rule for associating members from the domainSet with members of the rangeSet.  </documentation>
		</annotation>
	</element>
	<!-- =========================================================== -->
	<element name="GridFunction" type="xmml:GridFunctionType"/>
	<!-- =========================================================== -->
	<complexType name="GridFunctionType">
		<annotation>
			<documentation>Defines how values in the domain are mapped to the range set. The start point and the sequencing rule are specified here.</documentation>
		</annotation>
		<sequence>
			<element name="sequenceRule" type="xmml:SequenceRuleType" minOccurs="0">
				<annotation>
					<documentation>If absent, the implied value is "Linear".</documentation>
				</annotation>
			</element>
			<element name="startPoint" type="gml:integerList" minOccurs="0">
				<annotation>
					<documentation>Index position of the first grid post.  If absent the startPoint is equal to the value of gridEnvelope::low from the grid definition.  </documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
	<element name="IndexMap" type="xmml:IndexMapType" substitutionGroup="xmml:GridFunction"/>
	<!-- =========================================================== -->
	<complexType name="IndexMapType">
		<annotation>
			<documentation>Exends GridFunctionType with a lookUpTable.  This contains a list of indexes of members within the rangeSet corresponding with the members of the domainSet.  The domainSet is traversed in list order if it is enumerated explicitly, or in the order specified by a SequenceRule if the domain is an implicit set.    The length of the lookUpTable corresponds with the length of the subset of the domainSet for which the coverage is defined.  </documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:GridFunctionType">
				<sequence>
					<element name="lookUpTable" type="gml:integerList"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="SequenceRuleType">
		<simpleContent>
			<extension base="xmml:SequenceRuleNames">
				<attribute name="order" type="xmml:IncrementOrder" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<!-- =========================================================== -->
	<simpleType name="SequenceRuleNames">
		<annotation>
			<documentation>List of codes (adopted from ISO 19123 Annex C) that identifies the rule for traversing a grid to correspond with the sequence of members of the rangeSet.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Linear"/>
			<enumeration value="Boustrophedonic"/>
			<enumeration value="Cantor-diagonal"/>
			<enumeration value="Spiral"/>
			<enumeration value="Morton"/>
			<enumeration value="Hilbert"/>
		</restriction>
	</simpleType>
	<!-- =========================================================== -->
	<simpleType name="IncrementOrder">
		<annotation>
			<documentation>The enumeration value here indicates the incrementation order  to be used on the first 2 axes, i.e. "+x-y" means that the points on the first axis are to be traversed from lowest to highest and  the points on the second axis are to be traversed from highest to lowest. The points on all other axes (if any) beyond the first 2 are assumed to increment from lowest to highest.
XXXXXXXXXXXXXXX need to make this more comprehensive
</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="+x+y"/>
			<enumeration value="+y+x"/>
			<enumeration value="+x-y"/>
			<enumeration value="-y-x"/>
		</restriction>
	</simpleType>
	<!-- =========================================================== -->
	<!-- === a specialised metadata element describing the method of acquisition of the range components === -->
	<!-- =========================================================== -->
	<element name="MethodList" type="xmml:MethodListType">
		<annotation>
			<documentation>Description of the method used to acquire the values in each component
      This model is a little clumsy. Maybe better to have the "Procedure" objects as direct MetaData elements?</documentation>
		</annotation>
	</element>
	<!-- =========================================================== -->
	<complexType name="MethodListType">
		<complexContent>
			<extension base="xmml:ElementOnlyMetaDataType">
				<sequence>
					<group ref="xmml:pqr" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="dimension" type="positiveInteger">
					<annotation>
						<documentation>The number of components (bands) in the range</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<!-- ====================================================================== -->
	<element name="PointSetCoverage" type="xmml:PointSetCoverageType" substitutionGroup="xmml:Coverage">
		<annotation>
			<documentation>A coverage whose domain is a collection of point locations</documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<complexType name="PointSetCoverageType">
		<annotation>
			<documentation>A discrete coverage type whose domain is defined by a collection of point locations</documentation>
		</annotation>
		<complexContent>
			<restriction base="xmml:CoverageType">
				<sequence>
					<group ref="gml:StandardObjectProperties"/>
					<element ref="gml:boundedBy"/>
					<group ref="xmml:ExtendedFeatureProperties"/>
					<element ref="xmml:pointSetDomain"/>
					<element ref="xmml:range"/>
					<element ref="xmml:coverageFunction" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="pointSetDomain" type="xmml:PointSetDomainType" substitutionGroup="xmml:domain"/>
	<!-- ====================================================================== -->
	<complexType name="PointSetDomainType">
		<annotation>
			<documentation>Need to add MultiInstant ...</documentation>
		</annotation>
		<complexContent>
			<restriction base="xmml:DomainType">
				<sequence minOccurs="0">
					<choice>
						<element ref="gml:MultiPoint"/>
						<element ref="xmml:MultiPos"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<!-- ====================================================================== -->
	<element name="IntervalSetCoverage" type="xmml:IntervalSetCoverageType" substitutionGroup="xmml:Coverage">
		<annotation>
			<documentation>A coverage whose domain is a collection of envelopes or intervals</documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<complexType name="IntervalSetCoverageType">
		<annotation>
			<documentation>A discrete coverage type whose domain is defined by a collection of intervals</documentation>
		</annotation>
		<complexContent>
			<restriction base="xmml:CoverageType">
				<sequence>
					<group ref="gml:StandardObjectProperties"/>
					<element ref="gml:boundedBy"/>
					<group ref="xmml:ExtendedFeatureProperties"/>
					<element ref="xmml:intervalSetDomain"/>
					<element ref="xmml:range"/>
					<element ref="xmml:coverageFunction" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="intervalSetDomain" type="xmml:IntervalSetDomainType" substitutionGroup="xmml:domain"/>
	<!-- ====================================================================== -->
	<complexType name="IntervalSetDomainType">
		<annotation>
			<documentation>Need to add MultiPeriod ...</documentation>
		</annotation>
		<complexContent>
			<restriction base="xmml:DomainType">
				<sequence minOccurs="0">
					<choice>
						<element ref="xmml:MultiInterval"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- =========================================================== -->
	<element name="RectifiedGridCoverage" type="xmml:RectifiedGridCoverageType" substitutionGroup="xmml:Coverage"/>
	<!-- =========================================================== -->
	<complexType name="RectifiedGridCoverageType">
		<complexContent>
			<restriction base="xmml:CoverageType">
				<sequence>
					<group ref="gml:StandardObjectProperties"/>
					<element ref="gml:boundedBy"/>
					<group ref="xmml:ExtendedFeatureProperties"/>
					<element ref="xmml:rectifiedGridDomain"/>
					<element ref="xmml:range"/>
					<element ref="xmml:coverageFunction" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="rectifiedGridDomain" type="xmml:RectifiedGridDomainType" substitutionGroup="xmml:domain"/>
	<!-- =========================================================== -->
	<complexType name="RectifiedGridDomainType">
		<annotation>
			<documentation>Need to add TemporalGrid ...</documentation>
		</annotation>
		<complexContent>
			<restriction base="xmml:DomainType">
				<sequence minOccurs="0">
					<choice>
						<element ref="gml:RectifiedGrid"/>
					</choice>
				</sequence>
				<attributeGroup ref="gml:AssociationAttributeGroup"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<!-- =========================================================== -->
	<element name="CurveCoverage" type="xmml:CurveCoverageType" substitutionGroup="xmml:Coverage"/>
	<complexType name="CurveCoverageType">
		<complexContent>
			<restriction base="xmml:CoverageType">
				<sequence>
					<group ref="gml:StandardObjectProperties"/>
					<element ref="gml:boundedBy"/>
					<group ref="xmml:ExtendedFeatureProperties"/>
					<element ref="xmml:curveDomain"/>
					<element ref="xmml:range"/>
					<element ref="xmml:coverageFunction" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="curveDomain" type="xmml:CurveDomainType" substitutionGroup="xmml:domain"/>
	<complexType name="CurveDomainType">
		<complexContent>
			<restriction base="xmml:DomainType">
				<sequence minOccurs="0">
					<choice>
						<element ref="gml:MultiCurve"/>
					</choice>
				</sequence>
				<attributeGroup ref="gml:AssociationAttributeGroup"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- =========================================================== -->
	<element name="TinCoverage" type="xmml:TinCoverageType" substitutionGroup="xmml:Coverage"/>
	<complexType name="TinCoverageType">
		<complexContent>
			<restriction base="xmml:CoverageType">
				<sequence>
					<group ref="gml:StandardObjectProperties"/>
					<element ref="gml:boundedBy"/>
					<group ref="xmml:ExtendedFeatureProperties"/>
					<element ref="xmml:tinDomain"/>
					<element ref="xmml:range"/>
					<element ref="xmml:coverageFunction" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="tinDomain" type="xmml:TinDomainType" substitutionGroup="xmml:domain"/>
	<complexType name="TinDomainType">
		<complexContent>
			<restriction base="xmml:DomainType">
				<sequence minOccurs="0">
					<choice>
						<element ref="gml:Tin"/>
					</choice>
				</sequence>
				<attributeGroup ref="gml:AssociationAttributeGroup"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- =========================================================== -->
	<element name="TimeComplexCoverage" type="xmml:TimeComplexCoverageType" substitutionGroup="xmml:Coverage"/>
	<complexType name="TimeComplexCoverageType">
		<complexContent>
			<restriction base="xmml:CoverageType">
				<sequence>
					<group ref="gml:StandardObjectProperties"/>
					<element ref="gml:boundedBy"/>
					<group ref="xmml:ExtendedFeatureProperties"/>
					<element ref="xmml:timeComplexDomain"/>
					<element ref="xmml:range"/>
					<element ref="xmml:coverageFunction" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="timeComplexDomain" type="xmml:TimeComplexDomainType" substitutionGroup="xmml:domain"/>
	<complexType name="TimeComplexDomainType">
		<complexContent>
			<restriction base="xmml:DomainType">
				<sequence minOccurs="0">
					<choice>
						<element ref="xmml:TimeGeometricComplex"/>
					</choice>
				</sequence>
				<attributeGroup ref="gml:AssociationAttributeGroup"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- =========================================================== -->
	<element name="TimeGridCoverage" type="xmml:TimeGridCoverageType" substitutionGroup="xmml:Coverage"/>
	<complexType name="TimeGridCoverageType">
		<complexContent>
			<restriction base="xmml:CoverageType">
				<sequence>
					<group ref="gml:StandardObjectProperties"/>
					<element ref="gml:boundedBy"/>
					<group ref="xmml:ExtendedFeatureProperties"/>
					<element ref="xmml:timeGridDomain"/>
					<element ref="xmml:range"/>
					<element ref="xmml:coverageFunction" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="timeGridDomain" type="xmml:TimeGridDomainType" substitutionGroup="xmml:domain"/>
	<complexType name="TimeGridDomainType">
		<complexContent>
			<restriction base="xmml:DomainType">
				<sequence minOccurs="0">
					<choice>
						<element ref="xmml:TimeGrid"/>
					</choice>
				</sequence>
				<attributeGroup ref="gml:AssociationAttributeGroup"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
</schema>
