trunk/XMML/function.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.opengis.net/xmml" xmlns:xmml="http://www.opengis.net/xmml" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.02">
	<annotation>
		<documentation xml:lang="en"> XMML Function schema 
    Robert Woodcock, Simon Cox, March 2003
    
Copyright (c) 2004 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice
</documentation>
	</annotation>
	<!-- ==============================================================
       includes and imports
	============================================================== -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="..\gml\base\feature.xsd"/>
	<import namespace="http://www.opengis.net/gml" schemaLocation="..\gml\base\valueObjects.xsd"/>
	<import namespace="http://www.opengis.net/gml" schemaLocation="..\gml\base\geometryAggregates.xsd"/>
	<!-- ==============================================================
       global types and elements
	============================================================== -->
	<!-- =========================================================== -->
	<group name="Functions">
		<annotation>
			<documentation>A group of elements that can be used as functions</documentation>
		</annotation>
		<choice>
			<element ref="xmml:Function"/>
			<group ref="xmml:Operators"/>
			<element ref="xmml:Set"/>
		</choice>
	</group>
	<!-- =========================================================== -->
	<group name="Operators">
		<choice>
			<element ref="xmml:Union"/>
			<element ref="xmml:Sum"/>
			<element ref="xmml:Product"/>
			<element ref="xmml:Composite"/>
		</choice>
	</group>
	<!-- =========================================================== -->
	<element name="Set" type="xmml:SetType" substitutionGroup="gml:_Feature"/>
	<!-- =========================================================== -->
	<complexType name="SetType">
		<annotation>
			<documentation>A collection of distinct elements having specific common properties.
			A Set can be treated as a Function from an Integer index to an element of the Set. Set valueComponents are ordered starting from 0.</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element ref="gml:valueComponents" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="xmml:axisDefinition" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="axisDefinition" type="xmml:axisDefinitionType"/>
	<!-- =========================================================== -->
	<complexType name="axisDefinitionType">
		<annotation>
			<documentation>A definition of a component of a data object type.  
      This is a placeholder pending a more thorough version that can also deal with composite axes.  </documentation>
		</annotation>
		<sequence>
			<element ref="xmml:limits" minOccurs="0"/>
		</sequence>
		<attribute name="name" type="string" use="required"/>
		<attribute name="mathType" type="string" use="optional" default="Real"/>
	</complexType>
	<!-- ===========================================================-->
	<element name="limits" type="gml:GeometryPropertyType">
		<annotation>
			<documentation>The bounds of a Set for this axisDefinition</documentation>
		</annotation>
	</element>
	<!-- =========================================================== -->
	<element name="Function" type="xmml:FunctionType" substitutionGroup="gml:_GML"/>
	<!-- =========================================================== -->
	<complexType name="FunctionType">
		<annotation>
			<documentation>A Function is a rule of correspondence between two sets such that there is a unique element in the second set (range) assigned to each element in the first set (domain)</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element ref="xmml:domain"/>
					<element ref="xmml:range"/>
					<element ref="xmml:mapping" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="domain" type="xmml:FunctionPropertyType">
		<annotation>
			<documentation>The set of all possible values of an independent variable of a function</documentation>
		</annotation>
	</element>
	<!-- =========================================================== -->
	<element name="range" type="xmml:FunctionPropertyType">
		<annotation>
			<documentation>The set of all values a given function may take on</documentation>
		</annotation>
	</element>
	<!-- =========================================================== -->
	<complexType name="FunctionPropertyType">
		<group ref="xmml:Functions"/>
	</complexType>
	<!-- =========================================================== -->
	<element name="mapping" type="xmml:FunctionsOrRulePropertyType">
		<annotation>
			<documentation>The mapping from the domain's local coordinate space to the range's local coordinate space. If not specified, is taken to be the identity mapping</documentation>
		</annotation>
	</element>
	<!-- =========================================================== -->
	<complexType name="FunctionsOrRulePropertyType">
		<choice>
			<group ref="xmml:Functions"/>
			<element ref="xmml:Rule"/>
		</choice>
	</complexType>
	<!-- =========================================================== -->
	<element name="Rule" type="xmml:RuleType"/>
	<!-- =========================================================== -->
	<complexType name="RuleType">
		<annotation>
			<documentation>A Rule is a Function specified using MathML</documentation>
		</annotation>
		<complexContent>
			<extension base="anyType"/>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="functionMember" type="xmml:FunctionPropertyType"/>
	<!-- =========================================================== -->
	<element name="functionMembers" type="xmml:ArrayOfFunctionsType"/>
	<!-- =========================================================== -->
	<complexType name="ArrayOfFunctionsType">
		<group ref="xmml:Functions" minOccurs="0" maxOccurs="unbounded"/>
	</complexType>
	<!-- =========================================================== -->
	<element name="Union" type="xmml:UnionType"/>
	<!-- =========================================================== -->
	<complexType name="UnionType">
		<annotation>
			<documentation>An operator whose result is Union of the collection of Functions it contains</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element ref="xmml:functionMember" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="xmml:functionMembers" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="Composite" type="xmml:CompositeType"/>
	<!-- =========================================================== -->
	<complexType name="CompositeType">
		<annotation>
			<documentation>An operator whose result is the composition of the two Functions it contains (f(g()) fog)</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="g" type="xmml:FunctionPropertyType"/>
					<element name="f" type="xmml:FunctionPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="Product" type="xmml:ProductType"/>
	<!-- =========================================================== -->
	<complexType name="ProductType">
		<annotation>
			<documentation>An operator whose result is the Product of the collection of Functions it contains</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element ref="xmml:functionMember" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="xmml:functionMembers" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="Sum" type="xmml:Sumtype"/>
	<!-- =========================================================== -->
	<complexType name="Sumtype">
		<annotation>
			<documentation>An operator whose result is the Sum of the collection of Functions it contains</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element ref="xmml:functionMember" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="xmml:functionMembers" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
</schema>
