trunk/XMML/geochemistry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.opengis.net/xmml" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xmml="http://www.opengis.net/xmml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release">
	<annotation>
		<documentation>
geochemistry.xsd

A GML conformant schema 
for geochemistry

2004-05-20

Copyright © 2004 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice
</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<include schemaLocation="./commonFeatures.xsd"/>
	<include schemaLocation="./observation.xsd"/>
	<include schemaLocation="../enumerations/LUTgeochemistry.xsd"/>
	<!-- ====================================================================== -->
	<group name="geochemResultChoice">
		<choice>
			<element ref="xmml:resultMeasure"/>
			<element ref="xmml:noResult"/>
		</choice>
	</group>
	<!-- ====================================================================== -->
	<element name="GeochemMeasurement" type="xmml:GeochemMeasurementType" substitutionGroup="xmml:Observation"/>
	<!-- -->
	<complexType name="GeochemMeasurementBaseType">
		<annotation>
			<documentation>Specialisation of generic observation type
			First apply restriction:
         			suppress "observedProperty" - chemicalConcentration is implied
         			enforce only only measure or no-result in resultChoice
         
        			For other documentation, see observation.xsd
			</documentation>
		</annotation>
		<complexContent>
			<restriction base="xmml:ObservationType">
				<sequence>
					<group ref="gml:StandardObjectProperties"/>
					<group ref="xmml:StandardSupportProperties"/>
					<element ref="xmml:relatedFeature" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="gml:position"/>
					<element ref="xmml:subject"/>
					<group ref="xmml:geochemResultChoice"/>
					<element ref="xmml:quality" minOccurs="0" maxOccurs="unbounded"/>
					<element name="procedureTime" type="gml:TimePrimitivePropertyType"/>
					<element name="responsible" type="xmml:PartyPropertyType"/>
					<element ref="xmml:procedureUsed"/>
					<element ref="xmml:reference" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<complexType name="GeochemMeasurementType">
		<annotation>
			<documentation>Extend with 
        			analyte (in place of observedProperty)
        			purpose (optional)
      			</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:GeochemMeasurementBaseType">
				<sequence>
					<element name="analyte" type="xmml:analyteCode"/>
					<element ref="xmml:purpose" minOccurs="0"/>
				</sequence>
				<attribute name="seqNo" type="integer" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<complexType name="GeochemMeasurementPropertyType">
		<sequence>
			<element ref="xmml:GeochemMeasurement" minOccurs="0"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<element name="GeochemSample" type="xmml:GeochemSampleType" substitutionGroup="xmml:Feature"/>
	<!-- -->
	<complexType name="GeochemSampleType">
		<complexContent>
			<extension base="xmml:SpecimenType">
				<sequence>
					<choice minOccurs="0">
						<annotation>
							<documentation>Models for recording geochemistry results related to this specimen;
							Choose one of:
								a tuple of numbers, defined by an associated tuple definition
								a set of soft-typed measured
								a set of related assay measurements</documentation>
						</annotation>
						<element name="analyteSuiteResult" type="xmml:NumericOrNullTupleType">
							<annotation>
								<documentation>Suite of analyte values, expressed as a tuple; tuple definition is provided out-of-band and identified by the value of the RS (reference system) attribute</documentation>
							</annotation>
						</element>
						<element name="analyteComponentResult" type="xmml:SoftTypedMeasureResultType" maxOccurs="unbounded">
							<annotation>
								<documentation>Analyte component value, expressed as a soft-typed measure; the value of the "property" attribute identifies the analyte; the value of the uom attribute indicates the units of measure; the value of the metadata attribute may be used to indicate the procedure or full description of the observation.</documentation>
							</annotation>
						</element>
						<element name="analyteComponentMeasurement" type="xmml:GeochemMeasurementPropertyType" maxOccurs="unbounded">
							<annotation>
								<documentation>Description of a measurement of a geochem analyte;
								Following the standard GML property pattern, the description of the measurement may be
								- embedded inline, or 
								- stored elsewhere and identifed by the value of an xlink:href attribute on the property element.</documentation>
							</annotation>
						</element>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="AssayProcedure" type="xmml:AssayProcedureType" substitutionGroup="xmml:Procedure">
		<annotation>
			<documentation>description of an assay method</documentation>
		</annotation>
	</element>
	<!-- ====== -->
	<complexType name="AssayProcedureType">
		<annotation>
			<documentation/>
		</annotation>
		<complexContent>
			<extension base="xmml:ProcedureType">
				<sequence>
					<element name="lowerLimitOfDetection" type="gml:MeasureType"/>
					<element name="upperLimitOfDetection" type="gml:MeasureType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<complexType name="AssayProcedurePropertyType">
		<sequence>
			<element ref="xmml:AssayProcedure" minOccurs="0"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ======================================================================  <element name="geochemMeasurementProperty" type="xmml:GeochemMeasurementPropertyType" substitutionGroup="om:observationProperty"/> -->
	<!--  <complexType name="GeochemMeasurementPropertyType">
    <complexContent>
      <restriction base="om:ObservationPropertyType">
        <sequence>
          <element ref="xmml:GeochemMeasurement" minOccurs="0"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
      </restriction>
    </complexContent>
  </complexType> -->
	<!-- components of observation Collections  <element name="geochemMeasurementMember" type="xmml:GeochemMeasurementPropertyType" substitutionGroup="om:observationMember"/> -->
	<!-- ======================================================================  <element name="geochemMeasurementMembers" type="xmml:GeochemMeasurementArrayPropertyType" substitutionGroup="om:observationMembers"/> -->
	<!-- ======  <complexType name="GeochemMeasurementArrayPropertyType">
    <complexContent>
      <restriction base="om:ObservationArrayPropertyType">
        <sequence>
          <element ref="xmml:GeochemMeasurement" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </restriction>
    </complexContent>
  </complexType> -->
	<!-- ====================================================================== -->
	<element name="GeochemRequest" type="xmml:GeochemRequestType"/>
	<!-- -->
	<complexType name="GeochemRequestType">
		<annotation>
			<documentation>
      Add "purpose" to the generic request
      </documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:ObservationType">
				<sequence>
					<element ref="xmml:purpose" minOccurs="0"/>
					<!-- element ref="xmml:purpose" default="normal" minOccurs="0"/ 
          XMl Spy will not validate this
          -->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="GeochemSpecimen" type="xmml:SpecimenType" substitutionGroup="xmml:Specimen"/>
	<!-- ====================================================================== -->
	<element name="samplingMethod" type="xmml:sampleCollectionTypes" substitutionGroup="xmml:method"/>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<element name="AssaySuite" type="xmml:AssaySuiteDefinitionType" substitutionGroup="gml:Definition">
		<annotation>
			<documentation>description of an assay suite, which includes one or more Assay definitions</documentation>
		</annotation>
	</element>
	<!-- ====== -->
	<complexType name="AssaySuiteDefinitionType">
		<annotation>
			<documentation/>
		</annotation>
		<complexContent>
			<extension base="gml:DefinitionType">
				<sequence>
					<element name="component" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<sequence>
								<element name="Assay" type="xmml:AssayDefinitionType" minOccurs="0"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="Assay" type="xmml:AssayDefinitionType" substitutionGroup="gml:Definition">
		<annotation>
			<documentation>description of an assay</documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<complexType name="AssayDefinitionType">
		<annotation>
			<documentation/>
		</annotation>
		<complexContent>
			<extension base="gml:DefinitionType">
				<sequence>
					<element name="analyte" type="xmml:analyteCode"/>
					<element ref="gml:unitOfMeasure"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- code lists -->
	<!-- ====================================================================== -->
	<element name="preparationMethod" type="token" substitutionGroup="xmml:method"/>
	<!-- ====================================================================== -->
	<simpleType name="sampleCollectionTypes">
		<restriction base="token">
			<enumeration value="Drill"/>
			<enumeration value="Stream"/>
			<enumeration value="Lag"/>
		</restriction>
	</simpleType>
	<element name="WMCsample" type="xmml:WMCsampleCode" substitutionGroup="xmml:samplingMethod"/>
	<!-- ====== -->
	<simpleType name="WMCsampleCode">
		<restriction base="token">
			<enumeration value="STAND">
				<annotation>
					<documentation>Standard</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DSPLIT"/>
			<enumeration value="P"/>
		</restriction>
	</simpleType>
	<!-- ====================================================================== -->
	<element name="purpose" type="token"/>
	<element name="WMCpurpose" type="xmml:QAQCPurposeWMC" substitutionGroup="xmml:purpose"/>
	<!-- ====== -->
	<simpleType name="QAQCPurposeWMC">
		<annotation>
			<documentation>
    Codes for WMC QAQC measurements.
    
    QS - internal standard or blank
    SD - site duplicate - i.e. splits from drill core, proximate specimen for surface samples
    RS - repeat sample for seasonal effects - surface sampling
    C - check assay - same prep, different lab
    D - lab duplicate - split prior to pulverising, same lab
    R - lab replicate - split after pulverising, same lab
    
    </documentation>
		</annotation>
		<restriction base="token">
			<enumeration value="normal"/>
			<enumeration value="QS"/>
			<enumeration value="SD"/>
			<enumeration value="RS"/>
			<enumeration value="C"/>
			<enumeration value="D"/>
			<enumeration value="R"/>
		</restriction>
	</simpleType>
	<!-- ====================================================================== -->
</schema>
