trunk/XMML/geochemistryComplete.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.opengis.net/xmml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xmml="http://www.opengis.net/xmml">
	<annotation>
		<documentation>
geochemistry.xsd

A GML conformant schema 
for geochemistry

2004-06-30

Copyright © 2004 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice
</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.0/base/feature.xsd"/>
	<include schemaLocation="./commonFeatures.xsd"/>
	<include schemaLocation="./observation.xsd"/>
	<include schemaLocation="../enumerations/LUTgeochemistry.xsd"/>
	<!-- ====================================================================== -->
	<element name="GeochemMeasurement" type="xmml:GeochemMeasurementType" substitutionGroup="xmml:Observation"/>
	<!-- -->
	<complexType name="GeochemMeasurementBaseType">
		<annotation>
			<documentation>Specialisation of generic observation type
			First apply restriction:
         			suppress "observedProperty" - chemicalConcentration is implied
         			enforce only only measure or no-result in resultChoice
         
					 Use "subject" property to link to the specimen or other feature on which the measurement was made
        			For other documentation, see observation.xsd
			</documentation>
		</annotation>
		<complexContent>
			<restriction base="xmml:ObservationType">
				<sequence>
					<group ref="gml:StandardObjectProperties"/>
					<group ref="xmml:StandardSupportProperties"/>
					<group ref="xmml:ExtendedFeatureProperties"/>
					<element ref="xmml:relatedFeature" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="gml:position"/>
					<element ref="xmml:positionMethod" minOccurs="0"/>
					<element ref="xmml:subject"/>
					<element ref="xmml:abstractResultMeasure"/>
					<element ref="xmml:quality" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="xmml:procedureTime"/>
					<element ref="xmml:responsible"/>
					<element ref="xmml:procedureUsed"/>
					<element ref="xmml:reference" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<complexType name="GeochemMeasurementType">
		<annotation>
			<documentation>Extend with 
        			analyte (in place of observedProperty)
        			purpose (optional)
      			</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:GeochemMeasurementBaseType">
				<sequence>
					<element name="analyte" type="xmml:analyteCode"/>
					<element ref="xmml:purpose" minOccurs="0"/>
				</sequence>
				<attribute name="seqNo" type="integer" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<complexType name="GeochemMeasurementPropertyType">
		<sequence>
			<element ref="xmml:GeochemMeasurement" minOccurs="0"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<element name="GeochemSpecimen" type="xmml:GeochemSpecimenType" substitutionGroup="xmml:Specimen"/>
	<!-- -->
	<complexType name="GeochemSpecimenType">
		<annotation>
			<documentation>Basic geochemistry specimen feature type. 
				Adds the following properties to the generic specimen:
					material - e.g. drill cutting, calcrete, pulp
				Use the (optional) "related Observation" property to link specimen to observations and measurements made on it
				If no fractionation is described by processingStep properties, then whole rock analysis is implied
			</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:SpecimenType">
				<sequence>
					<element name="material" type="string"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="GeochemSample" type="xmml:GeochemSampleType" substitutionGroup="xmml:Feature"/>
	<!-- -->
	<complexType name="GeochemSampleType">
		<annotation>
			<documentation>Geochemistry sample - specimen description + analyte results. 
			If no results are being reported, then use GeochemSpecimen. 
			</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:GeochemSpecimenType">
				<choice>
					<annotation>
						<documentation>Models for recording geochemistry results related to this specimen;
							Choose one of:
								a record of numbers, defined by an associated record definition
								a set of soft-typed measured
								a set of related assay measurements</documentation>
					</annotation>
					<element name="analyteSuiteResult" type="xmml:NumericOrNullRecordType">
						<annotation>
							<documentation>Suite of analyte values, expressed as a record; record definition is provided out-of-band and identified by the value of the RS (reference system) attribute</documentation>
						</annotation>
					</element>
					<element name="analyteComponentResult" type="xmml:SoftTypedMeasureType" maxOccurs="unbounded">
						<annotation>
							<documentation>Analyte component value, expressed as a soft-typed measure; the value of the "property" attribute identifies the analyte; the value of the uom attribute indicates the units of measure; the value of the metadata attribute may be used to indicate the procedure or full description of the observation.</documentation>
						</annotation>
					</element>
					<element name="analyteComponentMeasurement" type="xmml:GeochemMeasurementPropertyType" maxOccurs="unbounded">
						<annotation>
							<documentation>Description of a measurement of a geochem analyte;
								Following the standard GML property pattern, the description of the measurement may be
								- embedded inline, or 
								- stored elsewhere and identifed by the value of an xlink:href attribute on the property element.</documentation>
						</annotation>
					</element>
				</choice>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="AssayProcedure" type="xmml:AssayProcedureType" substitutionGroup="xmml:Procedure">
		<annotation>
			<documentation>description of an assay method</documentation>
		</annotation>
	</element>
	<!-- ====== -->
	<complexType name="AssayProcedureType">
		<annotation>
			<documentation>Adds the following assay-specific properties to generic procedure:
				analyte
				lowerDetectionLimit
				upperDetectionLimit
				secondUpperDetectionLimit
				
				*** Note: this should be harmonised with adx:AnalyteProcedure ***
			</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:ProcedureType">
				<sequence>
					<element name="analyte" type="xmml:analyteCode"/>
					<element name="lowerDetectionLimit" type="gml:MeasureType"/>
					<element name="upperDetectionLimit" type="gml:MeasureType" minOccurs="0"/>
					<element name="secondUpperDetectionLimit" type="gml:MeasureType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<complexType name="AssayProcedurePropertyType">
		<sequence>
			<element ref="xmml:AssayProcedure" minOccurs="0"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ======================================================================  <element name="geochemMeasurementProperty" type="xmml:GeochemMeasurementPropertyType" substitutionGroup="om:observationProperty"/> -->
	<!--  <complexType name="GeochemMeasurementPropertyType">
    <complexContent>
      <restriction base="om:ObservationPropertyType">
        <sequence>
          <element ref="xmml:GeochemMeasurement" minOccurs="0"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
      </restriction>
    </complexContent>
  </complexType> -->
	<!-- components of observation Collections  <element name="geochemMeasurementMember" type="xmml:GeochemMeasurementPropertyType" substitutionGroup="om:observationMember"/> -->
	<!-- ======================================================================  <element name="geochemMeasurementMembers" type="xmml:GeochemMeasurementArrayPropertyType" substitutionGroup="om:observationMembers"/> -->
	<!-- ======  <complexType name="GeochemMeasurementArrayPropertyType">
    <complexContent>
      <restriction base="om:ObservationArrayPropertyType">
        <sequence>
          <element ref="xmml:GeochemMeasurement" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </restriction>
    </complexContent>
  </complexType> -->
	<!-- ====================================================================== -->
	<element name="GeochemRequest" type="xmml:GeochemRequestType"/>
	<!-- -->
	<complexType name="GeochemRequestType">
		<annotation>
			<documentation>
      Add "purpose" to the generic request
      </documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:ObservationType">
				<sequence>
					<element ref="xmml:purpose" minOccurs="0"/>
					<!-- element ref="xmml:purpose" default="normal" minOccurs="0"/ 
          XMl Spy will not validate this
          -->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="samplingMethod" type="xmml:sampleCollectionTypes" substitutionGroup="xmml:method"/>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<element name="AssaySuite" type="xmml:AssaySuiteDefinitionType" substitutionGroup="gml:Definition">
		<annotation>
			<documentation>description of an assay suite, which includes one or more Assay definitions</documentation>
		</annotation>
	</element>
	<!-- ====== -->
	<complexType name="AssaySuiteDefinitionType">
		<annotation>
			<documentation/>
		</annotation>
		<complexContent>
			<extension base="gml:DefinitionType">
				<sequence>
					<element name="component" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<sequence>
								<element name="Assay" type="xmml:AssayDefinitionType" minOccurs="0"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="Assay" type="xmml:AssayDefinitionType" substitutionGroup="gml:Definition">
		<annotation>
			<documentation>description of an assay</documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<complexType name="AssayDefinitionType">
		<annotation>
			<documentation/>
		</annotation>
		<complexContent>
			<extension base="gml:DefinitionType">
				<sequence>
					<element name="analyte" type="xmml:analyteCode"/>
					<element ref="gml:unitOfMeasure"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- code lists -->
	<!-- ====================================================================== -->
	<element name="preparationMethod" type="token" substitutionGroup="xmml:method"/>
	<!-- ====================================================================== -->
	<simpleType name="sampleCollectionTypes">
		<restriction base="token">
			<enumeration value="Drill"/>
			<enumeration value="Stream"/>
			<enumeration value="Lag"/>
		</restriction>
	</simpleType>
	<element name="WMCsample" type="xmml:WMCsampleCode" substitutionGroup="xmml:samplingMethod"/>
	<!-- ====== -->
	<simpleType name="WMCsampleCode">
		<restriction base="token">
			<enumeration value="STAND">
				<annotation>
					<documentation>Standard</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DSPLIT"/>
			<enumeration value="P"/>
		</restriction>
	</simpleType>
	<!-- ====================================================================== -->
	<element name="purpose" type="token"/>
	<element name="WMCpurpose" type="xmml:QAQCPurposeWMC" substitutionGroup="xmml:purpose"/>
	<!-- ====== -->
	<simpleType name="QAQCPurposeWMC">
		<annotation>
			<documentation>
    Codes for WMC QAQC measurements.
    
    QS - internal standard or blank
    SD - site duplicate - i.e. splits from drill core, proximate specimen for surface samples
    RS - repeat sample for seasonal effects - surface sampling
    C - check assay - same prep, different lab
    D - lab duplicate - split prior to pulverising, same lab
    R - lab replicate - split after pulverising, same lab
    
    </documentation>
		</annotation>
		<restriction base="token">
			<enumeration value="normal"/>
			<enumeration value="QS"/>
			<enumeration value="SD"/>
			<enumeration value="RS"/>
			<enumeration value="C"/>
			<enumeration value="D"/>
			<enumeration value="R"/>
		</restriction>
	</simpleType>
	<!-- ====================================================================== -->
</schema>
