trunk/XMML/geochemistry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xmml="http://www.opengis.net/xmml" targetNamespace="http://www.opengis.net/xmml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release">
	<annotation>
		<documentation>
geochemistry.xsd

A GML conformant schema 
for geochemistry

Copyright © 2004 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice
</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="./gml4geochemistry.xsd"/>
	<include schemaLocation="./site.xsd"/>
	<include schemaLocation="./referenceSystem.xsd"/>
	<include schemaLocation="../enumerations/LUTgeochemistry.xsd"/>
	<!-- ====================================================================== -->
	<element name="GeochemMeasurement" type="xmml:GeochemMeasurementType" substitutionGroup="xmml:Measurement"/>
	<!-- ...................... -->
	<complexType name="GeochemMeasurementBaseType">
		<annotation>
			<documentation>Specialisation of generic measurement type
			Apply restriction:
         			suppress "observedProperty" - value is "fixed" as "chemicalConcentration"
         			         
					N.B. Use "subject" property to link to the specimen or other feature on which the measurement was made
        			For other documentation, see observation.xsd
			</documentation>
		</annotation>
		<complexContent>
			<restriction base="xmml:MeasurementType">
				<sequence>
					<group ref="gml:StandardObjectProperties"/>
					<element ref="gml:boundedBy" minOccurs="0"/>
					<group ref="xmml:StandardSupportProperties"/>
					<group ref="xmml:ExtendedFeatureProperties"/>
					<group ref="xmml:EventProperties"/>
					<element name="location" type="gml:GeometryPropertyType" nillable="true"/>
					<element name="procedureUsed" type="xmml:ProcedurePropertyType"/>
					<element name="source" type="gml:StringOrRefType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="product" type="gml:StringOrRefType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="subject" type="xmml:ObservationSubjectPropertyType"/>
					<element ref="xmml:quality" minOccurs="0" maxOccurs="unbounded"/>
					<element name="result" type="xmml:ResultMeasureType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ...................... -->
	<complexType name="GeochemMeasurementType">
		<annotation>
			<documentation>Extend with 
        			analyte (specializes the "chemicalConcentration" observedProperty)
        			purpose (optional)
      			</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:GeochemMeasurementBaseType">
				<sequence>
					<element name="analyte" type="xmml:analyteCode"/>
					<element ref="xmml:purpose" minOccurs="0"/>
				</sequence>
				<attribute name="seqNo" type="integer" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<complexType name="GeochemMeasurementPropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:GeochemMeasurement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<element name="GeochemSpecimen" type="xmml:GeochemSpecimenType" substitutionGroup="xmml:Specimen"/>
	<!-- ...................... -->
	<complexType name="GeochemSpecimenType">
		<annotation>
			<documentation>Basic geochemistry specimen feature type. 
				Currently this is a vacuous extension of the generic Specimen. 
				Use the (optional) "related Observation" property to link specimen to observations and measurements made on it
				
				If no fractionation is described by processingStep properties, then whole rock analysis is implied
			</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:SpecimenType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="GeochemSample" type="xmml:GeochemSampleType" substitutionGroup="xmml:Feature"/>
	<!-- ...................... -->
	<complexType name="GeochemSampleType">
		<annotation>
			<documentation>Geochemistry sample - specimen description + analyte results. 
			If no results are being reported, then use GeochemSpecimen. 
			</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:GeochemSpecimenType">
				<sequence>
					<annotation>
						<documentation>Record geochemistry results related to this specimen;
							as a set of soft-typed measures</documentation>
					</annotation>
					<element name="analyteResult" type="xmml:SoftTypedMeasureType" nillable="true" maxOccurs="unbounded">
						<annotation>
							<documentation>Analyte component value, expressed as a soft-typed measure; the value of the "property" attribute identifies the analyte; the value of the uom attribute indicates the units of measure; the value of the metadata attribute may be used to indicate the procedure or full description of the observation.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="AssayProcedure" type="xmml:AssayProcedureType" substitutionGroup="xmml:Procedure">
		<annotation>
			<documentation>description of an assay method</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="AssayProcedureType">
		<annotation>
			<documentation>Adds the following assay-specific properties to generic procedure:
				analyte
				lowerDetectionLimit
				upperDetectionLimit
				secondUpperDetectionLimit
				
				*** Note: this should be harmonised with adx:AnalyteProcedure ***
			</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:ProcedureType">
				<sequence>
					<element name="analyteDetails" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<sequence>
								<element ref="xmml:AnalyteSensitivity"/>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ...................... -->
	<element name="AnalyteSensitivity">
		<complexType>
			<sequence>
				<element name="analyte" type="xmml:analyteCode"/>
				<element name="lowerDetectionLimit" type="gml:MeasureType" nillable="true"/>
				<element name="upperDetectionLimit" type="gml:MeasureType" minOccurs="0"/>
				<element name="secondUpperDetectionLimit" type="gml:MeasureType" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- ====================================================================== -->
	<complexType name="AssayProcedurePropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:AssayProcedure"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<element name="ChemAxisDefinition" type="xmml:ChemAxisDefinitionType" substitutionGroup="xmml:AxisDefinition">
		<annotation>
			<documentation>Specialised AxisDefinition with sensitivity information added</documentation>
		</annotation>
	</element>
	<!-- ........................................ -->
	<complexType name="ChemAxisDefinitionType">
		<complexContent>
			<extension base="xmml:AxisDefinitionType">
				<sequence>
					<element name="lowerDetectionLimit" type="gml:MeasureType" nillable="true"/>
					<element name="upperDetectionLimit" type="gml:MeasureType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<element name="AssaySuite" type="xmml:AssaySuiteDefinitionType" substitutionGroup="gml:Definition">
		<annotation>
			<documentation>description of an assay suite, which includes one or more Assay definitions</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="AssaySuiteDefinitionType">
		<annotation>
			<documentation/>
		</annotation>
		<complexContent>
			<extension base="gml:DefinitionType">
				<sequence>
					<element name="component" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<sequence minOccurs="0">
								<element name="Assay" type="xmml:AssayDefinitionType"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="Assay" type="xmml:AssayDefinitionType" substitutionGroup="gml:Definition">
		<annotation>
			<documentation>description of an assay</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="AssayDefinitionType">
		<annotation>
			<documentation>
							*** Note: this must be harmonised with xmml:AxisDefinition ***
</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:DefinitionType">
				<sequence>
					<element name="analyte" type="xmml:analyteCode"/>
					<element ref="gml:unitOfMeasure"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- code lists -->
	<!-- ====================================================================== -->
	<simpleType name="sampleCollectionTypes">
		<annotation>
			<documentation>A restricted method type</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Drill"/>
			<enumeration value="Stream"/>
			<enumeration value="Lag"/>
		</restriction>
	</simpleType>
	<!-- ====================================================================== -->
	<simpleType name="WMCsampleCode">
		<annotation>
			<documentation>A restricted method type</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="STAND">
				<annotation>
					<documentation>Standard</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DSPLIT"/>
			<enumeration value="P"/>
		</restriction>
	</simpleType>
	<!-- ====================================================================== -->
	<element name="purpose" type="string"/>
	<element name="WMCpurpose" type="xmml:QAQCPurposeWMC" substitutionGroup="xmml:purpose"/>
	<!-- ...................... -->
	<simpleType name="QAQCPurposeWMC">
		<annotation>
			<documentation>
    Codes for WMC QAQC measurements.
    
    QS - internal standard or blank
    SD - site duplicate - i.e. splits from drill core, proximate specimen for surface samples
    RS - repeat sample for seasonal effects - surface sampling
    C - check assay - same prep, different lab
    D - lab duplicate - split prior to pulverising, same lab
    R - lab replicate - split after pulverising, same lab
    
    </documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="normal"/>
			<enumeration value="QS"/>
			<enumeration value="SD"/>
			<enumeration value="RS"/>
			<enumeration value="C"/>
			<enumeration value="D"/>
			<enumeration value="R"/>
		</restriction>
	</simpleType>
	<!-- ====================================================================== -->
</schema>
