trunk/XMML/geometry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Marcus Sen (british Geological Survey) -->
<schema targetNamespace="http://www.opengis.net/xmml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:xmml="http://www.opengis.net/xmml">
	<annotation>
		<documentation>
geometry.xsd

A GML conformant schema 
for specialised geometries for geoscience

Copyright (c) 2005 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice
</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/base/geometryComplexes.xsd"/>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- === Compact form of multi-position.  === -->
	<!-- =========================================================== -->
	<element name="MultiPos" type="xmml:MultiPosType" substitutionGroup="gml:_GeometricAggregate"/>
	<!-- ======================================================= -->
	<complexType name="MultiPosType">
		<annotation>
			<documentation>
				A MultiPos is defined by a list of direct positions recorded in a posList element
			</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGeometricAggregateType">
				<choice>
					<element ref="gml:posList"/>
					<element ref="gml:pos" maxOccurs="unbounded"/>
				</choice>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- === Geometric primitives === -->
	<!-- ====================================================================== -->
	<!-- === Parameterised Lines === -->
	<!-- ====================================================================== -->
	<element name="Line" type="xmml:LineType"/>
	<!-- ====================================================================== -->
	<complexType name="LineType">
		<annotation>
			<documentation>Line carries an id, so can be used as the target of a reference. This is useful so that the survey defines a 1-D CRS used for indexing information along the borehole.</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractCurveType">
				<sequence>
					<element name="origin" type="gml:PointPropertyType">
						<annotation>
							<documentation>Line is expressed as an origin and direction.</documentation>
						</annotation>
					</element>
					<element name="direction" type="gml:VectorType">
						<annotation>
							<documentation>A simple direction relative to the origin.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- === Parameterised Planes === -->
	<!-- ====================================================================== -->
	<element name="_Plane" type="xmml:AbstractPlaneType" abstract="true" substitutionGroup="gml:_Surface">
		<annotation>
			<documentation>The "_Plane" element is the abstract head of the substituition group for all elements representing (infinite) planes.</documentation>
		</annotation>
	</element>
	<!-- ============================================================== -->
	<complexType name="AbstractPlaneType" abstract="true">
		<annotation>
			<documentation>An abstraction of a plane to support the different levels of complexity. 
      The plane can always be viewed as a geometric primitive, i.e. is logically continuous.</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractSurfaceType"/>
		</complexContent>
	</complexType>
	<!-- ============================================================== -->
	<element name="PlaneByVector" type="xmml:PlaneByVectorType" substitutionGroup="xmml:_Plane"/>
	<!-- ====================================================================== -->
	<complexType name="PlaneByVectorType">
		<annotation>
			<documentation>Plane defined by its normal and a point contined within the plane.</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:AbstractPlaneType">
				<sequence>
					<element name="containedPoint" type="gml:DirectPositionType"/>
					<element name="normalVector" type="gml:VectorType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- === Convenience content-model group for nodes, recorded either as direct positions or Points === -->
	<!-- =========================================================== -->
	<group name="posProperty">
		<choice>
			<element ref="gml:pos"/>
			<element ref="gml:pointProperty"/>
		</choice>
	</group>
	<!-- ====================================================================== -->
	<!-- === Geometric objects defined using their vertices only, implicit topology === -->
	<!-- =========================================================== -->
	<!-- === Intervals === -->
	<!-- =========================================================== -->
	<element name="Interval" type="xmml:IntervalType" substitutionGroup="gml:_Geometry"/>
	<!-- =========================================================== -->
	<complexType name="IntervalType">
		<annotation>
			<documentation>Interval defines an extent using a pair of positions defining opposite corners in arbitrary dimensions.</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGeometryType">
				<sequence>
					<group ref="xmml:posProperty" minOccurs="2" maxOccurs="2"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="intervalMember" type="xmml:IntervalPropertyType"/>
	<element name="intervalProperty" type="xmml:IntervalPropertyType"/>
	<!-- =========================================================== -->
	<complexType name="IntervalPropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:Interval"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- =========================================================== -->
	<element name="intervalMembers" type="xmml:IntervalArrayPropertyType"/>
	<!-- =========================================================== -->
	<complexType name="IntervalArrayPropertyType">
		<sequence minOccurs="0" maxOccurs="unbounded">
			<element ref="xmml:Interval"/>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
	<element name="MultiInterval" type="xmml:MultiIntervalType" substitutionGroup="gml:_GeometricAggregate"/>
	<!-- =========================================================== -->
	<complexType name="MultiIntervalType">
		<annotation>
			<documentation>A MultiInterval is defined by one or more Intervals.</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGeometricAggregateType">
				<sequence>
					<element ref="xmml:intervalMember" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="xmml:intervalMembers" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<!-- =========================================================== -->
	<element name="exterior3Points">
		<complexType>
			<sequence/>
			<attribute name="v0" type="anyURI" use="required"/>
			<attribute name="v1" type="anyURI" use="required"/>
			<attribute name="v2" type="anyURI" use="required"/>
		</complexType>
	</element>
	<!-- =========================================================== -->
	<element name="exterior4Points">
		<complexType>
			<sequence/>
			<attribute name="v0" type="anyURI" use="required"/>
			<attribute name="v1" type="anyURI" use="required"/>
			<attribute name="v2" type="anyURI" use="required"/>
			<attribute name="v3" type="anyURI" use="required"/>
		</complexType>
	</element>
	<!-- =========================================================== -->
	<element name="exterior5Points">
		<complexType>
			<sequence/>
			<attribute name="v0" type="anyURI" use="required"/>
			<attribute name="v1" type="anyURI" use="required"/>
			<attribute name="v2" type="anyURI" use="required"/>
			<attribute name="v3" type="anyURI" use="required"/>
			<attribute name="v4" type="anyURI" use="required"/>
		</complexType>
	</element>
	<!-- =========================================================== -->
	<element name="exterior6Points">
		<complexType>
			<sequence/>
			<attribute name="v0" type="anyURI" use="required"/>
			<attribute name="v1" type="anyURI" use="required"/>
			<attribute name="v2" type="anyURI" use="required"/>
			<attribute name="v3" type="anyURI" use="required"/>
			<attribute name="v4" type="anyURI" use="required"/>
			<attribute name="v5" type="anyURI" use="required"/>
		</complexType>
	</element>
	<!-- =========================================================== -->
	<element name="exterior8Points">
		<complexType>
			<sequence/>
			<attribute name="v0" type="anyURI" use="required"/>
			<attribute name="v1" type="anyURI" use="required"/>
			<attribute name="v2" type="anyURI" use="required"/>
			<attribute name="v3" type="anyURI" use="required"/>
			<attribute name="v4" type="anyURI" use="required"/>
			<attribute name="v5" type="anyURI" use="required"/>
			<attribute name="v6" type="anyURI" use="required"/>
			<attribute name="v7" type="anyURI" use="required"/>
		</complexType>
	</element>
	<!-- =========================================================== -->
	<!-- =========================================================== -->
	<!-- === Convenience properties === -->
	<!-- =========================================================== -->
	<element name="nodes" type="gml:PointArrayPropertyType">
		<annotation>
			<documentation>A place to attach a set of nodes that are required to be listed someplace, in order that they can be "used" by-reference elsewhere, for example to build a complex geometry that may be the "shape" of a feature.  Since they are to be used "by-reference" they require handles - hence the use of gml:Point primitives rather than the handle-less gml:pos and gml:posList.  </documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
</schema>
