trunk/XMML/gravity_flattened.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.0.1 U (http://www.xmlspy.com)-->
<schema targetNamespace="http://www.opengis.net/xmml" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns:om="http://www.opengis.net/om" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xmml="http://www.opengis.net/xmml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.4">
	<annotation>
		<documentation>gravity_flattened.xsd

A flattened version of the XMML schema for gravity measurements, stations and surveys.  
All required complexTypes in the xmml namespace are defined inline, and therefore anonymously.  
SimpleTypes in the XMML namespace are defined elsewhere, as are components from other namespaces.  

Follows the requirements determined by GA/GGIPAC/ASEG

2003-02-28

Copyright (c) 2004 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice
</documentation>
	</annotation>
	<!-- bring in other schemas -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="./observationAndValue.xsd"/>
	<import namespace="http://www.opengis.net/om" schemaLocation="../OM/fowler.xsd"/>
	<include schemaLocation="../enumerations/LUTs.xsd"/>
	<!-- ====================================================================== -->
	<element name="GravitySurvey">
		<complexType>
			<sequence>
				<element ref="gml:metaDataProperty" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="gml:description" minOccurs="0"/>
				<element ref="gml:name" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="gml:boundedBy"/>
				<element name="gravityRecords">
					<complexType>
						<choice minOccurs="0" maxOccurs="unbounded">
							<element ref="xmml:GravityMeasurement"/>
							<element ref="xmml:GravitySurvey"/>
						</choice>
					</complexType>
				</element>
				<element ref="gml:validTime" minOccurs="0"/>
				<element ref="gml:target" minOccurs="0"/>
				<element ref="om:relatedFeature" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute ref="gml:id" use="optional"/>
		</complexType>
	</element>
	<!-- ====================================================================== -->
	<element name="GravityMeasurement">
		<complexType>
			<sequence>
				<element name="recordStatus" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="RecordMetaData" minOccurs="0">
								<complexType>
									<sequence>
										<element name="action" type="xmml:recordActionCodeType"/>
										<element name="when" type="gml:TimePositionType"/>
										<element name="byUser" type="gml:StringOrRefType"/>
									</sequence>
									<attribute ref="gml:id" use="optional"/>
								</complexType>
							</element>
						</sequence>
						<attributeGroup ref="gml:AssociationAttributeGroup"/>
					</complexType>
				</element>
				<element name="measurementStatus">
					<complexType>
						<sequence>
							<element name="MeasurementMetaData" minOccurs="0">
								<complexType>
									<sequence>
										<element name="status" type="xmml:observationStatusType"/>
										<element name="comments" type="gml:StringOrRefType" minOccurs="0"/>
									</sequence>
									<attribute ref="gml:id" use="optional"/>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element ref="gml:name"/>
				<element ref="gml:validTime"/>
				<element name="meter">
					<complexType>
						<sequence>
							<element name="GravityMeter" minOccurs="0">
								<complexType>
									<sequence>
										<element name="type" type="xmml:gravimeterType"/>
									</sequence>
									<attribute ref="gml:id" use="optional"/>
								</complexType>
							</element>
						</sequence>
						<attributeGroup ref="gml:AssociationAttributeGroup"/>
					</complexType>
				</element>
				<element name="onStation">
					<complexType>
						<sequence>
							<element ref="xmml:GravityStation" minOccurs="0"/>
						</sequence>
						<attributeGroup ref="gml:AssociationAttributeGroup"/>
					</complexType>
				</element>
				<element name="gravity" type="gml:QuantityPropertyType"/>
				<element name="gravityAccuracy" type="gml:MeasureType"/>
				<element name="gravityDatum" type="Name"/>
				<element name="gravityCalcDate" type="gml:TimePrimitivePropertyType"/>
				<element name="meterHeightOffset" type="gml:MeasureType"/>
				<element name="meterHeightError" type="gml:MeasureType" minOccurs="0"/>
				<element name="meterHeightMethod" type="xmml:elevationMethodType" minOccurs="0"/>
				<element name="terrainCorrection" type="gml:MeasureType"/>
				<element name="terrainCorrectionError" type="gml:MeasureType" minOccurs="0"/>
				<element name="terrainCorrectionMethod" type="xmml:TCMethodType" minOccurs="0"/>
				<element name="terrainCorrectionDensity" type="gml:MeasureType"/>
				<element name="confidence" type="Name"/>
				<element name="reliability" type="xmml:gravityMeasurementReliabilityType"/>
				<element name="relatedProject" type="gml:FeaturePropertyType"/>
				<element ref="om:relatedObservation" minOccurs="0"/>
			</sequence>
			<attribute ref="gml:id" use="optional"/>
		</complexType>
	</element>
	<!-- ====================================================================== -->
	<element name="GravityStation">
		<complexType>
			<sequence>
				<element ref="gml:description" minOccurs="0"/>
				<element ref="gml:name"/>
				<element ref="gml:position"/>
				<element name="elevation" type="gml:DirectPositionType"/>
				<element name="country" type="xmml:ISOCountry3Char" minOccurs="0"/>
				<element name="surveyDetails">
					<complexType>
						<sequence>
							<element name="SurveyProcedure" minOccurs="0">
								<complexType>
									<sequence>
										<element ref="gml:description"/>
										<element name="locationAccuracy" type="gml:MeasureType" minOccurs="0"/>
										<element name="locationMethod" type="xmml:positionMethodType" minOccurs="0"/>
										<element name="elevationAccuracy" type="gml:MeasureType" minOccurs="0"/>
										<element name="elevationMethod" type="xmml:elevationMethodType" minOccurs="0"/>
									</sequence>
									<attribute ref="gml:id" use="optional"/>
								</complexType>
							</element>
						</sequence>
						<attributeGroup ref="gml:AssociationAttributeGroup"/>
					</complexType>
				</element>
				<element name="elevationType" type="xmml:elevationTypeType" minOccurs="0"/>
				<element name="stationType" type="xmml:gravityStationType"/>
				<element name="referenceStation" minOccurs="0">
					<complexType>
						<sequence>
							<choice minOccurs="0">
								<element ref="om:Station"/>
								<element ref="xmml:GravityStation"/>
							</choice>
						</sequence>
						<attributeGroup ref="gml:AssociationAttributeGroup"/>
					</complexType>
				</element>
			</sequence>
			<attribute ref="gml:id" use="optional"/>
		</complexType>
	</element>
</schema>
