trunk/XMML/material.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.0.1 U (http://www.xmlspy.com)-->
<schema targetNamespace="http://www.opengis.net/xmml" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xmml="http://www.opengis.net/xmml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release">
	<annotation>
		<documentation>
material.xsd

Materials for XMML
based on NORTON EarthMaterial model

2003-07-19

Copyright (c) 2004 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice
</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="https://www.seegrid.csiro.au/subversion/gml/3.1.1/base/gmlBase.xsd"/>
	<include schemaLocation="./basicTypes.xsd"/>
	<include schemaLocation="./temporal.xsd"/>
	<!-- ====================================================================== -->
	<element name="Material" type="xmml:MaterialType" substitutionGroup="gml:_GML"/>
	<element name="Mineral" type="xmml:MaterialType" substitutionGroup="xmml:Material"/>
	<element name="OrganicMaterial" type="xmml:MaterialType" substitutionGroup="xmml:Material"/>
	<element name="Fluid" type="xmml:MaterialType" substitutionGroup="xmml:Material"/>
	<!-- ====== -->
	<complexType name="MaterialType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<group ref="xmml:PropertiesOfSimpleMaterials"/>
					<group ref="xmml:GeologicProperties"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="CompoundMaterial" type="xmml:CompoundMaterialType" substitutionGroup="xmml:Material"/>
	<element name="Rock" type="xmml:CompoundMaterialType" substitutionGroup="xmml:CompoundMaterial"/>
	<element name="UnconsolidatedMaterial" type="xmml:CompoundMaterialType" substitutionGroup="xmml:CompoundMaterial"/>
	<!-- ====== -->
	<complexType name="CompoundMaterialType">
		<complexContent>
			<extension base="xmml:MaterialType">
				<group ref="xmml:PropertiesOfCompoundMaterials"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<group name="PropertiesOfSimpleMaterials">
		<sequence>
			<element name="colour" type="xmml:ColourPropertyType" minOccurs="0"/>
			<element name="chemicalComposition" type="xmml:ChemicalCompositionPropertyType" minOccurs="0"/>
			<element name="physicalProperty" type="xmml:SoftTypedMeasureType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="physicalCategory" type="xmml:SoftTypedCategoryType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</group>
	<!-- ====================================================================== -->
	<group name="GeologicProperties">
		<sequence>
			<element name="genesis" type="xmml:GenesisPropertyType" minOccurs="0"/>
			<element name="age" type="gml:TimePrimitivePropertyType" minOccurs="0"/>
		</sequence>
	</group>
	<!-- ====================================================================== -->
	<group name="PropertiesOfCompoundMaterials">
		<sequence>
			<element name="component" type="xmml:MaterialPropertyType" maxOccurs="unbounded"/>
			<element name="fabric" type="xmml:FabricPropertyType" minOccurs="0"/>
			<element name="texture" type="xmml:TexturePropertyType" minOccurs="0"/>
			<element name="consolidation" type="xmml:ConsolidationPropertyType"/>
		</sequence>
	</group>
	<!-- ====================================================================== -->
	<group name="GeotechnicalProperties">
		<sequence>
			<element name="rqd" type="gml:MeasureType" minOccurs="0"/>
			<element name="fractureFrequency" type="gml:MeasureType" minOccurs="0"/>
		</sequence>
	</group>
	<!-- ====================================================================== -->
	<group name="EconomicProperties">
		<sequence>
			<element name="oreMineral" type="xmml:MineralPropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</group>
	<!-- ====================================================================== -->
	<!-- ===== Properties used by specialised feature types ======= -->
	<!-- ====================================================================== -->
	<complexType name="ChemicalCompositionPropertyType">
		<simpleContent>
			<restriction base="gml:StringOrRefType"/>
		</simpleContent>
	</complexType>
	<!-- ====================================================================== -->
	<complexType name="ColourPropertyType">
		<simpleContent>
			<extension base="xmml:TokenWithAuthorityType"/>
		</simpleContent>
	</complexType>
	<!-- ====================================================================== -->
	<complexType name="ConsolidationPropertyType">
		<simpleContent>
			<extension base="xmml:TokenWithAuthorityType"/>
		</simpleContent>
	</complexType>
	<!-- ====================================================================== -->
	<complexType name="FabricPropertyType">
		<simpleContent>
			<extension base="xmml:TokenWithAuthorityType"/>
		</simpleContent>
	</complexType>
	<!-- ====================================================================== -->
	<complexType name="GenesisPropertyType">
		<simpleContent>
			<extension base="gml:StringOrRefType"/>
		</simpleContent>
	</complexType>
	<!-- ====================================================================== -->
	<complexType name="MaterialPropertyType">
		<sequence>
			<element ref="xmml:Material" minOccurs="0"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ===================================================== -->
	<complexType name="MineralPropertyType">
		<complexContent>
			<restriction base="xmml:MaterialPropertyType">
				<sequence>
					<element ref="xmml:Mineral" minOccurs="0"/>
				</sequence>
				<attributeGroup ref="gml:AssociationAttributeGroup"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ===================================================== -->
	<complexType name="MaterialArrayPropertyType">
		<sequence>
			<element ref="xmml:Material" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!-- ====================================================================== -->
	<complexType name="TexturePropertyType">
		<simpleContent>
			<extension base="xmml:TokenWithAuthorityType"/>
		</simpleContent>
	</complexType>
	<!-- ====================================================================== -->
</schema>
