trunk/XMML/observation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xmml="http://www.opengis.net/xmml" targetNamespace="http://www.opengis.net/xmml" elementFormDefault="qualified"
        attributeFormDefault="unqualified" version="pre-release">
	<annotation>
		<documentation>observation.xsd

An implementation of the OandM model for XMML

Copyright (c) 2005 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="./gml4observation.xsd"/>
	<include schemaLocation="./event.xsd"/>
	<include schemaLocation="./procedure.xsd"/>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- ===== Object types for Observations ====== -->
	<!-- ====================================================================== -->
	<complexType name="AbstractObservationPropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:AbstractObservation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ......................... -->
	<element name="AbstractObservation" type="xmml:AbstractObservationType" abstract="true" substitutionGroup="xmml:Event">
		<annotation>
			<documentation>Head of Observation substitution group</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="AbstractObservationType">
		<annotation>
			<documentation>Base type for Observations. 
			Earlier versions used ObservationBaseType which suppressed preceding/following events, source/product. 
			However, these are needed to record processing chains, so have been reinstated. 

			Concrete Observation types must extend this type with a "result" of the appropriate type.</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:EventType">
				<sequence>
					<element name="procedureUsed" type="xmml:ProcedurePropertyType"/>
					<element name="target" type="xmml:ObservationTargetPropertyType">
						<annotation>
							<documentation>the Feature or location regarding which the observations are being made, 
			sometimes called the subject of the observation, such as a specimen, station, tract, mountain, pixel, etc.</documentation>
						</annotation>
					</element>
					<element name="observedProperty" type="gml:DictionaryEntryType" minOccurs="0">
						<annotation>
							<documentation>Description of the property or phenomenon whose value is being described or estimated through observation, such as "wavelength", "grass-species", "power", "intensity in the waveband x-y", etc. It is this feature property that provides the (semantic) type of the observation. Note that the description of the phenomenon may be quite specific and constrained. In general the precise details of the constraints describing the observe properties require attention to the procedure used in making the observation: e.g. an optical sensor typically has a wavelength-dependent response. This optional property may be provided for client convenience, to allow comparison between and aggregation of observations of the same property made using different procedures.</documentation>
						</annotation>
					</element>
					<element ref="xmml:quality" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Allow multiple quality measures if required.</documentation>
						</annotation>
					</element>
					<!-- 
					<element name="result" type="anyType">
						<annotation>
							<documentation>This is a placeholder - concrete types must replace (restrict) this with a "result" property of the correct type. </documentation>
						</annotation>
					</element>
					-->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<complexType name="ObservationTargetPropertyType">
		<sequence minOccurs="0">
			<group ref="xmml:ObservationTarget"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ......................... -->
	<group name="ObservationTarget">
		<choice>
			<element ref="gml:_Feature"/>
			<element ref="gml:_Geometry"/>
		</choice>
	</group>
	<!-- ====================================================================== -->
	<element name="ObservationCollection" type="xmml:ObservationCollectionType" substitutionGroup="xmml:AbstractObservation">
		<annotation>
			<documentation>Observation collection, using the "Composite" pattern</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="ObservationCollectionType">
		<complexContent>
			<extension base="xmml:AbstractObservationType">
				<sequence>
					<element name="member" type="xmml:AbstractObservationPropertyType" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="Observation" type="xmml:ObservationType" substitutionGroup="xmml:AbstractObservation">
		<annotation>
			<documentation>Generic Observation event</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="ObservationType">
		<annotation>
			<documentation>Observation event.   
			carries a generic  "result" properties of type "anyType".</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:AbstractObservationType">
				<sequence>
					<element name="result" type="anyType"/>
					<element name="resultMap" type="string" default="scalar">
						<annotation>
							<documentation>Specifies how components of a complex result are associated with components of the target and eventTime when the values of the latter are not primitives.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="Measurement" type="xmml:MeasurementType" substitutionGroup="xmml:AbstractObservation">
		<annotation>
			<documentation>Measurement event</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="MeasurementType">
		<annotation>
			<documentation>Measurement event.   
			carries one "result" properties of type "ResultMeasureType".</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:AbstractObservationType">
				<sequence>
					<element name="result" type="xmml:ResultMeasureType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="RangeMeasurement" type="xmml:RangeMeasurementType" substitutionGroup="xmml:AbstractObservation">
		<annotation>
			<documentation>Range Measurement event</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="RangeMeasurementType">
		<annotation>
			<documentation>Range Measurement event.   
			Carries two "result" properties of type "ResultMeasureType".
			The values of the relativeMeasure attributes on the two results must specify a range.</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:AbstractObservationType">
				<sequence>
					<element name="result" type="xmml:ResultMeasureType" minOccurs="2" maxOccurs="2"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="CategoryObservation" type="xmml:CategoryObservationType" substitutionGroup="xmml:AbstractObservation">
		<annotation>
			<documentation>Observation, in which the result is a textual value from a controlled vocabulary</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="CategoryObservationType">
		<annotation>
			<documentation>Observation, in which the result is a textual value from a controlled vocabulary</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:AbstractObservationType">
				<sequence>
					<element name="result" type="xmml:CodeWithAuthorityType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="ComplexObservation" type="xmml:ComplexObservationType" substitutionGroup="xmml:AbstractObservation">
		<annotation>
			<documentation>Observation, in which the result is a complex value expressed as a record/tuple</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="ComplexObservationType">
		<annotation>
			<documentation>Observation, in which the result is a complex value expressed as a record/tuple</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:AbstractObservationType">
				<sequence>
					<element name="result" type="xmml:RecordType"/>
					<element name="resultMap" type="string" default="scalar">
						<annotation>
							<documentation>Specifies how components of a complex result are associated with components of the target and eventTime when the values of the latter are not primitives.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="ComplexMeasurement" type="xmml:ComplexMeasurementType" substitutionGroup="xmml:AbstractObservation">
		<annotation>
			<documentation>Observation, in which the result is a complex value expressed as a numeric record/tuple</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="ComplexMeasurementType">
		<annotation>
			<documentation>Observation, in which the result is a complex value expressed as a numeric record/tuple</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:AbstractObservationType">
				<sequence>
					<element name="result" type="xmml:NumericRecordType"/>
					<element name="resultMap" type="string" default="scalar">
						<annotation>
							<documentation>Specifies how components of a complex result are associated with components of the target and eventTime when the values of the latter are not primitives.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="ResultPointerObservation" type="xmml:ResultPointerObservationType" substitutionGroup="xmml:AbstractObservation">
		<annotation>
			<documentation>Observation, in which the result is given as a URI pointing to an external resource</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="ResultPointerObservationType">
		<annotation>
			<documentation>Observation, in which the result is given as a URI pointing to an external resource</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:AbstractObservationType">
				<sequence>
					<element name="result" type="xmml:ExternalReferenceType"/>
					<element name="resultMap" type="string" default="scalar">
						<annotation>
							<documentation>Specifies how components of a complex result are associated with components of the target and eventTime when the values of the latter are not primitives.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="ImageCapture" type="xmml:ImageCaptureType" substitutionGroup="xmml:AbstractObservation">
		<annotation>
			<documentation>Observation, in which the result is an image</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="ImageCaptureType">
		<annotation>
			<documentation>Observation, in which the result is an image</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:AbstractObservationType">
				<sequence>
					<element name="result" type="xmml:ExternalReferenceType"/>
					<element name="resultMap" type="string" default="scalar">
						<annotation>
							<documentation>Specifies how components of a complex result are associated with components of the target and eventTime when the values of the latter are not primitives.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ===== Composite Observation ======= -->
	<!-- ====================================================================== -->
	<element name="CompositeObservation" type="xmml:CompositeObservationType" substitutionGroup="xmml:ObservationCollection">
		<annotation>
			<documentation>Specialization of ObservationCollection, in which the members of the collection refer to a consistent target, time etc. Functionally equivalent to ComplexObservation</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="CompositeObservationType">
		<complexContent>
			<extension base="xmml:ObservationCollectionType">
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- === "result" types for observations === -->
	<!-- ====================================================================== -->
	<complexType name="ResultMeasureType">
		<simpleContent>
			<extension base="xmml:MeasureType">
				<attribute name="relativeMeasure" type="xmml:RelativeMeasureCode" default="equals"/>
			</extension>
		</simpleContent>
	</complexType>
	<!-- ............ -->
	<simpleType name="RelativeMeasureCode">
		<annotation>
			<documentation xml:lang="en">This enumerated data type specifies values for relative measures.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="lessThan"/>
			<enumeration value="lessThanOrEquals"/>
			<enumeration value="equals"/>
			<enumeration value="greaterThanOrEquals"/>
			<enumeration value="greaterThan"/>
		</restriction>
	</simpleType>
	<!-- ............ -->
	<complexType name="ExternalReferenceType">
		<complexContent>
			<extension base="gml:ReferenceType">
				<attribute name="mimeType" type="anyURI" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ===================================================================  -->
	<!-- <group name="SoftProperties">
		<sequence>
			<group ref="xmml:property" minOccurs="0" maxOccurs="unbounded"/>
			<element name="xmml:relatedObservation" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</group>
	====================================================================== -->
	<!--
	<group name="resultMeasureChoice">
		<choice>
			<element name="resultMeasure" type="xmml:ResultMeasureType" nillable="true">
				<annotation>
					<documentation>Holds a  measure as a simple (literal) scaled value with an (optional) relativeMeasure attribute</documentation>
				</annotation>
			</element>
			<element name="resultMeasureInterval" type="xmml:MeasureIntervalType" nillable="true">
				<annotation>
					<documentation>Describes a measure interval as a pair of simple (literal) values using the same scale</documentation>
				</annotation>
			</element>
		</choice>
	</group>
	<element name="resultBoolean" type="boolean" nillable="true">
		<annotation>
			<documentation>Holds a boolean as a simple (literal) value</documentation>
		</annotation>
	</element>
	<element name="resultCode" type="xmml:TokenWithAuthorityType" nillable="true">
		<annotation>
			<documentation>Holds a code as a simple (literal) value</documentation>
		</annotation>
	</element>
	<element name="resultCount" type="xmml:CountType" nillable="true">
		<annotation>
			<documentation>Holds an integer as a simple (literal) value</documentation>
		</annotation>
	</element>
	<element name="resultNRecord" type="xmml:NumericOrNullRecordType" nillable="true">
		<annotation>
			<documentation>Holds a numeric record as a simple (literal) value</documentation>
		</annotation>
	</element>
	<element name="resultRecord" type="xmml:RecordType" nillable="true">
		<annotation>
			<documentation>Holds a general record as a simple (literal) value</documentation>
		</annotation>
	</element>
	<element name="resultPosition" type="gml:DirectPositionType" nillable="true">
		<annotation>
			<documentation>Holds a direct position as a simple (literal) value</documentation>
		</annotation>
	</element>
	<element name="resultVector" type="gml:VectorType" nillable="true">
		<annotation>
			<documentation>Holds a spatial vector as a simple (literal) value</documentation>
		</annotation>
	</element>
	<element name="resultGeometry" type="gml:GeometryPropertyType" nillable="true">
		<annotation>
			<documentation>Holds or points to a gml:_Geometry</documentation>
		</annotation>
	</element>
	<element name="resultTime" type="gml:TimePrimitivePropertyType" nillable="true">
		<annotation>
			<documentation>Holds or points to a gml:_TimePrimitive</documentation>
		</annotation>
	</element>
	<element name="resultObject" type="gml:AssociationType" nillable="true">
		<annotation>
			<documentation>The most general form for holding a "result", which may be any Object (including valueObjects) or may simply carry a link to the result</documentation>
		</annotation>
	</element>
	<group name="resultChoice">
		<choice>
			<group ref="xmml:resultMeasureChoice"/>
			<element ref="xmml:resultBoolean"/>
			<element ref="xmml:resultCode"/>
			<element ref="xmml:resultCount"/>
			<element ref="xmml:resultNRecord"/>
			<element ref="xmml:resultRecord"/>
			<element ref="xmml:resultGeometry"/>
			<element ref="xmml:resultTime"/>
			<element ref="xmml:resultObject"/>
		</choice>
	</group>
-->
</schema>