trunk/XMML/observation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.opengis.net/xmml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xmml="http://www.opengis.net/xmml">
	<annotation>
		<documentation>
observation.xsd

An implementation of the OandM model for XMML

Copyright (c) 2004 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice
</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/base/feature.xsd"/>
	<include schemaLocation="./feature.xsd"/>
	<include schemaLocation="./procedures.xsd"/>
	<!-- ====================================================================== -->
	<!-- === hierarchy of "result" property elements for observations === -->
	<!-- ====================================================================== -->
	<element name="abstractResult" type="anyType" abstract="true"/>
	<!-- ............ -->
	<element name="abstractResultMeasure" type="anyType" abstract="true" substitutionGroup="xmml:abstractResult"/>
	<element name="resultMeasure" type="xmml:ResultMeasureType" substitutionGroup="xmml:abstractResultMeasure" nillable="true">
		<annotation>
			<documentation>Holds a  measure as a simple (literal) scaled value with an (optional) relativeMeasure attribute</documentation>
		</annotation>
	</element>
	<element name="resultMeasureInterval" type="xmml:MeasureIntervalType" substitutionGroup="xmml:abstractResultMeasure" nillable="true">
		<annotation>
			<documentation>Describes a measure interval as a pair of simple (literal) values using the same scale</documentation>
		</annotation>
	</element>
	<!-- ............ -->
	<complexType name="ResultMeasureType">
		<simpleContent>
			<extension base="xmml:MeasureType">
				<attribute name="relativeMeasure" type="xmml:RelativeMeasureType" default="equals"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="RelativeMeasureType">
		<annotation>
			<documentation xml:lang="en">This enumerated data type specifies values for relative measures.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="lessThan"/>
			<enumeration value="lessThanOrEquals"/>
			<enumeration value="equals"/>
			<enumeration value="greaterThanOrEquals"/>
			<enumeration value="greaterThan"/>
		</restriction>
	</simpleType>
	<!-- ............ -->
	<!-- ............ -->
	<element name="resultMeasureExact" type="xmml:MeasureType" substitutionGroup="xmml:abstractResultMeasure" nillable="true">
		<annotation>
			<appinfo>deprecated - use resultMeasure instead</appinfo>
			<documentation>Holds an exact  measure as a simple (literal) value</documentation>
		</annotation>
	</element>
	<element name="resultMeasureLessThan" type="xmml:MeasureType" substitutionGroup="xmml:abstractResultMeasure" nillable="true">
		<annotation>
			<appinfo>deprecated - use resultMeasure relativeMeasure="lessThan" instead</appinfo>
			<documentation>Holds a  measure corresponding to the top of an unbounded interval, as a simple (literal) value</documentation>
		</annotation>
	</element>
	<element name="resultMeasureGreaterThan" type="xmml:MeasureType" substitutionGroup="xmml:abstractResultMeasure" nillable="true">
		<annotation>
			<appinfo>deprecated - use resultMeasure relativeMeasure="greaterThan" instead</appinfo>
			<documentation>Holds a  measure corresponding to the bottom of an unbounded interval, as a simple (literal) value</documentation>
		</annotation>
	</element>
	<!-- ================================================================== -->
	<!-- ............ -->
	<element name="resultBoolean" type="boolean" substitutionGroup="xmml:abstractResult" nillable="true">
		<annotation>
			<documentation>Holds a boolean as a simple (literal) value</documentation>
		</annotation>
	</element>
	<element name="resultCode" type="xmml:TokenWithAuthorityType" substitutionGroup="xmml:abstractResult" nillable="true">
		<annotation>
			<documentation>Holds a code as a simple (literal) value</documentation>
		</annotation>
	</element>
	<element name="resultCount" type="xmml:CountType" substitutionGroup="xmml:abstractResult" nillable="true">
		<annotation>
			<documentation>Holds an integer as a simple (literal) value</documentation>
		</annotation>
	</element>
	<element name="resultNRecord" type="xmml:NumericOrNullRecordType" substitutionGroup="xmml:abstractResult" nillable="true">
		<annotation>
			<documentation>Holds a numeric record as a simple (literal) value</documentation>
		</annotation>
	</element>
	<element name="resultRecord" type="xmml:RecordType" substitutionGroup="xmml:abstractResult" nillable="true">
		<annotation>
			<documentation>Holds a general record as a simple (literal) value</documentation>
		</annotation>
	</element>
	<element name="resultGeometry" type="gml:GeometryPropertyType" substitutionGroup="xmml:abstractResult" nillable="true">
		<annotation>
			<documentation>Holds or points to a gml:_Geometry</documentation>
		</annotation>
	</element>
	<element name="resultTime" type="gml:TimePrimitivePropertyType" substitutionGroup="xmml:abstractResult" nillable="true">
		<annotation>
			<documentation>Holds or points to a gml:_TimePrimitive</documentation>
		</annotation>
	</element>
	<element name="resultObject" type="gml:AssociationType" substitutionGroup="xmml:abstractResult" nillable="true">
		<annotation>
			<documentation>The most general form for holding a "result", which may be any Object (including valueObjects) or may simply carry a link to the result</documentation>
		</annotation>
	</element>
	<!-- ====== -->
	<group name="resultChoice">
		<annotation>
			<documentation>This group is functionally replaced by the abstractResult substitution group</documentation>
		</annotation>
		<choice>
			<element ref="xmml:abstractResultMeasure"/>
			<element ref="xmml:resultBoolean"/>
			<element ref="xmml:resultCode"/>
			<element ref="xmml:resultCount"/>
			<element ref="xmml:resultNRecord"/>
			<element ref="xmml:resultRecord"/>
			<element ref="xmml:resultGeometry"/>
			<element ref="xmml:resultTime"/>
			<element ref="xmml:resultObject"/>
		</choice>
	</group>
	<!-- ====================================================================== -->
	<!-- === other standard property elements for observations === -->
	<!-- ====================================================================== -->
	<element name="subject" type="gml:FeaturePropertyType">
		<annotation>
			<documentation>the Feature regarding which the observations are being made, 
			sometimes called the target of the observation, such as a specimen, station, tract, mountain, etc. 
			This element is declared global, so that it may act as the head of a substitution group for more specialised versions of the subject property
</documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<element name="observedProperty" type="gml:DictionaryEntryType">
		<annotation>
			<documentation>Description of the property or phenomenon whose value is being described or estimated through observation, such as "wavelength", "grass-species", "power", "intensity in the waveband x-y", etc. It is this feature property that provides the (semantic) type of the observation. Note that the description of the phenomenon may be quite specific and constrained. In general the precise details of the constraints describing the observe properties require attention to the procedure used in making the observation: e.g. an optical sensor typically has a wavelength-dependent response. This optional property may be provided for client convenience, to allow comparison between and aggregation of observations of the same property made using different procedures.</documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<element name="procedureTime" type="gml:TimePositionType">
		<annotation>
			<documentation>The Time when the observation occurred.  </documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<!-- ===== Feature types for Observations ====== -->
	<!-- ====================================================================== -->
	<element name="Observation" type="xmml:ObservationType" substitutionGroup="xmml:Feature">
		<annotation>
			<documentation>Generic Observation event</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="ObservationType">
		<annotation>
			<documentation>Generic Observation event.   
      Note that, in the context of an observation the mandatory "position" is the one deemed by the data provider to be most "representative" for use in spatial analysis. This location will normally relate to the location of the target or subject of the observation, rather than the location of the sensor or instrucment which may be sensing a phenomenon remotely. This location may be complemented by an extensive location which may be associated with the target or subject of the observation. 
      </documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:PositionedFeatureType">
				<sequence>
					<element ref="xmml:subject">
						<annotation>
							<documentation>the Feature regarding which the observations are being made, sometimes called the target of the observation, such as a specimen, station, tract, mountain, etc. </documentation>
						</annotation>
					</element>
					<element ref="xmml:observedProperty" minOccurs="0">
						<annotation>
							<documentation>Description of the property or phenomenon whose value is being described or estimated through observation, such as "wavelength", "grass-species", "power", "intensity in the waveband x-y", etc. It is this feature property that provides the (semantic) type of the observation. Note that the description of the phenomenon may be quite specific and constrained. In general the precise details of the constraints describing the observe properties require attention to the procedure used in making the observation: e.g. an optical sensor typically has a wavelength-dependent response. This optional property may be provided for client convenience, to allow comparison between and aggregation of observations of the same property made using different procedures.</documentation>
						</annotation>
					</element>
					<element ref="xmml:abstractResult">
						<annotation>
							<documentation>a choice of a measure, boolean, code, count, geometry or time-object, etc</documentation>
						</annotation>
					</element>
					<element ref="xmml:quality" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Allow multiple quality measures if required.</documentation>
						</annotation>
					</element>
					<element ref="xmml:procedureTime" nillable="true">
						<annotation>
							<documentation>The Time when the observation occurred.  </documentation>
						</annotation>
					</element>
					<element ref="xmml:responsible">
						<annotation>
							<documentation>Person or organisation responsible for the observation</documentation>
						</annotation>
					</element>
					<element ref="xmml:procedureUsed">
						<annotation>
							<documentation>Procedure or instrument used for the act of observation. 
							If the procedure involves reprocessing an earlier observation, then the identity of the source observation(s) should be recorded as a relatedFeature - use xlink:role to record the nature of the relationship (e.g. source measurement)</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="Measurement" type="xmml:MeasurementType" substitutionGroup="xmml:Observation">
		<annotation>
			<documentation>Generic Measurement event</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="MeasurementType">
		<annotation>
			<documentation>Generic Measurement event.   
Specialised from generic observation by restricting the result to be numeric.
      </documentation>
		</annotation>
		<complexContent>
			<restriction base="xmml:ObservationType">
				<sequence>
					<group ref="gml:StandardObjectProperties"/>
					<group ref="xmml:StandardSupportProperties"/>
					<group ref="xmml:ExtendedFeatureProperties"/>
					<element ref="xmml:relatedFeature" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="gml:position"/>
					<element ref="xmml:positionMethod" minOccurs="0"/>
					<element ref="xmml:subject"/>
					<element ref="xmml:observedProperty" minOccurs="0"/>
					<element ref="xmml:abstractResultMeasure"/>
					<element ref="xmml:quality" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="xmml:procedureTime"/>
					<element ref="xmml:responsible"/>
					<element ref="xmml:procedureUsed"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- ===== Properties used by specialised feature types ======= -->
	<!-- ====================================================================== -->
	<element name="previousObservation" type="xmml:ObservationPropertyType"/>
	<element name="relatedObservation" type="xmml:ObservationPropertyType"/>
	<!-- ...................... -->
	<complexType name="ObservationPropertyType">
		<sequence minOccurs="0">
			<choice>
				<element ref="xmml:Observation"/>
				<element ref="xmml:ObservationCollection"/>
			</choice>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- =================================================================== -->
	<!-- ===== Observation collection ======= -->
	<!-- ====================================================================== -->
	<element name="ObservationCollection" type="xmml:ObservationCollectionType" substitutionGroup="xmml:Feature"/>
	<!-- ...................... -->
	<complexType name="ObservationCollectionType">
		<complexContent>
			<extension base="xmml:BoundedFeatureType">
				<sequence>
					<element name="observationMember" type="xmml:ObservationPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ===================================================================  -->
	<group name="SoftProperties">
		<sequence>
			<group ref="xmml:property" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="xmml:relatedObservation" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</group>
	<!-- ====================================================================== -->
</schema>
