trunk/XMML/observation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xmml="http://www.opengis.net/xmml" targetNamespace="http://www.opengis.net/xmml" elementFormDefault="qualified"
        attributeFormDefault="unqualified" version="pre-release">
	<annotation>
		<documentation>observation.xsd

An implementation of the OandM model for XMML

Copyright (c) 2005 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/base/feature.xsd"/>
	<include schemaLocation="./event.xsd"/>
	<!-- ====================================================================== -->
	<!-- === hierarchy of "result" property elements for observations === -->
	<!-- ====================================================================== -->
	<complexType name="ResultMeasureType">
		<simpleContent>
			<extension base="xmml:MeasureType">
				<attribute name="relativeMeasure" type="xmml:RelativeMeasureCode" default="equals"/>
			</extension>
		</simpleContent>
	</complexType>
	<!-- ............ -->
	<simpleType name="RelativeMeasureCode">
		<annotation>
			<documentation xml:lang="en">This enumerated data type specifies values for relative measures.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="lessThan"/>
			<enumeration value="lessThanOrEquals"/>
			<enumeration value="equals"/>
			<enumeration value="greaterThanOrEquals"/>
			<enumeration value="greaterThan"/>
		</restriction>
	</simpleType>
	<!-- ............ -->
	<group name="resultMeasureChoice">
		<choice>
			<element name="resultMeasure" type="xmml:ResultMeasureType" nillable="true">
				<annotation>
					<documentation>Holds a  measure as a simple (literal) scaled value with an (optional) relativeMeasure attribute</documentation>
				</annotation>
			</element>
			<element name="resultMeasureInterval" type="xmml:MeasureIntervalType" nillable="true">
				<annotation>
					<documentation>Describes a measure interval as a pair of simple (literal) values using the same scale</documentation>
				</annotation>
			</element>
		</choice>
	</group>
	<!-- ================================================================== -->
	<element name="resultBoolean" type="boolean" nillable="true">
		<annotation>
			<documentation>Holds a boolean as a simple (literal) value</documentation>
		</annotation>
	</element>
	<!-- ............ -->
	<element name="resultCode" type="xmml:TokenWithAuthorityType" nillable="true">
		<annotation>
			<documentation>Holds a code as a simple (literal) value</documentation>
		</annotation>
	</element>
	<!-- ............ -->
	<element name="resultCount" type="xmml:CountType" nillable="true">
		<annotation>
			<documentation>Holds an integer as a simple (literal) value</documentation>
		</annotation>
	</element>
	<!-- ............ -->
	<element name="resultNRecord" type="xmml:NumericOrNullRecordType" nillable="true">
		<annotation>
			<documentation>Holds a numeric record as a simple (literal) value</documentation>
		</annotation>
	</element>
	<!-- ............ -->
	<element name="resultRecord" type="xmml:RecordType" nillable="true">
		<annotation>
			<documentation>Holds a general record as a simple (literal) value</documentation>
		</annotation>
	</element>
	<!-- ............ -->
	<element name="resultPosition" type="gml:DirectPositionType" nillable="true">
		<annotation>
			<documentation>Holds a direct position as a simple (literal) value</documentation>
		</annotation>
	</element>
	<!-- ............ -->
	<element name="resultVector" type="gml:VectorType" nillable="true">
		<annotation>
			<documentation>Holds a spatial vector as a simple (literal) value</documentation>
		</annotation>
	</element>
	<!-- ............ -->
	<element name="resultGeometry" type="gml:GeometryPropertyType" nillable="true">
		<annotation>
			<documentation>Holds or points to a gml:_Geometry</documentation>
		</annotation>
	</element>
	<!-- ............ -->
	<element name="resultTime" type="gml:TimePrimitivePropertyType" nillable="true">
		<annotation>
			<documentation>Holds or points to a gml:_TimePrimitive</documentation>
		</annotation>
	</element>
	<!-- ............ -->
	<element name="resultObject" type="gml:AssociationType" nillable="true">
		<annotation>
			<documentation>The most general form for holding a "result", which may be any Object (including valueObjects) or may simply carry a link to the result</documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<group name="resultChoice">
		<choice>
			<group ref="xmml:resultMeasureChoice"/>
			<element ref="xmml:resultBoolean"/>
			<element ref="xmml:resultCode"/>
			<element ref="xmml:resultCount"/>
			<element ref="xmml:resultNRecord"/>
			<element ref="xmml:resultRecord"/>
			<element ref="xmml:resultGeometry"/>
			<element ref="xmml:resultTime"/>
			<element ref="xmml:resultObject"/>
		</choice>
	</group>
	<!-- ====================================================================== -->
	<!-- ===== Feature types for Observations ====== -->
	<!-- ====================================================================== -->
	<element name="Observation" type="xmml:ObservationType" substitutionGroup="xmml:Event">
		<annotation>
			<documentation>Generic Observation event</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="ObservationBaseType">
		<annotation>
			<documentation>Suppress precedingEvent, followingEvent, source and product</documentation>
		</annotation>
		<complexContent>
			<restriction base="xmml:ProcedureEventType">
				<sequence>
					<group ref="gml:StandardObjectProperties"/>
					<group ref="xmml:StandardSupportProperties"/>
					<element name="eventTime" type="gml:TimeGeometricPrimitivePropertyType"/>
					<element name="responsible" type="xmml:PartyPropertyType" minOccurs="0"/>
					<element name="procedureUsed" type="xmml:ProcedurePropertyType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ...................... -->
	<complexType name="ObservationType">
		<annotation>
			<documentation>Generic Observation event.</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:ObservationBaseType">
				<sequence>
					<element name="subject" type="gml:FeaturePropertyType">
						<annotation>
							<documentation>the Feature regarding which the observations are being made, 
			sometimes called the target of the observation, such as a specimen, station, tract, mountain, etc. 
			This element is declared global, so that it may act as the head of a substitution group for more specialised versions of the subject property</documentation>
						</annotation>
					</element>
					<element name="observedProperty" type="gml:DictionaryEntryType" minOccurs="0">
						<annotation>
							<documentation>Description of the property or phenomenon whose value is being described or estimated through observation, such as "wavelength", "grass-species", "power", "intensity in the waveband x-y", etc. It is this feature property that provides the (semantic) type of the observation. Note that the description of the phenomenon may be quite specific and constrained. In general the precise details of the constraints describing the observe properties require attention to the procedure used in making the observation: e.g. an optical sensor typically has a wavelength-dependent response. This optional property may be provided for client convenience, to allow comparison between and aggregation of observations of the same property made using different procedures.</documentation>
						</annotation>
					</element>
					<group ref="xmml:resultChoice">
						<annotation>
							<documentation>a choice of a measure, boolean, code, count, geometry or time-object, etc</documentation>
						</annotation>
					</group>
					<element ref="xmml:quality" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Allow multiple quality measures if required.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="Measurement" type="xmml:MeasurementType" substitutionGroup="xmml:Observation">
		<annotation>
			<documentation>Generic Measurement event</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="MeasurementType">
		<annotation>
			<documentation>Generic Measurement event.   
Specialised from generic observation by restricting the result to be numeric.</documentation>
		</annotation>
		<complexContent>
			<restriction base="xmml:ObservationType">
				<sequence>
					<group ref="gml:StandardObjectProperties"/>
					<group ref="xmml:StandardSupportProperties"/>
					<element name="eventTime" type="gml:TimeGeometricPrimitivePropertyType"/>
					<element name="responsible" type="xmml:PartyPropertyType" minOccurs="0"/>
					<element name="procedureUsed" type="xmml:ProcedurePropertyType"/>
					<element name="subject" type="gml:FeaturePropertyType"/>
					<element name="observedProperty" type="gml:DictionaryEntryType" minOccurs="0"/>
					<group ref="xmml:resultMeasureChoice"/>
					<element ref="xmml:quality" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- ===== Properties used by specialised feature types ======= -->
	<!-- ====================================================================== -->
	<element name="previousObservation" type="xmml:ObservationPropertyType"/>
	<element name="relatedObservation" type="xmml:ObservationPropertyType"/>
	<!-- ...................... -->
	<complexType name="ObservationPropertyType">
		<sequence minOccurs="0">
			<choice>
				<element ref="xmml:Observation"/>
				<element ref="xmml:ObservationCollection"/>
			</choice>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- =================================================================== -->
	<!-- ===== Observation collection ======= -->
	<!-- ====================================================================== -->
	<element name="ObservationCollection" type="xmml:ObservationCollectionType" substitutionGroup="gml:_GML"/>
	<!-- ...................... -->
	<complexType name="ObservationCollectionType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="observationMember" type="xmml:ObservationPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ===================================================================  -->
	<group name="SoftProperties">
		<sequence>
			<group ref="xmml:property" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="xmml:relatedObservation" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</group>
	<!-- ====================================================================== -->
</schema>