trunk/XMML/procedures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.opengis.net/xmml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release" xmlns:xmml="http://www.opengis.net/xmml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:xlink="http://www.w3.org/1999/xlink">
	<annotation>
		<documentation>
procedures.xsd

Components to describe procedures used in exploration and mining activities.

Copyright (c) 2004 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice
</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="./gml4procedure.xsd"/>
	<include schemaLocation="./base.xsd"/>
	<include schemaLocation="../enumerations/LUTgeodesy.xsd"/>
	<!-- ====================================================================== -->
	<!-- === Standard property elements used in Procedure feature types === -->
	<!-- ====================================================================== -->
	<element name="method" type="token">
		<annotation>
			<documentation>Code for the particular procedure type.  
    Head of substitution group, and usually replaced by a code type for the specific procedure which uses a controlled list.  </documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<!-- === Generic Procedure type === -->
	<!-- ====================================================================== -->
	<element name="Procedure" type="xmml:ProcedureType" substitutionGroup="gml:Definition">
		<annotation>
			<documentation>Procedures may be listed in a Dictionary (i.e. lightweight registry)</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="ProcedureType">
		<annotation>
			<documentation>Use gml:description element to describe the procedure or link to a definitive description.  
     			use method to indicate member of list if possible</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:DefinitionType">
				<sequence>
					<group ref="xmml:StandardSupportProperties"/>
					<element ref="xmml:method">
						<annotation>
							<documentation>Usually an item from a list or registry of procedures, methods, instrument-types, etc.</documentation>
						</annotation>
					</element>
					<element ref="xmml:quality" minOccurs="0">
						<annotation>
							<documentation>Quality associated systematically with this procedure.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- === Specialised Procedure types === -->
	<!-- ====================================================================== -->
	<element name="CalculationProcedure" type="xmml:CalculationProcedureType" substitutionGroup="xmml:Procedure"/>
	<!-- ...................... -->
	<complexType name="CalculationProcedureType">
		<annotation>
			<documentation>Use the "description" property to record the details of the calculation</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:ProcedureType"/>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="Instrument" type="xmml:InstrumentType" substitutionGroup="xmml:Procedure"/>
	<!-- ...................... -->
	<complexType name="InstrumentType">
		<annotation>
			<documentation>Add one or more instrument serial numbers, in order to identify specific instances or stations</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:ProcedureType">
				<sequence>
					<element name="serialNumber" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="SurveyProcedure" type="xmml:SurveyProcedureType" substitutionGroup="xmml:Procedure"/>
	<element name="positionMethod" type="xmml:positionMethodType" substitutionGroup="xmml:method"/>
	<!-- ...................... -->
	<complexType name="SurveyProcedureBaseType" abstract="true">
		<annotation>
			<documentation>Restrict method to be positionMethod</documentation>
		</annotation>
		<complexContent>
			<restriction base="xmml:ProcedureType">
				<sequence>
					<group ref="xmml:StandardDefinitionProperties"/>
					<group ref="xmml:StandardSupportProperties"/>
					<element ref="xmml:positionMethod"/>
					<element ref="xmml:quality" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ...................... -->
	<complexType name="SurveyProcedureType">
		<annotation>
			<documentation/>
		</annotation>
		<complexContent>
			<extension base="xmml:SurveyProcedureBaseType">
				<sequence>
					<element name="positionAccuracy" type="gml:MeasureType" minOccurs="0"/>
					<element name="elevationMethod" type="xmml:elevationMethodType" minOccurs="0"/>
					<element name="elevationAccuracy" type="gml:MeasureType" minOccurs="0"/>
					<element name="projection" type="xmml:projections" minOccurs="0"/>
					<element name="geodeticDatum" type="xmml:gDatums" minOccurs="0"/>
					<element name="elevationDatum" type="xmml:vDatums" minOccurs="0"/>
					<element name="operator" type="xmml:PartyPropertyType" minOccurs="0">
						<annotation>
							<documentation>Note than in other contexts the "operator" is not embedded in the procedure description. Maybe needs a tweak later?</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- === Global property elements involving procedures === -->
	<!-- ====================================================================== -->
	<element name="action" type="xmml:ProcedurePropertyType"/>
	<element name="procedureUsed" type="xmml:ProcedurePropertyType" substitutionGroup="xmml:action"/>
	<element name="procedureMember" type="xmml:ProcedurePropertyType" substitutionGroup="xmml:action"/>
	<!-- ...................... -->
	<complexType name="ProcedurePropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:Procedure"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<element name="instrumentUsed" type="xmml:InstrumentPropertyType" substitutionGroup="xmml:procedureUsed"/>
	<!-- ...................... -->
	<complexType name="InstrumentPropertyType">
		<complexContent>
			<restriction base="xmml:ProcedurePropertyType">
				<sequence minOccurs="0">
					<element ref="xmml:Instrument"/>
				</sequence>
				<attributeGroup ref="gml:AssociationAttributeGroup"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="surveyProcedureUsed" type="xmml:SurveyProcedurePropertyType"/>
	<!-- ...................... -->
	<complexType name="SurveyProcedurePropertyType">
		<complexContent>
			<restriction base="xmml:ProcedurePropertyType">
				<sequence minOccurs="0">
					<element ref="xmml:SurveyProcedure"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- === Specialised event types involving procedures === -->
	<!-- ====================================================================== -->
	<element name="ProcedureEvent" type="xmml:ProcedureEventType" substitutionGroup="xmml:Event">
		<annotation>
			<documentation>Description of an event involving a procedure.  </documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="ProcedureEventType">
		<annotation>
			<documentation>Description of an event involving a procedure.  </documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:EventType">
				<sequence>
					<element ref="xmml:method"/>
					<element name="source" type="gml:StringOrRefType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Reference to input (if not implied by context)</documentation>
						</annotation>
					</element>
					<element name="product" type="gml:StringOrRefType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Reference to result (if not implied by context)</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- === Global property elements involving procedure events === -->
	<!-- ====================================================================== -->
	<element name="processingStep" type="xmml:ProcedureEventPropertyType">
		<annotation>
			<documentation>Processing steps - (set of) procedure events</documentation>
		</annotation>
	</element>
	<!-- ...................... -->
	<complexType name="ProcedureEventPropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:ProcedureEvent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<group name="pqr">
		<sequence>
			<annotation>
				<documentation>Utility group of properties from which data quality can be inferred. 
        At least one of these should normally be present.</documentation>
			</annotation>
			<element ref="xmml:quality" minOccurs="0">
				<annotation>
					<documentation>An indication of the quality of value or result.  
          This quality is specific to the individual feature.  
          Systematic effects that are a consequence of the _procedure_ should be described in the description of the procedure instead. </documentation>
				</annotation>
			</element>
			<element ref="xmml:processingStep" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Processing steps - (set of) procedure events</documentation>
				</annotation>
			</element>
			<element ref="xmml:reference" minOccurs="0">
				<annotation>
					<documentation>Reference to documentation giving more complete explanation of procedure and/or quality.</documentation>
				</annotation>
			</element>
		</sequence>
	</group>
	<!-- ====================================================================== -->
</schema>
