trunk/XMML/referenceSystems.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.opengis.net/xmml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release" xmlns:xmml="http://www.opengis.net/xmml" xmlns:xsd="http://www.opengis.net/xmml/xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:xlink="http://www.w3.org/1999/xlink">
	<annotation>
		<documentation>
referenceSystems.xsd

A GML conformant schema 
for definitions of properties and property sets
used for soft-typing of property elements

SJDC  2004-07-02

Copyright (c) 2004 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice
</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<!--  
	<import namespace="http://www.w3.org/2001/XMLSchema" schemaLocation="http://www.w3.org/2001/XMLSchema">
		<annotation>
			<documentation>Import the schema-for-schemas. (Spy has an entry pointing to a local copy in MainCatalog.xml)  
Validation problems with the S4S so relevant components copied instead </documentation>
		</annotation>
	</import> -->
	<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/XML/1998/namespace">
		<annotation>
			<documentation>
       Get access to the xml: attribute groups for xml:lang
       as declared on 'schema' and 'documentation' below
     </documentation>
		</annotation>
	</import>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.0/base/dictionary.xsd"/>
	<include schemaLocation="./procedures.xsd"/>
	<!-- ====================================================================== -->
	<complexType name="RSDefinitionPropertyType">
		<sequence minOccurs="0">
			<choice>
				<element ref="xmml:TupleDefinition"/>
				<element ref="xmml:AxisDefinition"/>
			</choice>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<complexType name="AxisDefinitionPropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:AxisDefinition"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<element name="TupleDefinition" type="xmml:TupleDefinitionType" abstract="true" substitutionGroup="gml:Definition">
		<annotation>
			<documentation>Description of a set of properties or a compound property, with scales, 
      that are the subject of a measurement, observation or assignment.  
      This is typically used as the "reference system" defining the components of a tuple.  </documentation>
		</annotation>
	</element>
	<!-- ====== -->
	<complexType name="TupleDefinitionType" abstract="true">
		<annotation>
			<documentation>Description of a set of properties with their scales that are the subject of a 
      measurement, observation or assignment.  
      This is typically used as the "reference system" defining the components of a tuple.  
      A property set may defined as either
      1. a set of explicitly enumerated components which may or may not be related to one another
      2. a base property convolved with a set of constraints
      The set of  constraints may be either
      * an explicit set of soft-typed measures, intervals and categories
      * one or more lists of soft-typed measures, intervals and categories
      * one or more sequences of soft-typed measures and intervals 
</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:DefinitionType">
				<attribute name="dimension" type="positiveInteger">
					<annotation>
						<documentation>The number of components in the tuple</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="SeriesTupleDefinition" type="xmml:SeriesTupleDefinitionType" substitutionGroup="xmml:TupleDefinition"/>
	<complexType name="SeriesTupleDefinitionType">
		<complexContent>
			<extension base="gml:DefinitionType">
				<sequence>
					<element name="baseProperty" type="gml:StringOrRefType">
						<annotation>
							<documentation>Property that forms the basis for generating a set of more refined properties; e.g. Chemical Composition, Radiance</documentation>
						</annotation>
					</element>
					<choice>
						<annotation>
							<documentation>A set of values of some secondary property that constraints the baseProperty to generate a property set.  If more than one set of constraints are possible, then these are applied simultaneously to generate </documentation>
						</annotation>
						<group ref="xmml:constraintLists" maxOccurs="unbounded"/>
					</choice>
					<element ref="xmml:representation">
						<annotation>
							<documentation>When the (baseProperty with constraints) method is chosen, 
                then a single scale applies to all components of the set</documentation>
						</annotation>
					</element>
					<group ref="xmml:quality">
						<annotation>
							<documentation>When the (baseProperty with constraints) method is chosen, 
                then a single quality and observation procedure applies to all components of the set</documentation>
						</annotation>
					</group>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="ComponentTupleDefinition" type="xmml:ComponentTupleDefinitionType" substitutionGroup="xmml:TupleDefinition"/>
	<complexType name="ComponentTupleDefinitionType">
		<complexContent>
			<extension base="gml:DefinitionType">
				<sequence>
					<element name="component" maxOccurs="unbounded">
						<complexType>
							<sequence minOccurs="0">
								<choice>
									<element ref="xmml:AxisDefinition"/>
									<element ref="xmml:TupleDefinition"/>
								</choice>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<group name="scale">
		<choice>
			<element ref="gml:unitOfMeasure">
				<annotation>
					<documentation>Use this element to indicate an unit of measure for numeric values.  </documentation>
				</annotation>
			</element>
			<element name="classification" type="gml:StringOrRefType">
				<annotation>
					<documentation>Use this element to indicate an informally or externally described classification scheme for textual values.  </documentation>
				</annotation>
			</element>
		</choice>
	</group>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<element name="representation" type="xmml:RepresentationType">
		<annotation>
			<documentation> this reuses components from XML Schema to describe the "value-space" in terms of a base type and facets,  
            or a composite such as a union.  
            
            For numeric types this will normally indicate integer, double etc and (optionally) facets to describe one or more intervals or a precision. 
            For textual types this will normally indicate string, token etc and (optionally) facets will indicate a pattern, enumeration, length etc.  
            
            N.B. The "topLevelSimpleType" version should be used in order that it may carry a "name" attribute.  
            This allows independently defined value-spaces to be combined in unions.  
            
	But currently validators mostly barf when trying to import the S4S </documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<!-- 
<complexType name="RepresentationType">
		<complexContent>
			<extension base="topLevelSimpleType">
				<sequence>
					<group ref="xmml:scale"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
-->
	<!-- ...... -->
	<complexType name="RepresentationType">
		<choice>
			<element name="Number">
				<complexType>
					<sequence>
						<element ref="gml:unitOfMeasure"/>
						<element name="minInclusive" type="xmml:facet" minOccurs="0"/>
						<element name="minExclusive" type="xmml:facet" minOccurs="0"/>
						<element name="maxInclusive" type="xmml:facet" minOccurs="0"/>
						<element name="maxExclusive" type="xmml:facet" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="Word">
				<complexType>
					<choice>
						<element name="classification" type="gml:StringOrRefType"/>
						<element name="pattern" type="xmml:noFixedFacet"/>
						<element name="enumeration" type="xmml:noFixedFacet" maxOccurs="unbounded"/>
					</choice>
				</complexType>
			</element>
			<element name="Boolean">
				<complexType>
					<sequence>
						<element name="enumeration" type="xmml:noFixedFacet" minOccurs="2" maxOccurs="2"/>
					</sequence>
				</complexType>
			</element>
		</choice>
	</complexType>
	<!-- ...... -->
	<!-- === Components from S4S (XML Schema "schema for schemas") ===== -->
	<!-- ...... -->
	<complexType name="openAttrs">
		<annotation>
			<documentation>
       This type is extended by almost all schema types
       to allow attributes from other namespaces to be
       added to user schemas.
     </documentation>
		</annotation>
		<complexContent>
			<restriction base="anyType">
				<anyAttribute namespace="##other" processContents="lax"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="annotated">
		<annotation>
			<documentation>
       This type is extended by all types which allow annotation
       other than &lt;schema&gt; itself
     </documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:openAttrs">
				<sequence>
					<element ref="xmml:annotation" minOccurs="0"/>
				</sequence>
				<attribute name="id" type="ID"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="facet">
		<complexContent>
			<extension base="xmml:annotated">
				<attribute name="value" use="required"/>
				<attribute name="fixed" type="boolean" use="optional" default="false"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="noFixedFacet">
		<complexContent>
			<restriction base="xmml:facet">
				<sequence>
					<element ref="xmml:annotation" minOccurs="0"/>
				</sequence>
				<attribute name="fixed" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<element name="appinfo" id="appinfo">
		<annotation>
			<documentation source="http://www.w3.org/TR/xmlschema-1/#element-appinfo"/>
		</annotation>
		<complexType mixed="true">
			<sequence minOccurs="0" maxOccurs="unbounded">
				<any processContents="lax"/>
			</sequence>
			<attribute name="source" type="anyURI"/>
		</complexType>
	</element>
	<element name="documentation" id="documentation">
		<annotation>
			<documentation source="http://www.w3.org/TR/xmlschema-1/#element-documentation"/>
		</annotation>
		<complexType mixed="true">
			<sequence minOccurs="0" maxOccurs="unbounded">
				<any processContents="lax"/>
			</sequence>
			<attribute name="source" type="anyURI"/>
			<attribute ref="xml:lang"/>
		</complexType>
	</element>
	<element name="annotation" id="annotation">
		<annotation>
			<documentation source="http://www.w3.org/TR/xmlschema-1/#element-annotation"/>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="xmml:openAttrs">
					<choice minOccurs="0" maxOccurs="unbounded">
						<element ref="xmml:appinfo"/>
						<element ref="xmml:documentation"/>
					</choice>
					<attribute name="id" type="ID"/>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<!-- ====================================================================== -->
	<group name="quality">
		<sequence>
			<element ref="xmml:quality" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>One or more quality elements record systematic measure of reliability</documentation>
				</annotation>
			</element>
			<element ref="xmml:procedureUsed" minOccurs="0">
				<annotation>
					<documentation>Description of procedure or instrument used. </documentation>
				</annotation>
			</element>
		</sequence>
	</group>
	<!-- ====================================================================== -->
	<group name="singleConstraints">
		<choice>
			<annotation>
				<documentation>Constraint sets expressed in fully explicit form. 
        The base property is associated with each value or interval in turn</documentation>
			</annotation>
			<element name="categoryConstraint" type="xmml:SoftTypedCategoryType">
				<annotation>
					<documentation>A value from a classification that constrains the base property; e.g. Chemical Species</documentation>
				</annotation>
			</element>
			<element name="measureConstraint" type="xmml:SoftTypedMeasureType">
				<annotation>
					<documentation>A numeric value of some property that constrains the base property; e.g. Wavelength</documentation>
				</annotation>
			</element>
			<element name="intervalConstraint" type="xmml:SoftTypedMeasureIntervalType">
				<annotation>
					<documentation>An interval or range of some property that constrains the base property; e.g. Wavelength band</documentation>
				</annotation>
			</element>
		</choice>
	</group>
	<!-- ====================================================================== -->
	<group name="constraintLists">
		<choice>
			<annotation>
				<documentation>Constraint sets expressed in compact form. 
        The base property is associated with each value or interval in turn</documentation>
			</annotation>
			<element name="categoryConstraintList" type="xmml:SoftTypedCategoryListType">
				<annotation>
					<documentation>A list of values from a classification ; e.g. Chemical Species</documentation>
				</annotation>
			</element>
			<element name="measureConstraintList" type="xmml:SoftTypedMeasureListType">
				<annotation>
					<documentation>A list of numeric values of some property; e.g. Wavelength</documentation>
				</annotation>
			</element>
			<element name="intervalConstraintList" type="xmml:SoftTypedMeasureListType">
				<annotation>
					<documentation>A list of *pairs* of numeric values each defining an interval of some property; e.g. Wavelength band</documentation>
				</annotation>
			</element>
			<element name="measureConstraintSequence" type="string">
				<annotation>
					<documentation>A set of numeric values of some property; e.g. Wavelength, expressed as a regular sequence (incomplete)</documentation>
				</annotation>
			</element>
			<element name="intervalConstraintSequence" type="string">
				<annotation>
					<documentation>A set of *pairs* of numeric values of some property; e.g. Wavelength band, expressed as a regular sequence (incomplete)</documentation>
				</annotation>
			</element>
		</choice>
	</group>
	<!-- ====================================================================== -->
	<element name="AxisDefinition" type="xmml:AxisDefinitionType" substitutionGroup="gml:Definition">
		<annotation>
			<documentation>Description of a scalar property</documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<complexType name="AxisDefinitionType">
		<annotation>
			<documentation>A scalar property and the value-space used to express instances.  
      gml:description may be used for a more extensive description of the semantics, with a link to a definitive version (if available).  
      gml:name should be used for the "short name" or label.  
      </documentation>
		</annotation>
		<complexContent>
			<extension base="gml:DefinitionType">
				<sequence>
					<element name="derivation" minOccurs="0">
						<complexType>
							<choice>
								<element name="ConstrainedProperty">
									<complexType>
										<sequence>
											<element name="baseProperty" type="gml:StringOrRefType">
												<annotation>
													<documentation>Property that forms the basis for generating a set of more refined properties; e.g. Chemical Composition, Radiance</documentation>
												</annotation>
											</element>
											<group ref="xmml:singleConstraints" maxOccurs="unbounded"/>
										</sequence>
									</complexType>
								</element>
							</choice>
						</complexType>
					</element>
					<element ref="xmml:representation"/>
					<group ref="xmml:quality"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
</schema>
