trunk/XMML/referenceSystems.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.opengis.net/xmml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release" xmlns:xmml="http://www.opengis.net/xmml" xmlns:xsd="http://www.opengis.net/xmml/xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:st="http://www.seegrid.csiro.au/schema/st">
	<annotation>
		<documentation>
referenceSystems.xsd

A GML conformant schema 
for definitions of properties and property sets
used for soft-typing of property elements

Copyright (c) 2004 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice
</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<!-- <import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/XML/1998/namespace">
		<annotation>
			<documentation>
       Get access to the xml: attribute groups for xml:lang
       as declared on 'schema' and 'documentation' below
     </documentation>
		</annotation>
	</import> -->
	<import namespace="http://www.seegrid.csiro.au/schema/st" schemaLocation="../WXS/simpleTypeDerivation.xsd">
		<annotation>
			<documentation>SimpleType derivation components from W3C XML Schema specification, loaded into a new namespace.</documentation>
		</annotation>
	</import>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.0/base/dictionary.xsd"/>
	<include schemaLocation="./procedures.xsd"/>
	<!-- ====================================================================== -->
	<element name="PropertyDefinition" type="gml:DefinitionType" substitutionGroup="gml:Definition">
		<annotation>
			<documentation>Use the generic gml:DefinitionType for basic property definitions, 
			gml:description may be used for a more extensive description of the semantics, with a link to a definitive version (if available).  
			gml:name should be used for the "short name" or label.  
</documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<complexType name="PropertyDefinitionPropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:PropertyDefinition"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<element name="ConstrainedProperty" type="xmml:ConstrainedPropertyType" substitutionGroup="xmml:PropertyDefinition">
		<annotation>
			<documentation>Description of a scalar property defined by adding constraints to a property previously defined elsewhere.</documentation>
		</annotation>
	</element>
	<!-- ........................................ -->
	<complexType name="ConstrainedPropertyType">
		<annotation>
			<documentation>A scalar property defined by adding constraints to an existing property.  
      </documentation>
		</annotation>
		<complexContent>
			<extension base="gml:DefinitionType">
				<sequence>
					<element name="baseProperty" type="xmml:PropertyDefinitionPropertyType">
						<annotation>
							<documentation>Property that forms the basis for generating a set of more refined properties; e.g. Chemical Composition, Radiance</documentation>
						</annotation>
					</element>
					<group ref="xmml:singleConstraint" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<group name="singleConstraint">
		<annotation>
			<documentation>Constraints expressed in fully explicit form. 
        The base property is associated with each value or interval in turn</documentation>
		</annotation>
		<choice>
			<element name="categoryConstraint" type="xmml:SoftTypedCategoryType">
				<annotation>
					<documentation>A value from a classification that constrains the base property; e.g. Chemical Species</documentation>
				</annotation>
			</element>
			<element name="measureConstraint" type="xmml:SoftTypedMeasureType">
				<annotation>
					<documentation>A numeric value of some property that constrains the base property; e.g. Wavelength</documentation>
				</annotation>
			</element>
			<element name="intervalConstraint" type="xmml:SoftTypedMeasureIntervalType">
				<annotation>
					<documentation>An interval or range of some property that constrains the base property; e.g. Wavelength band</documentation>
				</annotation>
			</element>
		</choice>
	</group>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<element name="CompoundProperty" type="xmml:CompoundPropertyType" abstract="true" substitutionGroup="xmml:PropertyDefinition">
		<annotation>
			<documentation>Description of a set of properties or a compound property, 
      that are the subject of a measurement, observation or assignment.   </documentation>
		</annotation>
	</element>
	<!-- ........................................ -->
	<complexType name="CompoundPropertyType" abstract="true">
		<annotation>
			<documentation>Description of a set of properties.  
      A property set may defined as either
      1. a set of explicitly enumerated components which may or may not be related to one another
      2. a base property convolved with a set of constraints
      The set of  constraints may be either
      * an explicit set of soft-typed measures, intervals and categories
      * one or more lists of soft-typed measures, intervals and categories
      * one or more sequences of soft-typed measures and intervals 
</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:DefinitionType">
				<attribute name="dimension" type="positiveInteger">
					<annotation>
						<documentation>The number of components in the tuple</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="CompositeProperty" type="xmml:CompositePropertyType" substitutionGroup="xmml:CompoundProperty">
		<annotation>
			<documentation>A Composite Property Definition is composed from arbitrary base properties. </documentation>
		</annotation>
	</element>
	<!-- ........................................ -->
	<complexType name="CompositePropertyType">
		<complexContent>
			<extension base="xmml:CompoundPropertyType">
				<sequence>
					<element name="component" type="xmml:PropertyDefinitionPropertyType" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="PropertySeries" type="xmml:PropertySeriesType" substitutionGroup="xmml:CompoundProperty">
		<annotation>
			<documentation>A Series is derived from a common baseProperty (e.g. Chemical Concentration) with one or more constraint lists (e.g. Chemical Species). </documentation>
		</annotation>
	</element>
	<!-- ........................................ -->
	<complexType name="PropertySeriesType">
		<complexContent>
			<extension base="xmml:CompoundPropertyType">
				<sequence>
					<element name="baseProperty" type="xmml:PropertyDefinitionPropertyType">
						<annotation>
							<documentation>Property that forms the basis for generating a set of more refined properties; e.g. Chemical Composition, Radiance</documentation>
						</annotation>
					</element>
					<group ref="xmml:constraintLists" maxOccurs="unbounded">
						<annotation>
							<documentation>A set of values of some secondary property that constraints the baseProperty to generate a property set.  If more than one set of constraints are possible, then these are applied simultaneously to generate </documentation>
						</annotation>
					</group>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<group name="constraintLists">
		<choice>
			<annotation>
				<documentation>Constraint sets expressed in compact form. 
        The base property is associated with each value or interval in turn</documentation>
			</annotation>
			<element name="categoryConstraintList" type="xmml:SoftTypedCategoryListType">
				<annotation>
					<documentation>A list of values from a classification ; e.g. Chemical Species</documentation>
				</annotation>
			</element>
			<element name="measureConstraintList" type="xmml:SoftTypedMeasureListType">
				<annotation>
					<documentation>A list of numeric values of some property; e.g. Wavelength</documentation>
				</annotation>
			</element>
			<element name="intervalConstraintList" type="xmml:SoftTypedMeasureListType">
				<annotation>
					<documentation>A list of *pairs* of numeric values each defining an interval of some property; e.g. Wavelength band</documentation>
				</annotation>
			</element>
			<element name="measureConstraintSequence" type="string">
				<annotation>
					<documentation>A set of numeric values of some property; e.g. Wavelength, expressed as a regular sequence (incomplete)</documentation>
				</annotation>
			</element>
			<element name="intervalConstraintSequence" type="string">
				<annotation>
					<documentation>A set of *pairs* of numeric values of some property; e.g. Wavelength band, expressed as a regular sequence (incomplete)</documentation>
				</annotation>
			</element>
		</choice>
	</group>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<element name="AbstractRSDefinition" type="gml:DefinitionType" abstract="true" substitutionGroup="gml:Definition">
		<annotation>
			<documentation>Abstract element used as head of a substitution group for axis and record definitions</documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<complexType name="RSDefinitionPropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:AbstractRSDefinition"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<element name="AxisDefinition" type="xmml:AxisDefinitionType" substitutionGroup="xmml:AbstractRSDefinition">
		<annotation>
			<documentation>Description of a scalar property with its representation and scale and (optional) quality indicators</documentation>
		</annotation>
	</element>
	<!-- ........................................ -->
	<complexType name="AxisDefinitionType">
		<annotation>
			<documentation>Description of a scalar property with its representation and scale and (optional) quality indicators.</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:DefinitionType">
				<sequence>
					<element name="property" type="xmml:PropertyDefinitionPropertyType"/>
					<element ref="xmml:representation"/>
					<element ref="xmml:procedureUsed" minOccurs="0"/>
					<element ref="xmml:quality" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>One or more quality elements record systematic measure of reliability</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<complexType name="AxisDefinitionPropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:AxisDefinition"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<element name="RecordDefinition" type="xmml:RecordDefinitionType" substitutionGroup="xmml:AbstractRSDefinition">
		<annotation>
			<documentation>A Record Definition is composed from arbitrary base axes, which may be records. </documentation>
		</annotation>
	</element>
	<!-- ........................................ -->
	<complexType name="RecordDefinitionType">
		<complexContent>
			<extension base="gml:DefinitionType">
				<sequence>
					<element name="component" type="xmml:RSDefinitionPropertyType" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="dimension" type="positiveInteger">
					<annotation>
						<documentation>The number of components in the tuple</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<element name="representation" type="xmml:RepresentationType">
		<annotation>
			<documentation> 
			this uses components copied from XML Schema to describe the "value-space" in terms of 
			a base type and facets, or a composite such as a union.  
            
            For numeric types this will normally indicate integer, double etc and (optionally) facets 
            to describe one or more intervals or a precision. 
            For textual types this will normally indicate string, token etc and (optionally) facets 
            will indicate a pattern, enumeration, length etc.  
            </documentation>
		</annotation>
	</element>
	<!-- ...... -->
	<complexType name="RepresentationType">
		<choice>
			<element name="Number">
				<complexType>
					<sequence>
						<element name="restriction" minOccurs="0">
							<complexType>
								<sequence>
									<element ref="st:minInclusive" minOccurs="0"/>
									<element ref="st:minExclusive" minOccurs="0"/>
									<element ref="st:maxInclusive" minOccurs="0"/>
									<element ref="st:maxExclusive" minOccurs="0"/>
								</sequence>
							</complexType>
						</element>
						<element ref="gml:unitOfMeasure"/>
					</sequence>
				</complexType>
			</element>
			<element name="Word">
				<complexType>
					<sequence>
						<element name="restriction" minOccurs="0">
							<complexType>
								<choice>
									<element ref="st:pattern"/>
									<element ref="st:enumeration" maxOccurs="unbounded"/>
								</choice>
							</complexType>
						</element>
						<element name="classification" type="gml:StringOrRefType"/>
					</sequence>
				</complexType>
			</element>
			<element name="Boolean">
				<complexType>
					<sequence>
						<element name="restriction">
							<complexType>
								<sequence>
									<element ref="st:enumeration" minOccurs="2" maxOccurs="2"/>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="General">
				<complexType>
					<complexContent>
						<extension base="st:localSimpleType">
							<sequence>
								<group ref="xmml:scale"/>
							</sequence>
						</extension>
					</complexContent>
				</complexType>
			</element>
		</choice>
	</complexType>
	<!-- ......  ...... -->
	<group name="scale">
		<choice>
			<element ref="gml:unitOfMeasure">
				<annotation>
					<documentation>Use this element to indicate an unit of measure for numeric values.  </documentation>
				</annotation>
			</element>
			<element name="classification" type="gml:StringOrRefType">
				<annotation>
					<documentation>Use this element to indicate an informally or externally described classification scheme for textual values.  </documentation>
				</annotation>
			</element>
			<element name="noScale" type="boolean" fixed="true"/>
		</choice>
	</group>
	<!-- ====================================================================== -->
</schema>
