trunk/XMML/site.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xmml="http://www.opengis.net/xmml" targetNamespace="http://www.opengis.net/xmml" elementFormDefault="qualified"
        attributeFormDefault="unqualified" version="pre-release">
	<annotation>
		<documentation>site.xsd

Site provides a set of feature types that are used primarily for making observations: 
Station (0-D)
Section, Interval, Traverse, Flightline, Borehole (1-D)
AreaOfInterest (2-D)
ZoneOfInterest (3-D)

In many cases the properties of interest vary within the site, so may be represented as a coverage associated with the site. 

Copyright (c) 2005 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="./gml4site.xsd"/>
	<include schemaLocation="./feature.xsd"/>
	<include schemaLocation="./geometry.xsd"/>
	<include schemaLocation="./observation.xsd"/>
	<include schemaLocation="./coverage.xsd"/>
	<include schemaLocation="../enumerations/LUTgeography.xsd"/>
	<!-- ====================================================================== -->
	<!-- ===== Feature types in Site hierarchy ====== -->
	<!-- ====================================================================== -->
	<element name="Site" type="xmml:SiteType" abstract="true" substitutionGroup="xmml:Feature"/>
	<!-- .................. -->
	<complexType name="SiteType">
		<annotation>
			<documentation>A "Site" is a feature used primarily for taking observations.</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:FeatureType">
				<sequence>
					<element name="surveyDetails" type="xmml:SurveyProcedurePropertyType" minOccurs="0">
						<annotation>
							<documentation>Description of, or link to, the procedure used in determining the position of the site.  
              For complex procedures, such as when elevation and position are determined separately, may be disaggregated.</documentation>
						</annotation>
					</element>
					<element name="associatedSpecimen" type="xmml:SpecimenPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="relatedObservation" type="xmml:ObservationPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- .................. -->
	<complexType name="SitePropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:Site"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<element name="Station" type="xmml:StationType" substitutionGroup="xmml:Site"/>
	<!-- .................. -->
	<complexType name="StationType">
		<annotation>
			<documentation>A "Station" is an identified position (0-D geospatial feature). 
		It may be revisited for various purposes, in particular to retrieve multiple specimens or make repeated or complementary observations. 
		The position property of the station provides the value of the position property of observations an specimens associated with the station. 
		By using the Station feature, this position information and any metadata associated with it may be encoded in one place, i.e. normalised, and then re-used _by reference_ on other feature instances associated with it.</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:SiteType">
				<sequence>
					<element ref="gml:position"/>
					<element name="elevation" type="gml:DirectPositionType" minOccurs="0">
						<annotation>
							<documentation>Use the srsName attribute to record the elevation datum</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- .................. -->
	<complexType name="StationPropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:Station"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<element name="Section" type="xmml:SectionType" substitutionGroup="xmml:Site"/>
	<!-- .................. -->
	<complexType name="SectionType">
		<annotation>
			<documentation>A "Section" is an identified 1-D spatial feature. 
		It may be revisited for various purposes, in particular to retrieve multiple specimens or make repeated or complementary observations.</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:SiteType">
				<sequence>
					<element name="begin" type="gml:PointPropertyType"/>
					<element name="end" type="gml:PointPropertyType"/>
					<element name="length" type="gml:MeasureType"/>
					<element name="shape" type="xmml:Shape1DPropertyType"/>
					<element name="member" type="xmml:IntervalPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="log" type="xmml:LogPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- .................. -->
	<complexType name="SectionPropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:Section"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<element name="Interval" type="xmml:SectionType" substitutionGroup="xmml:Section"/>
	<!-- .................. -->
	<complexType name="IntervalPropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:Interval"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<element name="CurveSurvey" type="xmml:CurveSurveyType" substitutionGroup="xmml:Coverage">
		<annotation>
			<documentation>A coverage whose domain is a collection of direct positions, and whose range is a set of direction vectors</documentation>
		</annotation>
	</element>
	<!-- .................. -->
	<complexType name="CurveSurveyType">
		<annotation>
			<documentation>A discrete coverage type whose domain is defined by a collection of positions, and whose range is a set of direction vectors, coverageFunction implicitly linear</documentation>
		</annotation>
		<complexContent>
			<restriction base="xmml:CoverageType">
				<sequence>
					<group ref="gml:StandardObjectProperties"/>
					<element ref="gml:boundedBy"/>
					<group ref="xmml:StandardSupportProperties"/>
					<group ref="xmml:ExtendedFeatureProperties"/>
					<element ref="xmml:offsets"/>
					<element ref="xmml:directions"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- .................. -->
	<complexType name="CurveSurveyPropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:CurveSurvey"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<element name="offsets" type="xmml:MultiPosDomainType" substitutionGroup="xmml:domain"/>
	<!-- ====================================================================== -->
	<element name="directions" type="xmml:DirectionsRangeType" substitutionGroup="xmml:range"/>
	<!-- .................. -->
	<complexType name="DirectionsRangeType">
		<complexContent>
			<restriction base="xmml:RangeType">
				<sequence>
					<element name="ListOfVectors" type="xmml:ListOfVectorsType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- .................. -->
	<complexType name="ListOfVectorsType">
		<complexContent>
			<restriction base="xmml:ListOfRecordsType">
				<sequence>
					<element name="rangeParameters" type="xmml:RSDefinitionPropertyType">
						<annotation>
							<documentation>In this context, the rangeParameters property will merely identify the CRS for the vectors</documentation>
						</annotation>
					</element>
					<element ref="gml:vector" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<!-- ====================================================================== -->
	<complexType name="LogPropertyType">
		<sequence minOccurs="0">
			<choice>
				<element ref="xmml:ContinuousLog"/>
				<element ref="xmml:IntervalLog"/>
				<element ref="xmml:PointLog"/>
				<element ref="xmml:CurveSurvey"/>
			</choice>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attribute name="unionSemantics">
			<annotation>
				<documentation>optional XML attribute implements UML Union discriminator</documentation>
			</annotation>
			<simpleType>
				<restriction base="string">
					<enumeration value="continuousLog"/>
					<enumeration value="intervalLog"/>
					<enumeration value="pointLog"/>
					<enumeration value="curveSurvey"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<!-- ====================================================================== -->
	<element name="PointLog" type="xmml:PointSetCoverageType" substitutionGroup="xmml:PointSetCoverage">
		<annotation>
			<documentation>A log over a collection of point locations</documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<element name="IntervalLog" type="xmml:IntervalSetCoverageType" substitutionGroup="xmml:IntervalSetCoverage">
		<annotation>
			<documentation>A log over a collection of intervals</documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<element name="ContinuousLog" type="xmml:RectifiedGridCoverageType" substitutionGroup="xmml:RectifiedGridCoverage">
		<annotation>
			<documentation>A log over a collection of regularly spaced locations</documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<complexType name="Shape1DPropertyType">
		<sequence minOccurs="0">
			<choice>
				<element ref="gml:Curve"/>
				<element ref="gml:LineString"/>
				<element ref="xmml:Line"/>
			</choice>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attribute name="unionSemantics">
			<annotation>
				<documentation>optional XML attribute implements UML Union discriminator</documentation>
			</annotation>
			<simpleType>
				<restriction base="string">
					<enumeration value="curveShape"/>
					<enumeration value="lineStringShape"/>
					<enumeration value="lineShape"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<!-- ====================================================================== -->
	<element name="Specimen" type="xmml:SpecimenType" substitutionGroup="xmml:Feature"/>
	<!-- .................. -->
	<complexType name="SpecimenType">
		<annotation>
			<documentation>A located object on which measurements may be made.
			
			A "Station" from where the specimen was obtained may be recorded using the samplingStation property. 
						
			A basic material classification is provided using the "material" property. 
			Its value may be relatively generic (rock, pulp) or may reflect a detailed classification (calcrete, adamellite, biotite-schist). 
			In the latter case it is wise to use the codeSpace attribute to provide a link to the classification scheme/vocabulary used. 
			
			Note that if this specimen is a "processed" version of another (e.g. by grinding, seiving, etc) then 
			the predecessor (if known) may be recorded as a relatedFeature
			
			If this specimen has been processed from an "original" specimen, 
			as collected in the field or as supplied to the lab, 
			but results should be reported regarding the original, 
			then the original may be indicated using the reportingSpecimen property.
			
			Related observations may also be recorded using the relatedFeature property.</documentation>
		</annotation>
		<complexContent>
			<extension base="xmml:FeatureType">
				<sequence>
					<element name="sampledAt" type="xmml:SitePropertyType" minOccurs="0">
						<annotation>
							<documentation>Pointer to the station from which the specimen was obtained</documentation>
						</annotation>
					</element>
					<element name="material" type="gml:CodeType">
						<annotation>
							<documentation>Material type, usually taken from a controlled vocabulary
					Specialised domains may choose to fix the vocabulary to be used</documentation>
						</annotation>
					</element>
					<element name="reportingSpecimen" type="gml:ReferenceType" minOccurs="0"/>
					<element name="processingStep" type="xmml:ProcedureEventPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>One or more procedures may have been applied to a specimen.  
            May contain collection, sampling and preparation procedures</documentation>
						</annotation>
					</element>
					<element name="relatedObservation" type="xmml:ObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>An observation on the specimen</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- .................. -->
	<!--
	<element name="referenceSpecimen" type="xmml:SpecimenPropertyType"/>
	<element name="relatedSpecimen" type="xmml:SpecimenPropertyType"/>
	<element name="sourceSpecimen" type="xmml:SpecimenPropertyType"/>
	<element name="associatedSpecimen" type="xmml:SpecimenPropertyType"/>
	-->
	<complexType name="SpecimenPropertyType">
		<sequence minOccurs="0">
			<element ref="xmml:Specimen"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
</schema>