branches/3.0.0_rc1_gml3.2/geosciml-core/3.0.0/xsd/GeologicRelation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:3.0.0" xmlns:gsmlcore="urn:cgi:xmlns:CGI:GeoSciML-Core:3.0.0" targetNamespace="urn:cgi:xmlns:CGI:GeoSciML-Core:3.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>The GeoSciML GeologicRelation package contains the root relation class. 

Geologic Relations are typed, directed associations between geologic objects. Represents any of a wide variety of relationships that can exist between two or more Features or other entities. For example, the GeologicRelation "intrudes" is a relationship between an intrusive igneous rock and some host rock. Includes spatial, temporal, sequence, correlation, and parent/child relations.</documentation>
	</annotation>
	<include schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc1_gml3.2/geosciml-core/3.0.0/xsd/geosciml-core.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="urn:cgi:xmlns:CGI:Utilities:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc1_gml3.2/cgiUtilities/3.0.0/xsd/cgiUtilities.xsd"/>
	<element name="GeologicRelation" type="gsmlcore:GeologicRelationType" abstract="true" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>The GeologicRelation class is an abstract class that defines the general structure used to define relationships between any feature or object within GeoSciML.  Relationships are always binary and directional.  There is always a single source and a single target.  The relationship is always defined from the perspective of the Source and is generally an active verb.

Example:  a Source may point to an intrusive igneous rock body.  In this case, the Target would point to the appropriate host rock body and the relationship attribute would be 'intrudes'.  Other appropriate relationship attributes might include: overlies, offsets, crosscuts, folds, etc.

Many other types of relationships can also be accommodated via GeologicRelation, for example, topological relations between spatial objects could be described where they are scientifically significant.</documentation>
		</annotation>
	</element>
	<complexType name="GeologicRelationType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="relationship" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gsmlcore:GeologicRelationshipTerm</gml:targetElement>
							</appinfo>
							<documentation>Term that specifies the relationship between source and target geologic objects. Vocabulary of relationship names should explicitly state relationship between source and target role fillers.  For example, quartz (source) overgrows feldspar phenocryst (target).</documentation>
						</annotation>
					</element>
					<element name="sourceRole" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<gml:targetElement>gsmlcore:RelationRoleTerm</gml:targetElement>
							</appinfo>
							<documentation>The role played by the source geologic feature or object</documentation>
						</annotation>
					</element>
					<element name="targetRole" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<gml:targetElement>gsmlcore:RelationRoleTerm</gml:targetElement>
							</appinfo>
							<documentation>The role played by the target geologic feature or object</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicRelationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:GeologicRelation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeologicRelationshipTerm" type="gsmlcore:GeologicRelationshipTermType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Refers to a vocabulary of terms describing a relationships between geologic features or objects</documentation>
		</annotation>
	</element>
	<complexType name="GeologicRelationshipTermType"/>
	<complexType name="GeologicRelationshipTermPropertyType">
		<sequence>
			<element ref="gsmlcore:GeologicRelationshipTerm"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="RelationRoleTerm" type="gsmlcore:RelationRoleTermType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Refers to a vocabulary of terms describing roles played by geologic features or objects in a geologic relationship</documentation>
		</annotation>
	</element>
	<complexType name="RelationRoleTermType"/>
	<complexType name="RelationRoleTermPropertyType">
		<sequence>
			<element ref="gsmlcore:RelationRoleTerm"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
