branches/3.0.0_rc2/schemas/geosciml-core/3.0/collection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:gml="http://www.opengis.net/gml/3.2" 
	xmlns:em="http://geosciml.org/xmlns/EarthMaterial/3.0"  
	xmlns:gmd="http://www.isotc211.org/2005/gmd"  
	xmlns:sam="http://www.opengis.net/sampling/2.0"  
	xmlns:gsml="http://geosciml.org/xmlns/GeoSciML-Core/3.0" 
	targetNamespace="http://geosciml.org/xmlns/GeoSciML-Core/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	
	<!--  Removed xmlns, not needed.  OLR 23-11-10	
		xmlns:sa="http://www.opengis.net/sampling/1.0/gml32" 
	-->

	<annotation>
		<documentation>The GeoSciML Collection package contains facade classes that facilitate the structuring of WFS response documents and other application uses.</documentation>
	</annotation>
	
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/sampling/2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19156_xsd/schemas/OM/sampling/2.0/samplingFeature.xsd"/>
	<import namespace="http://geosciml.org/xmlns/EarthMaterial/3.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc2/schemas/earthmaterial/3.0/earthMaterial.xsd"/>

	<!--  Removed import, not needed.  OLR 23-11-10	-->
	<!--<import namespace="http://www.opengis.net/sampling/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-129/sampling/1.0.0_gml32/sampling.xsd"/>-->
	
	<!-- Added this include to allow GSML collection to inherit from geosciml-core - OLR 19-11-10-->	
	<include schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc2/schemas/geosciml-core/3.0/geosciml-core.xsd"></include>    
	
	<element name="GSML" type="gsml:GSMLType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>A collection container for items to be bundled in WFS response documents and other applications. FeatureType stereotype allows this to be a FeatureMember in a WFS_FeatureCollection.</documentation>
		</annotation>
	</element>
	<complexType name="GSMLType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="member" type="gsml:GSMLitemPropertyType" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Points to a member of a GSML collection, which can be any of the GeoSciML classes that are listed in the GSMLitem union class.</documentation>
						</annotation>
					</element>
					<element name="metadata" type="gmd:MD_Metadata_PropertyType" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GSMLPropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:GSML"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<group name="GSMLitem">
		<annotation>
			<documentation>GSMLitem is a union class that specifies the types of features that are allowed to be members of the GSML class, and therefore, members of a GML Collection.</documentation>
		</annotation>
		<choice>
			<element ref="em:EarthMaterial">
				<annotation>
					<documentation>The earthMaterialItem attribute is a placeholder for the EarthMaterial class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
			<element ref="gsml:GeologicEvent">
				<annotation>
					<documentation>The eventItem attribute is a placeholder for the GeologicEvent class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
			<element ref="gsml:GeologicFeature">
				<annotation>
					<documentation>The featureItem attribute is a placeholder for the GeologicFeature class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
			<element ref="gml:AbstractGeometry">
				<annotation>
					<documentation>The geometryItem attribute is a placeholder for the AbstractGeometry class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
			<element ref="gsml:MappedFeature">
				<annotation>
					<documentation>The mappedItem attribute is a placeholder for the MappedFeature class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
			<element ref="gsml:GeologicRelation">
				<annotation>
					<documentation>The relationItem attribute is a placeholder for the GeologicRelation class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
			<element ref="sam:SF_SamplingFeature">
				<annotation>
					<documentation>The SF_SamplingFeatureItem attribute is a placeholder for the SamplingFeature class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
		</choice>
	</group>
	<complexType name="GSMLitemPropertyType">
		<sequence minOccurs="0">
			<group ref="gsml:GSMLitem"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attribute name="unionSemantics" type="gsml:GSMLitemUnionSemantics"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="GSMLitemUnionSemantics">
		<restriction base="string">
			<enumeration value="earthMaterialItem"/>
			<enumeration value="eventItem"/>
			<enumeration value="featureItem"/>
			<enumeration value="geometryItem"/>
			<enumeration value="mappedItem"/>
			<enumeration value="relationItem"/>
			<enumeration value="samplingFeatureItem"/>
		</restriction>
	</simpleType>
</schema>
