branches/3.0.0_rc2/schemas/geosciml-core/3.0/geologicStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:gt="http://geosciml.org/xmlns/GeologicTime/3.0" 
	xmlns:gpp="http://geosciml.org/xmlns/PhysicalProperties/3.0" 
	xmlns:em="http://geosciml.org/xmlns/EarthMaterial/3.0" 
	xmlns:cgu="http://geosciml.org/xmlns/Utilities/3.0" 
	xmlns:gml="http://www.opengis.net/gml/3.2" 
	xmlns:gsml="http://geosciml.org/xmlns/GeoSciML-Core/3.0" 
	targetNamespace="http://geosciml.org/xmlns/GeoSciML-Core/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">  <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>GeologicStructures are a configuration of matter in the Earth based on describable inhomogeneity, pattern, or fracture in an Earth Material.  The scale of geological structures ranges from microscopic (micron-scale) to megascopic (km-scale). Examples of such inhomogeneities include fractures, mineral grain boundaries, and boundaries between parts of the rock with different particle geometry (texture) or composition. Geologic structure is grounded in relationships between parts of a rock or rock body.   As used here, it includes sedimentary structures. The identity of a Geologic Structure is independent of the material that is the substrate for the structure. There are almost always strong dependencies between the nature of the Earth Material substrate and the kinds of Geological Structure that may be present. A disaggregated heap of particles does not have structure, and can  only be described in terms of the mineralogy and geometrical character of the constituent particles.  Geologic Structures are more likely to be found in, and are more persistent in, consolidated materials than in unconsolidated materials. Properties like "clast-supported", "matrix-supported", and "graded bed" that do not involve orientation are considered kinds of Geologic Structure because they depend on the configuration of parts of a rock body.</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://geosciml.org/xmlns/Utilities/3.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc2/schemas/cgiutilities/3.0/cgiUtilities.xsd"/>
	<import namespace="http://geosciml.org/xmlns/EarthMaterial/3.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc2/schemas/earthmaterial/3.0/earthMaterial.xsd"/>
	<import namespace="http://geosciml.org/xmlns/GeologicTime/3.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc2/schemas/geotime/3.0/geologicTime.xsd"/>
	<import namespace="http://geosciml.org/xmlns/PhysicalProperties/3.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc2/schemas/physicalproperties/3.0/physicalProperties.xsd"/>
	
	<!-- This "include" added in to allow geologicStructure to inherit from geologicFeature - OLR 19-11-10-->
	<include schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc2/schemas/geosciml-core/3.0/geosciml-core.xsd"></include>  
	
	<element name="Joint" type="gsml:JointType" substitutionGroup="gsml:Fracture">
		<annotation>
			<documentation>Fracture across which there is no displacement at the scale of interest.</documentation>
		</annotation>
	</element>
	<complexType name="JointType">
		<complexContent>
			<extension base="gsml:FractureType"/>
		</complexContent>
	</complexType>
	<complexType name="JointPropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:Joint"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeologicStructure" type="gsml:GeologicStructureType" abstract="true" substitutionGroup="gsml:GeologicFeature">
		<annotation>
			<documentation>A configuration of matter in the Earth based on describable inhomogeneity, pattern, or fracture in an EarthMaterial. 
				The identity of a GeologicStructure is independent of the material that is the substrate for the structure. 
				Properties like "clast-supported",  "matrix-supported", and "graded bed" that do not involve orientation are considered kinds of GeologicStructure 
				because they depend on the configuration of parts of a rock body. Includes sedimentary structures.
				The general GeologicRelation is used to associate penetrative GeologicStructures with GeologicUnits.</documentation>
		</annotation>
	</element>
	<complexType name="GeologicStructureType" abstract="true">
		<complexContent>
			<extension base="gsml:GeologicFeatureType"/>
		</complexContent>
	</complexType>
	<complexType name="GeologicStructurePropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:GeologicStructure"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Layering" type="gsml:LayeringType" substitutionGroup="gsml:Foliation">
		<annotation>
			<documentation>Planar foliation defined by a tabular succession of layers &amp;gt; 5 mm thick. 
				This definition is based on the proposed definition of gneiss by the NADM Science Language Technical Team, 
				so that the GeologicStructure characteristic of gneiss is layering.</documentation>
		</annotation>
	</element>
	<complexType name="LayeringType">
		<complexContent>
			<extension base="gsml:FoliationType">
				<sequence>
					<element name="layerComposition" type="em:RockMaterialPropertyType" nillable="true"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LayeringPropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:Layering"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Lineation" type="gsml:LineationType" substitutionGroup="gsml:GeologicStructure">
		<annotation>
			<documentation>GeologicStructure defined by aligned elongate elements. Lineation connotes a pervasive linear structure. Includes: flow lines, scratches, striae, slickenlines, linear arrangements of
elongate components in sediments, fold hinges (when abundant and closely spaced), elongate minerals, crinkles, and lines of intersection between penetrative planar structures.

Class also includes discrete linear structures like boudin, channel axis, tool marks.</documentation>
		</annotation>
	</element>
	<complexType name="LineationType">
		<complexContent>
			<extension base="gsml:GeologicStructureType">
				<sequence>
					<element name="definingElement" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Kinds of describable inhomogeneity in a rock body that may define a GeologicStructure.   Examples include Oriented Particle.</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_TermPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="lineationType" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gsml:LineationTypeTerm</gml:targetElement>
							</appinfo>
							<documentation>Type of lineation.
Examples include: flow lines, scratches, striae, slickenlines, linear arrangements of elongate components in sediments, elongate minerals, crinkles, and lines of intersection between penetrative planar structures.</documentation>
						</annotation>
					</element>
					<element name="intensity" nillable="true">
						<annotation>
							<documentation>How well the lineation is developed. Terms such as weak, moderate, strong.</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_TermPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="mineralElement" type="em:MineralPropertyType" minOccurs="1" maxOccurs="unbounded" nillable="true">
						<annotation>
							<documentation>Mineral that defines the lineation</documentation>
						</annotation>
					</element>
					<element name="orientation" minOccurs="1" maxOccurs="unbounded" nillable="true" >
						<annotation>
							<documentation>Orientation of the lineation</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_LinearOrientationPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LineationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:Lineation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BoundaryRelationship" type="gsml:BoundaryRelationshipType" substitutionGroup="gsml:GeologicFeatureRelation">
		<annotation>
			<documentation>Defines the two GeologicUnits that make up the relationship described by the Contact</documentation>
		</annotation>
	</element>
	<complexType name="BoundaryRelationshipType">
		<complexContent>
			<extension base="gsml:GeologicFeatureRelationType">
				<sequence>
					<element name="boundaryOccurrence" type="gsml:ContactPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Specifies the Contact that is associated with the BoundaryRelationship</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoundaryRelationshipPropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:BoundaryRelationship"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="FoldSystem" type="gsml:FoldSystemType" substitutionGroup="gsml:GeologicStructure">
		<annotation>
			<documentation>A collection of congruent folds  (axis and axial surface are parallel) produced by the same tectonic event. Sometimes referred to as a "Fold Train".</documentation>
		</annotation>
	</element>
	<complexType name="FoldSystemType">
		<complexContent>
			<extension base="gsml:GeologicStructureType">
				<sequence>
					<element name="periodic" nillable="true">
						<annotation>
							<documentation>True if fold hinges in train are regularly spaced.</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<simpleContent>
								<extension base="boolean">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="wavelength" nillable="true">
						<annotation>
							<documentation>Quantitative specification of length between adjacent antiforms (or synforms) in a fold train.</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_NumericRangePropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="foldSystemMember" type="gsml:FoldPropertyType" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Specifies the Fold that is a member of the FoldSystem</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FoldSystemPropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:FoldSystem"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="NonDirectionalStructure" type="gsml:NonDirectionalStructureType" substitutionGroup="gsml:GeologicStructure">
		<annotation>
			<documentation>Structures present in geology that do not have a preferred orientation
Includes small-scale structures that are characteristic of the geologic unit, e.g. herringbone crossbedding, mudcracks, graded bedding, planar lamination, miarolitic cavities, nebulitic structure, trace fossils, fossil molds</documentation>
		</annotation>
	</element>
	<complexType name="NonDirectionalStructureType">
		<complexContent>
			<extension base="gsml:GeologicStructureType">
				<sequence>
					<element name="structureType" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gsml:NonDirectionalStructureTypeTerm</gml:targetElement>
							</appinfo>
							<documentation>The type of non oriented structure.  Examples include miarolitic cavity, flame structure, load cast, shatter cone, trace fossil, fossil mold</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NonDirectionalStructurePropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:NonDirectionalStructure"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Contact" type="gsml:ContactType" substitutionGroup="gsml:GeologicStructure">
		<annotation>
			<documentation>Very general concept representing any kind of surface separating two geologic units including primary boundaries such as depositional contacts, all kinds of unconformities, intrusive contacts, and gradational contacts, as well as faults that separate geologic units.

Permeability of contacts still needs to be modeled; considered out of scope for GeoSciML2.

Bedding measured as discrete surfaces in the case that those are the feature of interest (e.g. individual cross set surfaces for paleocurrent analysis) should be represented here.</documentation>
		</annotation>
	</element>
	<complexType name="ContactType">
		<complexContent>
			<extension base="gsml:GeologicStructureType">
				<sequence>
					<element name="contactCharacter" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>The character of the boundary, as opposed to its type. e.g.  abrupt, gradational</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_TermPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="contactType" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gsml:ContactTypeTerm</gml:targetElement>
							</appinfo>
							<documentation>Classifies the contact (eg intrusive, unconformity, bedding surface, lithologic boundary, phase boundary)</documentation>
						</annotation>
					</element>
					<element name="orientation" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>orientation of the contact surface</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_PlanarOrientationPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="correlatesWith" type="gt:GeochronologicBoundaryPropertyType" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="boundedUnitLink" type="gsml:BoundaryRelationshipPropertyType" nillable="true">
						<annotation>
							<documentation>Specifies the BoundaryRelationship that describes the participating GeologicUnits</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ContactPropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:Contact"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ShearDisplacementStructure" type="gsml:ShearDisplacementStructureType" substitutionGroup="gsml:GeologicStructure">
		<annotation>
			<documentation>A shear displacement structure includes all brittle to ductile style structures along which displacement has occurred, from a simple, single 'planar' brittle or ductile surface to a fault system comprised of 10's of strands of both brittle and ductile nature. This structure may have some significant thickness (a deformation zone) and have an associated body of deformed rock that may be considered a DeformationUnit</documentation>
		</annotation>
	</element>
	<complexType name="ShearDisplacementStructureType">
		<complexContent>
			<extension base="gsml:GeologicStructureType">
				<sequence>
					<element name="faultType" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gsml:FaultTypeTerm</gml:targetElement>
							</appinfo>
							<documentation>Refers to a vocabulary of terms describing the type of shear displacement structure (eg; thrust fault, normal fault, wrench fault).</documentation>
						</annotation>
					</element>
					<element name="deformationStyle" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gsml:DeformationStyleTerm</gml:targetElement>
							</appinfo>
							<documentation>A mandatory element referring to a vocabulary of terms to describe the style of deformation, ie brittle (fault, breccia), ductile (shear), brittle-ductile, unknown.</documentation>
						</annotation>
					</element>
					<element name="planeOrientation" nillable="true">
						<annotation>
							<documentation>Allows capturing the orientation of the plane of the structure</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_PlanarOrientationPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="totalDisplacement" nillable="true">
						<annotation>
							<documentation>Describes the total displacement DisplacementValues</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="gsml:DisplacementValuePropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="physicalProperty" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="gpp:PhysicalDescriptionPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="segment" type="gsml:ShearDisplacementStructurePropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>In some use cases, eg., active seismology and fluid flow modelling, it is important to be able to segment the ShearDisplacementStructures where there is a change in orientation and/or dip and/or nature of the character of the fault. This segmentation can be scale dependent.
"segment" is the name of the role that a subsidiary ShearDisplacementStructure plays with respect to a ShearDisplacementStructure that it is part of. The distinction between Fault+DuctileShearStructure and FaultSystem is a question of the scale of description and the perspective of the observer; a ShearDisplacementStructure  is composed of segments that are individually identified, but all considered part of a single ShearDisplacementStructure. Fault and DuctileShearStructure segments are usually collinear on the map, and generally do not overlap significantly along strike.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ShearDisplacementStructurePropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:ShearDisplacementStructure"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Fold" type="gsml:FoldType" substitutionGroup="gsml:GeologicStructure">
		<annotation>
			<documentation>One or more systematically curved layers, surfaces, or lines in a rock body. Fold denotes a structure formed by the deformation of a GeologicStructure to form a structure that may be described by the translation of an abstract line (the fold axis) parallel to itself along some curvilinear path (the fold profile). Folds have a hinge zone (zone of maximum curvature along the surface) and limbs (parts of the deformed surface not in the hinge zone).  Folds are described by an axial surface, hinge line , profile geometry, the solid angle between the limbs, and the relationships between adjacent folded surfaces if the folded structure is a Layering fabric (similar, parallel).</documentation>
		</annotation>
	</element>
	<complexType name="FoldType">
		<complexContent>
			<extension base="gsml:GeologicStructureType">
				<sequence>
					<element name="profileType" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:targetElement>gsml:FoldProfileTypeTerm</gml:targetElement>
							</appinfo>
							<documentation>Terminology specifying concave/convex geometry of fold relative to earth surface, and relationship to younging direction in folded strata if known. (eg; antiform, synform, neutral, anticline, syncline, monocline, ptygmatic)</documentation>
						</annotation>
					</element>
					<element name="amplitude" nillable="true">
						<annotation>
							<documentation>length from line segment connecting inflection points on adjacent fold limbs to the intervening fold hinge</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_NumericRangePropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="axialSurfaceOrientation" nillable="true">
						<annotation>
							<documentation>This is used to characterize the geometry of a fold. The axial surface of a particular fold may be located based on observations of the folded geologic structure, but in general it has no direct physical manifestions. As a geologic surface, it has geometric properties, including orientation, which may be specified by observations at one or more locations, or generalized using terminology (upright, inclined, reclined, recumbent, overturned). Dip and Dip Direction are one approach to specifying the value.</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_PlanarOrientationPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="geneticModel" nillable="true">
						<annotation>
							<documentation>Specification of genetic model for fold, e.g. flexural slip, parallel</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_TermPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="hingeLineCurvature" nillable="true">
						<annotation>
							<documentation>variation in orientation of fold hinge along trend of fold, distinguish sheath from cylindrical folds. Specify with terminology eg sheath, dome, basin, cylindrical.</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_TermPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="hingeLineOrientation" nillable="true">
						<annotation>
							<documentation>Specification of hinge line orientation for fold.  CGI_LinearOrientation allows for a term value specification or a numeric specification of either or both the trend and plunge of hinge line. kHinge plunge term examples: sub-vertical, steeply plunging, ... sub-horizontal, reclined and vertical for special cases in which hinge plunge is close to axial surface dip. 0..* cardinality allows for both a numeric specification a term specification.</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_LinearOrientationPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="hingeShape" nillable="true">
						<annotation>
							<documentation>rounded vs. angular hinge zones; has to do with proprotion of wavelength that is considered part of hinge</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_TermPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="interLimbAngle" nillable="true">
						<annotation>
							<documentation>Specify using a tightness term (gentle (120-180), open (70-120), close (30-70), tight (10-30), isoclinal (0-10))</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_TermPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="limbShape" nillable="true">
						<annotation>
							<documentation>straight vs curved limbs, eg kink, chevron, sinusoidal, box</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_TermPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="span" nillable="true">
						<annotation>
							<documentation>linear distance between inflection points in a single fold</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_NumericRangePropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="symmetry" nillable="true">
						<annotation>
							<documentation>concordance or discordance of bisecting surface and axial surface, or ratio of length of limbs. Folded surface may have asymmetry defined by limb length ratio if inflection points are defined. Defintion based on bisecting surface/axial surface angle depends on having multiple surfaces defined such that the axial surface may be identified. (symmetric, assymetric)</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_TermPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FoldPropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:Fold"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Foliation" type="gsml:FoliationType" substitutionGroup="gsml:GeologicStructure">
		<annotation>
			<documentation>A planar arrangement of textural or structural features in any type of rock.  Includes any of a wide variety of penetrative planar geological structures that may be present in a rock.  Examples include schistosity, mylonitic foliation, penetrative bedding structure (lamination), and cleavage.  Following the proposed definition of gneiss by the NADM Science Language Technical Team, penetrative planar foliation defined by layers &amp;gt; 5 mm thick is considered Layering. 
Bedding as a fabric representing the average orientation of paleodepositional surface should be encoded through the foliationType; might apply to bedding that is layering or a foliation without layering (e.g. clast alignment in amalgamated beds).</documentation>
		</annotation>
	</element>
	<complexType name="FoliationType">
		<complexContent>
			<extension base="gsml:GeologicStructureType">
				<sequence>
					<element name="definingElement" type="cgu:CGI_TermPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Kinds of describable inhomogeneity in a rock body that may define a GeologicStructure.   Examples include Discontinuity, Shaped Surface, Oriented Particle, Material Boundary, and Layer.</documentation>
						</annotation>
					</element>
					<element name="foliationType" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gsml:FoliationTypeTerm</gml:targetElement>
							</appinfo>
							<documentation>Specifies the type of foliation.  Examples include crenulation cleavage, slaty cleavage, schistosity</documentation>
						</annotation>
					</element>
					<element name="continuity" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>terms to distinguish continuous vs. disjunct cleavages</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_TermPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="intensity" nillable="true">
						<annotation>
							<documentation>How well the foliation is developed. Terms such as weak, moderate, strong.</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_TermPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="mineralElement" type="em:MineralPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>The mineral that defines the foliation</documentation>
						</annotation>
					</element>
					<element name="orientation" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>The planar orientation of the foliation</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_PlanarOrientationPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="spacing" nillable="true">
						<annotation>
							<documentation>linear dimension representing the thickness of foliation domains. Also use for thickness of layers of a given composition</documentation>
						</annotation>
						<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_NumericRangePropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FoliationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:Foliation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="FaultSystem" type="gsml:FaultSystemType" substitutionGroup="gsml:ShearDisplacementStructure">
		<annotation>
			<documentation>A composite structure that is an aggregation of genetically related instances of Faults and/or DuctileShearStructures. A FaultSystem is composed of individually identified and mapped Faults and/or DuctileShearStructures that are considered distinct ShearDisplacementStructures, that generally form overlapping, anastomosing patterns in which, at any point along the fault system, multiple fault strands are identified and each considered important at the scale of description. Displacement and other descriptive data may be assigned at the 'fault segment', 'fault', or 'fault system level'.</documentation>
		</annotation>
	</element>
	<complexType name="FaultSystemType">
		<complexContent>
			<extension base="gsml:ShearDisplacementStructureType">
				<sequence>
					<element name="faultSystemMember" type="gsml:ShearDisplacementStructurePropertyType" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Specifies the ShearDisplacementStructures that are members of the FaultSystem</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FaultSystemPropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:FaultSystem"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Fracture" type="gsml:FractureType" abstract="true" substitutionGroup="gsml:GeologicStructure">
		<annotation>
			<documentation>Fractures are cracks in the earth surface. If there is no displacement it is a joint. If there is displacement and you are in the brittle zone it is a fault. In the ductile zone, a fracture with displacement with fracture is called a shear.  FaultSurface as a separate class is not considered necessary for GeoSciML 2.
Recording observations on FaultSurface should be in observation and measurement. The observation needs to be able to distinguish the type of measurement made (PropertyType)</documentation>
		</annotation>
	</element>
	<complexType name="FractureType" abstract="true">
		<complexContent>
			<extension base="gsml:GeologicStructureType"/>
		</complexContent>
	</complexType>
	<complexType name="FracturePropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:Fracture"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="NetSlipValue" type="gsml:NetSlipValueType" substitutionGroup="gsml:DisplacementValue">
		<annotation>
			<documentation>The total amount of slip displacement</documentation>
		</annotation>
	</element>
	<complexType name="NetSlipValueType">
		<complexContent>
			<extension base="gsml:DisplacementValueType">
				<sequence>
					<element name="netSlip" type="cgu:CGI_VectorPropertyType">
						<annotation>
							<documentation>The value of the net slip</documentation>
						</annotation>
					</element>
					<element name="slipComponent" nillable="true">
						<complexType>		<!-- Added nillable and nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="gsml:SlipComponentsPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NetSlipValuePropertyType">
		<sequence>
			<element ref="gsml:NetSlipValue"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="DisplacementValue" type="gsml:DisplacementValueType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Trying to express the displacement on a fault with respect to a planar approximation of its shape</documentation>
		</annotation>
	</element>
	<complexType name="DisplacementValueType">
		<sequence>
			<element name="hangingWallDirection" nillable="true">
				<annotation>
					<documentation>Normally the compass quadrant indicating the hangingwall side of the fault-system for faults that are steep enough to define a hanging-wall on the map trace</documentation>
				</annotation>
				<complexType>		<!-- Added nillable and nilReason complex type - OLR 24-11-10 -->
					<complexContent>
						<extension base="cgu:CGI_LinearOrientationPropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="movementSense" type="gml:ReferenceType" nillable="true">		<!-- Added nillable  - OLR 24-11-10 -->
				<annotation>
					<appinfo>
						<gml:targetElement>MovementSenseTerm</gml:targetElement>
					</appinfo>
					<documentation>eg, dextral, sinistral</documentation>
				</annotation>
			</element>
			<element name="movementType" type="gml:ReferenceType" nillable="true">		<!-- Added nillable  - OLR 24-11-10 -->
				<annotation>
					<appinfo>
						<gml:targetElement>MovementTypeTerm</gml:targetElement>
					</appinfo>
					<documentation>Defines the type of movement  (eg dip-slip, strike-slip)</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="DisplacementValuePropertyType">
		<sequence>
			<element ref="gsml:DisplacementValue"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="SlipComponents" type="gsml:SlipComponentsType" substitutionGroup="gsml:DisplacementValue">
		<annotation>
			<documentation>representation of slip as vector resolved into components resolved into reference frame in which horizontal axes are parallel and perpendicular to the strike of the fault.</documentation>
		</annotation>
	</element>
	<complexType name="SlipComponentsType">
		<complexContent>
			<extension base="gsml:DisplacementValueType">
				<sequence>
					<element name="heave" nillable="true">
						<annotation>
							<documentation>component of slip in the horizontal, and perpendicular to the strike of the fault</documentation>
						</annotation>
						<complexType>		<!-- Added nillable and nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_VectorPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="horizontalSlip" nillable="true">
						<annotation>
							<documentation>slip component that is horizontal and parallel to strike of the fault</documentation>
						</annotation>
						<complexType>		<!-- Added nillable and nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_VectorPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="throw" nillable="true">
						<annotation>
							<documentation>vertical component of slip</documentation>
						</annotation>
						<complexType>		<!-- Added nillable and nilReason complex type - OLR 24-11-10 -->
							<complexContent>
								<extension base="cgu:CGI_VectorPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SlipComponentsPropertyType">
		<sequence>
			<element ref="gsml:SlipComponents"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="SeparationValue" type="gsml:SeparationValueType" substitutionGroup="gsml:DisplacementValue">
		<annotation>
			<documentation>The amount of separation displacement</documentation>
		</annotation>
	</element>
	<complexType name="SeparationValueType">
		<complexContent>
			<extension base="gsml:DisplacementValueType">
				<sequence>
					<element name="separation" type="cgu:CGI_VectorPropertyType">
						<annotation>
							<documentation>Reported apparent offset of planar feature, report as vector.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SeparationValuePropertyType">
		<sequence>
			<element ref="gsml:SeparationValue"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
