trunk/schemas/laboratoryAnalysis.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gsmlla="http://xmlns.geosciml.org/LaboratoryAnalysis-Specimen/4.0" xmlns:om="http://www.opengis.net/om/2.0" xmlns:sam="http://www.opengis.net/sampling/2.0" elementFormDefault="qualified" targetNamespace="http://xmlns.geosciml.org/LaboratoryAnalysis-Specimen/4.0" version="4.0.0">
  <annotation>
    <documentation>The LaboratoryAnalysis leaf package describes processes, instruments and result quality associated with quantitative analysis of samples.</documentation>
  </annotation>
  <include schemaLocation="laboratoryAnalysis-Specimen.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
  <import namespace="http://www.opengis.net/sampling/2.0" schemaLocation="http://schemas.opengis.net/sampling/2.0/samplingFeature.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="AnalyticalInstrument" substitutionGroup="gml:AbstractFeature" type="gsmlla:AnalyticalInstrumentType">
    <annotation>
      <documentation>Type of instrument used to perform an analytical observation</documentation>
    </annotation>
  </element>
  <complexType name="AnalyticalInstrumentType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="type" type="gml:CodeType">
            <annotation>
              <documentation>The category of instrument used in an analytical session (eg; XRF, ICPMS, SHRIMP, etc)</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlla:InstrumentTypeTerm</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="model" type="string">
            <annotation>
              <documentation>An optional text string to identify the model of instrument used. (eg instrument type = XRD, model = Siemens Diffraktometer D500)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="serialNumber" type="string">
            <annotation>
              <documentation>An optional text string for the serial number of the machine used in an analytical session.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="commissionDate" type="gml:TimeInstantPropertyType">
            <annotation>
              <documentation>The date of the commissioning of an instrument (optional)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="location">
            <annotation>
              <documentation>The location and owner of an instrument</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMetadataPropertyType">
                  <sequence>
                    <element ref="gmd:CI_ResponsibleParty"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="usedIn" type="gsmlla:AnalyticalSessionPropertyType">
            <annotation>
              <documentation>Identifies one or more analytical sessions which used this instrument</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">gsmlla:instrument</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AnalyticalInstrumentPropertyType">
    <sequence minOccurs="0">
      <element ref="gsmlla:AnalyticalInstrument"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AnalyticalMethod" substitutionGroup="gml:AbstractGML" type="gsmlla:AnalyticalMethodType">
    <annotation>
      <documentation>Name, and published citation (nillable), of the analytical method used in an analytical session</documentation>
    </annotation>
  </element>
  <complexType name="AnalyticalMethodType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element minOccurs="0" name="methodName" type="gml:CodeType">
            <annotation>
              <documentation>Reference to a controlled vocabulary of names of analytical method used in a session (eg; XRF mass spectrometry, ICPMS, SHRIMP geochronology)</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlla:AnalyticalMethodTerm</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="citation">
            <annotation>
              <documentation>A published description of a particular analytical method (eg; a standard operating procedure document).  This attribute is nillable if such a document does not exist.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMetadataPropertyType">
                  <sequence>
                    <element ref="gmd:CI_Citation"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AnalyticalMethodPropertyType">
    <sequence minOccurs="0">
      <element ref="gsmlla:AnalyticalMethod"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AnalyticalProcess" substitutionGroup="gml:AbstractFeature" type="gsmlla:AnalyticalProcessType">
    <annotation>
      <documentation>Concrete implementation of OM_Process.  Links to an analytical session (data acquisition) or a computational process which produce analytical results.</documentation>
    </annotation>
  </element>
  <complexType name="AnalyticalProcessType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="method" type="gsmlla:AnalyticalMethodPropertyType">
            <annotation>
              <documentation>Identifies the type of analytical method used to make an observation.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="acquisition">
            <annotation>
              <documentation>Describes the analytical session (eg, laboratory session) in which an observation was made and data acquired.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="gsmlla:AnalyticalSession"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="computation" type="gmd:LI_ProcessStep_PropertyType" nillable="true"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AnalyticalProcessPropertyType">
    <sequence minOccurs="0">
      <element ref="gsmlla:AnalyticalProcess"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AnalyticalSession" substitutionGroup="gml:AbstractFeature" type="gsmlla:AnalyticalSessionType">
    <annotation>
      <documentation>This class describes the time and operator of a particular laboratory analytical session. AnalyticalSession also has associated links to the type of instrument and analytical method used, processing steps applied to data collected during a session, and instrument parameters unique to that session.</documentation>
    </annotation>
  </element>
  <complexType name="AnalyticalSessionType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="time" type="gml:TimePeriodPropertyType">
            <annotation>
              <documentation>The time period during which the analysis was performed</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="operator">
            <annotation>
              <documentation>The name of the operator or organisation responsible for the analytical session</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMetadataPropertyType">
                  <sequence>
                    <element ref="gmd:CI_ResponsibleParty"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="parameter" type="om:NamedValuePropertyType">
            <annotation>
              <documentation>This association is analogous to the "parameter" attribute of OM_Observation, but in this case describes environmental or instrument setting parameters that apply to an entire analytical session (eg, voltage, current, temperature, vacuum).  The "name" attribute of NamedValue is implemented in OMXML as a byReference URI to a controlled list.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="instrument" type="gsmlla:AnalyticalInstrumentPropertyType">
            <annotation>
              <documentation>Identifies the instrument used in the analytical session</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">gsmlla:usedIn</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="referenceAnalyses" type="gsmlla:ReferenceSpecimenPropertyType">
            <annotation>
              <documentation>Describes any reference specimens (ie, standards, blanks) used in the analytical session.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">gsmlla:usedIn</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AnalyticalSessionPropertyType">
    <sequence minOccurs="0">
      <element ref="gsmlla:AnalyticalSession"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Image" substitutionGroup="sam:SF_SamplingFeature" type="gsmlla:ImageType">
    <annotation>
      <documentation>Use gml:description for xlink:href URL to a photographic image.  SF_Process = camera. For example, photographs of ion microprobe grain mounts.</documentation>
    </annotation>
  </element>
  <complexType name="ImageType">
    <complexContent>
      <extension base="sam:SF_SamplingFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ImagePropertyType">
    <sequence minOccurs="0">
      <element ref="gsmlla:Image"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
