branches/2.0.x/tools/ServiceProfiles/profiles/examples/gea0006/correct1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- WSDL Document Generated from WCF-based Web Service -->
<wsdl:definitions name="MyService" targetNamespace="http://tempuri.org/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://tempuri.org/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://tempuri.org/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://tempuri.org/">
            <xsd:complexType name="StockList">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:element name="StockList" nillable="true" type="tns:StockList"/>
            <xsd:complexType name="StockCode">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:element name="StockCode" nillable="true" type="tns:StockCode"/>
            <xsd:complexType name="Price">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:element name="Price" nillable="true" type="tns:Price"/>
            <xsd:element name="GetStockedModels">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetStockedModelsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="GetStockedModelsResult"
                            nillable="true" type="tns:StockList"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetPrice">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="sc" nillable="true"
                            type="tns:StockCode"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetPriceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="GetPriceResult"
                            nillable="true" type="tns:Price"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IMyService_GetStockedModels_InputMessage">
        <wsdl:part name="parameters" element="tns:GetStockedModels"/>
    </wsdl:message>
    <wsdl:message name="IMyService_GetStockedModels_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetStockedModelsResponse"/>
    </wsdl:message>
    <wsdl:message name="IMyService_GetPrice_InputMessage">
        <wsdl:part name="parameters" element="tns:GetPrice"/>
    </wsdl:message>
    <wsdl:message name="IMyService_GetPrice_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetPriceResponse"/>
    </wsdl:message>
    <wsdl:portType name="IMyService">
        <wsdl:operation name="GetStockedModels">
            <wsdl:input message="tns:IMyService_GetStockedModels_InputMessage"/>
            <wsdl:output message="tns:IMyService_GetStockedModels_OutputMessage"
            />
        </wsdl:operation>
        <wsdl:operation name="GetPrice">
            <wsdl:input message="tns:IMyService_GetPrice_InputMessage"/>
            <wsdl:output message="tns:IMyService_GetPrice_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
