trunk/schemas/schemas_mandatory/borehole.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:cit="http://standards.iso.org/19115/-3/cit/1.0"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:gsmlb="http://xmlns.geosciml.org/geologybasic/4.0"
        xmlns:gsmlbh="http://xmlns.geosciml.org/borehole/4.0"
        xmlns:sf="http://www.opengis.net/samplingSpatial/2.0"
        xmlns:swe="http://www.opengis.net/swe/2.0"
        elementFormDefault="qualified"
        targetNamespace="http://xmlns.geosciml.org/borehole/4.0"
        version="4.0.0">
  <import namespace="http://standards.iso.org/19115/-3/cit/1.0"
           schemaLocation="https://raw.githubusercontent.com/ISO-TC211/XML/master/standards.iso.org/19115/-3/cit/1.0/cit.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.opengis.net/swe/2.0"
           schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>
  <import namespace="http://www.opengis.net/samplingSpatial/2.0"
           schemaLocation="http://schemas.opengis.net/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Borehole"
            type="gsmlbh:BoreholeType"
            substitutionGroup="sf:SF_SpatialSamplingFeature"/>
  <complexType name="BoreholeType">
      <complexContent>
         <extension base="sf:SF_SpatialSamplingFeatureType">
            <sequence>
               <element name="referenceLocation" type="gsmlbh:OriginPositionPropertyType">
                  <annotation>
                     <appinfo>
                        <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">gsmlbh:relatedBorehole</reversePropertyName>
                     </appinfo>
                  </annotation>
               </element>
               <!--replaced-->     <element minOccurs="1" name="indexData" nillable="true">
                  <complexType>
                     <sequence>
                        <element ref="gsmlbh:BoreholeDetails"/>
                     </sequence>
                     <attribute name="nilReason" type="gml:NilReasonType"/>
                  </complexType>
               </element>
               <!--replaced-->     <element minOccurs="1"
                        maxOccurs="unbounded"
                        name="downholeDrillingDetails"
                        nillable="true">
                  <complexType>
                     <sequence>
                        <element ref="gsmlbh:DrillingDetails"/>
                     </sequence>
                     <attribute name="nilReason" type="gml:NilReasonType"/>
                  </complexType>
               </element>
               <!--replaced-->     <element minOccurs="1"
                        maxOccurs="unbounded"
                        name="logElement"
                        nillable="true"
                        type="gsmlbh:BoreholeIntervalPropertyType">
                  <annotation>
                     <appinfo>
                        <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">gsmlbh:parentBorehole</reversePropertyName>
                     </appinfo>
                  </annotation>
                  <complexType>
                     <choice minOccurs="0"/>
                     <attributeGroup ref="gml:AssociationAttributeGroup"/>
                     <attributeGroup ref="gml:OwnershipAttributeGroup"/>
                  </complexType>
               </element>
            </sequence>
         </extension>
      </complexContent>
  </complexType>
  <complexType name="BoreholePropertyType">
      <sequence minOccurs="0">
         <element ref="gsmlbh:Borehole"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="BoreholeDetails"
            substitutionGroup="gml:AbstractObject"
            type="gsmlbh:BoreholeDetailsType"/>
  <complexType name="BoreholeDetailsType">
      <sequence>
      <!--replaced-->   <element minOccurs="1"
                  name="operator"
                  nillable="true"
                  type="cit:CI_Responsibility_PropertyType"/>
         <!--replaced-->   <element minOccurs="1"
                  name="driller"
                  nillable="true"
                  type="cit:CI_Responsibility_PropertyType"/>
         <!--replaced-->   <element minOccurs="1"
                  name="dateOfDrilling"
                  nillable="true"
                  type="gml:TimePeriodPropertyType"/>
         <!--replaced-->   <element minOccurs="1" name="startPoint" nillable="true">
            <annotation>
               <appinfo>
                  <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlbh:BoreholeStartPointCode</targetElement>
               </appinfo>
            </annotation>
            <complexType>
               <simpleContent>
                  <extension base="gml:CodeType">
                     <attribute name="nilReason" type="gml:NilReasonType"/>
                  </extension>
               </simpleContent>
            </complexType>
         </element>
         <!--replaced-->   <element minOccurs="1" name="inclinationType" nillable="true">
            <annotation>
               <appinfo>
                  <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlbh:BoreholeInclinationCode</targetElement>
               </appinfo>
            </annotation>
            <complexType>
               <simpleContent>
                  <extension base="gml:CodeType">
                     <attribute name="nilReason" type="gml:NilReasonType"/>
                  </extension>
               </simpleContent>
            </complexType>
         </element>
         <!--replaced-->   <element minOccurs="1"
                  maxOccurs="unbounded"
                  name="boreholeMaterialCustodian"
                  nillable="true"
                  type="cit:CI_Responsibility_PropertyType"/>
         <!--replaced-->   <element minOccurs="1"
                  maxOccurs="unbounded"
                  name="purpose"
                  nillable="true">
            <annotation>
               <appinfo>
                  <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlbh:BoreholePurposeCode</targetElement>
               </appinfo>
            </annotation>
            <complexType>
               <simpleContent>
                  <extension base="gml:CodeType">
                     <attribute name="nilReason" type="gml:NilReasonType"/>
                  </extension>
               </simpleContent>
            </complexType>
         </element>
         <!--replaced-->   <element minOccurs="1"
                  maxOccurs="unbounded"
                  name="dataCustodian"
                  nillable="true"
                  type="cit:CI_Responsibility_PropertyType"/>
         <!--replaced-->   <element minOccurs="1" name="boreholeLength" nillable="true">
            <complexType>
               <complexContent>
                  <extension base="gml:AbstractMemberType">
                     <sequence minOccurs="0">
                        <element ref="swe:Quantity"/>
                     </sequence>
                     <attributeGroup ref="gml:AssociationAttributeGroup"/>
                  </extension>
               </complexContent>
            </complexType>
         </element>
      </sequence>
  </complexType>
  <complexType name="BoreholeDetailsPropertyType">
      <sequence>
         <element ref="gsmlbh:BoreholeDetails"/>
      </sequence>
  </complexType>
  <element name="BoreholeInterval"
            substitutionGroup="gsmlb:MappedFeature"
            type="gml:AbstractFeature"/>
  <complexType name="BoreholeIntervalType">
      <complexContent>
         <extension base="gsmlb:MappedFeatureType">
            <sequence>
          <!--replaced-->     <element minOccurs="1"
                        name="parentBorehole"
                        nillable="true"
                        type="gsmlbh:BoreholePropertyType">
                  <annotation>
                     <appinfo>
                        <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">gsmlbh:logElement</reversePropertyName>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="mappedIntervalBegin">
                  <complexType>
                     <complexContent>
                        <extension base="gml:AbstractMemberType">
                           <sequence minOccurs="0">
                              <element ref="swe:Quantity"/>
                           </sequence>
                           <attributeGroup ref="gml:AssociationAttributeGroup"/>
                        </extension>
                     </complexContent>
                  </complexType>
               </element>
               <element minOccurs="0" name="mappedIntervalEnd">
                  <complexType>
                     <complexContent>
                        <extension base="gml:AbstractMemberType">
                           <sequence minOccurs="0">
                              <element ref="swe:Quantity"/>
                           </sequence>
                           <attributeGroup ref="gml:AssociationAttributeGroup"/>
                        </extension>
                     </complexContent>
                  </complexType>
               </element>
               <element minOccurs="0"
                        name="collectionIdentifier"
                        type="gml:CodeWithAuthorityType"/>
		             <!--replaced-->           <element minOccurs="1"
                        name="observationMethod"
                        nillable="true"
                        maxOccurs="unbounded">
						            <complexType>
							              <complexContent>
								                <extension base="gml:AbstractMemberType">
									                  <sequence minOccurs="0">
										                    <element ref="swe:Category"/>
									                  </sequence>
									                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
								                </extension>
							              </complexContent>
						            </complexType>
					          </element>
            </sequence>
         </extension>
      </complexContent>
  </complexType>
  <complexType name="BoreholeIntervalPropertyType">
      <sequence minOccurs="0">
         <element ref="gsmlbh:BoreholeInterval"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="DrillingDetails"
            substitutionGroup="gml:AbstractObject"
            type="gsmlbh:DrillingDetailsType"/>
  <complexType name="DrillingDetailsType">
      <sequence>
         <element name="interval" type="gml:GeometryPropertyType"/>
         <!--replaced-->   <element minOccurs="1" name="drillingMethod" nillable="true">
            <annotation>
               <appinfo>
                  <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlbh:BoreholeDrillingMethodCode</targetElement>
               </appinfo>
            </annotation>
            <complexType>
               <simpleContent>
                  <extension base="gml:CodeType">
                     <attribute name="nilReason" type="gml:NilReasonType"/>
                  </extension>
               </simpleContent>
            </complexType>
         </element>
         <!--replaced-->   <element minOccurs="1" name="boreholeDiameter" nillable="true">
            <complexType>
               <complexContent>
                  <extension base="gml:AbstractMemberType">
                     <sequence minOccurs="0">
                        <element ref="swe:Quantity"/>
                     </sequence>
                     <attributeGroup ref="gml:AssociationAttributeGroup"/>
                  </extension>
               </complexContent>
            </complexType>
         </element>
         <element minOccurs="0" name="intervalBegin">
            <complexType>
               <complexContent>
                  <extension base="gml:AbstractMemberType">
                     <sequence minOccurs="0">
                        <element ref="swe:Quantity"/>
                     </sequence>
                     <attributeGroup ref="gml:AssociationAttributeGroup"/>
                  </extension>
               </complexContent>
            </complexType>
         </element>
         <element minOccurs="0" name="intervalEnd">
            <complexType>
               <complexContent>
                  <extension base="gml:AbstractMemberType">
                     <sequence minOccurs="0">
                        <element ref="swe:Quantity"/>
                     </sequence>
                     <attributeGroup ref="gml:AssociationAttributeGroup"/>
                  </extension>
               </complexContent>
            </complexType>
         </element>
      </sequence>
  </complexType>
  <complexType name="DrillingDetailsPropertyType">
      <sequence>
         <element ref="gsmlbh:DrillingDetails"/>
      </sequence>
  </complexType>
  <element name="OriginPosition"
            substitutionGroup="gml:AbstractFeature"
            type="gsmlbh:OriginPositionType"/>
  <complexType name="OriginPositionType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
          <!--replaced-->     <element minOccurs="1"
                        name="location"
                        nillable="true"
                        type="gml:PointPropertyType"/>
               <!--replaced-->     <element minOccurs="1" name="elevation" nillable="true">
                  <complexType>
                     <simpleContent>
                        <extension base="gml:DirectPositionType">
                           <attribute name="nilReason" type="gml:NilReasonType"/>
                        </extension>
                     </simpleContent>
                  </complexType>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="relatedBorehole"
                        type="gsmlbh:BoreholePropertyType">
                  <annotation>
                     <appinfo>
                        <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">gsmlbh:referenceLocation</reversePropertyName>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
  </complexType>
  <complexType name="OriginPositionPropertyType">
      <sequence minOccurs="0">
         <element ref="gsmlbh:OriginPosition"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
