trunk/schemas/schemas_mandatory/dating.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gmd="http://www.isotc211.org/2005/gmd"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:gsmlb="http://xmlns.geosciml.org/geologybasic/4.0"
        xmlns:gsmlla="http://xmlns.geosciml.org/LaboratoryAnalysis-Specimen/4.0"
        xmlns:om="http://www.opengis.net/om/2.0"
        xmlns:sam="http://www.opengis.net/sampling/2.0"
        elementFormDefault="qualified"
        targetNamespace="http://xmlns.geosciml.org/LaboratoryAnalysis-Specimen/4.0"
        version="4.0.0">
  <annotation>
      <documentation>The Dating package allows the delivery of interpretation of geochronological analytical data</documentation>
  </annotation>
  <include schemaLocation="laboratoryAnalysis-Specimen.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd"
           schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.opengis.net/om/2.0"
           schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
  <import namespace="http://www.opengis.net/sampling/2.0"
           schemaLocation="http://schemas.opengis.net/sampling/2.0/samplingFeature.xsd"/>
  <import namespace="http://xmlns.geosciml.org/geologybasic/4.0"
           schemaLocation="geoSciMLBasic.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="GeochronologicInterpretation"
            substitutionGroup="gml:AbstractFeature"
            type="gsmlla:GeochronologicInterpretationType">
      <annotation>
         <documentation>An interpretation made by a geologist of the age of a specimen made by statistical analysis of a single collection of observations.  A specimen may have multiple geochronological interpretations made on it, each related to a different observation collection.</documentation>
      </annotation>
  </element>
  <complexType name="GeochronologicInterpretationType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="interpretedAge">
                  <annotation>
                     <documentation>Use GeoSciML GeologicEvent to describe event age, process and environment.  e.g, Event age = 350 Ma +/- 3 Ma.  Event process = intrusion, extrusion, metamorphism. Event environment = plutonic, marine.</documentation>
                  </annotation>
                  <complexType>
                     <complexContent>
                        <extension base="gml:AbstractFeatureMemberType">
                           <sequence minOccurs="0">
                              <element ref="gsmlb:GeologicEvent"/>
                           </sequence>
                           <attributeGroup ref="gml:AssociationAttributeGroup"/>
                        </extension>
                     </complexContent>
                  </complexType>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="isotopicEvent"
                        type="gml:CodeType">
                  <annotation>
                     <documentation>Describes any isotopic events that are relevant to the interpretation. eg; closure, isotopic mixing, Pb loss, etc</documentation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlla:IsotopicEventType</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="isotopicSystem" type="gml:CodeType">
                  <annotation>
                     <documentation>Describes the isotopic system used to calculate geochronological age. StatisticalAgeTypes vocabulary would contain values like:
Ar-Ar, K-Ar, Nd-Sm, Pb-Pb, Rb-Sr, Re-Os, U-Pb, etc</documentation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlla:IsotopicSystemName</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="statisticalMethod" type="gml:CodeType">
                  <annotation>
                     <documentation>The statistical method used to interpret the results</documentation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlla:StatisticalMethodTerm</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="interpretedBy">
                  <annotation>
                     <documentation>Party responsible for this interpretation</documentation>
                  </annotation>
                  <complexType>
                     <complexContent>
                        <extension base="gml:AbstractMetadataPropertyType">
                           <sequence>
                              <element ref="gmd:CI_ResponsibleParty"/>
                           </sequence>
                        </extension>
                     </complexContent>
                  </complexType>
               </element>
               <element minOccurs="0" name="citation">
                  <annotation>
                     <documentation>Use ISO metadata citation element to describe author and other reference information.  Can be used to describe reference for new or legacy data</documentation>
                  </annotation>
                  <complexType>
                     <complexContent>
                        <extension base="gml:AbstractMetadataPropertyType">
                           <sequence>
                              <element ref="gmd:CI_Citation"/>
                           </sequence>
                        </extension>
                     </complexContent>
                  </complexType>
               </element>
               <element minOccurs="0" name="preferredInterpretation" type="boolean">
                  <annotation>
                     <documentation>Indicates whether this interpretation is the preferred interpretation (ie; the analytical data may be reinterpreted)</documentation>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="sourceCollection"
                        type="sam:SF_SamplingFeatureCollectionPropertyType">
                  <annotation>
                     <documentation>Each geochronological interpretation has a mandatory association to a collection of sampling features (eg; a collection of burn spots or craters from a SHRIMP analytical session).  Legacy published data for which the SamplingFeatureCollection is unknown may be delivered with SamplingFeatureCollection = 'unknown'.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
  </complexType>
  <complexType name="GeochronologicInterpretationPropertyType">
      <sequence minOccurs="0">
         <element ref="gsmlla:GeochronologicInterpretation"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
