trunk/schemas/schemas_mandatory/geologicSpecimen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gmd="http://www.isotc211.org/2005/gmd"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:gsmlla="http://xmlns.geosciml.org/LaboratoryAnalysis-Specimen/4.0"
        xmlns:om="http://www.opengis.net/om/2.0"
        xmlns:spec="http://www.opengis.net/samplingSpecimen/2.0"
        elementFormDefault="qualified"
        targetNamespace="http://xmlns.geosciml.org/LaboratoryAnalysis-Specimen/4.0"
        version="4.0.0">
  <annotation>
      <documentation>The GeologicSpecimen package extends the ISO19156 O&amp;M schema, and describes processes relevant to the sampling, preparation and analysis of geologic specimens.</documentation>
  </annotation>
  <include schemaLocation="laboratoryAnalysis-Specimen.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd"
           schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.opengis.net/om/2.0"
           schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
  <import namespace="http://www.opengis.net/samplingSpecimen/2.0"
           schemaLocation="http://schemas.opengis.net/samplingSpecimen/2.0/specimen.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <!-- EB 2015/05/18 SF_Process is not a real class, implemented as AbstractFeature -->
  <element name="GeologicSamplingMethod"
            substitutionGroup="gml:AbstractFeature"
            type="gsmlla:GeologicSamplingMethodType">
      <annotation>
         <documentation>Implementation of SF_Process to describe the method used to obtain a geologic specimen
eg:
diamond drilling
percussion drilling
piston core drilling
vibro core drilling
channel sampling
sea floor dredging
geological hammer</documentation>
      </annotation>
  </element>
  <complexType name="GeologicSamplingMethodType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="method" type="gml:CodeType">
                  <annotation>
                     <documentation>Name of the process used to obtain or create a geologic specimen. eg:
diamond drilling
percussion drilling
piston core drilling
vibro core drilling
channel sampling
sea floor dredging
crushing
mineral separation
melting
geological hammer</documentation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlla:GeologicSamplingMethodTerm</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="parameter"
                        type="om:NamedValuePropertyType">
                  <annotation>
                     <documentation>One or more specific parameters used in the sampling process.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
  </complexType>
  <complexType name="GeologicSamplingMethodPropertyType">
      <sequence minOccurs="0">
         <element ref="gsmlla:GeologicSamplingMethod"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="GeologicSpecimenPreparation"
            substitutionGroup="gml:AbstractFeature"
            type="gsmlla:GeologicSpecimenPreparationType">
      <annotation>
         <documentation>An extension of OGC Specimen:PreparationStep to allow details of preparation steps to be delivered (eg, filtration and mesh size, chemical additives, crushing methods, drying parameters, etc)</documentation>
      </annotation>
  </element>
  <complexType name="GeologicSpecimenPreparationType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="preparationMethod" type="gml:CodeType">
                  <annotation>
                     <documentation>A term from a controlled vocabulary to describe the method employed for the preparation of a geologic specimen for further analysis.</documentation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlla:GeologicSpecimenPreparationTerm</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="parameter"
                        type="om:NamedValuePropertyType">
                  <annotation>
                     <documentation>One or more parameters used in this preparation step. eg, mesh size in a sieving process, type of chemical additives, parameters in a mineral separation process</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
  </complexType>
  <complexType name="GeologicSpecimenPreparationPropertyType">
      <sequence minOccurs="0">
         <element ref="gsmlla:GeologicSpecimenPreparation"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ReferenceSpecimen"
            substitutionGroup="spec:SF_Specimen"
            type="gsmlla:ReferenceSpecimenType">
      <annotation>
         <documentation>A reference specimen is a specimen with known or accepted values of some property. The citation property describes the location of a published description of these values.  Reference specimens include analytical blanks.

Analytical results from a reference specimen analysed during an AnalyticalSession are delivered in the same way as the results of other specimens analysed in that session.</documentation>
      </annotation>
  </element>
  <complexType name="ReferenceSpecimenType">
      <complexContent>
         <extension base="spec:SF_SpecimenType">
            <sequence>
               <element minOccurs="0" name="referenceDescription">
                  <annotation>
                     <documentation>Citation of published analytical results for this standard reference specimen</documentation>
                  </annotation>
                  <complexType>
                     <complexContent>
                        <extension base="gml:AbstractMetadataPropertyType">
                           <sequence>
                              <element ref="gmd:CI_Citation"/>
                           </sequence>
                        </extension>
                     </complexContent>
                  </complexType>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="usedIn"
                        type="gsmlla:AnalyticalSessionPropertyType">
                  <annotation>
                     <documentation>Identifies any analytical sessions in which the reference specimens were used</documentation>
                     <appinfo>
                        <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">gsmlla:referenceAnalyses</reversePropertyName>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
  </complexType>
  <complexType name="ReferenceSpecimenPropertyType">
      <sequence minOccurs="0">
         <element ref="gsmlla:ReferenceSpecimen"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
