trunk/schemas/schemas_mandatory/geoSciMLBasic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr"
        xmlns:gsmlb="http://xmlns.geosciml.org/geologybasic/4.0"
        xmlns:sam="http://www.opengis.net/sampling/2.0"
        xmlns:swe="http://www.opengis.net/swe/2.0"
        targetNamespace="http://xmlns.geosciml.org/geologybasic/4.0"
        elementFormDefault="qualified"
        version="4.0.0">
	  <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	  <import namespace="http://www.opengis.net/gml/3.3/exr"
           schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	  <import namespace="http://www.opengis.net/sampling/2.0"
           schemaLocation="http://schemas.opengis.net/sampling/2.0/samplingFeature.xsd"/>
	  <import namespace="http://www.opengis.net/swe/2.0"
           schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>
	  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
	  <element name="AbstractFeatureRelation"
            type="gsmlb:AbstractFeatureRelationType"
            abstract="true"
            substitutionGroup="gml:AbstractGML"/>
	  <complexType name="AbstractFeatureRelationType" abstract="true">
		    <complexContent>
			      <extension base="gml:AbstractGMLType">
				        <sequence>
					          <element name="relatedFeature" type="gsmlb:GeologicFeaturePropertyType"/>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="AbstractFeatureRelationPropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:AbstractFeatureRelation"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="AnthropogenicGeomorphologicFeature"
            type="gsmlb:AnthropogenicGeomorphologicFeatureType"
            substitutionGroup="gsmlb:GeomorphologicFeature"/>
	  <complexType name="AnthropogenicGeomorphologicFeatureType">
		    <complexContent>
			      <extension base="gsmlb:GeomorphologicFeatureType">
				        <sequence>
					          <element name="anthropogenicGeomorphologicFeatureType" type="gml:ReferenceType">
						            <annotation>
							              <appinfo>
								                <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:AnthropogenicGeomorphologicFeatureTypeTerm</targetElement>
								                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">AnthropogenicGeomorphologicFeatureTypeTerm</targetCodeList>
							              </appinfo>
						            </annotation>
					          </element>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="AnthropogenicGeomorphologicFeaturePropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:AnthropogenicGeomorphologicFeature"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="CGI_GeometricDescriptionValue"
            type="gsmlb:CGI_GeometricDescriptionValueType"
            abstract="true"
            substitutionGroup="gml:AbstractObject">
		    <annotation>
			      <documentation>Description of the planar or linear orientation of a geologic feature.   
Allows specifying direction by DirectionVector (eg Dip/Dip Direction), compass point (NE),  description ("toward fold hinge", "below')</documentation>
		    </annotation>
	  </element>
	  <complexType name="CGI_GeometricDescriptionValueType" abstract="true">
		    <sequence>
			      <element name="determinationMethod" type="gml:CodeType" minOccurs="0">
				        <annotation>
					          <documentation>Describes the way the orientation value was determined (eg measured, inferred from dip slope, etc)</documentation>
					          <appinfo>
						            <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:DeterminationMethodTerm</targetElement>
					          </appinfo>
				        </annotation>
			      </element>
			      <element name="descriptiveOrientation" type="string" minOccurs="0">
				        <annotation>
					          <documentation>Textual specification of orientation, possibly referencing some local geography</documentation>
				        </annotation>
			      </element>
		    </sequence>
	  </complexType>
	  <complexType name="CGI_GeometricDescriptionValuePropertyType">
		    <sequence>
			      <element ref="gsmlb:CGI_GeometricDescriptionValue"/>
		    </sequence>
	  </complexType>
	  <element name="CGI_LinearOrientation"
            type="gsmlb:CGI_LinearOrientationType"
            substitutionGroup="gsmlb:CGI_GeometricDescriptionValue">
		    <annotation>
			      <documentation>Description of the measured orientation of a line.  At least one of plunge or trend should not be nil.</documentation>
		    </annotation>
	  </element>
	  <complexType name="CGI_LinearOrientationType">
		    <complexContent>
			      <extension base="gsmlb:CGI_GeometricDescriptionValueType">
				        <sequence>
					          <element name="directed" type="gml:CodeType" minOccurs="0">
						            <annotation>
							              <documentation>To indicate if orientation represents linear feature that is directed, e.g. clast imbrication, mylonitic lineation with sense of shear, slickenlines with displacement direction, rather than undirected.  A code list to indicate which is the directed end of the linear orientation</documentation>
							              <appinfo>
								                <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:LinearDirectedCode</targetElement>
							              </appinfo>
						            </annotation>
					          </element>
					          <element name="plunge" minOccurs="0">
						            <annotation>
							              <documentation>Magnitude of the plunge.</documentation>
						            </annotation>
						            <complexType>
							              <complexContent>
								                <extension base="gml:AbstractMemberType">
									                  <sequence minOccurs="0">
										                    <element ref="swe:QuantityRange"/>
									                  </sequence>
									                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
								                </extension>
							              </complexContent>
						            </complexType>
					          </element>
					          <element name="trend" minOccurs="0">
						            <annotation>
							              <documentation>The azimuth (compass bearing) value of the linear orientation.</documentation>
						            </annotation>
						            <complexType>
							              <complexContent>
								                <extension base="gml:AbstractMemberType">
									                  <sequence minOccurs="0">
										                    <element ref="swe:QuantityRange"/>
									                  </sequence>
									                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
								                </extension>
							              </complexContent>
						            </complexType>
					          </element>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="CGI_LinearOrientationPropertyType">
		    <sequence>
			      <element ref="gsmlb:CGI_LinearOrientation"/>
		    </sequence>
	  </complexType>
	  <element name="CGI_PlanarOrientation"
            type="gsmlb:CGI_PlanarOrientationType"
            substitutionGroup="gsmlb:CGI_GeometricDescriptionValue">
		    <annotation>
			      <documentation>Description of the geometry of a plane.</documentation>
		    </annotation>
	  </element>
	  <complexType name="CGI_PlanarOrientationType">
		    <complexContent>
			      <extension base="gsmlb:CGI_GeometricDescriptionValueType">
				        <sequence>
					          <element name="convention" type="gml:CodeType">
						            <annotation>
							              <documentation>The convention used for the measurement</documentation>
							              <appinfo>
								                <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:ConventionCode</targetElement>
							              </appinfo>
						            </annotation>
					          </element>
					          <element name="azimuth" minOccurs="0">
						            <annotation>
							              <documentation>The azimuth (compass point, bearing etc) value of the orientation. Convention reports how azimuth is interpreted; if is quadrant. Allowance of different convention makes querying more difficult.</documentation>
						            </annotation>
						            <complexType>
							              <complexContent>
								                <extension base="gml:AbstractMemberType">
									                  <sequence minOccurs="0">
										                    <element ref="swe:QuantityRange"/>
									                  </sequence>
									                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
								                </extension>
							              </complexContent>
						            </complexType>
					          </element>
					          <element name="dip" minOccurs="0">
						            <annotation>
							              <documentation>Dip is the angle that the structural surface (eg bedding, fault plane) makes with the horizontal measured perpindicular to the strike of the structure and in the vertical plane as a numeric or term</documentation>
						            </annotation>
						            <complexType>
							              <complexContent>
								                <extension base="gml:AbstractMemberType">
									                  <sequence minOccurs="0">
										                    <element ref="swe:QuantityRange"/>
									                  </sequence>
									                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
								                </extension>
							              </complexContent>
						            </complexType>
					          </element>
					          <element name="polarity" type="gml:CodeType" minOccurs="0">
						            <annotation>
							              <documentation>Indicates whether the planar orientation is associated with a directed feature that is overturned, upright, vertical etc.</documentation>
						            </annotation>
					          </element>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="CGI_PlanarOrientationPropertyType">
		    <sequence>
			      <element ref="gsmlb:CGI_PlanarOrientation"/>
		    </sequence>
	  </complexType>
	  <element name="CGI_Vector"
            type="gsmlb:CGI_VectorType"
            substitutionGroup="gsmlb:CGI_LinearOrientation">
		    <annotation>
			      <documentation>data type for linear orientation with magnitude. Cardinality on magnitude is 1, if magnitude is unknown use CGI_LinearOrientation</documentation>
		    </annotation>
	  </element>
	  <complexType name="CGI_VectorType">
		    <complexContent>
			      <extension base="gsmlb:CGI_LinearOrientationType">
				        <sequence>
					          <element name="magnitude">
						            <annotation>
							              <documentation>The numerical length of a linear vector</documentation>
						            </annotation>
						            <complexType>
							              <complexContent>
								                <extension base="gml:AbstractMemberType">
									                  <sequence minOccurs="0">
										                    <element ref="swe:QuantityRange"/>
									                  </sequence>
									                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
								                </extension>
							              </complexContent>
						            </complexType>
					          </element>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="CGI_VectorPropertyType">
		    <sequence>
			      <element ref="gsmlb:CGI_Vector"/>
		    </sequence>
	  </complexType>
	  <element name="CompositionPart"
            type="gsmlb:CompositionPartType"
            substitutionGroup="gml:AbstractObject"/>
	  <complexType name="CompositionPartType">
		    <sequence>
			<!--replaced-->      <element minOccurs="1" name="material" nillable="true">
				        <complexType>
					          <complexContent>
						            <extension base="gml:AbstractMemberType">
							              <sequence minOccurs="0">
								                <element ref="gsmlb:CompoundMaterial"/>
							              </sequence>
							              <attributeGroup ref="gml:AssociationAttributeGroup"/>
						            </extension>
					          </complexContent>
				        </complexType>
			      </element>
			      <element name="role" type="gml:CodeType">
				        <annotation>
					          <appinfo>
						            <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:CompositionPartRoleTerm</targetElement>
					          </appinfo>
				        </annotation>
			      </element>
			      <!--replaced-->      <element minOccurs="1" name="proportion" nillable="true">
				        <complexType>
					          <complexContent>
						            <extension base="gml:AbstractMemberType">
							              <sequence minOccurs="0">
								                <element ref="swe:QuantityRange"/>
							              </sequence>
							              <attributeGroup ref="gml:AssociationAttributeGroup"/>
						            </extension>
					          </complexContent>
				        </complexType>
			      </element>
		    </sequence>
	  </complexType>
	  <complexType name="CompositionPartPropertyType">
		    <sequence>
			      <element ref="gsmlb:CompositionPart"/>
		    </sequence>
	  </complexType>
	  <element name="CompoundMaterial"
            type="gsmlb:CompoundMaterialType"
            abstract="true"
            substitutionGroup="gsmlb:EarthMaterial">
		    <annotation>
			      <documentation>An EarthMaterial composed of particles composed of EarthMaterials, possibly including other CompoundMaterials. 

This class is provided primarily as an extensibility point for related domain models that wish to import and build on GeoSciML, and wish to define material types that are compound but are not rock or rock-like material. For most users of GeoSciML "RockMaterial" should be used.</documentation>
		    </annotation>
	  </element>
	  <complexType name="CompoundMaterialType" abstract="true">
		    <complexContent>
			      <extension base="gsmlb:EarthMaterialType">
				        <sequence/>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="CompoundMaterialPropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:CompoundMaterial"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="Contact"
            type="gsmlb:ContactType"
            substitutionGroup="gsmlb:GeologicStructure"/>
	  <complexType name="ContactType">
		    <complexContent>
			      <extension base="gsmlb:GeologicStructureType">
				        <sequence>
					<!--replaced-->          <element minOccurs="1" name="stContactDescription" nillable="true">
						            <complexType>
							              <sequence>
								                <element ref="gsmlb:ContactAbstractDescription"/>
							              </sequence>
							              <attribute name="nilReason" type="gml:NilReasonType"/>
						            </complexType>
					          </element>
					          <element name="contactType" type="gml:CodeType">
						            <annotation>
							              <appinfo>
								                <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:ContactTypeTerm</targetElement>
							              </appinfo>
						            </annotation>
					          </element>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="ContactPropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:Contact"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="ContactAbstractDescription"
            type="gsmlb:ContactAbstractDescriptionType"
            abstract="true"
            substitutionGroup="gml:AbstractObject"/>
	  <complexType name="ContactAbstractDescriptionType" abstract="true">
		    <sequence/>
	  </complexType>
	  <complexType name="ContactAbstractDescriptionPropertyType">
		    <sequence>
			      <element ref="gsmlb:ContactAbstractDescription"/>
		    </sequence>
	  </complexType>
	  <simpleType name="DescriptionPurposeType">
		    <annotation>
			      <documentation>Codes used for the specification of the intended purpose/level of abstraction for a given feature or object instance, ie the reason for the existence of the GeologicFeature. 
Values: instance, typicalNorm, definingNorm.</documentation>
		    </annotation>
		    <union memberTypes="gsmlb:DescriptionPurposeEnumerationType gsmlb:DescriptionPurposeOtherType"/>
	  </simpleType>
	  <simpleType name="DescriptionPurposeEnumerationType">
		    <annotation>
			      <documentation>Codes used for the specification of the intended purpose/level of abstraction for a given feature or object instance, ie the reason for the existence of the GeologicFeature. 
Values: instance, typicalNorm, definingNorm.</documentation>
		    </annotation>
		    <restriction base="string">
			      <enumeration value="definingNorm">
				        <annotation>
					          <documentation>DefiningNorm -- a description that specifies properties sufficient to identify a new occurrence as belonging to the class represented by the description. Basically these are the 'sufficient conditions' for class membership. Used when presented with a query 'I have an outcrop with these properties; which geologic unit should I assign to the outcrop?' DefiningNorm has to do with the intension of a ControlledConcept.</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="instance">
				        <annotation>
					          <documentation>Instance -- a description that is specific to a particular observed occurrence. This is 'raw data', and its classification may start out as very general. There are kinds of narrowly defined ControlledConcepts that might not allow 'instances' that are different from the DefiningNorm. It might be worth considering a different relationship between MappedFeature and an Instance GeologicEntity, with the GeologicEntity role being 'description'.</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="typicalNorm">
				        <annotation>
					          <documentation>TypicalNorm -- a description that specifies properties to be expected of some occurrence associated with the GeologicEntity. This description may include many properties that are not part of the DefiningNorm. For example, the fact that granite is typically light-colored is not a defining property, but is certainly a useful typical property. These kinds of descriptions would be used to address queries like 'This area is within a polygon classified as Podunk Formation; what sort of lithology am I most likely to encounter when I start digging?' The Podunk Formation may be defined by the presence of a certain ammonite... TypicalNorm description would be constructed as a summary over many Instance descriptions.</documentation>
				        </annotation>
			      </enumeration>
		    </restriction>
	  </simpleType>
	  <simpleType name="DescriptionPurposeOtherType">
		    <restriction base="string">
			      <pattern value="other: \w{2,}"/>
		    </restriction>
	  </simpleType>
	  <element name="EarthMaterial"
            type="gsmlb:EarthMaterialType"
            abstract="true"
            substitutionGroup="gml:AbstractGML">
		    <annotation>
			      <documentation>The Earth Material class holds a description of a naturally occurring substance in the Earth.  Earth Material represents material composition or substance, and is thus independent of quantity or location. Ideally, Earth Materials are defined strictly based on physical properties, but because of standard geological usage, genetic interpretations may enter into the description as well.</documentation>
		    </annotation>
	  </element>
	  <complexType name="EarthMaterialType" abstract="true">
		    <complexContent>
			      <extension base="gml:AbstractGMLType">
				        <sequence>
					          <element name="gbEarthMaterialExtension"
                        type="gsmlb:ExtensionAbstractDescriptionPropertyType"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
					          <element name="gbEarthMaterialDescription"
                        type="gsmlb:EarthMaterialAbstractDescriptionPropertyType"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
					          <element name="color" minOccurs="0" maxOccurs="unbounded">
						            <annotation>
							              <documentation>Terms to specify color of the earth material.  Color schemes such as the Munsell rock and soil color schemes could be used.</documentation>
						            </annotation>
						            <complexType>
							              <complexContent>
								                <extension base="gml:AbstractMemberType">
									                  <sequence minOccurs="0">
										                    <element ref="swe:Category"/>
									                  </sequence>
									                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
								                </extension>
							              </complexContent>
						            </complexType>
					          </element>
					          <element name="purpose" type="gsmlb:DescriptionPurposeType">
						            <annotation>
							              <documentation>Specification of the intended purpose/level of abstraction for the given EarthMaterial. Scoped name because intention is asserted by author of the data instance. 
Values: Instance, TypicalNorm, IdentifyingNorm.</documentation>
						            </annotation>
					          </element>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="EarthMaterialPropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:EarthMaterial"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="EarthMaterialAbstractDescription"
            type="gsmlb:EarthMaterialAbstractDescriptionType"
            abstract="true"
            substitutionGroup="gml:AbstractObject"/>
	  <complexType name="EarthMaterialAbstractDescriptionType" abstract="true">
		    <sequence/>
	  </complexType>
	  <complexType name="EarthMaterialAbstractDescriptionPropertyType">
		    <sequence>
			      <element ref="gsmlb:EarthMaterialAbstractDescription"/>
		    </sequence>
	  </complexType>
	  <element name="ExtensionAbstractDescription"
            type="gsmlb:ExtensionAbstractDescriptionType"
            abstract="true"
            substitutionGroup="gml:AbstractObject"/>
	  <complexType name="ExtensionAbstractDescriptionType" abstract="true">
		    <sequence/>
	  </complexType>
	  <complexType name="ExtensionAbstractDescriptionPropertyType">
		    <sequence>
			      <element ref="gsmlb:ExtensionAbstractDescription"/>
		    </sequence>
	  </complexType>
	  <element name="Fold"
            type="gsmlb:FoldType"
            substitutionGroup="gsmlb:GeologicStructure"/>
	  <complexType name="FoldType">
		    <complexContent>
			      <extension base="gsmlb:GeologicStructureType">
				        <sequence>
					<!--replaced-->          <element minOccurs="1" name="stFoldDescription" nillable="true">
						            <complexType>
							              <sequence>
								                <element ref="gsmlb:FoldAbstractDescription"/>
							              </sequence>
							              <attribute name="nilReason" type="gml:NilReasonType"/>
						            </complexType>
					          </element>
					          <!--replaced-->          <element minOccurs="1" name="profileType" nillable="true">
						            <annotation>
							              <appinfo>
								                <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:FoldProfileTypeTerm</targetElement>
							              </appinfo>
						            </annotation>
						            <complexType>
							              <simpleContent>
								                <extension base="gml:CodeType">
									                  <attribute name="nilReason" type="gml:NilReasonType"/>
								                </extension>
							              </simpleContent>
						            </complexType>
					          </element>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="FoldPropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:Fold"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="FoldAbstractDescription"
            type="gsmlb:FoldAbstractDescriptionType"
            abstract="true"
            substitutionGroup="gml:AbstractObject"/>
	  <complexType name="FoldAbstractDescriptionType" abstract="true">
		    <sequence/>
	  </complexType>
	  <complexType name="FoldAbstractDescriptionPropertyType">
		    <sequence>
			      <element ref="gsmlb:FoldAbstractDescription"/>
		    </sequence>
	  </complexType>
	  <element name="Foliation"
            type="gsmlb:FoliationType"
            substitutionGroup="gsmlb:GeologicStructure"/>
	  <complexType name="FoliationType">
		    <complexContent>
			      <extension base="gsmlb:GeologicStructureType">
				        <sequence>
					<!--replaced-->          <element minOccurs="1" name="stFoliationDescription" nillable="true">
						            <complexType>
							              <sequence>
								                <element ref="gsmlb:FoliationAbstractDescription"/>
							              </sequence>
							              <attribute name="nilReason" type="gml:NilReasonType"/>
						            </complexType>
					          </element>
					          <element name="foliationType" type="gml:CodeType">
						            <annotation>
							              <appinfo>
								                <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:FoliationTypeTerm</targetElement>
							              </appinfo>
						            </annotation>
					          </element>
					          <!--replaced-->          <element minOccurs="1"
                        name="orientation"
                        nillable="true"
                        maxOccurs="unbounded">
						            <complexType>
							              <sequence>
								                <element ref="gsmlb:CGI_PlanarOrientation"/>
							              </sequence>
							              <attribute name="nilReason" type="gml:NilReasonType"/>
						            </complexType>
					          </element>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="FoliationPropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:Foliation"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="FoliationAbstractDescription"
            type="gsmlb:FoliationAbstractDescriptionType"
            abstract="true"
            substitutionGroup="gml:AbstractObject"/>
	  <complexType name="FoliationAbstractDescriptionType" abstract="true">
		    <sequence/>
	  </complexType>
	  <complexType name="FoliationAbstractDescriptionPropertyType">
		    <sequence>
			      <element ref="gsmlb:FoliationAbstractDescription"/>
		    </sequence>
	  </complexType>
	  <element name="GSML"
            type="gsmlb:GSMLType"
            substitutionGroup="gml:AbstractFeature">
		    <annotation>
			      <documentation>A collection container for items to be bundled in WFS response documents and other applications. FeatureType stereotype allows this to be a FeatureMember in a WFS_FeatureCollection.</documentation>
		    </annotation>
	  </element>
	  <complexType name="GSMLType">
		    <complexContent>
			      <extension base="gml:AbstractFeatureType">
				        <sequence>
					          <element name="member"
                        type="gsmlb:GSMLitemPropertyType"
                        maxOccurs="unbounded">
						            <annotation>
							              <documentation>Points to a member of a GSML collection, which can be any of the GeoSciML classes that are listed in the GSMLitem union class.</documentation>
						            </annotation>
					          </element>
					          <element name="collectionType" type="gml:CodeType"/>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="GSMLPropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:GSML"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="GSML_QuantityRange"
            type="gsmlb:GSML_QuantityRangeType"
            substitutionGroup="swe:QuantityRange"/>
	  <complexType name="GSML_QuantityRangeType">
		    <complexContent>
			      <extension base="swe:QuantityRangeType">
				        <sequence>
					          <element name="lowerValue" type="double"/>
					          <element name="upperValue" type="double"/>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="GSML_QuantityRangePropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:GSML_QuantityRange"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="GSMLitem"
            type="gsmlb:GSMLitemType"
            substitutionGroup="gml:AbstractObject">
		    <annotation>
			      <documentation>GSMLitem is a union class that specifies the types of features that are allowed to be members of the GSML class, and therefore, members of a GML Collection.</documentation>
		    </annotation>
	  </element>
	  <complexType name="GSMLitemType">
		    <choice>
			      <element name="earthMaterialItem">
				        <annotation>
					          <documentation>The earthMaterialItem attribute is a placeholder for the EarthMaterial class that is included as a member of a GSML Collection.</documentation>
				        </annotation>
				        <complexType>
					          <complexContent>
						            <extension base="gml:AbstractMemberType">
							              <sequence minOccurs="0">
								                <element ref="gsmlb:EarthMaterial"/>
							              </sequence>
							              <attributeGroup ref="gml:AssociationAttributeGroup"/>
						            </extension>
					          </complexContent>
				        </complexType>
			      </element>
			      <element name="featureItem">
				        <annotation>
					          <documentation>The featureItem attribute is a placeholder for the GeologicFeature class that is included as a member of a GSML Collection.</documentation>
				        </annotation>
				        <complexType>
					          <complexContent>
						            <extension base="gml:AbstractFeatureMemberType">
							              <sequence minOccurs="0">
								                <element ref="gsmlb:GeologicFeature"/>
							              </sequence>
							              <attributeGroup ref="gml:AssociationAttributeGroup"/>
						            </extension>
					          </complexContent>
				        </complexType>
			      </element>
			      <element name="geometryItem" type="gml:GeometryPropertyType">
				        <annotation>
					          <documentation>The geometryItem attribute is a placeholder for the AbstractGeometry class that is included as a member of a GSML Collection.</documentation>
				        </annotation>
			      </element>
			      <element name="mappedItem">
				        <annotation>
					          <documentation>The mappedItem attribute is a placeholder for the MappedFeature class that is included as a member of a GSML Collection.</documentation>
				        </annotation>
				        <complexType>
					          <complexContent>
						            <extension base="gml:AbstractFeatureMemberType">
							              <sequence minOccurs="0">
								                <element ref="gsmlb:MappedFeature"/>
							              </sequence>
							              <attributeGroup ref="gml:AssociationAttributeGroup"/>
						            </extension>
					          </complexContent>
				        </complexType>
			      </element>
			      <element name="relationItem">
				        <annotation>
					          <documentation>The relationItem attribute is a placeholder for the GeologicRelation class that is included as a member of a GSML Collection.</documentation>
				        </annotation>
				        <complexType>
					          <complexContent>
						            <extension base="gml:AbstractMemberType">
							              <sequence minOccurs="0">
								                <element ref="gsmlb:AbstractFeatureRelation"/>
							              </sequence>
							              <attributeGroup ref="gml:AssociationAttributeGroup"/>
						            </extension>
					          </complexContent>
				        </complexType>
			      </element>
			      <element name="samplingFeatureItem" type="sam:SF_SamplingFeaturePropertyType">
				        <annotation>
					          <documentation>The SF_SamplingFeatureItem attribute is a placeholder for the SamplingFeature class that is included as a member of a GSML Collection.</documentation>
				        </annotation>
			      </element>
		    </choice>
	  </complexType>
	  <complexType name="GSMLitemPropertyType">
		    <sequence>
			      <element ref="gsmlb:GSMLitem"/>
		    </sequence>
	  </complexType>
	  <element name="GeologicEvent"
            type="gsmlb:GeologicEventType"
            substitutionGroup="gsmlb:GeologicFeature"/>
	  <complexType name="GeologicEventType">
		    <complexContent>
			      <extension base="gsmlb:GeologicFeatureType">
				        <sequence>
					<!--replaced-->          <element minOccurs="1" name="numericAge" nillable="true">
						            <complexType>
							              <sequence>
								                <element ref="gsmlb:NumericAgeRange"/>
							              </sequence>
							              <attribute name="nilReason" type="gml:NilReasonType"/>
						            </complexType>
					          </element>
					          <!--replaced-->          <element minOccurs="1"
                        name="gaEventDescription"
                        nillable="true"
                        maxOccurs="unbounded">
						            <complexType>
							              <sequence>
								                <element ref="gsmlb:GeologicEventAbstractDescription"/>
							              </sequence>
							              <attribute name="nilReason" type="gml:NilReasonType"/>
						            </complexType>
					          </element>
					          <element name="eventProcess" type="gml:CodeType" maxOccurs="unbounded"/>
					          <!--replaced-->          <element minOccurs="1"
                        name="olderNamedAge"
                        type="gml:ReferenceType"
                        nillable="true">
						            <annotation>
							              <appinfo>
								                <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:GeochronologicEraTerm</targetElement>
								                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">GeochronologicEraTerm</targetCodeList>
							              </appinfo>
						            </annotation>
					          </element>
					          <!--replaced-->          <element minOccurs="1"
                        name="youngerNamedAge"
                        type="gml:ReferenceType"
                        nillable="true">
						            <annotation>
							              <appinfo>
								                <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:GeochronologicEraTerm</targetElement>
								                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">GeochronologicEraTerm</targetCodeList>
							              </appinfo>
						            </annotation>
					          </element>
					          <!--replaced-->          <element minOccurs="1"
                        name="eventEnvironment"
                        nillable="true"
                        maxOccurs="unbounded">
						            <complexType>
							              <complexContent>
								                <extension base="gml:AbstractMemberType">
									                  <sequence minOccurs="0">
										                    <element ref="swe:Category"/>
									                  </sequence>
									                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
								                </extension>
							              </complexContent>
						            </complexType>
					          </element>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="GeologicEventPropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:GeologicEvent"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="GeologicEventAbstractDescription"
            type="gsmlb:GeologicEventAbstractDescriptionType"
            abstract="true"
            substitutionGroup="gml:AbstractObject"/>
	  <complexType name="GeologicEventAbstractDescriptionType" abstract="true">
		    <sequence/>
	  </complexType>
	  <complexType name="GeologicEventAbstractDescriptionPropertyType">
		    <sequence>
			      <element ref="gsmlb:GeologicEventAbstractDescription"/>
		    </sequence>
	  </complexType>
	  <element name="GeologicFeature"
            type="gsmlb:GeologicFeatureType"
            abstract="true"
            substitutionGroup="gml:AbstractFeature"/>
	  <complexType name="GeologicFeatureType" abstract="true">
		    <complexContent>
			      <extension base="gml:AbstractFeatureType">
				        <sequence>
					<!--replaced-->          <element minOccurs="1"
                        name="classifier"
                        nillable="true"
                        maxOccurs="unbounded">
						            <complexType>
							              <complexContent>
								                <extension base="gml:AbstractMemberType">
									                  <sequence minOccurs="0">
										                    <element ref="swe:Category"/>
									                  </sequence>
									                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
								                </extension>
							              </complexContent>
						            </complexType>
					          </element>
					          <element name="occurrence"
                        type="gsmlb:MappedFeaturePropertyType"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
					          <element name="relatedFeature"
                        type="gsmlb:AbstractFeatureRelationPropertyType"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
					          <element name="geologicHistory"
                        type="gsmlb:GeologicEventPropertyType"
                        maxOccurs="unbounded"/>
					          <!--replaced-->          <element minOccurs="1"
                        name="observationMethod"
                        nillable="true"
                        maxOccurs="unbounded">
						            <complexType>
							              <complexContent>
								                <extension base="gml:AbstractMemberType">
									                  <sequence minOccurs="0">
										                    <element ref="swe:Category"/>
									                  </sequence>
									                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
								                </extension>
							              </complexContent>
						            </complexType>
					          </element>
					          <element name="purpose" type="gsmlb:DescriptionPurposeType"/>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="GeologicFeaturePropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:GeologicFeature"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="GeologicStructure"
            type="gsmlb:GeologicStructureType"
            abstract="true"
            substitutionGroup="gsmlb:GeologicFeature"/>
	  <complexType name="GeologicStructureType" abstract="true">
		    <complexContent>
			      <extension base="gsmlb:GeologicFeatureType">
				        <sequence/>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="GeologicStructurePropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:GeologicStructure"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="GeologicUnit"
            type="gsmlb:GeologicUnitType"
            substitutionGroup="gsmlb:GeologicFeature"/>
	  <complexType name="GeologicUnitType">
		    <complexContent>
			      <extension base="gsmlb:GeologicFeatureType">
				        <sequence>
					<!--replaced-->          <element minOccurs="1"
                        name="gbUnitDescription"
                        nillable="true"
                        maxOccurs="unbounded">
						            <complexType>
							              <sequence>
								                <element ref="gsmlb:GeologicUnitAbstractDescription"/>
							              </sequence>
							              <attribute name="nilReason" type="gml:NilReasonType"/>
						            </complexType>
					          </element>
					          <element name="gbMaterialDescription"
                        type="gsmlb:ExtensionAbstractDescriptionPropertyType"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
					          <element name="geologicUnitType" type="gml:CodeType">
						            <annotation>
							              <appinfo>
								                <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:GeologicUnitTypeTerm</targetElement>
							              </appinfo>
						            </annotation>
					          </element>
					          <!--replaced-->          <element minOccurs="1" name="rank" nillable="true">
						            <annotation>
							              <appinfo>
								                <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:RankTerm</targetElement>
							              </appinfo>
						            </annotation>
						            <complexType>
							              <simpleContent>
								                <extension base="gml:CodeType">
									                  <attribute name="nilReason" type="gml:NilReasonType"/>
								                </extension>
							              </simpleContent>
						            </complexType>
					          </element>
					          <!--replaced-->          <element minOccurs="1"
                        name="composition"
                        nillable="true"
                        maxOccurs="unbounded">
						            <complexType>
							              <sequence>
								                <element ref="gsmlb:CompositionPart"/>
							              </sequence>
							              <attribute name="nilReason" type="gml:NilReasonType"/>
						            </complexType>
					          </element>
					          <!--replaced-->          <element minOccurs="1"
                        name="hierarchyLink"
                        nillable="true"
                        maxOccurs="unbounded">
						            <complexType>
							              <sequence>
								                <element ref="gsmlb:GeologicUnitHierarchy"/>
							              </sequence>
							              <attribute name="nilReason" type="gml:NilReasonType"/>
						            </complexType>
					          </element>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="GeologicUnitPropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:GeologicUnit"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="GeologicUnitAbstractDescription"
            type="gsmlb:GeologicUnitAbstractDescriptionType"
            abstract="true"
            substitutionGroup="gml:AbstractObject"/>
	  <complexType name="GeologicUnitAbstractDescriptionType" abstract="true">
		    <sequence/>
	  </complexType>
	  <complexType name="GeologicUnitAbstractDescriptionPropertyType">
		    <sequence>
			      <element ref="gsmlb:GeologicUnitAbstractDescription"/>
		    </sequence>
	  </complexType>
	  <element name="GeologicUnitHierarchy"
            type="gsmlb:GeologicUnitHierarchyType"
            substitutionGroup="gml:AbstractObject"/>
	  <complexType name="GeologicUnitHierarchyType">
		    <sequence>
			      <element name="role" type="gml:CodeType">
				        <annotation>
					          <appinfo>
						            <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:GeologicUnitHierarchyRoleTerm</targetElement>
					          </appinfo>
				        </annotation>
			      </element>
			      <!--replaced-->      <element minOccurs="1" name="proportion" nillable="true">
				        <complexType>
					          <complexContent>
						            <extension base="gml:AbstractMemberType">
							              <sequence minOccurs="0">
								                <element ref="swe:QuantityRange"/>
							              </sequence>
							              <attributeGroup ref="gml:AssociationAttributeGroup"/>
						            </extension>
					          </complexContent>
				        </complexType>
			      </element>
			      <element name="targetUnit" type="gsmlb:GeologicUnitPropertyType"/>
		    </sequence>
	  </complexType>
	  <complexType name="GeologicUnitHierarchyPropertyType">
		    <sequence>
			      <element ref="gsmlb:GeologicUnitHierarchy"/>
		    </sequence>
	  </complexType>
	  <element name="GeomorphologicFeature"
            type="gsmlb:GeomorphologicFeatureType"
            abstract="true"
            substitutionGroup="gsmlb:GeologicFeature"/>
	  <complexType name="GeomorphologicFeatureType" abstract="true">
		    <complexContent>
			      <extension base="gsmlb:GeologicFeatureType">
				        <sequence>
					          <element name="unitDescription"
                        type="gsmlb:GeologicUnitPropertyType"
                        minOccurs="0"/>
					          <!--replaced-->          <element minOccurs="1"
                        name="gmFeatureDescription"
                        type="gsmlb:GeomorphologicUnitAbstractDescriptionPropertyType"
                        nillable="true"
                        maxOccurs="unbounded"/>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="GeomorphologicFeaturePropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:GeomorphologicFeature"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="GeomorphologicUnitAbstractDescription"
            type="gsmlb:GeomorphologicUnitAbstractDescriptionType"
            abstract="true"
            substitutionGroup="gml:AbstractGML"/>
	  <complexType name="GeomorphologicUnitAbstractDescriptionType" abstract="true">
		    <complexContent>
			      <extension base="gml:AbstractGMLType">
				        <sequence/>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="GeomorphologicUnitAbstractDescriptionPropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:GeomorphologicUnitAbstractDescription"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="MappedFeature"
            type="gsmlb:MappedFeatureType"
            substitutionGroup="gml:AbstractFeature"/>
	  <complexType name="MappedFeatureType">
		    <complexContent>
			      <extension base="gml:AbstractFeatureType">
				        <sequence>
					          <element name="shape" type="gml:GeometryPropertyType"/>
					          <element name="specification" type="gml:FeaturePropertyType"/>
					          <!--replaced-->          <element minOccurs="1"
                        name="observationMethod"
                        nillable="true"
                        maxOccurs="unbounded">
						            <complexType>
							              <complexContent>
								                <extension base="gml:AbstractMemberType">
									                  <sequence minOccurs="0">
										                    <element ref="swe:Category"/>
									                  </sequence>
									                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
								                </extension>
							              </complexContent>
						            </complexType>
					          </element>
					          <!--replaced-->          <element minOccurs="1"
                        name="resolutionRepresentativeFraction"
                        nillable="true">
						            <complexType>
							              <simpleContent>
								                <extension base="integer">
									                  <attribute name="nilReason" type="gml:NilReasonType"/>
								                </extension>
							              </simpleContent>
						            </complexType>
					          </element>
					          <element name="mappingFrame" type="gml:ReferenceType">
						            <annotation>
							              <appinfo>
								                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">MappingFrameTerm</targetCodeList>
							              </appinfo>
						            </annotation>
					          </element>
					          <!--replaced-->          <element minOccurs="1" name="exposure" nillable="true">
						            <complexType>
							              <simpleContent>
								                <extension base="gml:CodeType">
									                  <attribute name="nilReason" type="gml:NilReasonType"/>
								                </extension>
							              </simpleContent>
						            </complexType>
					          </element>
					          <!--replaced-->          <element minOccurs="1" name="positionalAccuracy" nillable="true">
						            <complexType>
							              <complexContent>
								                <extension base="gml:AbstractMemberType">
									                  <sequence minOccurs="0">
										                    <element ref="swe:Quantity"/>
									                  </sequence>
									                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
								                </extension>
							              </complexContent>
						            </complexType>
					          </element>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="MappedFeaturePropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:MappedFeature"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="NaturalGeomorphologicFeature"
            type="gsmlb:NaturalGeomorphologicFeatureType"
            substitutionGroup="gsmlb:GeomorphologicFeature"/>
	  <complexType name="NaturalGeomorphologicFeatureType">
		    <complexContent>
			      <extension base="gsmlb:GeomorphologicFeatureType">
				        <sequence>
					          <element name="naturalGeomorphologicFeatureType" type="gml:ReferenceType">
						            <annotation>
							              <appinfo>
								                <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:NaturalGeomorphologicFeatureTypeTerm</targetElement>
								                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">NaturalGeomorphologicFeatureTypeTerm</targetCodeList>
							              </appinfo>
						            </annotation>
					          </element>
					          <!--replaced-->          <element minOccurs="1" name="activity" nillable="true">
						            <complexType>
							              <complexContent>
								                <extension base="gml:AbstractMemberType">
									                  <sequence minOccurs="0">
										                    <element ref="swe:Category"/>
									                  </sequence>
									                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
								                </extension>
							              </complexContent>
						            </complexType>
					          </element>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="NaturalGeomorphologicFeaturePropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:NaturalGeomorphologicFeature"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="NumericAgeRange"
            type="gsmlb:NumericAgeRangeType"
            substitutionGroup="gml:AbstractObject">
		    <annotation>
			      <documentation>Class to represent general age assignment using numeric measurement results. All attributes have cardinality 1; report with nilReason="missing" if a value is absent.</documentation>
		    </annotation>
	  </element>
	  <complexType name="NumericAgeRangeType">
		    <sequence>
			      <element name="reportingDate">
				        <annotation>
					          <documentation>Single time coordinate value to report as representative for this NumericAge assignment</documentation>
				        </annotation>
				        <complexType>
					          <complexContent>
						            <extension base="gml:AbstractMemberType">
							              <sequence minOccurs="0">
								                <element ref="swe:Quantity"/>
							              </sequence>
							              <attributeGroup ref="gml:AssociationAttributeGroup"/>
						            </extension>
					          </complexContent>
				        </complexType>
			      </element>
			      <element name="olderBoundDate" minOccurs="0">
				        <annotation>
					          <documentation>The older bounding time coordinate in an age range</documentation>
				        </annotation>
				        <complexType>
					          <complexContent>
						            <extension base="gml:AbstractMemberType">
							              <sequence minOccurs="0">
								                <element ref="swe:Quantity"/>
							              </sequence>
							              <attributeGroup ref="gml:AssociationAttributeGroup"/>
						            </extension>
					          </complexContent>
				        </complexType>
			      </element>
			      <element name="youngerBoundDate" minOccurs="0">
				        <annotation>
					          <documentation>The younger bounding time coordinate in an age range</documentation>
				        </annotation>
				        <complexType>
					          <complexContent>
						            <extension base="gml:AbstractMemberType">
							              <sequence minOccurs="0">
								                <element ref="swe:Quantity"/>
							              </sequence>
							              <attributeGroup ref="gml:AssociationAttributeGroup"/>
						            </extension>
					          </complexContent>
				        </complexType>
			      </element>
		    </sequence>
	  </complexType>
	  <complexType name="NumericAgeRangePropertyType">
		    <sequence>
			      <element ref="gsmlb:NumericAgeRange"/>
		    </sequence>
	  </complexType>
	  <element name="RockMaterial"
            type="gsmlb:RockMaterialType"
            substitutionGroup="gsmlb:CompoundMaterial">
		    <annotation>
			      <documentation>A specialized CompoundMaterial that includes consolidated and unconsolidated materials as well as mixtures of consolidated and unconsolidated materials.</documentation>
		    </annotation>
	  </element>
	  <complexType name="RockMaterialType">
		    <complexContent>
			      <extension base="gsmlb:CompoundMaterialType">
				        <sequence>
					          <element name="lithology" type="gml:CodeType"/>
					          <element name="emRockDescription"
                        type="gsmlb:ExtensionAbstractDescriptionPropertyType"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="RockMaterialPropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:RockMaterial"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="ShearDisplacementStructure"
            type="gsmlb:ShearDisplacementStructureType"
            substitutionGroup="gsmlb:GeologicStructure"/>
	  <complexType name="ShearDisplacementStructureType">
		    <complexContent>
			      <extension base="gsmlb:GeologicStructureType">
				        <sequence>
					<!--replaced-->          <element minOccurs="1" name="stStructureDescription" nillable="true">
						            <complexType>
							              <sequence>
								                <element ref="gsmlb:ShearDisplacementStructureAbstractDescription"/>
							              </sequence>
							              <attribute name="nilReason" type="gml:NilReasonType"/>
						            </complexType>
					          </element>
					          <element name="faultType" type="gml:CodeType">
						            <annotation>
							              <appinfo>
								                <targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:FaultTypeTerm</targetElement>
							              </appinfo>
						            </annotation>
					          </element>
				        </sequence>
			      </extension>
		    </complexContent>
	  </complexType>
	  <complexType name="ShearDisplacementStructurePropertyType">
		    <sequence minOccurs="0">
			      <element ref="gsmlb:ShearDisplacementStructure"/>
		    </sequence>
		    <attributeGroup ref="gml:AssociationAttributeGroup"/>
		    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	  </complexType>
	  <element name="ShearDisplacementStructureAbstractDescription"
            type="gsmlb:ShearDisplacementStructureAbstractDescriptionType"
            abstract="true"
            substitutionGroup="gml:AbstractObject"/>
	  <complexType name="ShearDisplacementStructureAbstractDescriptionType"
                abstract="true">
		    <sequence/>
	  </complexType>
	  <complexType name="ShearDisplacementStructureAbstractDescriptionPropertyType">
		    <sequence>
			      <element ref="gsmlb:ShearDisplacementStructureAbstractDescription"/>
		    </sequence>
	  </complexType>
</schema>
