trunk/schema/GeoSciML/geologicRelation.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml"
    xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:1.0" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0"
    targetNamespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>Geologic Relations are typed, directed associations between geologic objects. Represents any of a
            wide variety of relationships that can exist between two or more GeologicFeatures? . For example, the
            GeologicRelation ?intrudes? is a relationship between an intrusive igneous rock and some host rock. Includes
            spatial, temporal, sequence, correlation, and parent/child relations. Two or more GeologicFeatures? are
            associated in a GeologicRelation; each has a role in the relationship. Examples of geological roles include
            "overlies", "is overlain by", "is younger", "is older", "intrudes", "is intruded by", and so forth. In a
            relationship where an igneous unit intrudes a sedimentary unit, the geological relationship is ?intrudes?,
            the intruded sedimentary unit has the role ?host?, and the igneous unit has the role ?intrusion?. Many other
            types of relationships can also be accommodated via GeologicRelation, for example, topological relations
            between spatial objects could be described where they are scientifically significant. </documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:Utilities:1.0"
        schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/trunk/schema/Utilities/cgiUtilities.xsd"/>
    <include schemaLocation="geosciml.xsd"/>
    <element abstract="true" name="GeologicRelation" substitutionGroup="gml:_Feature" type="gsml:GeologicRelationType">
        <annotation>
            <documentation>The GeologicRelation class is an abstract class that defines the general structure used to
                define relationships between any feature or object within GeoSciML. Relationships are always binary and
                directional. There is always a single source and a single target. The relationship is always defined
                from the perspective of the Source and is generally an active verb. Example: a Source may point to an
                intrusive igneous rock body. In this case, the Target would point to the appropriate host rock body and
                the relationship attribute would be 'intrudes'. Other appropriate relationship attributes might include:
                overlies, offsets, crosscuts, folds, etc.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="GeologicRelationType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="relationship" type="cgu:CodeWithAuthorityType">
                        <annotation>
                            <documentation>Term that specifies the relationship between source and target geologic
                                objects. Vocabulary of relationship names should explicitly state relationship between
                                source and target role fillers. For example, quartz (source) overgrows feldspar
                                phenocryst (target).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="sourceRole" type="cgu:CodeWithAuthorityType"/>
                    <element maxOccurs="1" minOccurs="0" name="targetRole" type="cgu:CodeWithAuthorityType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeologicRelationPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:GeologicRelation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
</schema>
