branches/3.0.0_rc1_gml3.1/geotime/3.0.0/xsd/GeologicAge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:isp="urn:cgi:xmlns:CGI:ISO19115_Proxy:3.0.0" xmlns:gvoc="urn:cgi:xmlns:CGI:Vocabulary:3.0.0" xmlns:gml="http://www.opengis.net/gml" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:3.0.0" xmlns:gt="urn:cgi:xmlns:CGI:GeologicTime:3.0.0" targetNamespace="urn:cgi:xmlns:CGI:GeologicTime:3.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>The GeoSciML GeologicAge package contains classes to support the description of geologic ages. 

A geologic age is related to a particular GeologicEvent, during which one or more geological processes act to modify geological entities.</documentation>
	</annotation>
	<include schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc1_gml3.1/geotime/3.0.0/xsd/geologicTime.xsd"/>
	<import namespace="urn:cgi:xmlns:CGI:ISO19115_Proxy:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19115_Proxy/xsd/iso19115proxy.xsd"/>
	<import namespace="urn:cgi:xmlns:CGI:Utilities:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc1_gml3.1/cgiUtilities/3.0.0/xsd/cgiUtilities.xsd"/>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="urn:cgi:xmlns:CGI:Vocabulary:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc1_gml3.1/vocabulary/3.0.0/xsd/vocabulary.xsd"/>
	<element name="GeologicEvent" type="gt:GeologicEventType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>An identifiable event during which one or more geological processes act to modify geological entities. A GeologicEvent must have a specified GeologicAge and may have specified environments and processes. An example might be a cratonic uplift event during which erosion, sedimentation, and volcanism all take place.

Geological history is an ordered aggregation of Geological Event objects, each of which may have an associated Geological Age, Geological Environment, and one or more Geological Process objects. Genesis typically pertains to some geological phenomenon (Geological Structure, Earth Material, Geological Unit, Fossil, etc.)

In GeoSciML 2.0 this ordering cannot be specified.

A GeologicEvent must have a specified eventAge (numericAgeDate, olderNamedAge, or youngerNamedAge), at least one eventProcess, and may have specified eventEnvironments.  An example might be a cratonic uplift event during which erosion, sedimentation, and volcanism all take place. Traditionally, geologists have described the age of a feature without explicitly specifying the event or processes the age related to. The GeologicEvent package allows for explicitly linking the three, without mandating it.

The eventAge attribute is the age of a particular geological event or feature expressed in terms of years before present (absolute age), referred to the geological time scale, or by comparison with other geological events or features (relative age). An eventAge can represent an instant in time, an interval of time, or any combination of multiple instants or intervals. Specifications of age in years before present are based on determination of time durations based on interpretation of isotopic analyses of EarthMaterial (some other methods are used for geologically young materials). Ages referred to geological time scales are essentially based on correlation of a geological unit with a standard chronostratigraphic unit that serves as a reference. Relative ages are based on relationships between geological units such as superposition, intruded by, cross-cuts, or "contains inclusions of".</documentation>
		</annotation>
	</element>
	<complexType name="GeologicEventType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="eventProcess" type="gml:ReferenceType" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<gml:targetElement>gt:EventProcessTerm</gml:targetElement>
							</appinfo>
							<documentation>The eventProcess specifies the process or processes that occurred during the event. Examples include deposition, extrusion, intrusion, cooling.</documentation>
						</annotation>
					</element>
					<element name="numericAgeDate" type="cgu:CGI_NumericAgeRangePropertyType">
						<annotation>
							<documentation>The numericAgeDate attribute is the age of a particular geological event or feature expressed in terms of years before present (1950), using CGI_NumericAgeRange. This datatype allows a younger and older age boundary to express an interval, and a reporting age, which is a single numeric age to report for applications that can not use a numeric range. Age in years before present is an estimated time durations based on interpretation of isotopic analyses of EarthMaterial (some other methods are used for geologically young materials).
Numeric age range uses StratigraphicDateEstimate to allow incorporation of various uncertainty measures using ISO19115 DataQuality elements, and binding with observation features to report details of date determination measurement.</documentation>
						</annotation>
					</element>
					<element name="youngerNamedAge" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gt:GeochronologicEra</gml:targetElement>
							</appinfo>
							<documentation>Younger boundary of age of event expressed using a geochronologic era defined according to a geologic time scale per GeologicTime schema</documentation>
						</annotation>
					</element>
					<element name="olderNamedAge" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gt:GeochronologicEra</gml:targetElement>
							</appinfo>
							<documentation>Older boundary of age of event expressed using a geochronologic era defined according to a geologic time scale per GeologicTime schema</documentation>
						</annotation>
					</element>
					<element name="eventEnvironment" type="cgu:CGI_TermPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>The physical setting within which a GeologicEvent takes place.  GeologicEnvironment is construed broadly to include physical settings on the Earth surface specified by climate, tectonics, physiography or geography, and settings in the Earth&amp;rsquo;s interior specified by pressure, temperature, chemical environment, or tectonics.</documentation>
						</annotation>
					</element>
					<element name="prototype" type="gt:StratigraphicPointPropertyType" minOccurs="0"/>
					<element name="classifier" type="gvoc:ControlledConceptPropertyType" minOccurs="0"/>
					<element name="metadata" type="isp:MD_MetadataPropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicEventPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:GeologicEvent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="EventProcessTerm" type="gt:EventProcessTermType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>Refers to a vocabulary of terms specifying the process or processes that occurred during an event.  Examples include deposition, extrusion, intrusion, cooling.</documentation>
		</annotation>
	</element>
	<complexType name="EventProcessTermType"/>
	<complexType name="EventProcessTermPropertyType">
		<sequence>
			<element ref="gt:EventProcessTerm"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
</schema>
