tags/3.0.0_rc1_gml3.1/fossil/3.0.0/xsd/fossil.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gvoc="urn:cgi:xmlns:CGI:Vocabulary:3.0.0" xmlns:gfos="urn:cgi:xmlns:CGI:Fossil:3.0.0" targetNamespace="urn:cgi:xmlns:CGI:Fossil:3.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>The GeoSciML Fossil package contains classes for representing Fossils. These may be: FossilMold or TraceFossil.  They are linked to living or once living things by the Organism class. 

It is recommended that a fossil(s) behaving as a "material" should be described as a  "constituent part" of an earth material. [NOTE!! There is currently no way to do this in the model. - OLR 20-5-2010]</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="urn:cgi:xmlns:CGI:Vocabulary:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/tags/3.0.0_rc1_gml3.1/vocabulary/3.0.0/xsd/vocabulary.xsd"/>
	<element name="FossilMold" type="gfos:FossilMoldType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>A fossil that is a negative image of some organism or part of an organism. Considered a structure because the mold has the same relationship to its material substrate that a geologic structure does--the mold is in the substrate, it is not the substrate itself.</documentation>
		</annotation>
	</element>
	<complexType name="FossilMoldType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="sourceOrganism" type="gfos:OrganismPropertyType" minOccurs="0">
						<annotation>
							<documentation>Specifies the related Organism that produced the fossil in the original substrate material</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FossilMoldPropertyType">
		<sequence minOccurs="0">
			<element ref="gfos:FossilMold"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="Organism" type="gfos:OrganismType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>Broad class to represent any living or once living thing. This is the connection to taxonomy/biology for fossils.</documentation>
		</annotation>
	</element>
	<complexType name="OrganismType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="classifier" type="gvoc:ControlledConceptPropertyType" maxOccurs="unbounded">
						<annotation>
							<documentation>Classifies the Organism with a formal nomenclature (ControlledConcept)</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OrganismPropertyType">
		<sequence minOccurs="0">
			<element ref="gfos:Organism"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="TraceFossil" type="gfos:TraceFossilType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>A sedimentary structure produced by the life activities (other than growth) of some organism. Neuendorf et al. (2005) restrict to structures produced by animals; further consideration needed on how to deal with structures produced by other life-forms.</documentation>
		</annotation>
	</element>
	<complexType name="TraceFossilType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="sourceOrganism" type="gfos:OrganismPropertyType" minOccurs="0">
						<annotation>
							<documentation>Specifies the related Organism that produced the fossil in the original substrate material</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TraceFossilPropertyType">
		<sequence minOccurs="0">
			<element ref="gfos:TraceFossil"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
</schema>
