tags/3.0.0_rc1_gml3.1/geosciml-core/3.0.0/xsd/GeologicStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gt="urn:cgi:xmlns:CGI:GeologicTime:3.0.0" xmlns:gpp="urn:cgi:xmlns:CGI:PhysicalProperties:3.0.0" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:3.0.0" xmlns:gsmlcore="urn:cgi:xmlns:CGI:GeoSciML-Core:3.0.0" targetNamespace="urn:cgi:xmlns:CGI:GeoSciML-Core:3.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>GeologicStructures are a configuration of matter in the Earth based on describable inhomogeneity, pattern, or fracture in an Earth Material.  The scale of geological structures ranges from microscopic (micron-scale) to megascopic (km-scale). Examples of such inhomogeneities include fractures, mineral grain boundaries, and boundaries between parts of the rock with different particle geometry (texture) or composition. Geologic structure is grounded in relationships between parts of a rock or rock body.   As used here, it includes sedimentary structures. The identity of a Geologic Structure is independent of the material that is the substrate for the structure. There are almost always strong dependencies between the nature of the Earth Material substrate and the kinds of Geological Structure that may be present. A disaggregated heap of particles does not have structure, and can  only be described in terms of the mineralogy and geometrical character of the constituent particles.  Geologic Structures are more likely to be found in, and are more persistent in, consolidated materials than in unconsolidated materials. Properties like "clast-supported", "matrix-supported", and "graded bed" that do not involve orientation are considered kinds of Geologic Structure because they depend on the configuration of parts of a rock body.</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="urn:cgi:xmlns:CGI:Utilities:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/tags/3.0.0_rc1_gml3.1/cgiUtilities/3.0.0/xsd/cgiUtilities.xsd"/>
	<import namespace="urn:cgi:xmlns:CGI:GeologicTime:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/tags/3.0.0_rc1_gml3.1/geotime/3.0.0/xsd/geologicTime.xsd"/>
	<import namespace="urn:cgi:xmlns:CGI:PhysicalProperties:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/tags/3.0.0_rc1_gml3.1/physicalProperties/3.0.0/xsd/physicalProperties.xsd"/>
	<element name="Joint" type="gsmlcore:JointType" substitutionGroup="gsmlcore:Fracture">
		<annotation>
			<documentation>Fracture across which there is no displacement at the scale of interest.</documentation>
		</annotation>
	</element>
	<complexType name="JointType">
		<complexContent>
			<extension base="gsmlcore:FractureType"/>
		</complexContent>
	</complexType>
	<complexType name="JointPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:Joint"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="GeologicStructure" type="gsmlcore:GeologicStructureType" substitutionGroup="gsmlcore:GeologicFeature">
		<annotation>
			<documentation>A configuration of matter in the Earth based on describable inhomogeneity, pattern, or fracture in an EarthMaterial The identity of a GeologicStructure is independent of the material that is the substrate for the structure. GeologicStructures are more likely to be found in, and are more persistent in, consolidated materials than in unconsolidated materials. Properties like "clast-supported",  "matrix-supported", and "graded bed" that do not involve orientation are considered kinds of GeologicStructure because they depend on the configuration of parts of a rock body. Includes: sedimentary structures.

In GeoSciML 2.0 Fabric is treated as a class that describes an EarthMaterial (FabricDescription). The general GeologicRelation is used to associate penetrative GeologicStructures with GeologicUnits.</documentation>
		</annotation>
	</element>
	<complexType name="GeologicStructureType">
		<complexContent>
			<extension base="gsmlcore:GeologicFeatureType"/>
		</complexContent>
	</complexType>
	<complexType name="GeologicStructurePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:GeologicStructure"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="Layering" type="gsmlcore:LayeringType" substitutionGroup="gsmlcore:Foliation">
		<annotation>
			<documentation>Planar foliation defined by a tabular succession of layers &amp;gt; 5 mm thick. This definition is based on the proposed definition of gneiss by the NADM Science Language Technical Team, so that the GeologicStructure characteristic of gneiss is layering. The committee discussed the possibility that layering should be considered a kind of foliation, but the majority opinion was that it is a different kind of structure.

Kept so that instance documents have a "Layering" tag</documentation>
		</annotation>
	</element>
	<complexType name="LayeringType">
		<complexContent>
			<extension base="gsmlcore:FoliationType">
				<sequence>
					<element name="layerComposition" type="gsmlcore:RockMaterialPropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LayeringPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:Layering"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="Lineation" type="gsmlcore:LineationType" substitutionGroup="gsmlcore:GeologicStructure">
		<annotation>
			<documentation>GeologicStructure defined by aligned elongate elements. Lineation connotes a pervasive linear structure. Includes: flow lines, scratches, striae, slickenlines, linear arrangements of
elongate components in sediments, fold hinges (when abundant and closely spaced), elongate minerals, crinkles, and lines of intersection between penetrative planar structures.

Class also includes discrete linear structures like boudin, channel axis, tool marks.</documentation>
		</annotation>
	</element>
	<complexType name="LineationType">
		<complexContent>
			<extension base="gsmlcore:GeologicStructureType">
				<sequence>
					<element name="lineationType" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gsmlcore:LineationTypeTerm</gml:targetElement>
							</appinfo>
							<documentation>Type of lineation.
Examples include: flow lines, scratches, striae, slickenlines, linear arrangements of elongate components in sediments, elongate minerals, crinkles, and lines of intersection between penetrative planar structures.</documentation>
						</annotation>
					</element>
					<element name="definingElement" type="cgu:CGI_TermPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Kinds of describable inhomogeneity in a rock body that may define a GeologicStructure.   Examples include Oriented Particle.</documentation>
						</annotation>
					</element>
					<element name="intensity" type="cgu:CGI_TermPropertyType" minOccurs="0">
						<annotation>
							<documentation>How well the lineation is developed. Terms such as weak, moderate, strong.</documentation>
						</annotation>
					</element>
					<element name="mineralElement" type="gsmlcore:MineralPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Mineral that defines the lineation</documentation>
						</annotation>
					</element>
					<element name="orientation" type="cgu:CGI_LinearOrientationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Orientation of the lineation</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LineationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:Lineation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="BoundaryRelationship" type="gsmlcore:BoundaryRelationshipType" substitutionGroup="gsmlcore:GeologicFeatureRelation">
		<annotation>
			<documentation>Defines the two GeologicUnits that make up the relationship described by the Contact</documentation>
		</annotation>
	</element>
	<complexType name="BoundaryRelationshipType">
		<complexContent>
			<extension base="gsmlcore:GeologicFeatureRelationType">
				<sequence>
					<element name="boundaryOccurrence" type="gsmlcore:ContactPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Specifies the Contact that is associated with the BoundaryRelationship</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoundaryRelationshipPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:BoundaryRelationship"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="FoldSystem" type="gsmlcore:FoldSystemType" substitutionGroup="gsmlcore:GeologicStructure">
		<annotation>
			<documentation>A collection of congruent folds  (axis and axial surface are parallel) produced by the same tectonic event. Sometimes referred to as a "Fold Train".</documentation>
		</annotation>
	</element>
	<complexType name="FoldSystemType">
		<complexContent>
			<extension base="gsmlcore:GeologicStructureType">
				<sequence>
					<element name="periodic" type="boolean">
						<annotation>
							<documentation>True if fold hinges in train are regularly spaced.</documentation>
						</annotation>
					</element>
					<element name="wavelength" type="cgu:CGI_NumericRangePropertyType" minOccurs="0">
						<annotation>
							<documentation>Quantitative specification of length between adjacent antiforms (or synforms) in a fold train.</documentation>
						</annotation>
					</element>
					<element name="foldSystemMember" type="gsmlcore:FoldPropertyType" maxOccurs="unbounded">
						<annotation>
							<documentation>Specifies the Fold that is a member of the FoldSystem</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FoldSystemPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:FoldSystem"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="NonDirectionalStructure" type="gsmlcore:NonDirectionalStructureType" substitutionGroup="gsmlcore:GeologicStructure">
		<annotation>
			<documentation>Structures present in geology that do not have a preferred orientation
Includes small-scale structures that are characteristic of the geologic unit, e.g. herringbone crossbedding, mudcracks, graded bedding, planar lamination, miarolitic cavities, nebulitic structure</documentation>
		</annotation>
	</element>
	<complexType name="NonDirectionalStructureType">
		<complexContent>
			<extension base="gsmlcore:GeologicStructureType">
				<sequence>
					<element name="structureType" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gsmlcore:NonDirectionalStructureTypeTerm</gml:targetElement>
							</appinfo>
							<documentation>The type of non oriented structure.  Examples include miarolitic cavity, flame structure, load cast, shatter cone</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NonDirectionalStructurePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:NonDirectionalStructure"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="Fault" type="gsmlcore:FaultType" substitutionGroup="gsmlcore:ShearDisplacementStructure">
		<annotation>
			<documentation>A discrete surface, or zone of discrete surfaces, with some thickness, separating two rock masses across which one mass has slid past the other and characterized by brittle deformation. Fault is a map-scale feature. When observed in outcrop, some faults are just big breccia/gouge zones with no discrete surfaces, sometimes they are breccia/gouge zones bounded by discrete fault surfaces, sometimes a discrete surface in relatively unbroken rock (at the scale of description).</documentation>
		</annotation>
	</element>
	<complexType name="FaultType">
		<complexContent>
			<extension base="gsmlcore:ShearDisplacementStructureType">
				<sequence>
					<element name="segment" type="gsmlcore:FaultPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>In some use cases, eg., active seismology and fluid flow modelling, it is important to be able to segment the ShearDisplacementStructures where there is a change in orientation and/or dip and/or nature of the character of the fault. This segmentation can be scale dependent.
"segment" is the name of the role that a subsidiary Fault plays with respect to a Fault that it is part of. They are both Faults, and "segment" is the label on the composition. The distinction between Fault and FaultSystem is a question of the scale of description and the perspective of the observer; a Fault is composed of segments that are individually identified, but all considered part of a single Fault. Fault segments are usually collinear on the map, and generally do not overlap significantly along strike. A Fault may have 0..* segment parts (a part of/composition relationship.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FaultPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:Fault"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="Contact" type="gsmlcore:ContactType" substitutionGroup="gsmlcore:GeologicStructure">
		<annotation>
			<documentation>Very general concept representing any kind of surface separating two geologic units including primary boundaries such as depositional contacts, all kinds of unconformities, intrusive contacts, and gradational contacts, as well as faults that separate geologic units.

Permeability of contacts still needs to be modeled; considered out of scope for GeoSciML2.

Bedding measured as discrete surfaces in the case that those are the feature of interest (e.g. individual cross set surfaces for paleocurrent analysis) should be represented here.</documentation>
		</annotation>
	</element>
	<complexType name="ContactType">
		<complexContent>
			<extension base="gsmlcore:GeologicStructureType">
				<sequence>
					<element name="contactType" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gsmlcore:ContactTypeTerm</gml:targetElement>
							</appinfo>
							<documentation>Classifies the contact (eg intrusive, unconformity, bedding surface, lithologic boundary, phase boundary)</documentation>
						</annotation>
					</element>
					<element name="contactCharacter" type="cgu:CGI_TermPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>The character of the boundary, as opposed to its type. e.g.  abrupt, gradational</documentation>
						</annotation>
					</element>
					<element name="orientation" type="cgu:CGI_PlanarOrientationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>orientation of the contact surface</documentation>
						</annotation>
					</element>
					<element name="correlatesWith" type="gt:GeochronologicBoundaryPropertyType" minOccurs="0"/>
					<element name="boundedUnitLink" type="gsmlcore:BoundaryRelationshipPropertyType" minOccurs="0">
						<annotation>
							<documentation>Specifies the BoundaryRelationship that describes the participating GeologicUnits</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ContactPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:Contact"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="ShearDisplacementStructure" type="gsmlcore:ShearDisplacementStructureType" substitutionGroup="gsmlcore:GeologicStructure">
		<annotation>
			<documentation>A generalized shear displacement structure without any commitment to the internal nature of the structure (anything from a simple, single 'planar' brittle or ductile surface to a fault system with 10's of strands of both brittle and ductile nature). This surface may have some significant thickness (a deformation zone) and have an associated body of deformed rock that may be considered a DeformationUnit</documentation>
		</annotation>
	</element>
	<complexType name="ShearDisplacementStructureType">
		<complexContent>
			<extension base="gsmlcore:GeologicStructureType">
				<sequence>
					<element name="faultType" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gsmlcore:FaultTypeTerm</gml:targetElement>
							</appinfo>
							<documentation>Direction of movement of the plates for sub-vertical faults (typically 'sinistral', 'dextral', 'left-lateral', 'dip-slip', 'unknown')</documentation>
						</annotation>
					</element>
					<element name="planeOrientation" type="cgu:CGI_PlanarOrientationPropertyType" minOccurs="0">
						<annotation>
							<documentation>allows capturing the orientation of the plane of the structure</documentation>
						</annotation>
					</element>
					<element name="totalDisplacement" type="gsmlcore:DisplacementValuePropertyType" minOccurs="0">
						<annotation>
							<documentation>Describes the total displacement DisplacementValues</documentation>
						</annotation>
					</element>
					<element name="physicalProperty" type="gpp:PhysicalDescriptionPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ShearDisplacementStructurePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:ShearDisplacementStructure"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="DuctileShearStructure" type="gsmlcore:DuctileShearStructureType" substitutionGroup="gsmlcore:ShearDisplacementStructure">
		<annotation>
			<documentation>Parallel-sided zone of localised shearing displacement; may contain sigmoidal mineral-filled veins, locally well-developed cleavage or foliation, wholesale grain size reduction or mylonitisation, or a combination of these features

a discrete tabular zone (very thin compared to its along-strike and down dip dimensions) of plastic deformation across which there has been shear displacement. DuctileShearStructure is a map-scale feature.</documentation>
		</annotation>
	</element>
	<complexType name="DuctileShearStructureType">
		<complexContent>
			<extension base="gsmlcore:ShearDisplacementStructureType">
				<sequence>
					<element name="segment" type="gsmlcore:DuctileShearStructurePropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>In some use cases, eg., active seismology and fluid flow modelling, it is important to be able to segment the ShearDisplacementStructures where there is a change in orientation and/or dip and/or nature of the character of the fault. This segmentation can be scale dependent.
"segment" is the name of the role that a subsidiary DuctileShearStructure plays with respect to a DuctileShearStructure that it is part of. They are both DuctileShearStructures, and "segment" is the label on the composition. The distinction between DuctileShearStructure and FaultSystem is a question of the scale of description and the perspective of the observer; a DuctileShearStructure  is composed of segments that are individually identified, but all considered part of a single DuctileShearStructure. DuctileShearStructure segments are usually collinear on the map, and generally do not overlap significantly along strike. A DuctileShearStructure may have 0..* segment parts (a part of/composition relationship.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DuctileShearStructurePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:DuctileShearStructure"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="Fold" type="gsmlcore:FoldType" substitutionGroup="gsmlcore:GeologicStructure">
		<annotation>
			<documentation>One or more systematically curved layers, surfaces, or lines in a rock body. Fold denotes a structure formed by the deformation of a GeologicStructure to form a structure that may be described by the translation of an abstract line (the fold axis) parallel to itself along some curvilinear path (the fold profile). Folds have a hinge zone (zone of maximum curvature along the surface) and limbs (parts of the deformed surface not in the hinge zone).  Folds are described by an axial surface, hinge line , profile geometry, the solid angle between the limbs, and the relationships between adjacent folded surfaces if the folded structure is a Layering fabric (similar, parallel).</documentation>
		</annotation>
	</element>
	<complexType name="FoldType">
		<complexContent>
			<extension base="gsmlcore:GeologicStructureType">
				<sequence>
					<element name="profileType" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gsmlcore:FoldProfileTypeTerm</gml:targetElement>
							</appinfo>
							<documentation>Terminology specifying concave/convex geometry of fold relative to earth surface, and relationship to younging direction in folded strata if known. antiform, synform, neutral, anticline, syncline, monocline, ptygmatic</documentation>
						</annotation>
					</element>
					<element name="amplitude" type="cgu:CGI_NumericRangePropertyType" minOccurs="0">
						<annotation>
							<documentation>length from line segment connecting inflection points on adjacent fold limbs to the intervening fold hinge</documentation>
						</annotation>
					</element>
					<element name="axialSurfaceOrientation" type="cgu:CGI_PlanarOrientationPropertyType" minOccurs="0">
						<annotation>
							<documentation>This is used to characterize the geometry of a fold. The axial surface of a particular fold may be located based on observations of the folded geologic structure, but in general it has no direct physical manifestions. As a geologic surface, it has geometric properties, including orientation, which may be specified by observations at one or more locations, or generalized using terminology (upright, inclined, reclined, recumbent, overturned). Dip and Dip Direction are one approach to specifying the value.</documentation>
						</annotation>
					</element>
					<element name="geneticModel" type="cgu:CGI_TermPropertyType" minOccurs="0">
						<annotation>
							<documentation>Specification of genetic model for fold, e.g. flexural slip, parallel</documentation>
						</annotation>
					</element>
					<element name="hingeLineCurvature" type="cgu:CGI_TermPropertyType" minOccurs="0">
						<annotation>
							<documentation>variation in orientation of fold hinge along trend of fold, distinguish sheath from cylindrical folds. Specify with terminology eg sheath, dome, basin, cylindrical.</documentation>
						</annotation>
					</element>
					<element name="hingeLineOrientation" type="cgu:CGI_LinearOrientationPropertyType" minOccurs="0">
						<annotation>
							<documentation>Specification of hinge line orientation for fold.  CGI_LinearOrientation allows for a term value specification or a numeric specification of either or both the trend and plunge of hinge line. kHinge plunge term examples: sub-vertical, steeply plunging, ... sub-horizontal, reclined and vertical for special cases in which hinge plunge is close to axial surface dip. 0..* cardinality allows for both a numeric specification a term specification.</documentation>
						</annotation>
					</element>
					<element name="hingeShape" type="cgu:CGI_TermPropertyType" minOccurs="0">
						<annotation>
							<documentation>rounded vs. angular hinge zones; has to do with proprotion of wavelength that is considered part of hinge</documentation>
						</annotation>
					</element>
					<element name="interLimbAngle" type="cgu:CGI_TermPropertyType" minOccurs="0">
						<annotation>
							<documentation>specify using angular quantity, or with tightness term (gentle (120-180), open (70-120), close (30-70), tight (10-30), isoclinal (0-10))</documentation>
						</annotation>
					</element>
					<element name="limbShape" type="cgu:CGI_TermPropertyType" minOccurs="0">
						<annotation>
							<documentation>straight vs curved limbs, eg kink, chevron, sinusoidal, box</documentation>
						</annotation>
					</element>
					<element name="span" type="cgu:CGI_NumericRangePropertyType" minOccurs="0">
						<annotation>
							<documentation>linear distance between inflection points in a single fold</documentation>
						</annotation>
					</element>
					<element name="symmetry" type="cgu:CGI_TermPropertyType" minOccurs="0">
						<annotation>
							<documentation>concordance or discordance of bisecting surface and axial surface, or ratio of length of limbs. Folded surface may have asymmetry defined by limb length ratio if inflection points are defined. Defintion based on bisecting surface/axial surface angle depends on having multiple surfaces defined such that the axial surface may be identified. (symmetric, assymetric)</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FoldPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:Fold"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="Foliation" type="gsmlcore:FoliationType" substitutionGroup="gsmlcore:GeologicStructure">
		<annotation>
			<documentation>A planar arrangement of textural or structural features in any type of rock.  Includes any of a wide variety of penetrative planar geological structures that may be present in a rock.  Examples include schistosity, mylonitic foliation, penetrative bedding structure (lamination), and cleavage.  Following the proposed definition of gneiss by the NADM Science Language Technical Team, penetrative planar foliation defined by layers &amp;gt; 5 mm thick is considered Layering. 
Bedding as a fabric representing the average orientation of paleodepositional surface should be encoded through the foliationType; might apply to bedding that is layering or a foliation without layering (e.g. clast alignment in amalgamated beds).</documentation>
		</annotation>
	</element>
	<complexType name="FoliationType">
		<complexContent>
			<extension base="gsmlcore:GeologicStructureType">
				<sequence>
					<element name="foliationType" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gsmlcore:FoliationTypeTerm</gml:targetElement>
							</appinfo>
							<documentation>Specifies the type of foliation.  Examples include crenulation cleavage, slaty cleavage, schistosity</documentation>
						</annotation>
					</element>
					<element name="definingElement" type="cgu:CGI_TermPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Kinds of describable inhomogeneity in a rock body that may define a GeologicStructure.   Examples include Discontinuity, Shaped Surface, Oriented Particle, Material Boundary, and Layer.</documentation>
						</annotation>
					</element>
					<element name="continuity" type="cgu:CGI_TermPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>terms to distinguish continuous vs. disjunct cleavages</documentation>
						</annotation>
					</element>
					<element name="intensity" type="cgu:CGI_TermPropertyType" minOccurs="0">
						<annotation>
							<documentation>How well the foliation is developed. Terms such as weak, moderate, strong.</documentation>
						</annotation>
					</element>
					<element name="mineralElement" type="gsmlcore:MineralPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>The mineral that defines the foliation</documentation>
						</annotation>
					</element>
					<element name="orientation" type="cgu:CGI_PlanarOrientationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>The planar orientation of the foliation</documentation>
						</annotation>
					</element>
					<element name="spacing" type="cgu:CGI_NumericRangePropertyType" minOccurs="0">
						<annotation>
							<documentation>linear dimension representing the thickness of foliation domains. Also use for thickness of layers of a given composition</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FoliationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:Foliation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="FaultSystem" type="gsmlcore:FaultSystemType" substitutionGroup="gsmlcore:ShearDisplacementStructure">
		<annotation>
			<documentation>A composite structure that is an aggregation of genetically related instances of Faults and/or DuctileShearStructures. A FaultSystem is composed of individually identified and mapped Faults and/or DuctileShearStructures that are considered distinct ShearDisplacementStructures, that generally form overlapping, anastomosing patterns in which, at any point along the fault system, multiple fault strands are identified and each considered important at the scale of description. Displacement and other descriptive data may be assigned at the 'fault segment', 'fault', or 'fault system level'.</documentation>
		</annotation>
	</element>
	<complexType name="FaultSystemType">
		<complexContent>
			<extension base="gsmlcore:ShearDisplacementStructureType">
				<sequence>
					<element name="faultSystemMember" type="gsmlcore:ShearDisplacementStructurePropertyType" maxOccurs="unbounded">
						<annotation>
							<documentation>Specifies the ShearDisplacementStructures that are members of the FaultSystem</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FaultSystemPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:FaultSystem"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="Fracture" type="gsmlcore:FractureType" abstract="true" substitutionGroup="gsmlcore:GeologicStructure">
		<annotation>
			<documentation>Fractures are cracks in the earth surface. If there is no displacement it is a joint. If there is displacement and you are in the brittle zone it is a fault. In the ductile zone, a fracture with displacement with fracture is called a shear.  FaultSurface as a separate class is not considered necessary for GeoSciML 2.
Recording observations on FaultSurface should be in observation and measurement. The observation needs to be able to distinguish the type of measurement made (PropertyType)</documentation>
		</annotation>
	</element>
	<complexType name="FractureType" abstract="true">
		<complexContent>
			<extension base="gsmlcore:GeologicStructureType"/>
		</complexContent>
	</complexType>
	<complexType name="FracturePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:Fracture"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="MovementSenseTerm" type="gsmlcore:MovementSenseTermType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>Refers to a vocabulary of terms describing the sense of movement on a shear displacement structure</documentation>
		</annotation>
	</element>
	<complexType name="MovementSenseTermType"/>
	<complexType name="MovementSenseTermPropertyType">
		<sequence>
			<element ref="gsmlcore:MovementSenseTerm"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="NetSlipValue" type="gsmlcore:NetSlipValueType" substitutionGroup="gsmlcore:DisplacementValue">
		<annotation>
			<documentation>The total amount of slip displacement</documentation>
		</annotation>
	</element>
	<complexType name="NetSlipValueType">
		<complexContent>
			<extension base="gsmlcore:DisplacementValueType">
				<sequence>
					<element name="netSlip" type="cgu:CGI_VectorPropertyType">
						<annotation>
							<documentation>The value of the net slip</documentation>
						</annotation>
					</element>
					<element name="slipComponent" type="gsmlcore:SlipComponentsPropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NetSlipValuePropertyType">
		<sequence>
			<element ref="gsmlcore:NetSlipValue"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="FoliationTypeTerm" type="gsmlcore:FoliationTypeTermType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>Refers to a vocabular of terms defining the type of foliation (eg, crenulation cleavage, gneissic layering, slaty cleavage, schistosity, etc)</documentation>
		</annotation>
	</element>
	<complexType name="FoliationTypeTermType"/>
	<complexType name="FoliationTypeTermPropertyType">
		<sequence>
			<element ref="gsmlcore:FoliationTypeTerm"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="DisplacementValue" type="gsmlcore:DisplacementValueType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>Trying to express the displacement on a fault with respect to a planar approximation of its shape</documentation>
		</annotation>
	</element>
	<complexType name="DisplacementValueType">
		<sequence>
			<element name="movementType" type="gml:ReferenceType">
				<annotation>
					<appinfo>
						<gml:targetElement>MovementTypeTerm</gml:targetElement>
					</appinfo>
					<documentation>Defines the type of movement  (eg dip-slip, strike-slip)</documentation>
				</annotation>
			</element>
			<element name="movementSense" type="gml:ReferenceType">
				<annotation>
					<appinfo>
						<gml:targetElement>MovementSenseTerm</gml:targetElement>
					</appinfo>
					<documentation>eg, dextral, sinistral</documentation>
				</annotation>
			</element>
			<element name="hangingWallDirection" type="cgu:CGI_LinearOrientationPropertyType" minOccurs="0">
				<annotation>
					<documentation>Normally the compass quadrant indicating the hangingwall side of the fault-system for faults that are steep enough to define a hanging-wall on the map trace</documentation>
				</annotation>
			</element>
			<element name="displacementEvent" type="gt:GeologicEventPropertyType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="DisplacementValuePropertyType">
		<sequence>
			<element ref="gsmlcore:DisplacementValue"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="FaultTypeTerm" type="gsmlcore:FaultTypeTermType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>Refers to a vocabulary of terms describing the type of shear displacement structure (eg; thrust fault, normal fault)</documentation>
		</annotation>
	</element>
	<complexType name="FaultTypeTermType"/>
	<complexType name="FaultTypeTermPropertyType">
		<sequence>
			<element ref="gsmlcore:FaultTypeTerm"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="LineationTypeTerm" type="gsmlcore:LineationTypeTermType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>Refers to a vocabulary of terms describing the type of lineation.  Examples include: flow lines, scratches, striae, slickenlines, linear arrangements of elongate components in sediments, elongate minerals, crinkles, and lines of intersection between penetrative planar structures.</documentation>
		</annotation>
	</element>
	<complexType name="LineationTypeTermType"/>
	<complexType name="LineationTypeTermPropertyType">
		<sequence>
			<element ref="gsmlcore:LineationTypeTerm"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="ContactTypeTerm" type="gsmlcore:ContactTypeTermType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>Refers to a vocabulary of terms describing types of geological contacts</documentation>
		</annotation>
	</element>
	<complexType name="ContactTypeTermType"/>
	<complexType name="ContactTypeTermPropertyType">
		<sequence>
			<element ref="gsmlcore:ContactTypeTerm"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="SlipComponents" type="gsmlcore:SlipComponentsType" substitutionGroup="gsmlcore:DisplacementValue">
		<annotation>
			<documentation>representation of slip as vector resolved into components resolved into reference frame in which horizontal axes are parallel and perpendicular to the strike of the fault.</documentation>
		</annotation>
	</element>
	<complexType name="SlipComponentsType">
		<complexContent>
			<extension base="gsmlcore:DisplacementValueType">
				<sequence>
					<element name="horizontalSlip" type="cgu:CGI_VectorPropertyType" minOccurs="0">
						<annotation>
							<documentation>slip component that is horizontal and parallel to strike of the fault</documentation>
						</annotation>
					</element>
					<element name="heave" type="cgu:CGI_VectorPropertyType" minOccurs="0">
						<annotation>
							<documentation>component of slip in the horizontal, and perpendicular to the strike of the fault</documentation>
						</annotation>
					</element>
					<element name="throw" type="cgu:CGI_VectorPropertyType" minOccurs="0">
						<annotation>
							<documentation>vertical component of slip</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SlipComponentsPropertyType">
		<sequence>
			<element ref="gsmlcore:SlipComponents"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="FoldProfileTypeTerm" type="gsmlcore:FoldProfileTypeTermType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>Refers to a vocabulary of terms specifying concave/convex geometry of fold relative to earth surface, and relationship to younging direction in folded strata if known. antiform, synform, neutral, anticline, syncline, monocline, ptygmatic</documentation>
		</annotation>
	</element>
	<complexType name="FoldProfileTypeTermType"/>
	<complexType name="FoldProfileTypeTermPropertyType">
		<sequence>
			<element ref="gsmlcore:FoldProfileTypeTerm"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="SeparationValue" type="gsmlcore:SeparationValueType" substitutionGroup="gsmlcore:DisplacementValue">
		<annotation>
			<documentation>The amount of separation displacement</documentation>
		</annotation>
	</element>
	<complexType name="SeparationValueType">
		<complexContent>
			<extension base="gsmlcore:DisplacementValueType">
				<sequence>
					<element name="separation" type="cgu:CGI_VectorPropertyType">
						<annotation>
							<documentation>Reported apparent offset of planar feature, report as vector.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SeparationValuePropertyType">
		<sequence>
			<element ref="gsmlcore:SeparationValue"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="NonDirectionalStructureTypeTerm" type="gsmlcore:NonDirectionalStructureTypeTermType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>Refers to a vocabulary of terms describing types of non-directional structures (eg, miarolitic cavity, flame structure, load cast, shatter cone)</documentation>
		</annotation>
	</element>
	<complexType name="NonDirectionalStructureTypeTermType"/>
	<complexType name="NonDirectionalStructureTypeTermPropertyType">
		<sequence>
			<element ref="gsmlcore:NonDirectionalStructureTypeTerm"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="MovementTypeTerm" type="gsmlcore:MovementTypeTermType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>Refers to a vocabulary of terms describing the type of movement  (eg, dip-slip, strike-slip)</documentation>
		</annotation>
	</element>
	<complexType name="MovementTypeTermType"/>
	<complexType name="MovementTypeTermPropertyType">
		<sequence>
			<element ref="gsmlcore:MovementTypeTerm"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
</schema>
