branches/3.0.0_rc2/schemas/borehole/3.0/borehole.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:gml="http://www.opengis.net/gml/3.2" 
	xmlns:gmd="http://www.isotc211.org/2005/gmd" 
	xmlns:gsml="http://geosciml.org/xmlns/GeoSciML-Core/3.0" 
	xmlns:gbh="http://geosciml.org/xmlns/Borehole/3.0" 
	xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" 
	xmlns:swe="http://www.opengis.net/swe/1.0/gml32" 
	targetNamespace="http://geosciml.org/xmlns/Borehole/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">		<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->   
	
	<!-- Added swe namespace - OLR 24-11-10 -->
	
	<!-- Removed unnecessary xmlns - OLR 23-11-10
		
		xmlns:spec="http://www.opengis.net/samplingSpecimen/2.0" 
		xmlns:sml="http://www.opengis.net/sensorML/1.0/gml32" 
		xmlns:om="http://www.opengis.net/om/2.0" 
		xmlns:sam="http://www.opengis.net/sampling/2.0" 
	-->
	
	<annotation>
		<documentation>The GeoSciML Borehole package contains model elements for representing Boreholes. This is primarily through re-use of standard components from the (external) Observations and Measurements package.</documentation>
	</annotation>
	
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19156_xsd/schemas/OM/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
	<import namespace="http://geosciml.org/xmlns/GeoSciML-Core/3.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc2/schemas/geosciml-core/3.0/geosciml-core.xsd"/>
	<import namespace="http://www.opengis.net/swe/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-127/sweCommon/1.0.1_gml32/swe.xsd"/>  <!-- Added swe import - OLR 24-11-10 -->
	
	<!--	Removed unnecessary imports - OLR 23-11-10
		
		<import namespace="http://www.opengis.net/sensorML/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-127/sensorML/1.0.1_gml32/sensorML.xsd"/>
		<import namespace="http://www.opengis.net/sampling/2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19156_xsd/schemas/OM/sampling/2.0/samplingFeature.xsd"/>
		<import namespace="http://www.opengis.net/om/2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19156_xsd/schemas/OM/om/2.0/observation.xsd"/>  
		<import namespace="http://www.opengis.net/samplingSpecimen/2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19156_xsd/schemas/OM/samplingSpecimen/2.0/specimen.xsd"/>   
	-->
	
	<element name="BoreholeCollar" type="gbh:BoreholeCollarType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>A Borehole Collar is a feature corresponding to the start point of a borehole which are often plotted on a map.  
				
				If a text descripiton of the location is available, it should be placed in the gml:description for that feature.  If no GM_Point is available, an OGC nil value (eg; http://www.opengis.net/def/nil/OGC/0/unknown)
				should be used.
				
				Implementers delivering 3-D collar locations should provide and elevation to improve interoperability.</documentation>
		</annotation>
	</element>
	<complexType name="BoreholeCollarType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="location" type="gml:PointPropertyType">
						<annotation>
							<documentation>The location of the BoreholeCollar</documentation>
						</annotation>
					</element>
					<element name="elevation" nillable="true">	<!-- Added nillable and nilReason complexType  -  OLR 23-11-10   -->
						<annotation>
							<documentation>Compromise approach to supply elevation explictly for location; this is to allow for software that cannot process 3-D GM_Point. Use null if elevation is unknown. Direct position shall have a dimension of 1, and CRS will be a "vertical" CRS (e.g. EPSG CRSs in the range 5600-5799).</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:DirectPositionType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>	
					</element>
					<element name="borehole" type="gbh:BoreholePropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>The hole that has this collar for its start point</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoreholeCollarPropertyType">
		<sequence minOccurs="0">
			<element ref="gbh:BoreholeCollar"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="MappedInterval" type="gbh:MappedIntervalType" substitutionGroup="gsml:MappedFeature">
		<annotation>
			<documentation>A special kind of Mapped Feature whose shape is 1-D (a curve)</documentation>
		</annotation>
	</element>
	<complexType name="MappedIntervalType">
		<complexContent>
			<extension base="gsml:MappedFeatureType"/>
		</complexContent>
	</complexType>
	<complexType name="MappedIntervalPropertyType">
		<sequence minOccurs="0">
			<element ref="gbh:MappedInterval"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Borehole" type="gbh:BoreholeType" substitutionGroup="sams:SF_SpatialSamplingFeature">
		<annotation>
			<documentation>A borehole is the generalized term for any narrow shaft drilled in the ground, either vertically or horizontally.</documentation>
		</annotation>
	</element>
	<complexType name="BoreholeType">
		<complexContent>
			<extension base="sams:SF_SpatialSamplingFeatureType">
				<sequence>
					<element name="collarLocation" type="gbh:BoreholeCollarPropertyType" nillable="true">	<!-- Added nillable  -  OLR 23-11-10 -->
						<annotation>
							<documentation>One end of the GM_Curve that defines the shape. Usually the point at a surface where drilling started.</documentation>
						</annotation>
					</element>
					<element name="indexData" nillable="true">	<!-- Added nilReason complexType  -  OLR 23-11-10 -->
						<annotation>
							<documentation>Specifies the Borehole details</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gbh:BoreholeDetailsPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>	
					</element>
					<element name="logElement" type="gbh:MappedIntervalPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Links to 1-D MappedFeature instances that are logged (interpreted) intervals within a borehole. This requirement is common in geoscience boreholes</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoreholePropertyType">
		<sequence minOccurs="0">
			<element ref="gbh:Borehole"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BoreholeDetails" type="gbh:BoreholeDetailsType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Borehole specific index (or metadata) information</documentation>
		</annotation>
	</element>
	<complexType name="BoreholeDetailsType">
		<sequence>
			<element name="operator" nillable="true">  <!-- Added nil and nilReason complex type - OLR 23-11-10 -->
				<annotation>
					<documentation>Organisation responsible for commissioning the borehole (as opposed to drilling the borehole)</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gmd:CI_ResponsibleParty_PropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>	
			</element>
			<element name="driller" nillable="true">	<!-- Added nil and nilReason complex type - OLR 23-11-10 -->
				<annotation>
					<documentation>The organisation responsible for drilling the borehole (as opposed to commissioning the borehole)</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gmd:CI_ResponsibleParty_PropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>	
			</element>
			<element name="dateOfDrilling" nillable="true">	<!-- Added nil and nilReason complex type - OLR 23-11-10 -->
				<annotation>
					<documentation>The date on which drilling of the borehole commenced (eg: 2010-01-24)</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="gml:CalDate">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="drillingMethod" type="gml:ReferenceType" nillable="true">
				<annotation>
					<appinfo>
						<gml:targetElement>BoreholeDrillingMethodCode</gml:targetElement>
					</appinfo>
					<documentation>Indicates the drilling method used. Appropriate terms would include Rotary; Shell &amp; Auger; Downhole Air Hammer; Hand Auger etc</documentation>
				</annotation>
			</element>
			<element name="startPoint" type="gml:ReferenceType" nillable="true">
				<annotation>
					<appinfo>
						<gml:targetElement>BoreholeStartPointCode</gml:targetElement>
					</appinfo>
					<documentation>Indicates the position relative to ground surface where the borehole commenced. Appropriate terms would include Drilled from Ground Surface; Drilled Underground;  Drilled from Quarry Floor etc</documentation>
				</annotation>
			</element>
			<element name="nominalDiameter" nillable="true">    <!-- Added swe:Quantity type and nillable - OLR 23-11-10 -->
				<annotation>
					<documentation>The starting diameter</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="swe:QuantityPropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>	
			</element>
			<element name="inclinationType" type="gml:ReferenceType" nillable="true">
				<annotation>
					<appinfo>
						<gml:targetElement>BoreholeInclinationCode</gml:targetElement>
					</appinfo>
					<documentation>Indicates the inclination of the borehole. Appropriate terms would include vertical; inclined up; inclined down, horizontal</documentation>
				</annotation>
			</element>
			<element name="coredInterval" type="gml:BoundingShapeType" minOccurs="1" maxOccurs="unbounded" nillable="true">
				<annotation>
					<documentation>Interval(s) within the borehole from which core was recovered.  Use GM_Envelope with 1-D CRS corresponding to borehole curve shape</documentation>
				</annotation>
			</element>
			<element name="coreCustodian" nillable="true">		<!-- Added nil and nilReason complex type - OLR 24-11-10 -->
				<annotation>
					<documentation>Organisation that is custodian of the core recovered from the borehole</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gmd:CI_ResponsibleParty_PropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>	
			</element>
		</sequence>
	</complexType>
	<complexType name="BoreholeDetailsPropertyType">
		<sequence>
			<element ref="gbh:BoreholeDetails"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
