branches/3.0.0_rc2/schemas/earthmaterial/3.0/earthMaterial.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by France Bolduc (Natural Resources Canada) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:gml="http://www.opengis.net/gml/3.2" 
	xmlns:gmd="http://www.isotc211.org/2005/gmd" 
	xmlns:cgu="http://geosciml.org/xmlns/Utilities/3.0" 
	xmlns:gsml="http://geosciml.org/xmlns/GeoSciML-Core/3.0" 
	xmlns:gpp="http://geosciml.org/xmlns/PhysicalProperties/3.0" 
	xmlns:em="http://geosciml.org/xmlns/EarthMaterial/3.0" 
	xmlns:swe="http://www.opengis.net/swe/1.0/gml32" 
	targetNamespace="http://geosciml.org/xmlns/EarthMaterial/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea --> 
	
	<!-- Removed Fossil namespace - not required.  -  OLR 23-11-10 	
		Also removed xmlns:sml="http://www.opengis.net/sensorML/1.0/gml32"  and xmlns:om="http://www.opengis.net/om/2.0" -->
	
	<annotation>
		<documentation>The GeoSciML Earth Material package contains classes representing a description of a naturally occurring substance in the Earth.  Earth Material represents material composition or substance, and is thus independent of quantity or location. Ideally, Earth Materials are defined strictly based on physical properties, but because of standard geological usage, genetic interpretations may enter into the description as well.</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/swe/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-127/sweCommon/1.0.1_gml32/swe.xsd"/>
	<import namespace="http://geosciml.org/xmlns/Utilities/3.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc2/schemas/cgiutilities/3.0/cgiUtilities.xsd"/>
	<import namespace="http://geosciml.org/xmlns/GeoSciML-Core/3.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc2/schemas/geosciml-core/3.0/geosciml-core.xsd"/>
	<import namespace="http://geosciml.org/xmlns/PhysicalProperties/3.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc2/schemas/physicalproperties/3.0/physicalProperties.xsd"/>
	
	<!--	Removed imports not required  -  OLR 22-11-10
		
	<import namespace="urn:cgi:xmlns:CGI:Fossil:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/3.0.0_rc2/schemas/fossil/fossil.xsd"/>  
	<import namespace="http://www.opengis.net/om/2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19156_xsd/schemas/OM/om/2.0/observation.xsd"/>     
	<import namespace="http://www.opengis.net/sensorML/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-127/sensorML/1.0.1_gml32/sensorML.xsd"/>    
	-->
	
	<element name="CompoundMaterial" type="em:CompoundMaterialType" substitutionGroup="em:EarthMaterial">
		<annotation>
			<documentation>An EarthMaterial composed of particles composed of EarthMaterials, possibly including other CompoundMaterials. 

This class is provided primarily as an extensibility point for related domain models that wish to import and build on GeoSciML, and wish to define material types that are compound but are not rock or rock-like material. For most users of GeoSciML "RockMaterial" should be used.</documentation>
		</annotation>
	</element>
	<complexType name="CompoundMaterialType">
		<complexContent>
			<extension base="em:EarthMaterialType">
				<sequence>
					<element name="compositionCategory" minOccurs="1" maxOccurs="unbounded" nillable="true">       <!-- added nillable tag and complexType component OLR 22-11-10 -->
						<annotation>
							<documentation>Term to specify the gross compositional character of a compound material. Composition as used here is loosely construed to include both chemical composition and petrograpic composition, thus multiple values may be applied to a single rock, e.g. metaluminous and alkalic, undersaturated and basic, etc. Terms would typically include broad chemical classifications such as silicate, carbonate, ferromagnesian, oxide.  However, this attribute may have different terminology for different kinds of rocks - for example sandstone petrographic classification terms (e.g. feldspathic) might be placed here.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="cgu:CGI_TermPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>			
					</element>
					<element name="geneticCategory" minOccurs="1" maxOccurs="unbounded" nillable="true">	 <!-- added nillable tag and complexType component OLR 22-11-10 -->
						<annotation>
							<documentation>A term that represents a summary geologic history of the material. (ie, a genetic process classifier term) Examples include igneous, sedimentary, metamorphic, shock metamorphic, volcanic, pyroclastic.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="cgu:CGI_TermPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>						
					</element>
					<element name="constituent" type="em:ConstituentPartPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="particleGeometry" nillable="true">	 <!-- added nillable tag and complexType component OLR 22-11-10 -->
						<complexType>
							<complexContent>
								<extension base="em:ParticleGeometryDescriptionPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>	
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CompoundMaterialPropertyType">
		<sequence minOccurs="0">
			<element ref="em:CompoundMaterial"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="RockMaterial" type="em:RockMaterialType" substitutionGroup="em:CompoundMaterial">
		<annotation>
			<documentation>A specialized CompoundMaterial that includes consolidated and unconsolidated materials as well as mixtures of consolidated and unconsolidated materials.</documentation>
		</annotation>
	</element>
	<complexType name="RockMaterialType">
		<complexContent>
			<extension base="em:CompoundMaterialType">
				<sequence>
					<element name="consolidationDegree" nillable="true">		 <!-- added nillable tag and complexType component OLR 22-11-10 -->
						<annotation>
							<documentation>A property that specifies the degree to which an aggregation of EarthMaterial particles is a distinct solid material. Consolidation and induration are related concepts specified by this property. They define a continuum from unconsolidated material to very hard rock. Induration is the degree to which a consolidated material is made hard, operationally determined by how difficult it is to break a piece of the material. Consolidated materials may have varying degrees of induration (NADMSC, 2004)</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="cgu:CGI_TermPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="lithology" type="gml:ReferenceType" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>A controlled concept indicating the name of the RockMaterial type (eg, quartz sandstone, basalt, muscovite schist, sand, mud, soil, saprolite).
Igneous rock definitions are governed by IUGS agreed vocabulary</documentation>
						</annotation>
					</element>
					<element name="metamorphicProperties" nillable="true">   	<!-- added nillable tag and complexType component OLR 22-11-10 -->
						<complexType>
							<complexContent>
								<extension base="em:MetamorphicDescriptionPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="alterationProperties" nillable="true">		<!-- added nillable tag and complexType component OLR 22-11-10 -->
						<complexType>
							<complexContent>
								<extension base="em:AlterationDescriptionPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="fabric" minOccurs="1" maxOccurs="unbounded" nillable="true">		<!-- added nillable tag and complexType component OLR 22-11-10 -->
						<complexType>
							<complexContent>
								<extension base="em:FabricDescriptionPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>	
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RockMaterialPropertyType">
		<sequence minOccurs="0">
			<element ref="em:RockMaterial"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="EarthMaterial" type="em:EarthMaterialType" abstract="true" substitutionGroup="gml:AbstractGML">
		<annotation>
			<documentation>The Earth Material class holds a description of a naturally occurring substance in the Earth.  Earth Material represents material composition or substance, and is thus independent of quantity or location. Ideally, Earth Materials are defined strictly based on physical properties, but because of standard geological usage, genetic interpretations may enter into the description as well.</documentation>
		</annotation>
	</element>
	<complexType name="EarthMaterialType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="color"  minOccurs="1" maxOccurs="unbounded" nillable="true">  		<!-- added nillable tag and complexType component OLR 22-11-10 -->
						<annotation>
							<documentation>Terms to specify color of the earth material.  Color schemes such as the Munsell rock and soil color schemes could be used.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="cgu:CGI_TermPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="purpose" type="cgu:DescriptionPurposeType">
						<annotation>
							<documentation>Specification of the intended purpose/level of abstraction for the given EarthMaterial. Scoped name because intention is asserted by author of the data instance. 
Values: Instance, TypicalNorm, IdentifyingNorm.</documentation>
						</annotation>
					</element>
					<element name="physicalProperty" minOccurs="1" maxOccurs="unbounded" nillable="true">	<!-- added nillable tag and complexType component OLR 19-11-10 -->
						<complexType>
							<complexContent>
								<extension base="gpp:PhysicalDescriptionPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="geochemistry" nillable="true">  		<!-- added nillable tag and complexType component OLR 19-11-10 -->
						<complexType>
							<complexContent>
								<extension base="em:ChemicalCompositionPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>					
					<element name="metadata" type ="gmd:MD_Metadata_PropertyType" minOccurs="0" maxOccurs="1"/>	<!-- minOccurs = "0" - OLR 24-11-10 -->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EarthMaterialPropertyType">
		<sequence minOccurs="0">
			<element ref="em:EarthMaterial"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="OrganicMaterial" type="em:OrganicMaterialType" substitutionGroup="em:EarthMaterial">
		<annotation>
			<documentation>An EarthMaterial that belongs to the class of chemical compounds having a reduced carbon basis (as distinct from carbonates), and derived from living organisms.  Includes high-carbon EarthMaterials such as bitumen, peat, and coal.</documentation>
		</annotation>
	</element>
	<complexType name="OrganicMaterialType">
		<complexContent>
			<extension base="em:EarthMaterialType"/>
		</complexContent>
	</complexType>
	<complexType name="OrganicMaterialPropertyType">
		<sequence minOccurs="0">
			<element ref="em:OrganicMaterial"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ConstituentPart" type="em:ConstituentPartType" substitutionGroup="gml:AbstractGML">
		<annotation>
			<documentation>The Constituent Part class describes how Earth Materials may be made up of other Earth Materials, including the proportion of the constituent part in the whole (eg: 20%, minor, dominant); the role that the constituent plays in the whole (eg: matrix, groundmass, framework, phenocryst, xenolith, vein). The particleType property that specifies type of particle (eg: grain, clast, crystal, fossil, oolite) has been moved to the ParticleGeometryDescription data type, associated with both ConstituentPart and CompoundMaterial (GeoSciMLv2, RC3, Uppsala, Sweden).

The distinction between "role" and "particleType" is subtle.  An operational test is that constituentType may be determined independent of relationship between particles in the aggregation, whereas role requires consideration of the relationship to other particles. A particle may be identified as clast, independent of its material composition, and independent of its relationship to other grains in a rock. The term 'floating clast' is a role, because it is dependent on the relationship 'not in contact with other clasts'. Consider Dunham's textural classification of carbonate rocks (wackestone, packstone, grainstone...) in the description of carbonate rocks. The description is predicated on identification of two kinds of intraclasts (grains) and matrix (carbonate mud), and then uses this distinction to establish relationships--mud supported vs. grain supported -- that define roles for the two types of constituents (framework, matrix...).

examples of type vs. role:
Particle type: clast. Role: framework, floating particle

particle type: crystal. Role: matrix, pseudomatrix (in case that matrix is interpreted as recrystallized material)

particle type: clast. Role: matrix (in case that matrix is interpreted as very-fine grained detrital fraction)

particle type: crystal. Role: cement (in case that material insterstitial to particles is crystalline material introduced during diagenesis)

particle type: crystal. Role: phenocryst (in igneous rock)

particle type: microlite Role: groundmass (in porphyrytic igneous rock)

particle type: crystal. Role: framework (in igneous rock)

particle type: pyroclast. role: framework (in tuff)

particle type: crystal Role: oikocryst

particle type: crystal Role: overgrowth

particle type: biogenic particle Role: floating particle

particle type: ooid Role: framework</documentation>
		</annotation>
	</element>
	<complexType name="ConstituentPartType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="proportion" nillable="true">		<!-- added nillable tag and complexType component OLR 22-11-10 -->
						<annotation>
							<documentation>The fraction of the whole that is formed by a ConstituentPart in a part/whole relationship.  Used for the ConstituentPart portion in a CompoundMaterial. Quantity that specifies the fraction of the Earth Material formed by the part (eg: 20%, minor, dominant)</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="cgu:CGI_NumericRangePropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>	
					</element>
					<element name="role" type="gml:ReferenceType">
						<annotation>
							<documentation>The role a ConstituentPart plays in a CompoundMaterial aggregation. The same EarthMaterial may occur as different ConstituentParts playing different roles within the same CompoundMaterial.  For example, feldspar may be present as groundmass (a ConstituentPart::role) and as phenocrysts (an ConstituentPart::role) within a single igneous rock.</documentation>
						</annotation>
					</element>
					<element name="material" type="em:EarthMaterialPropertyType" nillable="true"/>		<!-- added nillable tag OLR 22-11-10 -->
					<element name="particleGeometry" nillable="true">		<!-- added nillable tag and complexType component OLR 22-11-10 -->
						<complexType>
							<complexContent>
								<extension base="em:ParticleGeometryDescriptionPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>		
					</element>
					<element name="targetLink" minOccurs="1" maxOccurs="unbounded" nillable="true">		<!-- added nillable tag and complexType component OLR 22-11-10 -->
						<complexType>
							<complexContent>
								<extension base="em:MaterialRelationPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>		
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ConstituentPartPropertyType">
		<sequence minOccurs="0">
			<element ref="em:ConstituentPart"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<complexType name="ConstituentPartPropertyByValueType">
		<sequence>
			<element ref="em:ConstituentPart"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="InorganicFluid" type="em:InorganicFluidType" substitutionGroup="em:EarthMaterial">
		<annotation>
			<documentation>An inorganic, non-crystalline EarthMaterial (solid, liquid, or gas) that tends to flow or conform to the shape of its container.  Includes glass.  By convention liquid mercury is considered a mineral (examples: water, brine, glass)</documentation>
		</annotation>
	</element>
	<complexType name="InorganicFluidType">
		<complexContent>
			<extension base="em:EarthMaterialType"/>
		</complexContent>
	</complexType>
	<complexType name="InorganicFluidPropertyType">
		<sequence minOccurs="0">
			<element ref="em:InorganicFluid"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Mineral" type="em:MineralType" substitutionGroup="em:EarthMaterial">
		<annotation>
			<documentation>A naturally occurring inorganic element or compound having a periodically repeating arrangement of atoms and a characteristic chemical composition or range of compositions, resulting in distinctive physical properties.  Includes mercury as a general exception to the requirement of crystallinity.  Also includes crypto-crystalline materials such as chalcedony and amorphous silica.</documentation>
		</annotation>
	</element>
	<complexType name="MineralType">
		<complexContent>
			<extension base="em:EarthMaterialType">
				<sequence>
					<element name="mineralName" type="gml:ReferenceType" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Name of the mineral (eg: orthoclase) or mineral family (eg: feldspar), approved by the International Mineralogical Association. (eg: http://www.mindat.org/mineralindex.php)</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MineralPropertyType">
		<sequence minOccurs="0">
			<element ref="em:Mineral"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="FabricDescription" type="em:FabricDescriptionType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>The FabricDescription class describes all types of fabrics associated with a CompoundMaterial (ie, tectonic, metamorphic, sedimentary, igneous fabrics or textures).  It denotes a pattern, defined by one or more CompoundMaterial constituents, that is present throughout a rock body when considered at some scale.  FabricDescription is defined based on the average configuration of many constituents.  Penetrative fabric denotes that these constituents are distributed throughout the rock volume at the scale of observation [Passchier and Trouw, 1998], and are repeated at distances that are small relative to the scale of the whole, such that they can be considered to pervade the whole uniformly (Turner and Weiss [1963] p. 21-24; Hobbs and others [1976], p. 73; Jackson [1997]; Passchier and Trouw [1998]). 

FabricDescription is distinguished from Particle Geometry based on the criteria that Particle Geometry is preserved if a CompoundMaterial is disaggregated, while FabricDescription is not defined if the material is disaggregated.

Use gml:description to capture any free text to indicate any specific or peculiar features of the described fabric in the CompoundMaterial.</documentation>
		</annotation>
	</element>
	<complexType name="FabricDescriptionType">
		<sequence>
			<element name="fabricType" type="gml:ReferenceType">	<!-- Corrected CGI_Term to byReference - OLR 22-11-10 -->
				<annotation>
					<documentation>Attribute to denote the type of fabric in the CompoundMaterial (eg, rapikivi texture, autobrecciation, spaced cleavage, porphyroblastic, cross-bedding).  The fabricType describes a pattern, defined by one or more CompoundMaterial constituents, that is present throughout a rock body when considered at some scale. FabricDescription is defined based on the average configuration of many constituents.  Penetrative fabric denotes that these constituents are distributed throughout the rock volume at the scale of observation [Passchier and Trouw, 1998], and are repeated at distances that are small relative to the scale of the whole, such that they can be considered to pervade the whole uniformly.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="FabricDescriptionPropertyType">
		<sequence>
			<element ref="em:FabricDescription"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ParticleGeometryDescription" type="em:ParticleGeometryDescriptionType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>ParticleGeometryDescription describes particles in a CompoundMaterial independent of their relationship to each other or orientation. It is distinguished from Fabric in that the ParticleGeometryDescription remains constant if the material is disaggregated into its constituent particles, whereas Fabric is lost if the material is disaggregated.  Properties include the particle size (grainsize), particle sorting (size distribution, eg: well sorted, poorly sorted, bimodal sorting), particle shape (surface rounding or crystal face development, eg: well rounded, euhedral, anhedral), and particle aspectRatio (eg: elongated, platy, bladed, compact, acicular).</documentation>
		</annotation>
	</element>
	<complexType name="ParticleGeometryDescriptionType">
		<sequence>
			<element name="particleType" type="gml:ReferenceType">
				<annotation>
					<appinfo>
						<gml:targetElement>ParticleTypeTerm</gml:targetElement>
					</appinfo>
					<documentation>Terms to specify the nature of individual particles of each constituent in an Earth Material aggregation, based mostly on their genesis.  If applied on ParticleDescription for CompoundMaterial, then would characterize all particles in aggregate. Use this property on CompoundMaterial to distinguish rocks composed of crystals (crystalline rocks) from rocks composed of granular particles (clasts, fragments). Examples include oolith, crystals, pore space. Constituent type is determined based on the nature of the particles, and ideally is independent of the relationship between particles in a compound material aggregation.
See discussion of particleType vs ConstituentPart.role in the scope notes for ConstituentPart.</documentation>
				</annotation>
			</element>
			<element name="aspectRatio" minOccurs="1" maxOccurs="unbounded" nillable="true"> 		<!-- added nillable tag and complexType component OLR 22-11-10 -->
				<annotation>
					<documentation>AspectRatio describes the geometry of particles based on the ratios of lengths of long, intermediate and short axes of grains. Equates to sphericity in sedimentary rocks (ie: the degree to which the shape of a particle approximates a sphere).  A quantitative specification based on the ratio of lengths of long, intermediate and short axes of grain shape (Sneed and Folk, 1958; Zingg, 1935). (eg: prolate, slightly flattened, very bladed, equant, acicular, tabular)</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="cgu:CGI_TermPropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>		
			</element>
			<element name="shape" minOccurs="1" maxOccurs="unbounded" nillable="true">	<!-- added nillable tag and complexType component OLR 22-11-10 -->
				<annotation>
					<documentation>The Shape attribute describes, a) the development of crystal faces bounding particles in crystalline compond materials, and b) surface rounding of grains in sedimentary rocks.  Roundness is a measure of the sharpness of the edges between surfaces bounding a particle (see Jackson, 1997; Wadell, 1932). Terms should be appropriate for the kind of compound material (eg: for crystalline rocks- euhedral, ideoblastic, subhedral, anhedral, xenoblastic; for sedimentary rocks - angular, rounded)</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="cgu:CGI_TermPropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>	
			</element>
			<element name="size" nillable="true">	<!-- added nillable tag and complexType component OLR 22-11-10 -->
				<annotation>
					<documentation>The Size attribute specifies particle grainsize.  Values may be reported using absolute measurements (eg: range, mean, median, mode, maximum) or as descriptive terms from a schema appropriate to the type of Compound Material (eg: the Udden-Wentworth sheme for clastic sedimentary rocks - silt, sand, gravel; volcaniclastic rocks - ash, lapilli, bomb; crystalline rocks - fine, medium, coarse, cryptocrystalline)</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="cgu:CGI_NumericRangePropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>	
			</element>
			<element name="sorting" minOccurs="1" maxOccurs="unbounded" nillable="true">	   <!-- added nillable tag and complexType component OLR 22-11-10 -->
				<annotation>
					<documentation>The Sorting attribute holds text terms to specify size distribution of particles in a CompoundMaterial. Terminology for sorting in sedimentary rocks is based on the quantitative Graphic Standard Deviation (IGSD) scheme proposed by Folk (1968, 1974).  Example terms for this attribute may include sedimentary terms such as well sorted and poorly sorted, or igneous terms such as porphyritic, equigranuilar, seriate.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="cgu:CGI_TermPropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>	
			</element>
<!--			<element name="sourceOrganism" type="gfos:OrganismPropertyType" minOccurs="0" maxOccurs="unbounded"/>-->
			<element name="sourceOrganism" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded"/>   <!-- changed to reflect 'byReference' tag  OLR 19-11-10 -->
		</sequence>
	</complexType>
	<complexType name="ParticleGeometryDescriptionPropertyType">
		<sequence>
			<element ref="em:ParticleGeometryDescription"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="AlterationDescription" type="em:AlterationDescriptionType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>AlterationDescription decribes aspects of a geologic unit or earth material that are the result of bulk chemical, mineralogical or physical changes related to change in the physical or chemical environment. Includes weathering, supergene alteration, hydrothermal alteration and metasomatic effects not considered metamorphic.

A soil profile description would have to be constructed as a GeologicUnit with unit parts representing the various horizons in the profile.

Thickness of a weathering profile can be delivered as unitThickness of an AlterationUnit.</documentation>
		</annotation>
	</element>
	<complexType name="AlterationDescriptionType">
		<sequence>
			<element name="alterationType" type="gml:ReferenceType">
				<annotation>
					<appinfo>
						<gml:targetElement>AlterationTypeTerm</gml:targetElement>
					</appinfo>
					<documentation>AlterationType is a general description of the dominant alteration mineralogy or alteration type, in common usage.  Examples include: argillic, phyllic, potassic, propylitic, calc-silicate, skarn, deuteric, greisen, serpenitisation,  weathering, etc.</documentation>
				</annotation>
			</element>
			<element name="alterationDegree" nillable="true">	<!-- added nillable tag and complexType component OLR 22-11-10 -->
				<annotation>
					<documentation>AlterationDegree is a term to specify degree of modification from original material.  eg: weak, moderate, strong, intense</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="cgu:CGI_TermRangePropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>	
			</element>
			<element name="alterationProduct" type="em:EarthMaterialPropertyType" minOccurs="1" maxOccurs="unbounded" nillable="true">	   <!-- added nillable tag  OLR 22-11-10 -->
				<annotation>
					<documentation>AlterationProduct is the material result of alteration processes, e.g. alteration minerals, saprolite, ferricrete, clay, calcrete, skarn, etc. Materials observed in a soil profile could be identified using this property.</documentation>
				</annotation>	
			</element>
			<element name="alterationDistribution" minOccurs="1" maxOccurs="unbounded" nillable="true">  	<!-- added nillable tag and complexType component OLR 22-11-10 -->
				<annotation>
					<documentation>AlterationDistribution describes the spatial distribution or geometry of alteration zones. eg: patchy, spotted, banded, viens, vein breccia, pervasive, disseminated, etc</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="cgu:CGI_TermPropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="alterationEvent" type="gsml:GeologicEventPropertyType" nillable="true"/>	<!-- added nillable tag  OLR 22-11-10 -->
		</sequence>
	</complexType>
	<complexType name="AlterationDescriptionPropertyType">
		<sequence>
			<element ref="em:AlterationDescription"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ChemicalComposition" type="em:ChemicalCompositionType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="ChemicalCompositionType">
		<sequence>
			<element name="chemicalAnalysis" type="swe:DataRecordPropertyType">
				<annotation>
					<documentation>This element delivers a swe:DataRecord of analyte concentrations (ie, swe:Quantity elements) which describe the chemical composition of an earth material or geologic unit</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="ChemicalCompositionPropertyType">
		<sequence>
			<element ref="em:ChemicalComposition"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="MaterialRelation" type="em:MaterialRelationType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>The MaterialRelation class describes the relationships between constituent parts in an Earth Material (eg: A mineral overgrowth on a phenocryst within a granite). 

Relationships are always binary and directional.  There is always a single source and a single target. The relationship is always defined from the perspective of the Source and is generally an active verb.

Example:  Consider an overgrowth of albite on plagioclase in a granite.  The  Source would originate with the albite constituentPart description.  In this case, the Target would point to the plagioclase constituentPart description and the relationship attribute would be 'overgrowth' and the sourceRole is 'overgrows'.  Other appropriate role attributes might include: crosscuts, replaces, etc. for crosscutting and replacement relationships.

Inverse relationships must be explicitly recorded as well or else they are invisible.</documentation>
		</annotation>
	</element>
	<complexType name="MaterialRelationType">
		<sequence>
			<element name="materialRelationshipType" type="gml:ReferenceType">
				<annotation>
					<appinfo>
						<gml:targetElement>MaterialRelationshipTypeTerm</gml:targetElement>
					</appinfo>
					<documentation>Describes the type of relationship between constituent parts in a compund material</documentation>
				</annotation>
			</element>
			<element name="sourceRole" type="gml:ReferenceType">
				<annotation>
					<appinfo>
						<gml:targetElement>MaterialRelationSourceRoleTerm</gml:targetElement>
					</appinfo>
					<documentation>Describes the role that the source material plays in a relationship between two constituent parts of a compound material (eg, quartz(source) overgrows plagioclase phenocrysts)</documentation>
				</annotation>
			</element>
			<element name="target" type="em:ConstituentPartPropertyType"/>
		</sequence>
	</complexType>
	<complexType name="MaterialRelationPropertyType">
		<sequence>
			<element ref="em:MaterialRelation"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="MetamorphicDescription" type="em:MetamorphicDescriptionType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>MetamorphicDescription describes the character of metamorphism applied to a CompoundMaterial or GeologicUnit using one or more properties including estimated intensity (grade; eg high grade, low grade), characteristic metamorphic mineral assemblages (facies; eg, greenschist, amphibolite), peak P-T estimates, and protolith material if known.</documentation>
		</annotation>
	</element>
	<complexType name="MetamorphicDescriptionType">
		<sequence>
			<element name="metamorphicFacies" minOccurs="1" maxOccurs="unbounded" nillable="true">		<!-- added nillable tag and complexType component OLR 22-11-10 -->
				<annotation>
					<documentation>A description of characteristic mineral assemblages indicative of certain metamorphic P-T conditions. Examples include Barrovian metasedimentary zones (eg: biotite facies, kyanite facies) or assemblages developed in rocks of more mafic composition (eg: greenschist facies, amphibolite facies).</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="cgu:CGI_TermPropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>	
			</element>
			<element name="metamorphicGrade" nillable="true">	<!-- added nillable tag and complexType component OLR 22-11-10 -->
				<annotation>
					<documentation>A term to indicate the intensity or rank of metamorphism applied to an EarthMaterial (eg: high metamorphic grade, low metamorphic grade)
Indicates in a general way the P-T environment in which the metamorphism took place. Determination of metamorphic grade is based on mineral assemblages (ie, facies) present in a rock that are interpreted to have crystallized in equilibrium during a particular metamorphic event.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="cgu:CGI_TermPropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>	
			</element>
			<element name="peakPressureValue" nillable="true">		<!-- added nillable tag and complexType component OLR 22-11-10 -->
				<annotation>
					<documentation>A numerical value to indicate the estimated pressure at peak metamorphic conditions.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="swe:QuantityPropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>	
			</element>
			<element name="peakTemperatureValue" nillable="true">	<!-- added nillable tag and complexType component OLR 22-11-10 -->
				<annotation>
					<documentation>A numerical value to indicate the estimated temperature at peak metamorphic conditions.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="swe:QuantityPropertyType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="protolithLithology" type="em:EarthMaterialPropertyType" minOccurs="1" maxOccurs="unbounded" nillable="true">		<!-- added nillable tag  OLR 22-11-10 -->
				<annotation>
					<documentation>An interpretation of the EarthMaterial that constituted the pre-metamorphic lithology for this metamorphosed CompoundMaterial.</documentation>
				</annotation>
			</element>
			<element name="metamorphicEvent" type="gsml:GeologicEventPropertyType" nillable="true"/>	<!-- added nillable tag  OLR 22-11-10 -->
		</sequence>
	</complexType>
	<complexType name="MetamorphicDescriptionPropertyType">
		<sequence>
			<element ref="em:MetamorphicDescription"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
