tags/3.0.0_rc1_gml3.2/geosciml-core/3.0.0/xsd/GeologicFeature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sam="http://www.opengis.net/sampling/2.0" xmlns:gt="urn:cgi:xmlns:CGI:GeologicTime:3.0.0" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:3.0.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gvoc="urn:cgi:xmlns:CGI:Vocabulary:3.0.0" xmlns:gsmlcore="urn:cgi:xmlns:CGI:GeoSciML-Core:3.0.0" xmlns:swe="http://www.opengis.net/swe/1.0.1" targetNamespace="urn:cgi:xmlns:CGI:GeoSciML-Core:3.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>The GeoSciML GeologicFeature package contains the root  Feature classes MappedFeature and GeologicFeature. 

GeologicFeature represents a conceptual feature that is hypothesized to exist coherently in the world. Specializated geologic features are contained in other packages.</documentation>
	</annotation>
	<include schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/tags/3.0.0_rc1_gml3.2/geosciml-core/3.0.0/xsd/geosciml-core.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.opengis.net/sampling/2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19156_xsd/schemas/OM/sampling/2.0/samplingFeature.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="urn:cgi:xmlns:CGI:Vocabulary:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/tags/3.0.0_rc1_gml3.2/vocabulary/3.0.0/xsd/vocabulary.xsd"/>
	<import namespace="urn:cgi:xmlns:CGI:Utilities:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/tags/3.0.0_rc1_gml3.2/cgiUtilities/3.0.0/xsd/cgiUtilities.xsd"/>
	<import namespace="urn:cgi:xmlns:CGI:GeologicTime:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/tags/3.0.0_rc1_gml3.2/geotime/3.0.0/xsd/geologicTime.xsd"/>
	<import namespace="http://www.opengis.net/swe/1.0.1" schemaLocation="http://schemas.opengis.net/sweCommon/1.0.1/swe.xsd"/>   <!-- Manually added SWE import - OLR 30-7-2010 -->
	<element name="GeologicFeature" type="gsmlcore:GeologicFeatureType" abstract="true" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>The abstract GeologicFeature class represents a conceptual feature that is hypothesized to exist coherently in the world.
   * this corresponds with a "legend item" from a traditional geologic map
   * while the bounding coordinates of a Geologic Feature may be described, its shape is not.

The implemented Geologic Feature instance acts as the "description package"

    * the description package is classified according to its purpose as an Instance, TypicalNorm, or DefiningNorm.</documentation>
		</annotation>
	</element>
	<complexType name="GeologicFeatureType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="observationMethod" type="cgu:CGI_TermPropertyType" maxOccurs="unbounded">
						<annotation>
							<documentation>Feature ObservationMethod specifies the approach to acquiring the collection of attribute values that constitute an individual feature instance (e.g. point count, brunton compass on site, air photo interpretation,  field observation, hand specimen,  laboratory, aerial photography, creative imagination). ObservationMethod is a convenience property that provides a quick and dirty approach to observation metadata when data are reported using a feature view (as opposed to observation view). For a borehole, the GeologicFeature observation method specifies how the geologic properties were determined (eg, visual observation, or standard AzGS logging procedure (described in detail somewhere else)).  This property corresponds (loosely) to ISO19115 Lineage.</documentation>
						</annotation>
					</element>
					<element name="purpose" type="gsmlcore:DescriptionPurposeType">
						<annotation>
							<documentation>Specification of the intended purpose/level of abstraction for a given feature or object instance. Scoped name because intention is asserted by author of the data instance. Values: Instance, TypicalNorm, IdentifyingNorm.</documentation>
						</annotation>
					</element>
					<element name="geologicHistory" type="gt:GeologicEventPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>A sequence of GeologicEvents with role geologicHistory allow describing the Genesis of the GeologicFeature. In future versions of GeoSciML this sequence should be ordered.</documentation>
						</annotation>
					</element>
					<element name="targetLink" type="gsmlcore:GeologicFeatureRelationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Specifies the GeologicFeatureRelation that links the 'source' GeologicFeature  to the 'target' GeologicFeature.</documentation>
						</annotation>
					</element>
					<element name="classifier" type="gvoc:ControlledConceptPropertyType" minOccurs="0"/>
					<element name="occurrence" type="gsmlcore:MappedFeaturePropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Points to any number of mapped features which are occurrences of the geologic feature.  Mapped features may all be from a single map or from several maps.</documentation>
						</annotation>
					</element>
					<element name="metadata" type="gmd:MD_Metadata_PropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicFeaturePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:GeologicFeature"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeologicFeatureRelation" type="gsmlcore:GeologicFeatureRelationType" substitutionGroup="gsmlcore:GeologicRelation">
		<annotation>
			<documentation>The GeologicFeatureRelation class is a concrete subtype of the abstract GeologicRelation class that is used to define relationships between geologic features, ie. structure-structure, unit-unit, and structure-unit relationships.

Relationships are always binary and directional.  There is always a single source and a single target. The relationship is always defined from the perspective of the Source and is generally an active verb.

Example:  a Source may point to an intrusive igneous rock body.  In this case, the Target would point to the appropriate host rock body and the relationship attribute would be 'intrudes'.  Other appropriate relationship attributes might include: overlies, offsets, crosscuts, folds, etc.

Two or more GeologicFeatures are associated in a GeologicFeatureRelation; each has a role in the relationship. Examples of geological roles include "overlies", "is overlain by", "is younger", "is older", "intrudes", "is intruded by", and so forth. In a relationship where an igneous unit intrudes a sedimentary unit, the geological relationship is "intrudes", the intruded sedimentary unit has the role "host", and the igneous unit has the role "intrusion".</documentation>
		</annotation>
	</element>
	<complexType name="GeologicFeatureRelationType">
		<complexContent>
			<extension base="gsmlcore:GeologicRelationType">
				<sequence>
					<element name="source" type="gsmlcore:GeologicFeaturePropertyType">
						<annotation>
							<documentation>Specifies the GeologicFeature that is playing the role "source" in the GeologicFeatureRelation.</documentation>
						</annotation>
					</element>
					<element name="target" type="gsmlcore:GeologicFeaturePropertyType">
						<annotation>
							<documentation>Specifies the GeologicFeature that is playing the role "target" in the GeologicFeatureRelation.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicFeatureRelationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:GeologicFeatureRelation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="MappedFeature" type="gsmlcore:MappedFeatureType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>A MappedFeature is part of a geological interpretation. 
It provides a link between a notional feature (description package) and one spatial representation of it, or part of it. (Exposures, Surface Traces and Intercepts, etc)
    * the specific bounded occurrence, such as an outcrop or map polygon
    * the Mapped Feature carries a geometry or shape
          - the association with a Geologic Feature (legend item) provides specification of all the other descriptors
          - the association with a Sampling Feature provides the context and dimensionality 

A Mapped Feature is always associated with some sampling feature - e.g. a mapping surface, a section, a Borehole (see BoreHolesAndObservation) etc.  As noted on the diagram, if the associated sampling feature is a Borehole, then the shape associated with the MappedFeature will usually be either a point or an interval. This reconciles the 2-D ("map", section) and 1-D (borehole, traverse) viewpoints in a common abstraction.</documentation>
		</annotation>
	</element>
	<complexType name="MappedFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="observationMethod" type="cgu:CGI_TermPropertyType" maxOccurs="unbounded">
						<annotation>
							<documentation>MappedFeature ObservationMethod is a metadata snippet indicating how the spatial extent of the mapped feature was determined, and the basis for association of the geometry with some GeologicFeature specification to define a MappedFeature. For a borehole, the MappedInterval observation method indicates how the boundaries of the interval were defined (eg, linear measurement from borehole collar). ObservationMethod is a convenience property that provides a quick and dirty approach to  observation metadata when data are reported using a feature view (as opposed to observation view). This property corresponds (loosely) to ISO19115 Lineage.  (eg: digitised,  Global Positioning System, published map, fieldObservation, downhole survey, aerial photography, field survey)</documentation>
						</annotation>
					</element>
					<element name="positionalAccuracy">
						<annotation>
							<documentation>Quantitative values define the radius of an uncertainty buffer around a mappedFeature (eg: a positionAccuracy of 100 m for a line feature defines a buffer polygon of total width 200 m centred on the line).  Corresponds to ISO19115 DQ_PositionalAccuracy.</documentation>
						</annotation>
					</element>
					<element name="resolutionScale" type="gmd:MD_RepresentativeFraction_PropertyType">
						<annotation>
							<documentation>NOTE: this attribute type will be mapped to a temporary proxy for MD_RepresentativeFraction until support for GML3.2 is achieved.  

Reciprocal of equivalent scale of resolution for delineation of a feature's geometry. This is in contrast to positionAccuracy which is a measure of how well a feature is located relative to other features in the geographic reference system.</documentation>
						</annotation>
					</element>
					<element name="samplingFrame" type="sam:SF_SamplingFeaturePropertyType">
						<annotation>
							<documentation>Specifies the sampling frame associated with the MappedFeature
SamplingFrame is MapHorizon or other reference frame within which the MappedFeature is located. Map sheet, outcrop, borehole, flightline, swath, specimen, section, etc.</documentation>
						</annotation>
					</element>
					<element name="specification" type="gsmlcore:GeologicFeaturePropertyType">
						<annotation>
							<documentation>Point to the single geologic feature which describes the mapped feature.</documentation>
						</annotation>
					</element>
					<element name="shape" type="gml:GeometryPropertyType">  <!-- Manually added missing gsmlcore:shape property.  OLR 10-08-10 -->
						<annotation>
							<documentation>Points to the GML shape object that describes the geometry of the MappedFeature. The shape object may have any dimensionality.
								The shape of a mapped feature is determined by observation, not assertion</documentation>
						</annotation>
					</element>
					<element name="metadata" type="gmd:MD_Metadata_PropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MappedFeaturePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:MappedFeature"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="DescriptionPurposeType">
		<union memberTypes="gsmlcore:DescriptionPurposeEnumerationType gsmlcore:DescriptionPurposeOtherType"/>
	</simpleType>
	<simpleType name="DescriptionPurposeEnumerationType">
		<restriction base="string">
			<enumeration value="instance">
				<annotation>
					<documentation>Instance -- a description that is specific to a particular observed occurrence. This is 'raw data', and its classification may start out as very general. There are kinds of narrowly defined ControlledConcepts that might not allow 'instances' that are different from the DefiningNorm. It might be worth considering a different relationship between MappedFeature and an Instance GeologicEntity, with the GeologicEntity role being 'description'.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="definingNorm">
				<annotation>
					<documentation>DefiningNorm -- a description that specifies properties sufficient to identify a new occurrence as belonging to the class represented by the description. Basically these are the 'sufficient conditions' for class membership. Used when presented with a query 'I have an outcrop with these properties; which geologic unit should I assign to the outcrop?' DefiningNorm has to do with the intension of a ControlledConcept.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="typicalNorm">
				<annotation>
					<documentation>TypicalNorm -- a description that specifies properties to be expected of some occurrence associated with the GeologicEntity. This description may include many properties that are not part of the DefiningNorm. For example, the fact that granite is typically light-colored is not a defining property, but is certainly a useful typical property. These kinds of descriptions would be used to address queries like 'This area is within a polygon classified as Podunk Formation; what sort of lithology am I most likely to encounter when I start digging?' The Podunk Formation may be defined by the presence of a certain ammonite... TypicalNorm description would be constructed as a summary over many Instance descriptions.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="DescriptionPurposeOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
</schema>
