tags/3.0.0_rc1_gml3.2/geosciml-core/3.0.0/xsd/GeologicUnit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:3.0.0" xmlns:gpp="urn:cgi:xmlns:CGI:PhysicalProperties:3.0.0"  xmlns:swe="http://www.opengis.net/swe/1.0/gml32" xmlns:gsmlcore="urn:cgi:xmlns:CGI:GeoSciML-Core:3.0.0" targetNamespace="urn:cgi:xmlns:CGI:GeoSciML-Core:3.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>The GeoSciML GeologicUnit Package contains classes representing notional geologic units, whose complete and precise extent is inferred to exist. Explicit spatial properties are available through association with a MappedFeature. 

Geologic units includes both formal units (i.e. formally adopted and named in the official lexicon) and informal units (i.e. named but not promoted to the lexicon) and unnamed units (i.e. recognisable and described and delineable in the field but not otherwise formalised).</documentation>
	</annotation>
	<include schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/tags/3.0.0_rc1_gml3.2/geosciml-core/3.0.0/xsd/geosciml-core.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="urn:cgi:xmlns:CGI:Utilities:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/tags/3.0.0_rc1_gml3.2/cgiUtilities/3.0.0/xsd/cgiUtilities.xsd"/>
	<import namespace="http://www.opengis.net/swe/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-127/sweCommon/1.0.1_gml32/swe.xsd"/>
	<import namespace="urn:cgi:xmlns:CGI:PhysicalProperties:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/tags/3.0.0_rc1_gml3.2/physicalProperties/3.0.0/xsd/physicalProperties.xsd"/>
	<element name="GeologicUnit" type="gsmlcore:GeologicUnitType" substitutionGroup="gsmlcore:GeologicFeature">
		<annotation>
			<documentation>Operationally, the GeologicUnit element is a container used to associate geologic properties with some mapped occurrence (through GeologicFeature.occurrence -&amp;gt; MappedFeature link), or with a geologic unit ControlledConcept in a vocabulary (through the GeologicUnit.classifier -&amp;gt;ControlledConcept link).

Conceptually, may represent a body of material in the Earth whose complete and precise extent is inferred to exist (NADM GeologicUnit, Stratigraphic unit in sense of NACSN or Intnl Stratigraphic Code), or a classifier used to characterize parts of the Earth (e.g. lithologic map unit like 'granitic rock' or 'alluvial deposit', surficial units like 'till' or 'old alluvium').

Spatial properties are only available through association with a MappedFeature. Includes both formal units (i.e. formally adopted and named in the official lexicon) and informal units (i.e. named but not promoted to the lexicon) and unnamed units (i.e. recognisable and described and delineable in the field but not otherwise formalised). 

Will be made Abstract when a complete (enough) set of specialized subtypes is defined.</documentation>
		</annotation>
	</element>
	<complexType name="GeologicUnitType">
		<complexContent>
			<extension base="gsmlcore:GeologicFeatureType">
				<sequence>
					<element name="geologicUnitType" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gsmlcore:GeologicUnitTypeTerm</gml:targetElement>
							</appinfo>
							<documentation>Use SWE category.
ScopedName pointing to a vocabulary defining the type of unit. Logical constraints of definition of unit and valid property cardinalities should be contained in the definition.  Use of the CGI Geologic Unit Type vocabulary 
   urn:cgi:classifierScheme:CGI:GeologicUnitType:200811
is preferred. 
That includes members similar to those in the GeologicUnitType class in this package, but arranged as an ontology.</documentation>
						</annotation>
					</element>
					<element name="rank" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gsmlcore:RankTerm</gml:targetElement>
							</appinfo>
							<documentation>Term that classifies the geologic unit in a generalization hierarchy from most local/smallest volume to most regional. Scoped name because classification is asserted, not based on observational data.
Examples: group, subgroup, formation, member, bed, intrusion, complex, batholith</documentation>
						</annotation>
					</element>
					<element name="bodyMorphology" type="cgu:CGI_TermPropertyType" maxOccurs="unbounded">
						<annotation>
							<documentation>Use SWE category, was CGI_term. The geometry or form of a GeologicUnit.  Examples include: dike (dyke), cone, fan, sheet, etc. Morphology is independent of the substance (EarthMaterial) that composes the GeologicUnit.</documentation>
						</annotation>
					</element>
					<element name="unitComposition" type="cgu:CGI_TermPropertyType" maxOccurs="unbounded">
						<annotation>
							<documentation>Use SWE category, was CGI_term.  
Composition-based classification that requires integrating the character of the unit over large area, not applicable at the rock-material/specimen level. Examples: alkalic, subaluminous, peraluminous, I-Type, carbonate, phosphate.</documentation>
						</annotation>
					</element>
					<element name="exposureColor" type="cgu:CGI_TermPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Use SWE category, was CGI_term. Typical color at the outcrop of a geologic unit.</documentation>
						</annotation>
					</element>
					<element name="outcropCharacter" type="cgu:CGI_TermPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Use SWE category, was CGI_term. Describes the nature of outcrops formed by a geologic unit. Examples: bouldery, cliff-forming, ledge-forming, slope-forming, poorly exposed</documentation>
						</annotation>
					</element>
					<element name="unitThickness" type="cgu:CGI_NumericRangePropertyType" minOccurs="0">
						<annotation>
							<documentation>Typical thickness of the geologic unit. Always reported as a Range, if have a single value, upper and lower limit of range are the same.</documentation>
						</annotation>
					</element>
					<element name="composition" type="gsmlcore:CompositionPartPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Describes the composition (detailed, instance specific, lithologic description) of the GeologicUnit</documentation>
						</annotation>
					</element>
					<element name="part" type="gsmlcore:GeologicUnitPartPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>indicates a subsiduary unit with its role and proportion with respect to the container unit</documentation>
						</annotation>
					</element>
					<element name="bedding" type="gsmlcore:BeddingDescriptionPropertyType" minOccurs="0"/>
					<element name="metamorphicCharacter" type="gsmlcore:MetamorphicDescriptionPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Contains the description of the metamorphic character</documentation>
						</annotation>
					</element>
					<element name="alterationCharacter" type="gsmlcore:AlterationDescriptionPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Describes the weathering character of the GeologicUnit</documentation>
						</annotation>
					</element>
					<element name="physicalProperty" type="gpp:PhysicalDescriptionPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="geochemistry" type="gsmlcore:ChemicalCompositionPropertyType" minOccurs="0"/>
					<element name="definingStructure" type="gsmlcore:GeologicStructurePropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Specifies the GeologicStructure associated with the DeformationUnit
cardinality is 1 because defining structure could be compound.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicUnitPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:GeologicUnit"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="CompositionPartRoleTerm" type="gsmlcore:CompositionPartRoleTermType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Refers to a vocabulary of terms to describe the role that a compositional part plays in a geologic unit.</documentation>
		</annotation>
	</element>
	<complexType name="CompositionPartRoleTermType"/>
	<complexType name="CompositionPartRoleTermPropertyType">
		<sequence>
			<element ref="gsmlcore:CompositionPartRoleTerm"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ChemicalComposition" type="gsmlcore:ChemicalCompositionType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="ChemicalCompositionType">
		<sequence>
			<element name="chemicalAnalysis" type="swe:DataRecordPropertyType">
				<annotation>
					<documentation>A swe:DataRecord comprised of a list of swe:Quantity elements which deliver analytes and their concentrations (or analyte ratios)</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="ChemicalCompositionPropertyType">
		<sequence>
			<element ref="gsmlcore:ChemicalComposition"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeologicUnitPartRoleTerm" type="gsmlcore:GeologicUnitPartRoleTermType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="GeologicUnitPartRoleTermType"/>
	<complexType name="GeologicUnitPartRoleTermPropertyType">
		<sequence>
			<element ref="gsmlcore:GeologicUnitPartRoleTerm"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeologicUnitTypeTerm" type="gsmlcore:GeologicUnitTypeTermType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Refers to a vocabulary of geologic unit types - see the GeologicUnitType class as example</documentation>
		</annotation>
	</element>
	<complexType name="GeologicUnitTypeTermType"/>
	<complexType name="GeologicUnitTypeTermPropertyType">
		<sequence>
			<element ref="gsmlcore:GeologicUnitTypeTerm"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BeddingDescription" type="gsmlcore:BeddingDescriptionType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Geologic unit that has stratification, allowing specification of thickness and bedding-related properties. Note that while this usage corresponds to the formally definition of 'Lithostratigaphic unit' as defined in the North American Code of Stratigraphic Nomenclature, usage of this element does not denote definition or description of a unit in the sense of the code, only that stratification is present and can be described.</documentation>
		</annotation>
	</element>
	<complexType name="BeddingDescriptionType">
		<sequence>
			<element name="beddingPattern" type="cgu:CGI_TermPropertyType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Term(s) specifying patterns of bedding thickness or relationships between bedding packages, 
Examples: thinning upward, thickening upward</documentation>
				</annotation>
			</element>
			<element name="beddingStyle" type="cgu:CGI_TermPropertyType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Term(s) specifying the style of bedding in a stratified geologic unit, e.g. lenticular, irregular, planar, vague, massive</documentation>
				</annotation>
			</element>
			<element name="beddingThickness" type="cgu:CGI_NumericRangePropertyType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Term(s) or numeric values characterizing the thickness of bedding in the unit.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="BeddingDescriptionPropertyType">
		<sequence>
			<element ref="gsmlcore:BeddingDescription"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeologicUnitPart" type="gsmlcore:GeologicUnitPartType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>GeologicUnitPart associates a GeologicUnit with another GeologicUnit that is a proper part of that unit. Parts may be formal or notional . Formal parts refer to a specific body of rock, as in formal stratigraphic members. Notional parts refer to assemblages of particular EarthMaterials with particular internal structure, which may be repeated in various places within a unit (e.g. 'turbidite sequence', 'point bar assemblage', 'leucosome veins')</documentation>
		</annotation>
	</element>
	<complexType name="GeologicUnitPartType">
		<sequence>
			<element name="role" type="gml:ReferenceType">
				<annotation>
					<appinfo>
						<gml:targetElement>GeologicUnitPartRoleTerm</gml:targetElement>
					</appinfo>
					<documentation>Nature of the parts, e.g. facies, stratigraphic, interbeds, geographic, eastern facies,</documentation>
				</annotation>
			</element>
			<element name="proportion" type="cgu:CGI_NumericRangePropertyType">
				<annotation>
					<documentation>Quantity that specifies the fraction of the geologic unit formed by the part.</documentation>
				</annotation>
			</element>
			<element name="containedUnit" type="gsmlcore:GeologicUnitPropertyType"/>
		</sequence>
	</complexType>
	<complexType name="GeologicUnitPartPropertyType">
		<sequence>
			<element ref="gsmlcore:GeologicUnitPart"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="RankTerm" type="gsmlcore:RankTermType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Refers to a vocabulary of terms describing the rank of a geologic unit (eg, Group, Formation, Member, etc)</documentation>
		</annotation>
	</element>
	<complexType name="RankTermType"/>
	<complexType name="RankTermPropertyType">
		<sequence>
			<element ref="gsmlcore:RankTerm"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="CompositionPart" type="gsmlcore:CompositionPartType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Element to represent composition of a geologic unit in terms of earth material constituents.   Lithology categories are associated with the compound material instances.</documentation>
		</annotation>
	</element>
	<complexType name="CompositionPartType">
		<sequence>
			<element name="role" type="gml:ReferenceType">
				<annotation>
					<appinfo>
						<gml:targetElement>CompositionPartRoleTerm</gml:targetElement>
					</appinfo>
					<documentation>Defines the relationship of the earth material constituent in the geologic unit, e.g. vein, interbedded constituent, layers, dominant constituent. Scoped name because role is asserted by the geologist building the description.</documentation>
				</annotation>
			</element>
			<element name="material" type="gsmlcore:CompoundMaterialPropertyType">
				<annotation>
					<documentation>0..1 because this is where the "description" of the material is (optionally) held</documentation>
				</annotation>
			</element>
			<element name="proportion" type="cgu:CGI_NumericRangePropertyType">
				<annotation>
					<documentation>Quantity that specifies the fraction of the geologic unit composed of the compound material.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="CompositionPartPropertyType">
		<sequence>
			<element ref="gsmlcore:CompositionPart"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
