tags/3.0.0_rc1_gml3.1/laboratoryAnalysis/3.0.0/xsd/geologicSpecimen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:sml="http://www.opengis.net/sensorML/1.0.1"  xmlns:gml="http://www.opengis.net/gml" xmlns:om="http://www.opengis.net/om/1.0" xmlns:isp="urn:cgi:xmlns:CGI:ISO19115_Proxy:3.0.0" xmlns:sa="http://www.opengis.net/sampling/1.0"  xmlns:glab="urn:cgi:xmlns:CGI:LaboratoryAnalysis-Specimen:3.0.0" targetNamespace="urn:cgi:xmlns:CGI:LaboratoryAnalysis-Specimen:3.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>The GeologicSpecimen package extends the ISO19156 O&amp;amp;M schema, and describes processes relevant to the sampling and preparation of geologic specimens.</documentation>
	</annotation>
	<include schemaLocation="http://localhost/3.0.0_rc1_gml3.1/laboratoryAnalysis/3.0.0/xsd/laboratoryAnalysis.xsd"/>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="http://www.opengis.net/sampling/1.0" schemaLocation="http://schemas.opengis.net/sampling/1.0.0/sampling.xsd"/>
	<import namespace="http://www.opengis.net/sensorML/1.0.1" schemaLocation="http://schemas.opengis.net/sensorML/1.0.1/sensorML.xsd"/>
	<import namespace="http://www.opengis.net/om/1.0" schemaLocation="http://schemas.opengis.net/om/1.0.0/om.xsd" />
	<import namespace="urn:cgi:xmlns:CGI:ISO19115_Proxy:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19115_Proxy/xsd/iso19115proxy.xsd"/>
	<element name="GeologicSpecimenPreparation" type="glab:GeologicSpecimenPreparationType" substitutionGroup="sml:_Process">
		<annotation>
			<documentation>Implementation of SF_Process to describe sample preparation applied to geologic specimens, typically in preparation for analytical processes like geochemistry or microscopy.</documentation>
		</annotation>
	</element>
	<complexType name="GeologicSpecimenPreparationType">
		<complexContent>
			<extension base="sml:AbstractProcessType">
				<sequence>
					<element name="preparationProcess" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>glab:GeologicSpecimenPreparationTerm</gml:targetElement>
							</appinfo>
							<documentation>eg, crushing, melting, acid digestion, mineral separation, thin sectioning</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicSpecimenPreparationPropertyType">
		<sequence minOccurs="0">
			<element ref="glab:GeologicSpecimenPreparation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="GeologicSamplingMethod" type="glab:GeologicSamplingMethodType" substitutionGroup="sml:_Process"/>
	<complexType name="GeologicSamplingMethodType">
		<complexContent>
			<extension base="sml:AbstractProcessType">
				<sequence>
					<element name="method" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>glab:GeologicSamplingMethodTerm</gml:targetElement>
							</appinfo>
							<documentation>Use samplingProcess to indicate the process used to obtain or create the GeologicSpecimen. eg:
diamond drilling
percussion drilling
piston core drilling
vibro core drilling
channel sampling
sea floor dredging
crushing
mineral separation
melting
geological hammer</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicSamplingMethodPropertyType">
		<sequence minOccurs="0">
			<element ref="glab:GeologicSamplingMethod"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="ReferenceSpecimen" type="glab:ReferenceSpecimenType" substitutionGroup="sa:LocatedSpecimen"/>
	<complexType name="ReferenceSpecimenType">
		<complexContent>
			<extension base="sa:LocatedSpecimenType">
				<sequence>
					<element name="stratigraphicdateEstimate" type="isp:CI_CitationPropertyType">
						<annotation>
							<documentation>Citation of published analytical results for this standard reference specimen</documentation>
						</annotation>
					</element>
					<element name="usedIn" type="glab:AnalyticalSessionPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ReferenceSpecimenPropertyType">
		<sequence minOccurs="0">
			<element ref="glab:ReferenceSpecimen"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="GeologicSamplingMethodTerm" type="glab:GeologicSamplingMethodTermType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>Refers to a vocabulary of terms describing the samplingProcess used to obtain or create the Specimen. eg:
diamond drilling
percussion drilling
piston core drilling
vibro core drilling
channel sampling
sea floor dredging
crushing
mineral separation
melting
geological hammer</documentation>
		</annotation>
	</element>
	<complexType name="GeologicSamplingMethodTermType"/>
	<complexType name="GeologicSamplingMethodTermPropertyType">
		<sequence>
			<element ref="glab:GeologicSamplingMethodTerm"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="GeologicSpecimenPreparationTerm" type="glab:GeologicSpecimenPreparationTermType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>Refers to a vocabulary of terms to describe sample preparation applied to geologic specimens, typically in preparation for analytical processes like geochemistry or microscopy. eg: 
crush
mineral separation
thin section
cut
polish
mount
acid digestion</documentation>
		</annotation>
	</element>
	<complexType name="GeologicSpecimenPreparationTermType"/>
	<complexType name="GeologicSpecimenPreparationTermPropertyType">
		<sequence>
			<element ref="glab:GeologicSpecimenPreparationTerm"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
</schema>
