gin/trunk/cocoon/WEB-INF/conf/wfs/featuretypes/moee_well.xsd.bak

<xsd:schema xmlns:gml="http://www.opengis.net/gml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:deegreewfs="http://www.deegree.org/wfs" xmlns:ogc="http://www.opengis.net/ogc" xmlns:moee="http://www.ene.gov.on.ca/moee" targetNamespace="http://www.ene.gov.on.ca/moee" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/feature.xsd"/>
	<xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/geometryAggregates.xsd"/>
	<!-- configuration for the persistence backend to be used -->
	<xsd:annotation>
		<xsd:appinfo>
			<deegreewfs:Prefix>moee</deegreewfs:Prefix>
			<deegreewfs:Backend>POSTGIS</deegreewfs:Backend>
			<deegreewfs:DefaultSRS>EPSG:4326</deegreewfs:DefaultSRS>
			<JDBCConnection xmlns="http://www.deegree.org/jdbc">
				<Driver>org.postgresql.Driver</Driver>
				<Url>jdbc:postgresql://localhost:5432/moee</Url>
				<User>moee</User>
				<Password>!moee!</Password>
				<SecurityConstraints/>
				<Encoding>iso-8859-1</Encoding>
			</JDBCConnection>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- ============================================================== -->
	<xsd:element name="WaterWell" type="moee:WaterWellType" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:appinfo>
				<deegreewfs:table>t_well</deegreewfs:table>
				<deegreewfs:gmlId prefix="urn.ngwd.on.moee.well_">
					<deegreewfs:MappingField field="well_id" type="INTEGER"/>
				</deegreewfs:gmlId>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<!-- ============================================================== -->
	<xsd:complexType name="WaterWellType">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element name="guid" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="well_guid" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
						<xsd:element name="elevation" type="xsd:double">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="well_elev" type="NUMERIC"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="length" type="xsd:double">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="length" type="NUMERIC"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="geom" type="gml:GeometryPropertyType">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="geom" type="GEOMETRY" srs="4326"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					
					<xsd:element name="litho" type="gml:FeaturePropertyType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content type="moee:Lithology">
									<deegreewfs:Relation>
										<deegreewfs:From>
											<deegreewfs:MappingField field="well_id" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To fk="true">
											<deegreewfs:MappingField field="well_id" type="INTEGER" table="t_well_litho"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- segment -->
	
	<xsd:element name="Lithology" type="moee:LithologyType" substitutionGroup="gml:_Feature"/>
	<xsd:complexType name="LithologyType">
		<xsd:annotation>
			<xsd:appinfo>
				<deegreewfs:table>t_well_litho</deegreewfs:table>
				<deegreewfs:gmlId prefix="urn:ngwd:on:moee:litho_">
					<deegreewfs:MappingField field="well_log_id" type="INTEGER"/>
				</deegreewfs:gmlId>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element name="depth_from" type="xsd:double">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="from_d" type="NUMERIC"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="depth_to" type="xsd:double">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="to_d" type="NUMERIC"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="mat_code" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="mat_code" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

</xsd:schema>
