tags/3.0.0_rc1_gml3.2/geotime/3.0.0/xsd/Dating.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:sa="http://www.opengis.net/sampling/1.0/gml32" xmlns:om="http://www.opengis.net/om/2.0" xmlns:gt="urn:cgi:xmlns:CGI:GeologicTime:3.0.0" targetNamespace="urn:cgi:xmlns:CGI:GeologicTime:3.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>This model allows the delivery of geochronological interpretations by describing:
1) a Specimen (eg; rock sample)
2) a related collection of sampling features within that specimen (eg; ion probe burn spots),
3) and a GeochronologicInterpretation related to that sampling collection.</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/om/2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19156_xsd/schemas/OM/om/2.0/observation.xsd"/>
	<import namespace="http://www.opengis.net/sampling/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-129/sampling/1.0.0_gml32/sampling.xsd"/>
	<element name="GeochronologicInterpretation" type="gt:GeochronologicInterpretationType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>An interpretation made by a geologist of the age of a specimen made by statistical analysis of a single collection of observations.  A specimen may have multiple geochronological interpretations made on it, each related to a different observation collection.</documentation>
		</annotation>
	</element>
	<complexType name="GeochronologicInterpretationType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="interpretedBy" type="gmd:CI_ResponsibleParty_PropertyType">
						<annotation>
							<documentation>Party responsible for this interpretation</documentation>
						</annotation>
					</element>
					<element name="isotopicSystem" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gt:IsotopicSystemName</gml:targetElement>
							</appinfo>
							<documentation>Describes the isotopic system used to calculate geochronolocal age. StatisticalAgeTypes vocabulary would contain values like:
Ar-Ar, K-Ar, Nd-Sm, Pb-Pb, Rb-Sr, Re-Os, U-Pb, etc</documentation>
						</annotation>
					</element>
					<element name="interpretedAge" type="gt:GeologicEventPropertyType">
						<annotation>
							<documentation>Use GeoSciML GeologicEvent to describe event age, process and environment.  e.g, Event age = 350 Ma +/- 3 Ma.  Event process = intrusion, extrusion, metamorphism. Event environment = plutonic, marine.</documentation>
						</annotation>
					</element>
					<element name="isotopicEvent" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<gml:targetElement>gt:IsotopicEventType</gml:targetElement>
							</appinfo>
							<documentation>Describes any isotopic events that are relevant to the interpretation. eg; closure, isotopic mixing, Pb loss, etc</documentation>
						</annotation>
					</element>
					<element name="statisticalMethod" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gt:StatisticalMethodTerm</gml:targetElement>
							</appinfo>
							<documentation>The statistical method used to interpret the results</documentation>
						</annotation>
					</element>
					<element name="preferredInterpretation" type="boolean">
						<annotation>
							<documentation>Indicates whether this interpretation is the preferred interpretation (ie; the analytical data may be reinterpreted)</documentation>
						</annotation>
					</element>
					<element name="citation" type="gmd:CI_Citation_PropertyType" minOccurs="0">
						<annotation>
							<documentation>Use ISO metadata citation element to describe author and other reference information.  Can be used to describe reference for new or legacy data</documentation>
						</annotation>
					</element>
					<element name="sourceCollection" type="sa:SamplingFeatureCollectionPropertyType"/>
					<element name="sourceCollection" type="sa:SamplingFeatureCollectionPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeochronologicInterpretationPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:GeochronologicInterpretation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="IsotopicEventType" type="gt:IsotopicEventTypeType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Refers to a vocabulary of terms to describe any isotopic processes relevant to the geochronological interpretation. eg:closure, isotopic mixing, Pb loss, etc</documentation>
		</annotation>
	</element>
	<complexType name="IsotopicEventTypeType"/>
	<complexType name="IsotopicEventTypePropertyType">
		<sequence>
			<element ref="gt:IsotopicEventType"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="StatisticalMethodTerm" type="gt:StatisticalMethodTermType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Refers to a vocabulary describing statistcal methods used in interpret geochronologic data</documentation>
		</annotation>
	</element>
	<complexType name="StatisticalMethodTermType"/>
	<complexType name="StatisticalMethodTermPropertyType">
		<sequence>
			<element ref="gt:StatisticalMethodTerm"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="IsotopicSystemName" type="gt:IsotopicSystemNameType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Refers to a vocabulary of isotopic systems such as Ar-Ar, K-Ar, Nd-Sm, U-Pb, Pb-Pb, Re-Os, etc</documentation>
		</annotation>
	</element>
	<complexType name="IsotopicSystemNameType"/>
	<complexType name="IsotopicSystemNamePropertyType">
		<sequence>
			<element ref="gt:IsotopicSystemName"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
