trunk/schemas/geosciml-core/3.0/geologicFeature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:gml="http://www.opengis.net/gml/3.2" 
	xmlns:gmd="http://www.isotc211.org/2005/gmd" 
	xmlns:gsml="http://xmlns.geosciml.org/GeoSciML-Core/3.0" 
	xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" 
	xmlns:cgu="http://xmlns.geosciml.org/Utilities/3.0" 
	xmlns:swe="http://www.opengis.net/swe/1.0/gml32" 
	targetNamespace="http://xmlns.geosciml.org/GeoSciML-Core/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>The GeoSciML GeologicFeature package contains the root  Feature classes MappedFeature and GeologicFeature. 

GeologicFeature represents a conceptual feature that is hypothesized to exist coherently in the world. Specializated geologic features are contained in other packages.</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/swe/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-127/sweCommon/1.0.1_gml32/swe.xsd"/>
	<import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19156_xsd/schemas/OM/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
	<import namespace="http://xmlns.geosciml.org/Utilities/3.0" schemaLocation="http://schemas.geosciml.org/cgiutilities/3.0/cgiUtilities.xsd"/>
	<include schemaLocation="http://schemas.geosciml.org/geosciml-core/3.0/geosciml-core.xsd"/>
	<element name="GeologicFeature" type="gsml:GeologicFeatureType" abstract="true" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>The abstract GeologicFeature class represents a conceptual feature that is hypothesized to exist coherently in the world.
   * this corresponds with a "legend item" from a traditional geologic map
   * while the bounding coordinates of a Geologic Feature may be described, its shape is not.

The implemented Geologic Feature instance acts as the "description package"

    * the description package is classified according to its purpose as an Instance, TypicalNorm, or DefiningNorm.</documentation>
		</annotation>
	</element>
	<complexType name="GeologicFeatureType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="observationMethod" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Feature ObservationMethod specifies the approach to acquiring the collection of attribute values that constitute an individual feature instance (e.g. point count, brunton compass on site, air photo interpretation,  field observation, hand specimen,  laboratory, aerial photography, creative imagination). ObservationMethod is a convenience property that provides a quick and dirty approach to observation metadata when data are reported using a feature view (as opposed to observation view). For a borehole, the GeologicFeature observation method specifies how the geologic properties were determined (eg, visual observation, or standard AzGS logging procedure (described in detail somewhere else)).  This property corresponds (loosely) to ISO19115 Lineage.</documentation>
						</annotation>
						<complexType>		
							<complexContent>
								<extension base="cgu:CGI_TermPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="purpose" type="cgu:DescriptionPurposeType">
						<annotation>
							<documentation>Specification of the intended purpose/level of abstraction for a given feature or object instance. Scoped name because intention is asserted by author of the data instance. Values are: instance, typicalNorm, definingNorm.</documentation>
						</annotation>
					</element>
					<element name="occurrence" type="gsml:MappedFeaturePropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Points to any number of mapped features which are occurrences of the geologic feature.  Mapped features may all be from a single map or from several maps.</documentation>
						</annotation>
					</element>
					<element name="geologicHistory" type="gsml:GeologicEventPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>A sequence of GeologicEvents with role geologicHistory allow describing the Genesis of the GeologicFeature. In future versions of GeoSciML this sequence should be ordered.</documentation>
						</annotation>
					</element>
					<element name="targetLink" type="gsml:GeologicFeatureRelationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Specifies the GeologicFeatureRelation that links the 'source' GeologicFeature  to the 'target' GeologicFeature.</documentation>
						</annotation>
					</element>
					<element name="classifier" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<annotation>
							<appinfo>
								<gml:targetElement>gvoc:ControlledConcept</gml:targetElement>
							</appinfo>
						</annotation>
					</element>
					<element name="metadata" type="gmd:MD_Metadata_PropertyType" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicFeaturePropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:GeologicFeature"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeologicFeatureRelation" type="gsml:GeologicFeatureRelationType" substitutionGroup="gsml:GeologicRelation">
		<annotation>
			<documentation>The GeologicFeatureRelation class is a concrete subtype of the abstract GeologicRelation class that is used to define relationships between geologic features, ie. structure-structure, unit-unit, and structure-unit relationships.

Relationships are always binary and directional.  There is always a single source and a single target. The relationship is always defined from the perspective of the Source and is generally an active verb.

Example:  a Source may point to an intrusive igneous rock body.  In this case, the Target would point to the appropriate host rock body and the relationship attribute would be 'intrudes'.  Other appropriate relationship attributes might include: overlies, offsets, crosscuts, folds, etc.

Two or more GeologicFeatures are associated in a GeologicFeatureRelation; each has a role in the relationship. Examples of geological roles include "overlies", "is overlain by", "is younger", "is older", "intrudes", "is intruded by", and so forth. In a relationship where an igneous unit intrudes a sedimentary unit, the geological relationship is "intrudes", the intruded sedimentary unit has the role "host", and the igneous unit has the role "intrusion".</documentation>
		</annotation>
	</element>
	<complexType name="GeologicFeatureRelationType">
		<complexContent>
			<extension base="gsml:GeologicRelationType">
				<sequence>
					<element name="target" type="gsml:GeologicFeaturePropertyType">
						<annotation>
							<documentation>Specifies the GeologicFeature that is playing the role "target" in the GeologicFeatureRelation.</documentation>
						</annotation>
					</element>
					<element name="source" type="gsml:GeologicFeaturePropertyType">
						<annotation>
							<documentation>Specifies the GeologicFeature that is playing the role "source" in the GeologicFeatureRelation.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicFeatureRelationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:GeologicFeatureRelation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="MappedFeature" type="gsml:MappedFeatureType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>A MappedFeature is part of a geological interpretation. 
It provides a link between a notional feature (description package) and one spatial representation of it, or part of it. (Exposures, Surface Traces and Intercepts, etc)
    * the specific bounded occurrence, such as an outcrop or map polygon
    * the Mapped Feature carries a geometry or shape
          - the association with a Geologic Feature (legend item) provides specification of all the other descriptors
          - the association with a Sampling Feature provides the context and dimensionality 

A Mapped Feature is always associated with some sampling feature - e.g. a mapping surface, a section, a Borehole (see BoreHolesAndObservation) etc.  As noted on the diagram, if the associated sampling feature is a Borehole, then the shape associated with the MappedFeature will usually be either a point or an interval. This reconciles the 2-D ("map", section) and 1-D (borehole, traverse) viewpoints in a common abstraction.</documentation>
		</annotation>
	</element>
	<complexType name="MappedFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="observationMethod" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>MappedFeature ObservationMethod is a metadata snippet indicating how the spatial extent of the mapped feature was determined, and the basis for association of the geometry with some GeologicFeature specification to define a MappedFeature. For a borehole, the MappedInterval observation method indicates how the boundaries of the interval were defined (eg, linear measurement from borehole collar). ObservationMethod is a convenience property that provides a quick and dirty approach to  observation metadata when data are reported using a feature view (as opposed to observation view). This property corresponds (loosely) to ISO19115 Lineage.  (eg: digitised,  Global Positioning System, published map, fieldObservation, downhole survey, aerial photography, field survey)</documentation>
						</annotation>
						<complexType>		
							<complexContent>
								<extension base="cgu:CGI_TermPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="positionalAccuracy" nillable="true">
						<annotation>
							<documentation>Quantitative values define the radius of an uncertainty buffer around a mappedFeature (eg: a positionAccuracy of 100 m for a line feature defines a buffer polygon of total width 200 m centred on the line).  Corresponds to ISO19115 DQ_PositionalAccuracy.</documentation>
						</annotation>
						<complexType>		
							<complexContent>
								<extension base="swe:QuantityPropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="resolutionScale" nillable="true">
						<annotation>
							<documentation>Reciprocal of equivalent scale of resolution for delineation of a feature's geometry. This is in contrast to positionAccuracy which is a measure of how well a feature is located relative to other features in the geographic reference system.</documentation>
						</annotation>
						<complexType>		
							<complexContent>
								<extension base="gmd:MD_RepresentativeFraction_PropertyType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="samplingFrame" type="sams:SF_SpatialSamplingFeaturePropertyType">
						<annotation>
							<documentation>Specifies the sampling frame associated with the MappedFeature
SamplingFrame is MapHorizon or other reference frame within which the MappedFeature is located. Map sheet, outcrop, borehole, flightline, swath, specimen, section, etc.</documentation>
						</annotation>
					</element>
					<element name="shape" type="gml:GeometryPropertyType"/>
					<element name="specification" type="gsml:GeologicFeaturePropertyType">
						<annotation>
							<documentation>Point to the single geologic feature which describes the mapped feature.</documentation>
						</annotation>
					</element>
					<element name="metadata" type="gmd:MD_Metadata_PropertyType" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MappedFeaturePropertyType">
		<sequence minOccurs="0">
			<element ref="gsml:MappedFeature"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
