tags/3.0.0_rc2/schemas/geotime/3.0/gssp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" 
	xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" 
	xmlns:gt="http://xmlns.geosciml.org/GeologicTime/3.0" 
	targetNamespace="http://xmlns.geosciml.org/GeologicTime/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>The GSSP model describes "Global Boundary Stratotype Sections and Points" as defined by the International Stratigraphy Commission.</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="http://schemas.opengis.net/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
	<include schemaLocation="http://schemas.geosciml.org/geotime/3.0/geologicTime.xsd"/>
	<element name="StratigraphicPoint" type="gt:StratigraphicPointType" substitutionGroup="sams:SF_SpatialSamplingFeature">
		<annotation>
			<documentation>A point in the stratigraphic record used to define a geochronologic boundary or point in geologic time</documentation>
		</annotation>
	</element>
	<complexType name="StratigraphicPointType">
		<complexContent>
			<extension base="sams:SF_SpatialSamplingFeatureType">
				<sequence>
					<element name="primaryGuidingCriterion" nillable="true">
					<complexType>		<!-- Added nilReason complex type - OLR 24-11-10 -->
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="additionalCorrelationProperty" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<complexType>		
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="status" nillable="true">
						<complexType>		
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="StratigraphicPointPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:StratigraphicPoint"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GlobalStratotypeSection" type="gt:GlobalStratotypeSectionType" substitutionGroup="gt:StratigraphicSection">
		<annotation>
			<documentation>A type of stratigraphic section used to define a globally agreed standard period of geologic time</documentation>
		</annotation>
	</element>
	<complexType name="GlobalStratotypeSectionType">
		<complexContent>
			<extension base="gt:StratigraphicSectionType"/>
		</complexContent>
	</complexType>
	<complexType name="GlobalStratotypeSectionPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:GlobalStratotypeSection"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GlobalStratotypePoint" type="gt:GlobalStratotypePointType" substitutionGroup="gt:StratigraphicPoint">
		<annotation>
			<documentation>A type of stratigraphic point used to define a globally agreed point in geologic time</documentation>
		</annotation>
	</element>
	<complexType name="GlobalStratotypePointType">
		<complexContent>
			<extension base="gt:StratigraphicPointType"/>
		</complexContent>
	</complexType>
	<complexType name="GlobalStratotypePointPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:GlobalStratotypePoint"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="StratigraphicSection" type="gt:StratigraphicSectionType" substitutionGroup="sams:SF_SpatialSamplingFeature">
		<annotation>
			<documentation>A sampled section of the stratigraphic record used to define a period in geologic time</documentation>
		</annotation>
	</element>
	<complexType name="StratigraphicSectionType">
		<complexContent>
			<extension base="sams:SF_SpatialSamplingFeatureType">
				<sequence>
					<element name="geologicSetting" nillable="true">
						<complexType>		
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="geologicDescription" nillable="true">
						<annotation>
							<documentation>Lithology, Sedimentology, Paleobathymetry</documentation>
						</annotation>
						<complexType>	
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="accessibility" nillable="true">
						<complexType>		
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="conservation" nillable="true">
						<complexType>		
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="StratigraphicSectionPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:StratigraphicSection"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
