tags/3.0.0_rc2/schemas/geotime/3.0/timeScale.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:gml="http://www.opengis.net/gml/3.2" 
	xmlns:trs="http://xmlns.geosciml.org/TemporalReferenceSystem/3.0"  
	xmlns:gt="http://xmlns.geosciml.org/GeologicTime/3.0" 
	targetNamespace="http://xmlns.geosciml.org/GeologicTime/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>The Timescale package describes geologic time periods (geochronologic eras) and the boundaries between them.</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://xmlns.geosciml.org/TemporalReferenceSystem/3.0" schemaLocation="http://schemas.geosciml.org/temporalreferencesystem/3.0/trs.xsd"/>
	<include schemaLocation="http://schemas.geosciml.org/geotime/3.0/geologicTime.xsd"></include>
	<element name="StandardGlobalNumericalAge" type="gt:StandardGlobalNumericalAgeType" substitutionGroup="gt:NumericEraBoundary"/>
	<complexType name="StandardGlobalNumericalAgeType">
		<complexContent>
			<extension base="gt:NumericEraBoundaryType"/>
		</complexContent>
	</complexType>
	<complexType name="StandardGlobalNumericalAgePropertyType">
		<sequence minOccurs="0">
			<element ref="gt:StandardGlobalNumericalAge"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeochronologicBoundary" type="gt:GeochronologicBoundaryType" substitutionGroup="trs:TimeOrdinalEraBoundary">
		<annotation>
			<documentation>A boundary between two geochronologic time periods</documentation>
		</annotation>
	</element>
	<complexType name="GeochronologicBoundaryType">
		<complexContent>
			<extension base="trs:TimeOrdinalEraBoundaryType">
				<sequence>
					<element name="stratotype" type="gt:StratigraphicPointPropertyType" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeochronologicBoundaryPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:GeochronologicBoundary"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeologicTimescale" type="gt:GeologicTimescaleType" substitutionGroup="trs:TimeOrdinalReferenceSystem">
		<annotation>
			<documentation>The classic "Geologic Timescale" comprising an ordered, hierarchical set of named "eras" is an example of an Ordinal Temporal Reference System. It may be calibrated with reference to a numeric Temporal Coordinate System, but is in principle defined independently.</documentation>
		</annotation>
	</element>
	<complexType name="GeologicTimescaleType">
		<complexContent>
			<extension base="trs:TimeOrdinalReferenceSystemType">
				<sequence>
					<element name="referencePoint" type="trs:TimeOrdinalEraBoundaryPropertyType" minOccurs="2" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicTimescalePropertyType">
		<sequence minOccurs="0">
			<element ref="gt:GeologicTimescale"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="NumericEraBoundary" type="gt:NumericEraBoundaryType" substitutionGroup="trs:TimeOrdinalEraBoundary">
		<annotation>
			<documentation>Used for pre-Ediacaran and Pleistocene / Holocene boundaries in the standard timescale</documentation>
		</annotation>
	</element>
	<complexType name="NumericEraBoundaryType">
		<complexContent>
			<extension base="trs:TimeOrdinalEraBoundaryType">
				<sequence>
					<element name="status" nillable="true">
					<complexType>	
						<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NumericEraBoundaryPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:NumericEraBoundary"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeochronologicEra" type="gt:GeochronologicEraType" substitutionGroup="trs:TimeOrdinalEra">
		<annotation>
			<documentation>The association of an era with a stratotype is optional.  In the GSSP approach recommended by ICS for the Global Geologic Timescale, Unit Stratotypes are not used. 

Rather, the association of an Era with geologic units and sections is indirect, via the association of an era with Boundaries, which are in turn tied to Stratotype Points, which occur within host Stratotype Sections. 

Note that the "German School" defines stratigraphic eras conceptually, without reference to stratotypes.</documentation>
		</annotation>
	</element>
	<complexType name="GeochronologicEraType">
		<complexContent>
			<extension base="trs:TimeOrdinalEraType">
				<sequence>
					<element name="rank" type="gml:ReferenceType"/>
					<element name="stratotype" type="gt:StratigraphicSectionPropertyType" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeochronologicEraPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:GeochronologicEra"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
