tags/3.0.0_rc1_gml3.1/physicalProperties/3.0.0/xsd/physicalProperties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by France Bolduc (Natural Resources Canada) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gpp="urn:cgi:xmlns:CGI:PhysicalProperties:3.0.0" xmlns:swe="http://www.opengis.net/swe/1.0.1" targetNamespace="urn:cgi:xmlns:CGI:PhysicalProperties:3.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>[WARN-A001] - No package description in UML model</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="http://www.opengis.net/swe/1.0.1" schemaLocation="http://schemas.opengis.net/sweCommon/1.0.1/swe.xsd"/>
	<element name="PhysicalDescription" type="gpp:PhysicalDescriptionType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>A class to describe the numeric physical properties of a geologic unit, rock material, or geologic structure. (eg; density, porosity, magnetic susceptibility, remanent magnetism)</documentation>
		</annotation>
	</element>
	<complexType name="PhysicalDescriptionType">
		<sequence>
			<element name="propertyName" type="gml:ReferenceType">
				<annotation>
					<appinfo>
						<gml:targetElement>PhysicalPropertyTerm</gml:targetElement>
					</appinfo>
					<documentation>A term from a controlled vocabulary of physical properties of rock materials (eg; density, porosity, magnetic susceptibility, remanent magnetism, permeability, seismic velocity)</documentation>
				</annotation>
			</element>
			<element name="propertyMeasure" type="gpp:PhysicalPropertyMeasurePropertyType">
				<annotation>
					<documentation>A scalar or vector measurement of the physical property of a rock material</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="PhysicalDescriptionPropertyType">
		<sequence>
			<element ref="gpp:PhysicalDescription"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="PhysicalPropertyTerm" type="gpp:PhysicalPropertyTermType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>Refers to a vocabulary of physical property types (eg, density, porosity, magnetic susceptibility, magnetic remanence, conductivity, etc)</documentation>
		</annotation>
	</element>
	<complexType name="PhysicalPropertyTermType"/>
	<complexType name="PhysicalPropertyTermPropertyType">
		<sequence>
			<element ref="gpp:PhysicalPropertyTerm"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="PhysicalPropertyMeasure" type="gpp:PhysicalPropertyMeasureType" substitutionGroup="gml:_Object"/>
	<complexType name="PhysicalPropertyMeasureType">
		<sequence>
			<element name="valueType" type="gml:ReferenceType">
				<annotation>
					<appinfo>
						<gml:targetElement>PhysicalPropertyMeasureType</gml:targetElement>
					</appinfo>
					<documentation>A term from a controlled vocabulary to denote if the value represents a statistical measure (eg;  maximum, minimum, mean, mode, median, etc) derived from of a number of individual measurements, or if the value represents a single measurement.</documentation>
				</annotation>
			</element>
			<element name="propertyValue" type="gpp:PhysicalPropertyValuePropertyType">
				<annotation>
					<documentation>Element must contain one of either a scalar (swe:Quantity), vector (swe:Vector), or tensor (swe:SquareMatrix) value</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="PhysicalPropertyMeasurePropertyType">
		<sequence>
			<element ref="gpp:PhysicalPropertyMeasure"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="PhysicalPropertyMeasureType" type="gpp:PhysicalPropertyMeasureTypeType" substitutionGroup="gml:_Object">
		<annotation>
			<documentation>Refers to a vocabulary of terms describing the statistical type of the quoted measurement (eg, mean, minimum, maximum, median, mode, single measurement)</documentation>
		</annotation>
	</element>
	<complexType name="PhysicalPropertyMeasureTypeType"/>
	<complexType name="PhysicalPropertyMeasureTypePropertyType">
		<sequence>
			<element ref="gpp:PhysicalPropertyMeasureType"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<group name="PhysicalPropertyValue">
		<choice>
			<element ref="swe:Quantity"/>
			<element ref="swe:Vector"/>
			<element ref="swe:SquareMatrix"/>
		</choice>
	</group>
	<complexType name="PhysicalPropertyValuePropertyType">
		<sequence minOccurs="0">
			<group ref="gpp:PhysicalPropertyValue"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attribute name="unionSemantics" type="gpp:PhysicalPropertyValueUnionSemantics"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<simpleType name="PhysicalPropertyValueUnionSemantics">
		<restriction base="string">
			<enumeration value="scalarValue"/>
			<enumeration value="vectorValue"/>
			<enumeration value="tensorValue"/>
		</restriction>
	</simpleType>
</schema>
