ISO19115_Proxy/xsd/iso19115proxy_gsml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:isp="urn:cgi:xmlns:CGI:ISO19115_Proxy:3.0.0" targetNamespace="urn:cgi:xmlns:CGI:ISO19115_Proxy:3.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>[WARN-A001] - No package description in UML model</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<element name="MD_Metadata" type="isp:MD_MetadataType" substitutionGroup="gml:AbstractGML">
		<annotation>
			<documentation>Information about the metadata</documentation>
		</annotation>
	</element>
	<complexType name="MD_MetadataType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="fileIdentifier" type="string" minOccurs="0">
						<annotation>
							<documentation>Unique identifier for this metadata file</documentation>
						</annotation>
					</element>
					<element name="language" type="string" minOccurs="0">
						<annotation>
							<documentation>Language used for documenting metadata</documentation>
						</annotation>
					</element>
					<element name="contact" type="isp:CI_ResponsiblePartyPropertyType" maxOccurs="unbounded">
						<annotation>
							<documentation>Party responsible for the metadata information</documentation>
						</annotation>
					</element>
					<element name="dateStamp" type="date">
						<annotation>
							<documentation>Date that the metadata were created or last updated</documentation>
						</annotation>
					</element>
					<element name="metadataStandardName" type="string" minOccurs="0">
						<annotation>
							<documentation>Name of the metadata standard used</documentation>
						</annotation>
					</element>
					<element name="metadataStandardVersion" type="string" minOccurs="0">
						<annotation>
							<documentation>Version of the metadata standard used</documentation>
						</annotation>
					</element>
					<element name="dataSet" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MD_MetadataPropertyType">
		<sequence minOccurs="0">
			<element ref="isp:MD_Metadata"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	

<element name="LI_ProcessStep" type="isp:LI_ProcessStepType" substitutionGroup="gml:AbstractGML">
		<annotation>
			<documentation>Information about the process steps</documentation>
		</annotation>
	</element>
	<complexType name="LI_ProcessStepType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="dateTime" type="dateTime" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>TBD</documentation>
						</annotation>
					</element>
					<element name="description" type="string" minOccurs="0">
						<annotation>
							<documentation>TBD</documentation>
						</annotation>
					</element>
					<element name="processor" type="isp:CI_ResponsiblePartyPropertyType" maxOccurs="unbounded">
						<annotation>
							<documentation>Party responsible for the process step information</documentation>
						</annotation>
					</element>
					<element name="rationale" type="string" minOccurs="0">
						<annotation>
							<documentation>TBD</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LI_ProcessStepPropertyType">
		<sequence minOccurs="0">
			<element ref="isp:LI_ProcessStep"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	
	
	<element name="CI_ResponsibleParty" type="isp:CI_ResponsiblePartyType" substitutionGroup="gml:AbstractGML">
		<annotation>
			<documentation>Identification of, and means of communication with, person(s) and organisations associated with the dataset</documentation>
		</annotation>
	</element>
	<complexType name="CI_ResponsiblePartyType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="contactinfo" type="string" minOccurs="0">
						<annotation>
							<documentation>Address of the responsible party.
CI_ResponsibleParty uses datatype of CI_Contact. As a placeholder GeoSciML is using datatype of CharacterString</documentation>
						</annotation>
					</element>
					<element name="individualName" type="string" minOccurs="0">
						<annotation>
							<documentation>Name of the responsible person-  SURNAME, given name, title separated by a delimiter</documentation>
						</annotation>
					</element>
					<element name="organisationName" type="string" minOccurs="0">
						<annotation>
							<documentation>Name of the responsible organisation</documentation>
						</annotation>
					</element>
					<element name="positionName" type="string" minOccurs="0">
						<annotation>
							<documentation>Role or position of the responsible person</documentation>
						</annotation>
					</element>
					<element name="role" type="isp:CI_RoleCodeType">
						<annotation>
							<documentation>Function performed by the responsible party</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CI_ResponsiblePartyPropertyType">
		<sequence minOccurs="0">
			<element ref="isp:CI_ResponsibleParty"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="DQ_QuantitativeAttributeAccuracy" type="isp:DQ_QuantitativeAttributeAccuracyType" substitutionGroup="isp:DQ_Element"/>
	<complexType name="DQ_QuantitativeAttributeAccuracyType">
		<complexContent>
			<extension base="isp:DQ_ElementType"/>
		</complexContent>
	</complexType>
	<complexType name="DQ_QuantitativeAttributeAccuracyPropertyType">
		<sequence minOccurs="0">
			<element ref="isp:DQ_QuantitativeAttributeAccuracy"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="CI_Citation" type="isp:CI_CitationType" substitutionGroup="gml:AbstractGML">
		<annotation>
			<documentation>GeoSciML placeholder for CI_Citation - Standardized resource reference</documentation>
		</annotation>
	</element>
	<complexType name="CI_CitationType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="citedResponsibleParty" type="isp:CI_ResponsiblePartyPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="date" type="gml:TimeInstantPropertyType">
						<annotation>
							<documentation>Reference date for the cited information.  
CGI placeholder is using data type "TM_Instant" to avoid using another MD_Metadata element "CI_Date"</documentation>
						</annotation>
					</element>
					<element name="identifier" type="string">
						<annotation>
							<documentation>CI_Citation uses identifier:MD_Identifier for a value uniquely identifying an object within a namespace.
MD_Identifier has two attributes authority:CI_Citation and code:CharacterString
CGI_CI_Citation uses identifier as a proxy for gml:identifier</documentation>
						</annotation>
					</element>
					<element name="title" type="string">
						<annotation>
							<documentation>Name by which the cited information is known</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CI_CitationPropertyType">
		<sequence minOccurs="0">
			<element ref="isp:CI_Citation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="MD_RepresentativeFraction" type="isp:MD_RepresentativeFractionType" substitutionGroup="gml:AbstractGML"/>
	<complexType name="MD_RepresentativeFractionType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="denominator" type="integer"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MD_RepresentativeFractionPropertyType">
		<sequence minOccurs="0">
			<element ref="isp:MD_RepresentativeFraction"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="DQ_Result" type="isp:DQ_ResultType" abstract="true" substitutionGroup="gml:AbstractGML"/>
	<complexType name="DQ_ResultType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractGMLType"/>
		</complexContent>
	</complexType>
	<complexType name="DQ_ResultPropertyType">
		<sequence minOccurs="0">
			<element ref="isp:DQ_Result"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="DQ_QuantitativeResult" type="isp:DQ_QuantitativeResultType" substitutionGroup="isp:DQ_Result">
		<annotation>
			<documentation>Quantitative_conformance_measure from Quality Procedures. 

Renamed to remove implied use limitation

OCL
-- result is type specified by valueDomain
result.tupleType = valueDomain</documentation>
		</annotation>
	</element>
	<complexType name="DQ_QuantitativeResultType">
		<complexContent>
			<extension base="isp:DQ_ResultType">
				<sequence>
					<element name="valueType" type="string" minOccurs="0"/>
					<element name="valueUnit" type="string"/>
					<element name="errorStatistic" type="string" minOccurs="0"/>
					<element name="value" type="double" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DQ_QuantitativeResultPropertyType">
		<sequence minOccurs="0">
			<element ref="isp:DQ_QuantitativeResult"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="DQ_Element" type="isp:DQ_ElementType" abstract="true" substitutionGroup="gml:AbstractGML"/>
	<complexType name="DQ_ElementType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="nameOfMeasure" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="measureIdentification" type="string" minOccurs="0"/>
					<element name="measureDescription" type="string" minOccurs="0"/>
					<element name="evaluationMethodType" type="string" minOccurs="0"/>
					<element name="evaluationMethodDescription" type="string" minOccurs="0"/>
					<element name="evaluationProcedure" type="isp:CI_CitationPropertyType" minOccurs="0"/>
					<element name="dateTime" type="dateTime" minOccurs="0" maxOccurs="unbounded"/>
					<element name="result" type="isp:DQ_ResultPropertyType" maxOccurs="2"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DQ_ElementPropertyType">
		<sequence minOccurs="0">
			<element ref="isp:DQ_Element"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="CI_RoleCodeType">
		<union memberTypes="isp:CI_RoleCodeEnumerationType isp:CI_RoleCodeOtherType"/>
	</simpleType>
	<simpleType name="CI_RoleCodeEnumerationType">
		<restriction base="string">
			<enumeration value="custodian">
				<annotation>
					<documentation>Guardian or keeper responsible for maintaining the data</documentation>
				</annotation>
			</enumeration>
			<enumeration value="author"/>
			<enumeration value="distributor">
				<annotation>
					<documentation>Person or organisation who distributes the data</documentation>
				</annotation>
			</enumeration>
			<enumeration value="originator">
				<annotation>
					<documentation>Responsible party who created the dataset or metadata</documentation>
				</annotation>
			</enumeration>
			<enumeration value="owner">
				<annotation>
					<documentation>Person who owns the data</documentation>
				</annotation>
			</enumeration>
			<enumeration value="pointOfContact">
				<annotation>
					<documentation>Responsible party who can be contacted for acquiring knowledge about or acquisition of the data.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="principalInvestigator">
				<annotation>
					<documentation>Key person responsible for gathering information and conducting research</documentation>
				</annotation>
			</enumeration>
			<enumeration value="processor">
				<annotation>
					<documentation>Responsible party who has processed the data in a manner in which the data has been modified.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="publisher">
				<annotation>
					<documentation>Responsible party who published the data</documentation>
				</annotation>
			</enumeration>
			<enumeration value="resourceProvider">
				<annotation>
					<documentation>Party that supplies the data</documentation>
				</annotation>
			</enumeration>
			<enumeration value="user">
				<annotation>
					<documentation>Person who uses the data</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="CI_RoleCodeOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
</schema>
