tags/3.0.0_rc1/geosciml-core/3.0.0/xsd/Collection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:isp="urn:cgi:xmlns:CGI:ISO19115_Proxy:3.0.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gt="urn:cgi:xmlns:CGI:GeologicTime:3.0.0" xmlns:om="http://www.opengis.net/om/2.0" xmlns:gvoc="urn:cgi:xmlns:CGI:Vocabulary:3.0.0" xmlns:sa="http://www.opengis.net/sampling/1.0/gml32" xmlns:gsmlcore="urn:cgi:xmlns:CGI:GeoSciML-Core:3.0.0" targetNamespace="urn:cgi:xmlns:CGI:GeoSciML-Core:3.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>The GeoSciML Collection package contains facade classes that facilitate the structuring of WFS response documents and other application uses.</documentation>
	</annotation>
	
	<import namespace="urn:cgi:xmlns:CGI:GeologicTime:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/tags/3.0.0_rc1/geotime/3.0.0/xsd/geologicTime.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.opengis.net/sampling/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-129/sampling/1.0.0_gml32/sampling.xsd"/>
	<import namespace="urn:cgi:xmlns:CGI:Vocabulary:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/tags/3.0.0_rc1/vocabulary/3.0.0/xsd/vocabulary.xsd"/>
	<import namespace="urn:cgi:xmlns:CGI:ISO19115_Proxy:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19115_Proxy/xsd/iso19115proxy.xsd"/>
	<import namespace="http://www.opengis.net/om/2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19156_xsd/schemas/OM/om/2.0/observation.xsd"/>
	<element name="GSML" type="gsmlcore:GSMLType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>A collection container for items to be bundled in WFS response documents and other applications. FeatureType stereotype allows this to be a FeatureMember in a WFS_FeatureCollection.</documentation>
		</annotation>
	</element>
	<complexType name="GSMLType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="member" type="gsmlcore:GSMLitemPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Points to a member of a GSML collection, which can be any of the GeoSciML classes that are listed in the GSMLitem union class.</documentation>
						</annotation>
					</element>
					<element name="metadata" type="isp:MD_MetadataPropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GSMLPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlcore:GSML"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<group name="GSMLitem">
		<annotation>
			<documentation>GSMLitem is a union class that specifies the types of features that are allowed to be members of the GSML class, and therefore, members of a GML Collection.</documentation>
		</annotation>
		<choice>
			<element ref="gsmlcore:EarthMaterial">
				<annotation>
					<documentation>The earthMaterialItem attribute is a placeholder for the EarthMaterial class that is included as a member of a GML Collection.</documentation>
				</annotation>
			</element>
			<element ref="gt:GeologicEvent">
				<annotation>
					<documentation>The eventItem attribute is a placeholder for the GeologicEvent class that is included as a member of a GML Collection.</documentation>
				</annotation>
			</element>
			<element ref="gsmlcore:GeologicFeature">
				<annotation>
					<documentation>The featureItem attribute is a placeholder for the GeologicFeature class that is included as a member of a GML Collection.</documentation>
				</annotation>
			</element>
			<element ref="gml:AbstractGeometry">
				<annotation>
					<documentation>The geometryItem attribute is a placeholder for the AbstractGeometry class that is included as a member of a GML Collection.</documentation>
				</annotation>
			</element>
			<element ref="gsmlcore:MappedFeature">
				<annotation>
					<documentation>The mappedItem attribute is a placeholder for the MappedFeature class that is included as a member of a GML Collection.</documentation>
				</annotation>
			</element>
			<element ref="gsmlcore:GeologicRelation">
				<annotation>
					<documentation>The relationItem attribute is a placeholder for the GeologicRelation class that is included as a member of a GML Collection.</documentation>
				</annotation>
			</element>
			<element ref="sa:SamplingFeature"/>
			<element ref="gvoc:GeologicVocabulary">
				<annotation>
					<documentation>The vocabularyItem attribute is a placeholder for the GeologicVocabulary class that is included as a member of a GML Collection.</documentation>
				</annotation>
			</element>
		</choice>
	</group>
	<complexType name="GSMLitemPropertyType">
		<sequence minOccurs="0">
			<group ref="gsmlcore:GSMLitem"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attribute name="unionSemantics" type="gsmlcore:GSMLitemUnionSemantics"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="GSMLitemUnionSemantics">
		<restriction base="string">
			<enumeration value="earthMaterialItem"/>
			<enumeration value="eventItem"/>
			<enumeration value="featureItem"/>
			<enumeration value="geometryItem"/>
			<enumeration value="mappedItem"/>
			<enumeration value="relationItem"/>
			<enumeration value="samplingFeatureItem"/>
			<enumeration value="vocabularyItem"/>
		</restriction>
	</simpleType>
</schema>
