branches/3.0.0_rc2/schemas/physicalproperties/3.0/physicalProperties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
    xmlns:gml="http://www.opengis.net/gml/3.2" 
    xmlns:gpp="http://geosciml.org/xmlns/PhysicalProperties/3.0" 
    xmlns:swe="http://www.opengis.net/swe/1.0/gml32" 
    targetNamespace="http://geosciml.org/xmlns/PhysicalProperties/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">    <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    
    <annotation>
        <documentation>The PhysicalProperties Application Schema permits description of physical properties of earth materials, geologic units and geologic structures.  The model borrows from the SWECommon model to describe scalar, vector and tensor values of physical property measurements such as density, porosity, permeability, magnetic susceptibility, magnetic remanence, and other geophysical properties.</documentation>
    </annotation>
    
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.opengis.net/swe/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-127/sweCommon/1.0.1_gml32/swe.xsd"/>
    
    <element name="PhysicalDescription" substitutionGroup="gml:AbstractObject" type="gpp:PhysicalDescriptionType">
        <annotation>
            <documentation>A class to describe the numeric physical properties of a geologic unit, earth material, or geologic structure. (eg; density, porosity, magnetic susceptibility, remanent magnetism)</documentation>
        </annotation>
    </element>
    <complexType name="PhysicalDescriptionType">
        <sequence>
            <element name="propertyName" type="gml:ReferenceType">
                <annotation>
                    <appinfo>
                        <gml:targetElement>PhysicalPropertyTerm</gml:targetElement>
                    </appinfo>
                    <documentation>A term from a controlled vocabulary of physical properties of rock materials (eg; density, porosity, magnetic susceptibility, remanent magnetism, permeability, seismic velocity)</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="propertyMeasure" type="gpp:PhysicalPropertyValuePropertyType">
                <annotation>
                    <documentation>A scalar or vector measurement of the physical property of a rock material</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="PhysicalDescriptionPropertyType">
        <sequence>
            <element ref="gpp:PhysicalDescription"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <group name="PhysicalPropertyValue">
        <annotation>
            <documentation>Provides a choice of one of a scalar, vector or tensor measurement for a physical property measurement

For swe:Quantity, use the swe:definition attribute (URI in SWE1, ScopedName in SWE2) to describe the statistical type of the quoted measurement (eg, mean, minimum, maximum, median, mode, single measurement).  Recommended vocabulary for statistaical terms is at http://dictionary.uncertml.org/statistics.

Use UCUM where possible for units of measure.</documentation>
        </annotation>
        <choice>
            <element ref="swe:Quantity">
                <annotation>
                    <documentation>SWE1 - needs to be updated to SWE2 when available</documentation>
                </annotation>
            </element>
            <element ref="swe:Vector">
                <annotation>
                    <documentation>SWE1 - needs to be updated to SWE2 when available</documentation>
                </annotation>
            </element>
            <element ref="swe:SquareMatrix">
                <annotation>
                    <documentation>SWE1 - needs to be updated to SWE2 when available</documentation>
                </annotation>
            </element>
        </choice>
    </group>
    <complexType name="PhysicalPropertyValuePropertyType">
        <sequence minOccurs="0">
            <group ref="gpp:PhysicalPropertyValue"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attribute name="unionSemantics" type="gpp:PhysicalPropertyValueUnionSemantics"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="PhysicalPropertyValueUnionSemantics">
        <restriction base="string">
            <enumeration value="scalar"/>
            <enumeration value="vector"/>    <!-- Fixed typo - OLR 25-11-10 -->
            <enumeration value="tensor"/>
        </restriction>
    </simpleType>
</schema>