tags/4.0_rc2/tools/ServiceProfiles/profiles/examples/prototype/CustomerServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="CustomerServiceDefinitions"
  targetNamespace="http://ogict/CustomerService"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:s0="http://ogict/CustomerService"
  xmlns:s1="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
      targetNamespace="http://ogict/CustomerService"
      xmlns:s0="http://ogict/CustomerService"
      xmlns:s1="http://schemas.xmlsoap.org/wsdl/soap/"
      xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GetCustomerById">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CustomerInput" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetCustomerByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CustomerOutput" type="java:Customer"
              xmlns:java="java:gea.wsi.entities"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
      targetNamespace="java:gea.wsi.entities"
      xmlns:s0="http://ogict/CustomerService"
      xmlns:s1="http://schemas.xmlsoap.org/wsdl/soap/"
      xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="Customer">
        <xs:annotation>
          <xs:documentation>Customer &lt;p&gt; Copyright &amp;copy;
            2006 Office of Government ICT (DPW) and Queensland
            Transport.&lt;/a&gt; &lt;/p&gt; &lt;code&gt;
            $Source:
            /repository/wsi_prototype/src/java/gea/wsi/entities/Customer.java,v
            $ &lt;/code&gt;</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="CustomerId" nillable="true"
            type="xs:string"/>
          <xs:element minOccurs="1" name="FirstName" nillable="true"
            type="xs:string"/>
          <xs:element minOccurs="1" name="LastName" nillable="true"
            type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Vehicles"
            nillable="true" type="java:Vehicle"
            xmlns:java="java:gea.wsi.entities"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Vehicle">
        <xs:annotation>
          <xs:documentation>Customer &lt;p&gt; Copyright &amp;copy;
            2006 Office of Government ICT (DPW) and Queensland
            Transport.&lt;/a&gt; &lt;/p&gt; &lt;code&gt;
            $Source:
            /repository/wsi_prototype/src/java/gea/wsi/entities/Vehicle.java,v $
            &lt;/code&gt;</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="Make" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Model" nillable="true"
            type="xs:string"/>
          <xs:element minOccurs="1" name="RegoNumber" nillable="true"
            type="xs:string"/>
          <xs:element minOccurs="1" name="Year" nillable="true" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="GetCustomerById">
    <part element="s0:GetCustomerById" name="parameters"/>
  </message>
  <message name="GetCustomerByIdResponse">
    <part element="s0:GetCustomerByIdResponse" name="parameters"/>
  </message>
  <portType name="CustomerPortType">
    <operation name="GetCustomerById" parameterOrder="parameters">
      <input message="s0:GetCustomerById"/>
      <output message="s0:GetCustomerByIdResponse"/>
    </operation>
  </portType>
  <binding name="CustomerServiceSoapBinding" type="s0:CustomerPortType">
    <s1:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http"/>
      
    <operation name="GetCustomerById">
      <s1:operation soapAction="" style="document"/>
      <input>
        <s1:body parts="parameters" use="literal"/>
      </input>
      <output>
        <s1:body parts="parameters" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CustomerService">
    <port binding="s0:CustomerServiceSoapBinding"
      name="CustomerPortTypeSoapPort">
      <s1:address
        location="http://10.255.202.26:7001/CustomerServiceImpl/CustomerServiceImpl"
      />
    </port>
  </service>
</definitions>
