tags/3.0.0_rc1_gml3.2/laboratoryAnalysis/3.0.0/xsd/LaboratoryAnalysis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:swe="http://www.opengis.net/swe/1.0/gml32" xmlns:om="http://www.opengis.net/om/2.0" xmlns:sam="http://www.opengis.net/sampling/2.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:glab="urn:cgi:xmlns:CGI:LaboratoryAnalysis-Specimen:3.0.0" targetNamespace="urn:cgi:xmlns:CGI:LaboratoryAnalysis-Specimen:3.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>The LaboratoryAnalysis package describes processes, instruments and result quality associated with analysis of geological samples.</documentation>
	</annotation>
	<include schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/tags/3.0.0_rc1_gml3.2/laboratoryAnalysis/3.0.0/xsd/laboratoryAnalysis-Specimen.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.opengis.net/om/2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19156_xsd/schemas/OM/om/2.0/observation.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/sampling/2.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/ISO19156_xsd/schemas/OM/sampling/2.0/samplingFeature.xsd"/>
	<import namespace="http://www.opengis.net/swe/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-127/sweCommon/1.0.1_gml32/swe.xsd"/>
	<element name="AnalyticalProcess" type="glab:AnalyticalProcessType" substitutionGroup="om:OM_Process"/>
	<complexType name="AnalyticalProcessType">
		<complexContent>
			<extension base="om:OM_ProcessType">
				<sequence>
					<element name="acquisition" type="glab:AnalyticalSessionPropertyType" minOccurs="0"/>
					<element name="computation" type="glab:ProcessStepPropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AnalyticalProcessPropertyType">
		<sequence minOccurs="0">
			<element ref="glab:AnalyticalProcess"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="AnalyticalInstrument" type="glab:AnalyticalInstrumentType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>Type of instrument used to perform an analytical observation</documentation>
		</annotation>
	</element>
	<complexType name="AnalyticalInstrumentType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="type" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>glab:InstrumentTypeTerm</gml:targetElement>
							</appinfo>
						</annotation>
					</element>
					<element name="model" type="string"/>
					<element name="serialNumber" type="string" minOccurs="0"/>
					<element name="commissionDate" type="date" minOccurs="0"/>
					<element name="location" type="gmd:CI_ResponsibleParty_PropertyType"/>
					<element name="usedIn" type="glab:AnalyticalSessionPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AnalyticalInstrumentPropertyType">
		<sequence minOccurs="0">
			<element ref="glab:AnalyticalInstrument"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ProcessStep" type="glab:ProcessStepType" substitutionGroup="gmd:LI_ProcessStep">
		<annotation>
			<documentation>A calculation or computation process.  This process step(s)may be applied to results from an AnalyticalSession in order to obtain result quality information or to adjust results values according to some conditions.</documentation>
		</annotation>
	</element>
	<complexType name="ProcessStepType">
		<complexContent>
			<extension base="gmd:LI_ProcessStep_Type">
				<sequence>
					<element name="quality" type="glab:ResultQualityDescriptionPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ProcessStepPropertyType">
		<sequence minOccurs="0">
			<element ref="glab:ProcessStep"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="AnalyticalSession" type="glab:AnalyticalSessionType" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="AnalyticalSessionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="method" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>glab:AnalyticalSessionMethod</gml:targetElement>
							</appinfo>
						</annotation>
					</element>
					<element name="time" type="gml:TimePeriodPropertyType"/>
					<element name="operator" type="gmd:CI_ResponsibleParty_PropertyType"/>
					<element name="citation" type="gmd:CI_Citation_PropertyType" minOccurs="0"/>
					<element name="instrument" type="glab:AnalyticalInstrumentPropertyType" minOccurs="0"/>
					<element name="settings" type="glab:InstrumentSettingPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="quality" type="glab:ResultQualityDescriptionPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="relatedComputation" type="glab:ProcessStepPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="referenceAnalyses" type="glab:ReferenceSpecimenPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AnalyticalSessionPropertyType">
		<sequence minOccurs="0">
			<element ref="glab:AnalyticalSession"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Image" type="glab:ImageType" substitutionGroup="sam:SF_SamplingFeature">
		<annotation>
			<documentation>Use gml:description for xlink:href URL to a photographic image.  LA_Process = camera.</documentation>
		</annotation>
	</element>
	<complexType name="ImageType">
		<complexContent>
			<extension base="sam:SF_SamplingFeatureType"/>
		</complexContent>
	</complexType>
	<complexType name="ImagePropertyType">
		<sequence minOccurs="0">
			<element ref="glab:Image"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="InstrumentSettingParameter" type="glab:InstrumentSettingParameterType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Refers to a vocabulary of terms defining various instrument settings, such as voltage, current, vacuum, flow rates, etc</documentation>
		</annotation>
	</element>
	<complexType name="InstrumentSettingParameterType"/>
	<complexType name="InstrumentSettingParameterPropertyType">
		<sequence>
			<element ref="glab:InstrumentSettingParameter"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="InstrumentSetting" type="glab:InstrumentSettingType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="InstrumentSettingType">
		<sequence>
			<element name="parameter" type="gml:ReferenceType">
				<annotation>
					<appinfo>
						<gml:targetElement>InstrumentSettingParameter</gml:targetElement>
					</appinfo>
				</annotation>
			</element>
			<element name="value" type="swe:QuantityPropertyType"/>  <!-- OR/FL:  Added reference to swe:Quantity -->
		</sequence>
	</complexType>
	<complexType name="InstrumentSettingPropertyType">
		<sequence>
			<element ref="glab:InstrumentSetting"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="InstrumentTypeTerm" type="glab:InstrumentTypeTermType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Refers to a vocabulary of Instrument types (eg; XRF, ICPMS, SHRIMP, etc)</documentation>
		</annotation>
	</element>
	<complexType name="InstrumentTypeTermType"/>
	<complexType name="InstrumentTypeTermPropertyType">
		<sequence>
			<element ref="glab:InstrumentTypeTerm"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ResultQualityDescription" type="glab:ResultQualityDescriptionType" substitutionGroup="gmd:DQ_QuantitativeAttributeAccuracy"/>
	<complexType name="ResultQualityDescriptionType">
		<complexContent>
			<extension base="gmd:DQ_QuantitativeAttributeAccuracy_Type">
				<sequence>
					<element name="analyte" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>AnalyteName</gml:targetElement>
							</appinfo>
							<documentation>The name of the analyte for which the described result quality applies. Analytes may include elements, isotopes, and element or isotope ratios.</documentation>
						</annotation>
					</element>
					<element name="nameOfMeasure" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>NameOfMeasureTerm</gml:targetElement>
							</appinfo>
							<documentation>NameOfMeasure may include detection limit, quantitation limit, fractionation factor, and anlaytical errors for each analyte measured during an analytical session. Note: this attribute overrides the characterString attribute of the same name in DQ_QuantitativeAttributeAccuracy.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ResultQualityDescriptionPropertyType">
		<sequence>
			<element ref="glab:ResultQualityDescription"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="AnalyteName" type="glab:AnalyteNameType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Refers to a vocabulary of analyte names</documentation>
		</annotation>
	</element>
	<complexType name="AnalyteNameType"/>
	<complexType name="AnalyteNamePropertyType">
		<sequence>
			<element ref="glab:AnalyteName"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="AnalyticalSessionMethod" type="glab:AnalyticalSessionMethodType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Refers to a vocabulary of terms describing the analytical method used in an analytical session</documentation>
		</annotation>
	</element>
	<complexType name="AnalyticalSessionMethodType"/>
	<complexType name="AnalyticalSessionMethodPropertyType">
		<sequence>
			<element ref="glab:AnalyticalSessionMethod"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="NameOfMeasureTerm" type="glab:NameOfMeasureTermType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Refers to a vocabulary of terms describing the type of quality measure (eg; detection limit, quantitation limit, analytical error, fractionation factor, etc)</documentation>
		</annotation>
	</element>
	<complexType name="NameOfMeasureTermType"/>
	<complexType name="NameOfMeasureTermPropertyType">
		<sequence>
			<element ref="glab:NameOfMeasureTerm"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
