trunk/GSML/cbv33_el_local.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Marcus Sen (British Geological Survey) -->
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="abstract">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" minOccurs="0"/>
				<xs:element ref="para" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="address">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="honorific"/>
				<xs:element ref="firstname"/>
				<xs:element ref="surname"/>
				<xs:element ref="lineage"/>
				<xs:element ref="othername"/>
				<xs:element ref="affiliation"/>
				<xs:element ref="authorblurb"/>
				<xs:element ref="contrib"/>
				<xs:element name="street" type="xs:string"/>
				<xs:element name="pob" type="xs:string"/>
				<xs:element name="postcode" type="xs:string"/>
				<xs:element name="city" type="xs:string"/>
				<xs:element name="state" type="xs:string"/>
				<xs:element name="country" type="xs:string"/>
				<xs:element name="phone" type="xs:string"/>
				<xs:element name="fax" type="xs:string"/>
				<xs:element name="email" type="xs:string"/>
				<xs:element name="otheraddr" type="xs:string"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="affiliation">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="address"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="anchor">
		<xs:complexType>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="authorblurb">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" minOccurs="0"/>
				<xs:element ref="para" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="authorgroup">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="author">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:choice maxOccurs="unbounded">
								<xs:element ref="honorific"/>
								<xs:element ref="firstname"/>
								<xs:element ref="surname"/>
								<xs:element ref="lineage"/>
								<xs:element ref="othername"/>
								<xs:element ref="affiliation"/>
								<xs:element ref="authorblurb"/>
								<xs:element ref="contrib"/>
							</xs:choice>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="editor">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:choice maxOccurs="unbounded">
								<xs:element ref="honorific"/>
								<xs:element ref="firstname"/>
								<xs:element ref="surname"/>
								<xs:element ref="lineage"/>
								<xs:element ref="othername"/>
								<xs:element ref="affiliation"/>
								<xs:element ref="authorblurb"/>
								<xs:element ref="contrib"/>
							</xs:choice>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="corpauthor" type="xs:string"/>
				<xs:element name="othercredit">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:choice maxOccurs="unbounded">
								<xs:element ref="honorific"/>
								<xs:element ref="firstname"/>
								<xs:element ref="surname"/>
								<xs:element ref="lineage"/>
								<xs:element ref="othername"/>
								<xs:element ref="affiliation"/>
								<xs:element ref="authorblurb"/>
								<xs:element ref="contrib"/>
							</xs:choice>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="book">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="bookinfo" minOccurs="0">
					<xs:complexType mixed="true">
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element ref="legalnotice"/>
							<xs:element ref="indexterm"/>
							<xs:element ref="abstract"/>
							<xs:element ref="authorgroup"/>
							<xs:element ref="copyright"/>
							<xs:element name="pubdate" type="xs:string"/>
							<xs:element name="edition" type="xs:string"/>
							<xs:element name="isbn" type="xs:string"/>
							<xs:element name="issn" type="xs:string"/>
							<xs:element name="publisher">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="publishername" type="xs:string"/>
										<xs:element ref="address" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:attribute name="id" type="xs:ID"/>
					</xs:complexType>
				</xs:element>
				<xs:sequence minOccurs="0">
					<xs:element ref="title"/>
					<xs:element ref="subtitle" minOccurs="0"/>
					<xs:element ref="titleabbrev" minOccurs="0"/>
				</xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element name="dedication">
						<xs:complexType>
							<xs:sequence>
								<xs:sequence minOccurs="0">
									<xs:element ref="title"/>
									<xs:element ref="subtitle" minOccurs="0"/>
									<xs:element ref="titleabbrev" minOccurs="0"/>
								</xs:sequence>
								<xs:element ref="para" maxOccurs="unbounded"/>
							</xs:sequence>
							<xs:attribute name="id" type="xs:ID"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="toc">
						<xs:complexType>
							<xs:sequence>
								<xs:sequence minOccurs="0">
									<xs:element ref="title"/>
									<xs:element ref="subtitle" minOccurs="0"/>
									<xs:element ref="titleabbrev" minOccurs="0"/>
								</xs:sequence>
								<xs:element name="tocchap" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute name="id" type="xs:ID"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="id" type="xs:ID"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="lot">
						<xs:complexType>
							<xs:sequence>
								<xs:sequence minOccurs="0">
									<xs:element ref="title"/>
									<xs:element ref="subtitle" minOccurs="0"/>
									<xs:element ref="titleabbrev" minOccurs="0"/>
								</xs:sequence>
								<xs:element name="lotentry" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType mixed="true">
										<xs:choice minOccurs="0" maxOccurs="unbounded">
											<xs:element ref="subscript"/>
											<xs:element ref="superscript"/>
											<xs:element ref="inlineequation"/>
											<xs:element ref="emphasis"/>
											<xs:element ref="indexterm"/>
											<xs:element ref="link"/>
											<xs:element ref="anchor"/>
										</xs:choice>
										<xs:attribute name="id" type="xs:ID"/>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="id" type="xs:ID"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="glossary">
						<xs:complexType>
							<xs:sequence>
								<xs:sequence minOccurs="0">
									<xs:element ref="title"/>
									<xs:element ref="subtitle" minOccurs="0"/>
									<xs:element ref="titleabbrev" minOccurs="0"/>
								</xs:sequence>
								<xs:element name="glossentry" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute name="id" type="xs:ID"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="id" type="xs:ID"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="bibliography">
						<xs:complexType>
							<xs:choice>
								<xs:sequence minOccurs="0">
									<xs:element ref="title"/>
									<xs:element ref="subtitle" minOccurs="0"/>
									<xs:element ref="titleabbrev" minOccurs="0"/>
								</xs:sequence>
								<xs:choice minOccurs="0">
									<xs:element ref="para"/>
									<xs:element ref="figure"/>
									<xs:element ref="table"/>
									<xs:element ref="itemizedlist"/>
									<xs:element ref="orderedlist"/>
								</xs:choice>
								<xs:choice minOccurs="0" maxOccurs="unbounded">
									<xs:element name="biblioentry">
										<xs:complexType>
											<xs:choice minOccurs="0" maxOccurs="unbounded">
												<xs:element ref="simemphasis"/>
												<xs:element ref="subscript"/>
												<xs:element ref="superscript"/>
											</xs:choice>
											<xs:attribute name="id" type="xs:ID"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="bibliomixed">
										<xs:complexType>
											<xs:choice minOccurs="0" maxOccurs="unbounded">
												<xs:element ref="simemphasis"/>
												<xs:element ref="subscript"/>
												<xs:element ref="superscript"/>
											</xs:choice>
											<xs:attribute name="id" type="xs:ID"/>
										</xs:complexType>
									</xs:element>
								</xs:choice>
							</xs:choice>
							<xs:attribute name="id" type="xs:ID"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="preface">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="prefaceinfo" minOccurs="0">
									<xs:complexType mixed="true">
										<xs:choice minOccurs="0" maxOccurs="unbounded">
											<xs:element ref="indexterm"/>
											<xs:element ref="authorgroup"/>
										</xs:choice>
										<xs:attribute name="id" type="xs:ID"/>
									</xs:complexType>
								</xs:element>
								<xs:element ref="title"/>
								<xs:element ref="subtitle" minOccurs="0"/>
								<xs:element ref="titleabbrev" minOccurs="0"/>
								<xs:choice>
									<xs:sequence>
										<xs:choice maxOccurs="unbounded">
											<xs:element ref="para"/>
											<xs:element ref="figure"/>
											<xs:element ref="table"/>
											<xs:element ref="itemizedlist"/>
											<xs:element ref="orderedlist"/>
										</xs:choice>
										<xs:element ref="section" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:element ref="section" maxOccurs="unbounded"/>
								</xs:choice>
							</xs:sequence>
							<xs:attribute name="id" type="xs:ID"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="chapter">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="chapterinfo" minOccurs="0">
									<xs:complexType mixed="true">
										<xs:choice minOccurs="0" maxOccurs="unbounded">
											<xs:element ref="indexterm"/>
											<xs:element ref="abstract"/>
											<xs:element ref="authorgroup"/>
										</xs:choice>
										<xs:attribute name="id" type="xs:ID"/>
									</xs:complexType>
								</xs:element>
								<xs:element ref="title"/>
								<xs:element ref="subtitle" minOccurs="0"/>
								<xs:element ref="titleabbrev" minOccurs="0"/>
								<xs:choice>
									<xs:sequence>
										<xs:choice maxOccurs="unbounded">
											<xs:element ref="para"/>
											<xs:element ref="figure"/>
											<xs:element ref="table"/>
											<xs:element ref="itemizedlist"/>
											<xs:element ref="orderedlist"/>
										</xs:choice>
										<xs:element ref="section" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:element ref="section" maxOccurs="unbounded"/>
								</xs:choice>
							</xs:sequence>
							<xs:attribute name="id" type="xs:ID"/>
							<xs:attribute name="number" type="xs:string"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="appendix">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="appendixinfo" minOccurs="0">
									<xs:complexType mixed="true">
										<xs:choice minOccurs="0" maxOccurs="unbounded">
											<xs:element ref="indexterm"/>
											<xs:element ref="authorgroup"/>
										</xs:choice>
										<xs:attribute name="id" type="xs:ID"/>
									</xs:complexType>
								</xs:element>
								<xs:element ref="title"/>
								<xs:element ref="subtitle" minOccurs="0"/>
								<xs:element ref="titleabbrev" minOccurs="0"/>
								<xs:choice>
									<xs:sequence>
										<xs:choice maxOccurs="unbounded">
											<xs:element ref="para"/>
											<xs:element ref="figure"/>
											<xs:element ref="table"/>
											<xs:element ref="itemizedlist"/>
											<xs:element ref="orderedlist"/>
										</xs:choice>
										<xs:element ref="section" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:element ref="section" maxOccurs="unbounded"/>
								</xs:choice>
							</xs:sequence>
							<xs:attribute name="id" type="xs:ID"/>
							<xs:attribute name="number" type="xs:string"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="index">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="indexinfo" minOccurs="0">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute name="id" type="xs:ID"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:sequence minOccurs="0">
									<xs:element ref="title"/>
									<xs:element ref="subtitle" minOccurs="0"/>
									<xs:element ref="titleabbrev" minOccurs="0"/>
								</xs:sequence>
								<xs:element name="indexentry" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute name="id" type="xs:ID"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="id" type="xs:ID"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="colophon">
						<xs:complexType>
							<xs:sequence>
								<xs:sequence minOccurs="0">
									<xs:element ref="title"/>
									<xs:element ref="subtitle" minOccurs="0"/>
									<xs:element ref="titleabbrev" minOccurs="0"/>
								</xs:sequence>
								<xs:element ref="para" maxOccurs="unbounded"/>
							</xs:sequence>
							<xs:attribute name="id" type="xs:ID"/>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="caption">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="para" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="contrib" type="xs:string"/>
	<xs:element name="copyright">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="year" type="xs:string" maxOccurs="unbounded"/>
				<xs:element name="holder" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="emphasis">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="subscript"/>
				<xs:element ref="superscript"/>
				<xs:element ref="inlineequation"/>
				<xs:element ref="indexterm"/>
				<xs:element ref="link"/>
				<xs:element ref="anchor"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="eqncontent">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="subscript"/>
				<xs:element ref="superscript"/>
				<xs:element ref="indexterm"/>
				<xs:element ref="link"/>
				<xs:element ref="anchor"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="figure">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="figureinfo" minOccurs="0">
					<xs:complexType mixed="true">
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element ref="indexterm"/>
						</xs:choice>
						<xs:attribute name="id" type="xs:ID"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="title"/>
				<xs:element ref="titleabbrev" minOccurs="0"/>
				<xs:element ref="caption" minOccurs="0"/>
				<xs:element ref="imageobject" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="float" default="1">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="firstname" type="xs:string"/>
	<xs:element name="honorific" type="xs:string"/>
	<xs:element name="imageobject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="objectinfo" minOccurs="0"/>
				<xs:element name="imagedata" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="id" type="xs:ID"/>
						<xs:attribute name="entityref" type="xs:ENTITY"/>
						<xs:attribute name="dataformat" type="xs:string"/>
						<xs:attribute name="role" type="xs:string"/>
						<xs:attribute name="width" type="xs:string"/>
						<xs:attribute name="depth" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="indexterm">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="simemphasis"/>
				<xs:element ref="subscript"/>
				<xs:element ref="superscript"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="linkend" type="xs:IDREF"/>
			<xs:attribute name="scheme" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="key" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="inlineequation">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="eqncontent"/>
				<xs:element name="inlinemediaobject">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="objectinfo" minOccurs="0"/>
							<xs:choice>
								<xs:element ref="imageobject"/>
							</xs:choice>
							<xs:choice minOccurs="0" maxOccurs="unbounded">
								<xs:element ref="imageobject"/>
								<xs:element ref="textobject"/>
							</xs:choice>
							<xs:element ref="caption" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="id" type="xs:ID"/>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="itemizedlist">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="listinfo" minOccurs="0"/>
				<xs:element ref="listitem" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="legalnotice">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" minOccurs="0"/>
				<xs:element ref="para" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lineage" type="xs:string"/>
	<xs:element name="link">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="subscript"/>
				<xs:element ref="superscript"/>
				<xs:element ref="inlineequation"/>
				<xs:element ref="emphasis"/>
				<xs:element ref="indexterm"/>
				<xs:element ref="link"/>
				<xs:element ref="anchor"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="linkend" type="xs:IDREF" use="required"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="figref"/>
						<xs:enumeration value="tableref"/>
						<xs:enumeration value="bibref"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="listinfo">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="indexterm"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="listitem">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="subscript"/>
				<xs:element ref="superscript"/>
				<xs:element ref="inlineequation"/>
				<xs:element ref="emphasis"/>
				<xs:element ref="indexterm"/>
				<xs:element ref="link"/>
				<xs:element ref="anchor"/>
				<xs:element ref="itemizedlist"/>
				<xs:element ref="orderedlist"/>
				<xs:element ref="para"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mediaobject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="objectinfo" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="imageobject"/>
				</xs:choice>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="imageobject"/>
					<xs:element ref="textobject"/>
				</xs:choice>
				<xs:element ref="caption" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="objectinfo">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="legalnotice"/>
				<xs:element ref="indexterm"/>
				<xs:element ref="authorgroup"/>
				<xs:element ref="copyright"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderedlist">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="listinfo" minOccurs="0"/>
				<xs:element ref="listitem" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="othername" type="xs:string"/>
	<xs:element name="para">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="parainfo">
					<xs:complexType mixed="true">
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element ref="indexterm"/>
						</xs:choice>
						<xs:attribute name="id" type="xs:ID"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="subscript"/>
				<xs:element ref="superscript"/>
				<xs:element ref="inlineequation"/>
				<xs:element ref="emphasis"/>
				<xs:element ref="indexterm"/>
				<xs:element ref="link"/>
				<xs:element ref="anchor"/>
				<xs:element ref="itemizedlist"/>
				<xs:element ref="orderedlist"/>
				<xs:element name="equation">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="title"/>
							<xs:element ref="titleabbrev" minOccurs="0"/>
							<xs:choice>
								<xs:element ref="eqncontent"/>
								<xs:element ref="mediaobject"/>
							</xs:choice>
						</xs:sequence>
						<xs:attribute name="id" type="xs:ID"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="literallayout">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="id" type="xs:ID"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="screen">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="id" type="xs:ID"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="informaltable">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element ref="mediaobject"/>
							<xs:element ref="tgroup"/>
						</xs:choice>
						<xs:attribute name="id" type="xs:ID"/>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="section">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sectioninfo" minOccurs="0">
					<xs:complexType mixed="true">
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element ref="indexterm"/>
						</xs:choice>
						<xs:attribute name="id" type="xs:ID"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="title"/>
				<xs:element ref="subtitle" minOccurs="0"/>
				<xs:element ref="titleabbrev" minOccurs="0"/>
				<xs:choice>
					<xs:sequence>
						<xs:choice maxOccurs="unbounded">
							<xs:element ref="para"/>
							<xs:element ref="figure"/>
							<xs:element ref="table"/>
							<xs:element ref="itemizedlist"/>
							<xs:element ref="orderedlist"/>
						</xs:choice>
						<xs:element ref="section" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:element ref="section" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="number" type="xs:string"/>
			<xs:attribute name="level" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="simemphasis">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="subscript"/>
				<xs:element ref="superscript"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="subscript">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="subscript"/>
				<xs:element ref="superscript"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="subtitle">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="simemphasis"/>
				<xs:element ref="subscript"/>
				<xs:element ref="superscript"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="superscript">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="subscript"/>
				<xs:element ref="superscript"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="surname" type="xs:string"/>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tableinfo" minOccurs="0">
					<xs:complexType mixed="true">
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element ref="indexterm"/>
						</xs:choice>
						<xs:attribute name="id" type="xs:ID"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="title"/>
				<xs:element ref="titleabbrev" minOccurs="0"/>
				<xs:element ref="caption" minOccurs="0"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="imageobject"/>
					<xs:element ref="tgroup"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="textobject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="objectinfo" minOccurs="0"/>
				<xs:element ref="para" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tgroup">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="xs:ID"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="simemphasis"/>
				<xs:element ref="subscript"/>
				<xs:element ref="superscript"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="titleabbrev">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="xs:ID"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:notation name="gif" system="gif"/>
	<xs:notation name="jpg" system="jpg"/>
	<xs:notation name="pdf" system="pdf"/>
</xs:schema>
