trunk/GSML/geoTime.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.opengis.net/GeoSciML" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gsml="http://www.opengis.net/GeoSciML" xmlns:xmml="http://www.opengis.net/xmml" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release">
	<annotation>
		<documentation>
geoTime.xsd

Composite of reference systems and reference times which may be used to collect together components that describe geological time scales and stratigraphic charts

2004-06-10

Copyright (c) 2004 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice
</documentation>
	</annotation>
	<!-- ======================== -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="../gml/base/temporalReferenceSystems.xsd"/>
	<import namespace="http://www.opengis.net/xmml" schemaLocation="../XMML/procedures.xsd"/>
	<include schemaLocation="../enumerations/LUTstratigraphy.xsd"/>
	<!-- ================================================================== -->
	<!-- ================================================================== -->
	<element name="GeologicalTimeScale" type="gsml:GeologicalTimeScaleType" substitutionGroup="gml:_TimeReferenceSystem"/>
	<!-- ===================================== -->
	<complexType name="GeologicalTimeScaleType" final="#all">
		<annotation>
			<documentation xml:lang="en">
      In an ordinal reference system the order of events in time can be well 
      established, but the exact positions of events on the scale, 
      or magnitude of the intervals between them can not be 
      accurately determined (e.g. a stratigraphic sequence).
      </documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractTimeReferenceSystemType">
				<sequence>
					<element name="system" maxOccurs="unbounded">
						<annotation>
							<documentation>One or more temporal reference systems may be described. Usually a TimeOrdinalReferenceSystem is the main item of interest, but a TimeCoordinateSystem may also be required to allow complete description of time positions. </documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="gml:_TimeReferenceSystem"/>
							</sequence>
						</complexType>
					</element>
					<element name="era" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>An Era may be described out-of-band from the System(s) that are composed from it. This allows multiple systems to be composed from the same set of primitives. </documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="gml:TimeOrdinalEra"/>
							</sequence>
						</complexType>
					</element>
					<element name="node" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Reference times may be described out-of-band from the Eras that they limit. This allows re-use of times for multiple Eras. </documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="gml:TimeNode"/>
							</sequence>
						</complexType>
					</element>
					<group ref="xmml:StandardSupportProperties"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ================================================================== -->
	<!-- ================================================================== -->
	<!-- ===== Time Era ====== -->
	<!-- ================================================================== -->
	<element name="TimeOrdinalEra" type="gsml:TimeOrdinalEraType" substitutionGroup="gml:TimeOrdinalEra"/>
	<!-- ===================================== -->
	<complexType name="TimeOrdinalEraType">
		<annotation>
			<documentation>An extension of the GML TimeOrdinalEra, with an additional "rank" property.</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:TimeOrdinalEraType">
				<sequence>
					<element name="rank" type="gsml:GeologicalEraRanks"/>
					<group ref="xmml:StandardSupportProperties"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ================================================================== -->
	<!-- ====================================================================== -->
	<!-- ===== Stratigraphy features and objects ====== -->
	<!-- ================================================================== -->
	<element name="StratNode" type="gsml:StratNodeType" substitutionGroup="gml:TimeNode"/>
	<!-- ===================================== -->
	<complexType name="StratNodeType">
		<annotation>
			<documentation>A variation of the GML TimeNode, which adds 
			0..* event properties to record (local) realizations of this node</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:TimeNodeType">
				<sequence>
					<element name="event" type="gsml:StratigraphicEventPropertyType" maxOccurs="unbounded"/>
					<group ref="xmml:StandardSupportProperties"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ================================================================== -->
	<complexType name="StratNodePropertyType">
		<sequence>
			<element ref="gsml:StratNode" minOccurs="0"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ================================================================== -->
	<!-- ================================================================== -->
	<element name="StratigraphicEvent" type="gsml:StratigraphicEventType">
		<annotation>
			<documentation>A stratigraphic event.</documentation>
		</annotation>
	</element>
	<!-- ===================================== -->
	<complexType name="StratigraphicEventType">
		<annotation>
			<documentation>A stratigraphic event.
			Use the description property to record a detailed description of the nature of the event</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="estimatedPosition" type="gsml:TimePositionEstimatePropertyType" maxOccurs="unbounded"/>
					<element name="prototype" type="gsml:StratotypePropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ================================================================== -->
	<complexType name="StratigraphicEventPropertyType">
		<sequence>
			<element ref="gsml:StratigraphicEvent" minOccurs="0"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ================================================================== -->
	<!-- ====================================================================== -->
	<element name="Stratotype" type="gsml:StratotypeType" substitutionGroup="gml:_Feature"/>
	<!-- ====== -->
	<complexType name="StratotypeType">
		<annotation>
			<documentation>A special Feature used in stratigraphy
	N.B. According to http://www.stratigraphy.org/ a Global Boundary Stratotype Section and Point requires the following descriptors			
        * Name of the boundary
        * GSSP definition
        * Stratigraphic rank and status of the boundary
        * Stratigraphic position of the defined unit
        * Type locality of the GSSP
        * Geologic setting and geographic location
        * Lithology/sedimentology/paleobathynmetry
        * Map
        * Accessibility, both logistically and politically
        * Conservation
        * Identification in the field
        * Stratigraphic completeness of the section
        * Global correlation, using where applicable biostratigraphy, magnetostratigraphy, stable isotope stratigraphy, and other stratigraphic tools and methods
        * Best estimate of age in milions of years
        * References to background studies

	The table of GSSP's provided by ICS only shows a subset of these, so only the following are used here:
			use gml:description and gml:position for sampling location 
			status (i.e. is this stratotype point ratified by some organisation)
			reference
			</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element ref="gml:position"/>
					<element name="event" type="gsml:StratigraphicEventPropertyType"/>
					<element name="status" type="token"/>
					<element ref="xmml:reference"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ================================================================== -->
	<complexType name="StratotypePropertyType">
		<sequence>
			<element ref="gsml:Stratotype" minOccurs="0"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ================================================================== -->
	<!-- ====================================================================== -->
	<!-- ===== Time estimates ====== -->
	<!-- ====================================================================== -->
	<element name="TimePositionEstimate" type="gsml:TimePositionEstimateType">
		<annotation>
			<documentation>An observation resulting in an estimate of a time position.</documentation>
		</annotation>
	</element>
	<!-- ===================================== -->
	<complexType name="TimePositionEstimateType">
		<annotation>
			<documentation>An observation resulting in an estimate of a time position.
			Model after OandM pattern.</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="subject" type="gml:FeaturePropertyType">
						<annotation>
							<documentation>The feature (e.g. specimen) on which the observations or measurements are made.</documentation>
						</annotation>
					</element>
					<element name="result" type="gml:TimePositionType">
						<annotation>
							<documentation>The result of the observation.</documentation>
						</annotation>
					</element>
					<element ref="xmml:quality" minOccurs="0"/>
					<element name="procedureTime" type="gml:TimePrimitivePropertyType">
						<annotation>
							<documentation>The Time when the observation occurred.  </documentation>
						</annotation>
					</element>
					<element name="responsible" type="xmml:PartyPropertyType" minOccurs="0">
						<annotation>
							<documentation>Person or organisation responsible for the observation</documentation>
						</annotation>
					</element>
					<element ref="xmml:procedureUsed">
						<annotation>
							<documentation>Procedure or instrument used for the act of observation</documentation>
						</annotation>
					</element>
					<element ref="xmml:reference" minOccurs="0"/>
					<group ref="xmml:StandardSupportProperties"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ================================================================== -->
	<element name="geochronologyProcedure" type="gsml:geochronologyProcedureCode" substitutionGroup="xmml:method"/>
	<!-- ================================================================== -->
	<complexType name="TimePositionEstimatePropertyType">
		<sequence>
			<element ref="gsml:TimePositionEstimate"/>
		</sequence>
	</complexType>
	<!-- ================================================================== -->
</schema>
