tags/2.0.1/2.0.beta/schema/cgi-iugs.org/GeoSciML/2.0.0/geologicFeature.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml"
    xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:1.0" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0"
    xmlns:sa="http://www.opengis.net/sampling/1.0" targetNamespace="urn:cgi:xmlns:CGI:GeoSciML:2.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>"I'm not into this detail stuff. I'm more concepty " - D. Rumsfeld </documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="http://www.opengis.net/sampling/1.0"
        schemaLocation="http://schemas.opengis.net/sampling/1.0.0/sampling.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:Utilities:1.0"
        schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/branches/2.0.beta/schema/cgi-iugs.org/Utilities/1.0.0/cgiUtilities.xsd"/>
    <include schemaLocation="geosciml.xsd"/>
    <element abstract="true" name="GeologicFeature" substitutionGroup="gml:_Feature" type="gsml:GeologicFeatureType">
        <annotation>
            <documentation>The abstract GeologicFeature class represents a conceptual feature that is hypothesized to
                exist coherently in the world. * this corresponds with a "legend item" from a traditional geologic map *
                while the bounding coordinates of a Geologic Feature may be described, its shape is not. The implemented
                Geologic Feature instance acts as the "description package" * the description package is classified
                according to its purpose as an Instance, TypicalNorm, or DefiningNorm.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="GeologicFeatureType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="observationMethod"
                        type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Term(s) that specify the method by which the value was obtained (e.g. point
                                count, brunton compass on site, air photo interpretation, field estimate...). This
                                corresponds (loosely) to ISO19115 Lineage.Statement</documentation>
                        </annotation>
                    </element>
                    <element name="purpose" type="gsml:DescriptionPurposeType">
                        <annotation>
                            <documentation>Specification of the intended purpose/level of abstraction for a given
                                feature or object instance. Scoped name because intension is asserted by author of the
                                data instance. Values: Instance, TypicalNorm, IdentifyingNorm. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="occurrence" type="gsml:MappedFeaturePropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="preferredAge" type="gsml:GeologicEventPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="geologicHistory"
                        type="gsml:GeologicEventPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="sourceLink"
                        type="gsml:GeologicFeatureRelationPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="targetLink"
                        type="gsml:GeologicFeatureRelationPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="metadata" type="gsml:MetadataPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeologicFeaturePropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:GeologicFeature"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element abstract="true" name="GeologicRelation" substitutionGroup="gml:_Feature" type="gsml:GeologicRelationType">
        <annotation>
            <documentation>The GeologicRelation class is an abstract class that defines the general structure used to
                define relationships between any feature or object within GeoSciML. Relationships are always binary and
                directional. There is always a single source and a single target. The relationship is always defined
                from the perspective of the Source and is generally an active verb. Example: a Source may point to an
                intrusive igneous rock body. In this case, the Target would point to the appropriate host rock body and
                the relationship attribute would be 'intrudes'. Other appropriate relationship attributes might include:
                overlies, offsets, crosscuts, folds, etc.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="GeologicRelationType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="relationship" type="cgu:CodeWithAuthorityType">
                        <annotation>
                            <documentation>Term that specifies the relationship between source and target geologic
                                objects. Vocabulary of relationship names should explicitly state relationship between
                                source and target role fillers. For example, quartz (source) overgrows feldspar
                                phenocryst (target).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="sourceRole" type="cgu:CodeWithAuthorityType"/>
                    <element maxOccurs="1" minOccurs="0" name="targetRole" type="cgu:CodeWithAuthorityType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeologicRelationPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:GeologicRelation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="MappedFeature" substitutionGroup="gml:_Feature" type="gsml:MappedFeatureType">
        <annotation>
            <documentation>A MappedFeature provides a link between a notional feature (description package) and one
                spatial representation of it, or part of it. (Exposures, Surface Traces and Intercepts, etc) * the
                specific bounded occurrence, such as an outcrop or map polygon * the Mapped Feature carries a geometry
                or shape o the association with a Geologic Feature (legend item) provides specification of all the other
                descriptors o the association with a Sampling Feature provides the context and dimensionality A Mapped
                Feature is always associated with some sampling feature - e.g. a mapping surface, a section, a Borehole
                (see BoreHolesAndObservation) etc. As noted on the diagram, if the associated sampling feature is a
                Borehole, then the shape associated with the MappedFeature will usually be either a point or an
                interval. This reconciles the 2-D ("map", section) and 1-D (borehole, traverse) viewpoints in a common
                abstraction. </documentation>
        </annotation>
    </element>
    <complexType name="MappedFeatureType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="observationMethod"
                        type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Examples: direct, fieldObservation, handSpecimen, indirect, laboratory,
                                aerialPhotography, creativeImagination. This corresponds (loosely) to ISO19115
                                Lineage.Statement</documentation>
                        </annotation>
                    </element>
                    <element name="positionalAccuracy" type="gsml:CGI_ValuePropertyType">
                        <annotation>
                            <documentation>Examples: accurate, approximate, diagramatic, indefinite, unknown, 5 m.
                                Corresponds to ISO19115 DQ_ThematicAccuracy (either quantitative or non
                                quantitative).result.value</documentation>
                        </annotation>
                    </element>
                    <element name="shape" type="gml:GeometryPropertyType"/>
                    <element name="specification" type="gsml:GeologicFeaturePropertyType"/>
                    <element name="samplingFrame" type="sa:SpatiallyExtensiveSamplingFeaturePropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="metadata" type="gsml:MetadataPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MappedFeaturePropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:MappedFeature"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <simpleType name="DescriptionPurposeType">
        <union memberTypes="gsml:DescriptionPurposeEnumerationType gsml:DescriptionPurposeOtherType"/>
    </simpleType>
    <simpleType name="DescriptionPurposeEnumerationType">
        <restriction base="string">
            <enumeration value="typicalNorm">
                <annotation>
                    <documentation>TypicalNorm -- a description that specifies properties to be expected of some
                        occurrence associated with the GeologicEntity. This description may include many properties that
                        are not part of the DefiningNorm. For example, the fact that granite is typically light-colored
                        is not a defining property, but is certainly a useful typical property. These kinds of
                        descriptions would be used to address queries like 'This area is within a polygon classified as
                        Podunk Formation; what sort of lithology am I most likely to encounter when I start digging?'
                        The Podunk Formation may be defined by the presence of a certain ammonite... TypicalNorm
                        description would be constructed as a summary over many Instance descriptions.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="definingNorm">
                <annotation>
                    <documentation>DefiningNorm -- a description that specifies properties sufficient to identify a new
                        occurrence as belonging to the class represented by the description. Basically these are the
                        'sufficient conditions' for class membership. Used when presented with a query 'I have an
                        outcrop with these properties; which geologic unit should I assign to the outcrop?' DefiningNorm
                        has to do with the intension of a ControlledConcept.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="instance">
                <annotation>
                    <documentation>Instance -- a description that is specific to a particular observed occurrence. This
                        is 'raw data', and its classification may start out as very general. There are kinds of narrowly
                        defined ControlledConcepts that might not allow 'instances' that are different from the
                        DefiningNorm. It might be worth considering a different relationship between MappedFeature and
                        an Instance GeologicEntity, with the GeologicEntity role being 'description'.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="DescriptionPurposeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
</schema>
