branches/schema/cgi-iugs.org/GeoSciML/2.0.0/Gsml.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml"
    xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" xmlns:sa="http://www.opengis.net/sampling/1.0"
    targetNamespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="http://www.opengis.net/sampling/1.0"
        schemaLocation="http://schemas.opengis.net/sampling/1.0.0/sampling.xsd"/>
    <include schemaLocation="geosciml.xsd"/>
    <element name="GSML" substitutionGroup="gml:_Feature" type="gsml:GSMLType">
        <annotation>
            <documentation>The GSML Class acts as a collection container for items to be bundled in WFS response
                documents and other applications. FeatureType allows this to be a FeatureMember in a
                WFS_FeatureCollection.</documentation>
        </annotation>
    </element>
    <complexType name="GSMLType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="member" type="gsml:GSMLitemPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="metadata" type="gsml:MetadataPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GSMLPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:GSML"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="GSMLitem" type="gsml:GSMLitemType">
        <annotation>
            <documentation>GSMLitem is a union class that specifies the types of features that are allowed to be members
                of the GSML class, and therefore, members of a GML Collection.</documentation>
        </annotation>
    </element>
    <complexType name="GSMLitemType">
        <choice>
            <element name="earthMaterialItem" type="gsml:EarthMaterialPropertyType">
                <annotation>
                    <documentation>The earthMaterialItem attribute is a placeholder for the EarthMaterial class that is
                        included as a member of a GML Collection.</documentation>
                </annotation>
            </element>
            <element name="eventItem" type="gsml:GeologicEventPropertyType">
                <annotation>
                    <documentation>The eventItem attribute is a placeholder for the GeologicEvent class that is included
                        as a member of a GML Collection.</documentation>
                </annotation>
            </element>
            <element name="featureItem" type="gsml:GeologicFeaturePropertyType">
                <annotation>
                    <documentation>The featureItem attribute is a placeholder for the GeologicFeature class that is
                        included as a member of a GML Collection.</documentation>
                </annotation>
            </element>
            <element name="geometryItem" type="gml:GeometryPropertyType">
                <annotation>
                    <documentation>The geometryItem attribute is a placeholder for the AbstractGeometry class that is
                        included as a member of a GML Collection.</documentation>
                </annotation>
            </element>
            <element name="mappedItem" type="gsml:MappedFeaturePropertyType">
                <annotation>
                    <documentation>The mappedItem attribute is a placeholder for the MappedFeature class that is
                        included as a member of a GML Collection.</documentation>
                </annotation>
            </element>
            <element name="relationItem" type="gsml:GeologicRelationPropertyType">
                <annotation>
                    <documentation>The relationItem attribute is a placeholder for the GeologicRelation class that is
                        included as a member of a GML Collection.</documentation>
                </annotation>
            </element>
            <element name="samplingFeatureItem" type="sa:SamplingFeaturePropertyType"/>
            <element name="vocabularyItem" type="gsml:GeologicVocabularyPropertyType">
                <annotation>
                    <documentation>The vocabularyItem attribute is a placeholder for the GeologicVocabulary class that
                        is included as a member of a GML Collection.</documentation>
                </annotation>
            </element>
        </choice>
    </complexType>
    <complexType name="GSMLitemPropertyType">
        <sequence>
            <element ref="gsml:GSMLitem"/>
        </sequence>
    </complexType>
</schema>
