tags/3.0.0_rc1_gml3.1/geotime/3.0.0/xsd/GSSP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" xmlns:gml="http://www.opengis.net/gml" xmlns:sa="http://www.opengis.net/sampling/1.0" xmlns:gt="urn:cgi:xmlns:CGI:GeologicTime:3.0.0" targetNamespace="urn:cgi:xmlns:CGI:GeologicTime:3.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>[WARN-A001] - No package description in UML model</documentation>
	</annotation>
	<include schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/tags/3.0.0_rc1_gml3.1/geotime/3.0.0/xsd/timescale.xsd"/>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="http://www.opengis.net/sampling/1.0" schemaLocation="http://schemas.opengis.net/sampling/1.0.0/sampling.xsd"/>
	<element name="StratigraphicPoint" type="gt:StratigraphicPointType" substitutionGroup="sa:SamplingPoint"/>
	<complexType name="StratigraphicPointType">
		<complexContent>
			<extension base="sa:SamplingPointType">
				<sequence>
					<element name="primaryGuidingCriterion" type="string"/>
					<element name="additionalCorrelationProperty" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="status" type="string"/>
					<element name="boundary" type="gt:GeochronologicBoundaryPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="StratigraphicPointPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:StratigraphicPoint"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="GlobalStratotypeSection" type="gt:GlobalStratotypeSectionType" substitutionGroup="gt:StratigraphicSection"/>
	<complexType name="GlobalStratotypeSectionType">
		<complexContent>
			<extension base="gt:StratigraphicSectionType"/>
		</complexContent>
	</complexType>
	<complexType name="GlobalStratotypeSectionPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:GlobalStratotypeSection"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="GlobalStratotypePoint" type="gt:GlobalStratotypePointType" substitutionGroup="gt:StratigraphicPoint"/>
	<complexType name="GlobalStratotypePointType">
		<complexContent>
			<extension base="gt:StratigraphicPointType"/>
		</complexContent>
	</complexType>
	<complexType name="GlobalStratotypePointPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:GlobalStratotypePoint"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="StratigraphicSection" type="gt:StratigraphicSectionType" substitutionGroup="sa:SamplingCurve"/>
	<complexType name="StratigraphicSectionType">
		<complexContent>
			<extension base="sa:SamplingCurveType">
				<sequence>
					<element name="geologicSetting" type="string"/>
					<element name="geologicDescription" type="string">
						<annotation>
							<documentation>Lithology, Sedimentology, Paleobathymetry</documentation>
						</annotation>
					</element>
					<element name="accessibility" type="string"/>
					<element name="conservation" type="string"/>
					<element name="era" type="gt:GeochronologicEraPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="StratigraphicSectionPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:StratigraphicSection"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
</schema>
