tags/3.0.0_rc1_gml3.1/geotime/3.0.0/xsd/TimeScale.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gsmlcore="urn:cgi:xmlns:CGI:GeoSciML-Core:3.0.0" xmlns:trs="urn:cgi:xmlns:CGI:TemporalReferenceSystem:3.0.0" xmlns:gml="http://www.opengis.net/gml" xmlns:gt="urn:cgi:xmlns:CGI:GeologicTime:3.0.0" targetNamespace="urn:cgi:xmlns:CGI:GeologicTime:3.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>The Timescale leaf</documentation>
	</annotation>
	<import namespace="urn:cgi:xmlns:CGI:GeoSciML-Core:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/tags/3.0.0_rc1_gml3.1/geosciml-core/3.0.0/xsd/geosciml-core.xsd"/>	
	<import namespace="urn:cgi:xmlns:CGI:TemporalReferenceSystem:3.0.0" schemaLocation="https://www.seegrid.csiro.au/subversion/GeoSciML/tags/3.0.0_rc1_gml3.1/temporalReferenceSystem/3.0.0/xsd/trs.xsd"/>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<element name="StandardGlobalNumericalAge" type="gt:StandardGlobalNumericalAgeType" substitutionGroup="gt:NumericEraBoundary"/>
	<complexType name="StandardGlobalNumericalAgeType">
		<complexContent>
			<extension base="gt:NumericEraBoundaryType"/>
		</complexContent>
	</complexType>
	<complexType name="StandardGlobalNumericalAgePropertyType">
		<sequence minOccurs="0">
			<element ref="gt:StandardGlobalNumericalAge"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="GeochronologicBoundary" type="gt:GeochronologicBoundaryType" substitutionGroup="trs:TimeOrdinalEraBoundary"/>
	<complexType name="GeochronologicBoundaryType">
		<complexContent>
			<extension base="trs:TimeOrdinalEraBoundaryType">
				<sequence>
					<element name="event" type="gt:GeologicEventPropertyType"/>
					<element name="stratotype" type="gt:StratigraphicPointPropertyType" minOccurs="0"/>
					<element name="manifestedBy" type="gsmlcore:ContactPropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeochronologicBoundaryPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:GeochronologicBoundary"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="GeologicTimescale" type="gt:GeologicTimescaleType" substitutionGroup="trs:TimeOrdinalReferenceSystem">
		<annotation>
			<documentation>The classic "Geologic Timescale" comprising an ordered, hierarchical set of named "eras" is an example of an Ordinal Temporal Reference System. It may be calibrated with reference to a numeric Temporal Coordinate System, but is in principle defined independently.</documentation>
		</annotation>
	</element>
	<complexType name="GeologicTimescaleType">
		<complexContent>
			<extension base="trs:TimeOrdinalReferenceSystemType">
				<sequence>
					<element name="referencePoint" type="trs:TimeOrdinalEraBoundaryPropertyType" minOccurs="2" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicTimescalePropertyType">
		<sequence minOccurs="0">
			<element ref="gt:GeologicTimescale"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="NumericEraBoundary" type="gt:NumericEraBoundaryType" substitutionGroup="trs:TimeOrdinalEraBoundary">
		<annotation>
			<documentation>Used for pre-Ediacaran and Pleistocene / Holocene boundaries in the standard timescale</documentation>
		</annotation>
	</element>
	<complexType name="NumericEraBoundaryType">
		<complexContent>
			<extension base="trs:TimeOrdinalEraBoundaryType">
				<sequence>
					<element name="status" type="string"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NumericEraBoundaryPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:NumericEraBoundary"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="GeochronologicEra" type="gt:GeochronologicEraType" substitutionGroup="trs:TimeOrdinalEra">
		<annotation>
			<documentation>The association of an era with a stratotype is optional. 
In the GSSP approach recommended by ICS for the Global Geologic Timescale, Unit Stratotypes are not used. 
Rather, the association of an Era with geologic units and sections is indirect, via the association of an era with Boundaries, which are in turn tied to Stratotype Points, which occur within host Stratotype Sections. 
Note that the "German School" defines stratigraphic eras conceptually, without reference to stratotypes.</documentation>
		</annotation>
	</element>
	<complexType name="GeochronologicEraType">
		<complexContent>
			<extension base="trs:TimeOrdinalEraType">
				<sequence>
					<element name="rank" type="gt:GeochronologicEraRankType"/>
					<element name="geochronologicEraType" type="gt:GeochronologicEraTypeTermPropertyType"/>
					<element name="stratotype" type="gt:StratigraphicSectionPropertyType" minOccurs="0"/>
					<element name="manifestedBy" type="gsmlcore:GeologicUnitPropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeochronologicEraPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:GeochronologicEra"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<element name="GeochronologicEraTypeTerm" type="gt:GeochronologicEraTypeTermType" substitutionGroup="gml:_Object"/>
	<complexType name="GeochronologicEraTypeTermType"/>
	<complexType name="GeochronologicEraTypeTermPropertyType">
		<sequence>
			<element ref="gt:GeochronologicEraTypeTerm"/>
		</sequence>
		<!--FL<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<simpleType name="GeochronologicEraRankType">
		<restriction base="string">
			<enumeration value="Sub-Eon"/>
			<enumeration value="Eon"/>
			<enumeration value="Era"/>
			<enumeration value="Sub-Era"/>
			<enumeration value="Period"/>
			<enumeration value="Sub-Period"/>
			<enumeration value="Epoch"/>
			<enumeration value="Sub-Epoch"/>
			<enumeration value="Age"/>
			<enumeration value="Sub-Age"/>
			<enumeration value="Chron"/>
		</restriction>
	</simpleType>
</schema>
